log/

# do not ignore this bin dir
!nuxeo-distribution-jboss/src/main/resources/jboss/bin/

nuxeo-distribution-dm/ftest/selenium/result-*.html
nuxeo-distribution-dm/ftest/selenium/results
nuxeo-distribution-dm/ftest/selenium/run.conf
nuxeo-distribution-dm/ftest/selenium/user-extensions.js
nuxeo-distribution-dm/ftest/selenium/ffprofile/prefs.js
nuxeo-distribution-dm/ftest/selenium/selenium-server.jar

nuxeo-distribution-dam/ftest/selenium/data
nuxeo-distribution-dam/ftest/selenium/results
nuxeo-distribution-dam/ftest/selenium/run.conf
nuxeo-distribution-dam/ftest/selenium/user-extensions.js
nuxeo-distribution-dam/ftest/selenium/ffprofile/prefs.js
nuxeo-distribution-dam/ftest/selenium/selenium-server.jar

# common ignores
.classpath
.project
.settings
.idea
bin
target
*~
*~bak
*-bak
*.bak
*-new
*.rej
*.orig
.DS_Store
.pydevproject
*.pyc
*.iml
*.ipr
*.iws
*.gpd.*
*cpJar*
dependency-tree.log
chromedriver.log
*.json
