/*
================================================
autosuggest, inquisitor style
================================================
*/


div.autosuggest
{
	position: absolute;
	background-color:#fff;
	padding: 0px;
	font:normal 11px Verdana, sans-serif;
	border:1px solid #0066ff;
	overflow:auto;
}

div.autosuggest div.as_header,
div.autosuggest div.as_footer
{
	position: relative;
	height: 0px;
	padding: 0 6px;
	overflow: hidden;
}
div.autosuggest div.as_footer
{
}

div.autosuggest div.as_header div.as_corner,
div.autosuggest div.as_footer div.as_corner
{
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;

}

div.autosuggest div.as_footer div.as_corner
{
}

div.autosuggest div.as_header div.as_bar,
div.autosuggest div.as_footer div.as_bar
{
	height: 0px;
	overflow: hidden;
	background-color: #333;
}


div.autosuggest ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.autosuggest ul li
{
	color: #ccc;
	padding: 1px;
	margin: 0;
	text-align: left;
}

div.autosuggest ul li a
{
	color: #333;
	display: block;
	text-decoration: none;
	background-color: transparent;
	text-shadow: #000 0px 0px 5px;
	position: relative;
	padding: 0;
	width: 100%;
}
div.autosuggest ul li a:hover
{
	background-color: #444;
}
div.autosuggest ul li.as_highlight a:hover
{
	background-color: #0066ff;
}

div.autosuggest ul li a span
{
	display: block;
	padding: 3px 6px;
	font-weight: bold;
}

div.autosuggest ul li a span small
{
	font-weight: normal;
	color: #ccc;
}

div.autosuggest ul li.as_highlight a span small
{
	color: #fff;
}

div.autosuggest ul li.as_highlight a
{
	color: #fff;
	background-color: #1B5CCD;

}

div.autosuggest ul li.as_highlight a span
{

}

div.autosuggest ul li a .tl,
div.autosuggest ul li a .tr
{
	background-image: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}
div.autosuggest ul li a .tr
{
	right: 0;
}

div.autosuggest ul li.as_highlight a .tl
{
	left: 0;

}

div.autosuggest ul li.as_highlight a .tr
{
	right: 0;

}



div.autosuggest ul li.as_warning
{
	font-weight: bold;
	text-align: center;
}

div.autosuggest ul em
{
	font-style: normal;
	color: #0066cc;
}

div.autosuggest ul li.as_highlight em
{
	font-style: normal;
	color: #ddeeff;
}