/* Wizard Styles */

/* Corporate fonts */
@font-face {
font-family: 'Aregular';
src: url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.eot');
src: url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
	 url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.woff') format('woff'),
	 url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.ttf') format('truetype'),
	 url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.svg#Aregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Ademi';
src: url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.eot');
src: url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
	 url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.woff') format('woff'),
	 url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.ttf') format('truetype'),
	 url('http://www.nuxeo.com/wp-content/themes/nuxeo.com_wp/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.svg#Ademi') format('svg');
font-weight: normal;
font-style: normal;
}

/* Global style + reset */
body {
  height: 100%;
  width: 100%;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  border: 0 none;
  font: normal 13px "Aregular", Arial, sans-serif;
  color: #404040;
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/bg.png") no-repeat scroll right bottom #e2f6ff;}

hr {
  color: #fff;
  height: 1px;
  margin: 20px 0 10px;
}

h1, h2, h3,
h4, h5, h6 {
 font-family: "Ademi", Arial, sans-serif;
 font-weight: 200;
}

h1 {
  font-size: 22px;
  margin: 0 0 15px;
  color: #00adff;
}

h2 {
  font-size: 16px;
  margin: 0.75em 0 0.5em 0;
  color: #c30000;
}

h3 {
  color: #2466a3;
  font-size: 14px;
  margin: 15px 0 7px;
}

h4 {
  font-size: 14px;
  color: #5290ca;
}

h5 {
  border-bottom: 1px solid #e8e8e8;
  font-size: 15px;
  margin: 10px 0;
}

h6 {
  font-size: 13px;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 5px;
}

p {
  line-height: 150%;
  margin: 3px 0 10px;
}

a,a:link,a:active,a:visited {
  color: #00adff;
  text-decoration: none;
}

a:hover {
  color: #0079b3;
  text-decoration: none;
}

ul {
  margin-left: 2em;
}

table {
  border-collapse: collapse;
}

td {
  padding: 3px 20px 5px 0;
  vertical-align: top;
}

b, strong, .bold {
  font-family: "Ademi", Arial, sans-serif;
  font-weight: 200;
}

input[type="text"], input[type="password"], textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 rgba(0, 0, 0, 0.3) inset;
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  outline: 0 none;
  padding: 0.65em 1em;
  width: 100%;
}

textarea {
  border: 1px solid #dedede;
  font: 12px "Aregular", Arial, sans-serif;
  padding: 2px 3px;
}

:focus {
  outline-style: none;
}

.centered-waiter {
 text-align: center;
}

/**** Page Layout ****/

/* Header */
#topbar {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: .9em 0 .7em }

#topbar a {
  display: inline-block;
  padding: 0 0 0 1.5em;
}

.visibility {
  visibility: hidden;
}

/* Main Container */
.container {
  width: 960px;
  margin: auto; }

#wizardFrame {
  margin-top: 10px;
}

.mainBlock {
  background-color: #fff;
  padding: 0;
}

/* Left Column - steps */
.leftCell {
  width: 15%;
  padding: 1.8em 0 2em;
  background-color: #213f7d;
}

.navItem {
  margin: .2em 0;
  color: #7291a0;
  padding: .4em 1.5em;
  padding-left: 3em;
}

.navItem a {
  display: block;
  text-decoration: none;
}

.navItemSelected {
  background-color: #fff;
  color: #213f7d;
}

.navItemSelected a,
.navItem a.checked,
.navItem a:checked:hover {
  background: transparent url(../images/checked.png) top left / 16px no-repeat;
  font-family: "Ademi", Arial, sans-serif;
  font-weight: 200;
  padding: .1em 0 0 1.8em;
  margin-left: -1.8em;
}

.navItem a.checked {
  color: #fff;
}

.navItem:hover a,
.navItemSelected a,
.navItemSelected a.checked {
  color: #00adff;
}

/* Main Column - content */
.mainCell {
  width: 65%;
  padding: 2em 4em;
}

.screenDescription {
  font-size: 120%;
}

.screenExplanations,
.warnBlock, .errBlock {
  background-color: #f7f8f9;
  border-left: 1px solid #00aaff;
  color: #1275a9;
  display: block;
  margin: 1em 0;
  padding: .5em 1em;
}

.warnBlock, .errBlock {
  border-left: 1px solid #fc0000;
}

.errItem,
.warnBlock, .errBlock {
  color: #d00;
}

/* Tables & Forms */
.labelCell {
  font-family: "Ademi", Arial, sans-serif;
  font-weight: 200;
  width: 200px;
  vertical-align: middle;
}

.helpCell,
.detail {
  color: #aaa;
}

.helpCell {
  padding-bottom: 1em;
}

/* Buttons */
.buttonContainer {
  margin: 1em 0;
  text-align: right;
}

.glossyButton,a.glossyButton {
  background-color: #00adff;
  border-style: none;
  color: white;
  font-size: 14px;
  font-family: "Ademi", Arial, sans-serif;
  font-weight: 200;
  margin-bottom: 1em;
  padding: .7em 1em;
  transition: all 0.2s ease-in-out 0s;
}

#btnPrev {
  background-color: #eee;
  color: #333;
  float: left;
}

.glossyButton:hover,
a.glossyButton:hover,
#btnPrev:hover {
  background-color: #0075af;
  color: #fff;
  cursor: pointer;
}

/* Step: Proxy - Step: SMTP */
#proxySettings table,
#proxyLogin table,
table.smtp {
  width: 100%
}

/* Step: Modules download */
.formPadding {
  overflow: auto;
  border-style: solid;
  border-width: 0;
  margin-bottom: 1em;
}

.formPadding ul {
  list-style: none outside none;
  margin: 0;
}

.formPadding li {
  font-family: "Ademi",Arial,sans-serif;
  font-weight: 200;
  padding: 0 0 .5em;
}

/* Step: Modules selection */
#tree {
  border-left: 5px solid #00adff;
  border-radius: 15px;
  float: left;
  margin: 1em 0 2em;
  padding: .7em 1em .4em;
}

#tree ul {
  margin-left: 0;
  font-size:1.1em;
}

#treeul input[type="checkbox"] {
  margin: 0 .8em .7em 0;
}

ul#treeul li {
  font-size: 14px;
  list-style: none;
  padding: 0;
}

.hide, ul.hide,
#treeul span,
#treeul .expanded,
#treeul .collapsed {
  display: none;
}

.blocContainer {
  float: right;
  margin: 1em .4em 2em 0;
}

.presetLabel {
  font-size: 133%;
  font-family: "Ademi", Arial, sans-serif;
  font-weight: 200;
}

.presetBtn {
  border: 1px solid #666;
  padding: 0.5em 1em;
  margin: 0.3em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 0.5em;
}

.presetBtn:hover {
  background-color: #def;
}

.nxpblock {
  border: 2px solid white;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Ademi", Arial, sans-serif;
  font-weight: 200;
  border-radius: .5em;
  cursor: pointer;
  padding: 7px 0;
}

.nxpblock:hover {
  box-shadow: 0 0 .3em #666;
}

.unselectedBloc {
  filter: alpha(opacity=30);
  opacity: .3;
}

.nxprow {
  margin: 4px;
  width: 200px;
  height: 34px;
}
/* Step: Summary*/
.highlighted {
  color: #00adff;
}

/* Hidden Step: Package Download */
.progressbar {
  margin-top: 10px;
  margin-bottom: 30px;
}
.downloadProgress {
  background-color: green;
  height: 12px;
  border-radius: 2px;
}

/* Footer style */
.rightCell {
  width: 20%;
  padding: 0;
  display: none;
}

.footer {
  padding: 1em;
  background-color: #404040;
  color: #aaa;
  text-align: center;
}

.footer a, .footer a:visited, .footer a:hover {
  color: #fff;
}

.footer span a {
  display: inline-block;
  margin: 0 0.2em;
}

.nuxeoIFrame {
  border: none;
  height: 600px;
  width: 250px;
  background-color: #fff;
}
