<?xml version="1.0"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="Target" value="System.out" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} [%t] %-5p [%C{1}] %m%n" />
    </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.FileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="target/trace.log" />
    <param name="Append" value="false" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} [%t] %-5p [%C{1}] %m %X%n" />
    </layout>
  </appender>

  <category name="org.apache">
    <priority value="WARN" />
  </category>

  <category name="kafka">
    <priority value="WARN" />
  </category>

  <category name="org.quartz">
    <priority value="WARN" />
  </category>

  <!-- in debug mode to debug chronicle queue -->
  <category name="net.openhft.chronicle">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo.lib.stream">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo.lib.stream.tools">
    <priority value="INFO" />
  </category>

  <category name="org.nuxeo.lib.stream.log.kafka">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo.lib.stream.computation">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo.lib.stream.tests.computation">
    <priority value="WARN" />
  </category>

  <!-- DEBUG to view schema registry request -->
  <category name="io.confluent.kafka">
    <priority value="INFO" />
  </category>

  <!-- Hide perf warnings -->
  <category name="net.openhft.chronicle.queue.impl.single.SCQIndexing">
    <priority value="ERROR" />
  </category>

  <root>
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>

</log4j:configuration>

