/*
Specific styles for the Digital Asset Management View
=Grid -> custom styles for the main grid
=Faceted Search -> styles for the search in the left colum
=Assets list -> styles for the center colum asset listing
=Assets View -> styles for the selected asset details in the right colum
author: lkemen@nuxeo.com
*/

/* =Grid */
.nxMainContainer {
  margin-top: 3.8em }

.gridBox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em }

.nxDamSearchForm {
  background-color: "neutral.lighter (__FLAVOR__ background)";
  width: 19% }

.nxDamSearchResults {
  background-color: #fff;
  text-align: center;
  width: 48% }

.nxDamAssetView {
  background-color: "neutral.lighter (__FLAVOR__ background)";
  width: 33% }

.nxDamSingleAssetLeft {
	min-height: 650px }

/* Widgets and Containers specific styles */
.nxMainContainer .widgetPanel { padding: 0 }
.nxMainContainer .containerSubWidget { margin: 0 }

/* =Faceted Search */
.nxDamSearchForm { font-size: .82em }

.compactLayout .fieldColumnn.containerField {
  padding: 0 0 .5em }

.searchFilterActions .horizontalAction:first-child input {
  color: #fff;
  border: 1px solid #00adff;
  background-color: #00adff;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3) }

.searchFilterActions .horizontalAction:first-child input:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 -30px 20px rgba(255, 255, 255, 0.2) inset, inset 0px 1px 0px rgba(255,255,255,0.4);
  transition: all 150ms ease-in-out 0s }

/* =Assets list */
.nxMainContainer .globalActionBar {
  border-bottom: 1px solid;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  padding: .2em }

.nxDamSearchResults .dataOutput {
  font-size: .9em;
  text-align: left }

.nxDamSearchResults .dataOutput .documentTitle {
  font-size: 1em;
  font-weight: normal;
  text-align: left }

.nxDamSearchResults .globalActionBar,
.nxDamSingleAssetLeft .globalActionBar {
  text-align: left;
  padding: 0 }

.nxDamSingleAssetLeft .globalActionBar,
.nxDamSingleAssetRight .globalActionBar {
  background-color: "neutral.medium (__FLAVOR__ background)";
  border: none;
  margin: 0 -0.5em;
  padding: .2em .5em }

.nxDamSingleAssetRight .globalActionBar {
  margin: 0 -0.5em 2.4em }

.nxDamSearchResults .globalActionBar .button,
.nxDamSingleAssetLeft .globalActionBar .button {
  font-size: .9em;
  margin: .3em .5em .5em 0;
  padding: .2em .4em }

.nxDamSingleAssetLeft .globalActionBar .button {
  line-height: 1.2em;
  margin: .3em .5em .3em 0; }

.nxDamSearchResults .listingLayoutSelector {
  font-size: .9em }

.nxDamSearchResults .detail {
  clear: both;
  text-align: right }

.nxDamSearchResults .detail span {
  margin-right: .3em }

.nxDamSearchResults .bubbleBox {
  background-color: #fff;
  border-bottom-width: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  margin: .1em .2em .5em;
  min-height: 200px;
  padding: 0;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 186px }

.nxDamSearchResults .bubbleBox:hover {
  border-bottom-color: "color.major.strong (__FLAVOR__ border)";}

.nxDamSearchResults .bubbleBox:hover .fieldColumn {
  color: "black (__FLAVOR__ color)" }

.nxDamSearchResults .bubbleBox .bubbleHeader input {
  margin: 0 .2em }

.nxDamSearchResults .bubbleBox .bubbleHeader {
  background-color: #F7F7F7;
  border: medium none;
  margin: 0 0 0.2em;
  padding: 0.4em 0 }

.nxDamSearchResults .bubbleBox .fieldColumn { line-height: 135% }

  /* Reduce padding between widgets in the box*/
  .nxDamSearchResults .bubbleBox .fieldColumn {
    color: "gray.medium (__FLAVOR__ color)";
    font-size: .9em;
    padding: 0 }

  .nxDamSearchResults .bubbleBox .dataInput,
  .nxDamSearchResults .bubbleBox .widgetPanel {
    margin: 0 0 0 .4em }

.nxDamSearchResults .bubbleBox .thumbViewPicture,
.video-js-box .video-js {
  display: block;
  margin: 0 auto }

/* Styles when an asset is selected */
.nxDamSearchResults .selectedItem,
.nxDamSearchResults .selectedItem:hover {
  border-bottom-color: "color.major.stronger (__FLAVOR__ border)" }

.nxDamSearchResults .selectedItem .fieldColumn,
.nxDamSearchResults .selectedItem .documentTitle,
.nxDamSearchResults .selectedItem:hover .documentTitle { color: "black (__FLAVOR__ color)" }

/* Pictures and video thumbnails in bubbleBoxes */
.thumbnailContainer { text-align: center;
  margin: 0;
  height: 124px }
.thumbnailContainer img {
  max-height: 100%;
  max-width: 100% }
.bubbleBox:hover .thumbnailContainer img {
	background-color: #fff }

.bubbleBox .tag {
  background-color: "neutral.light (__FLAVOR__ background)";
  border-radius: 0;
  color: "gray.medium (__FLAVOR__ color)";
  display: inline-block;
  font-size: .9em;
  line-height: 130%;
  margin: 0;
  padding: 0 .2em .1em;
  position: absolute;
  right: 10px;
  text-transform: lowercase }

.nxMainContainer .bubbleBox .dataInput td {
	border: none 0 }

/* =Assets View */
.nxMainContainer .widgetPanel .description_block {
  font-size: .9em;
  margin: .7em .2em .5em }

.nxMainContainer .description_block span {
  color: "gray.dark (__FLAVOR__ color)";
	font-weight: normal }

.nxDamAssetView .actionsWidgetPanel a.button {
  margin: 0 }

.nxDamAssetView .foldableBox a.smallButton {
  float: right;
  margin-top: .7em }

.nxDamAssetView .actionsWidgetPanel .button.dropdown {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 0.4em;
  padding: 0.1em 1.5em 0.15em 0.8em !important }

/* Smaller tables display in foldableBox, apply .dataTableLine styles */
.nxMainContainer .dataInput,
.nxMainContainer .containerField {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 }

.nxDamAssetView .dataInput td {
  border-color: "neutral.lighter (__FLAVOR__ border)";
  border-spacing: 0;
  border-style: none none solid;
  border-width: 1px;
  padding: .1em .3em .2em;
  text-align: left;
  vertical-align: top }

.nxMainContainer .dataInput td td { border: none }
.nxMainContainer .dataInput tr:hover {
  background-color: "color.major.light (__FLAVOR__ background)" }

.nxMainContainer .foldableBox .dataInput {
	font-size: .9em }

.nxMainContainer .foldableBox .dataInput .dataInput {
  font-size: 1em }

.nxMainContainer .widgetPanel .labelColumn {
  text-align: left;
  width: 28% }

.nxDamAssetView .s2tagContainerCssClass {
  width: 100% !important }

.nxDamAssetView .s2tagContainerCssClass .select2-choices {
  background: none repeat scroll 0 0 transparent }

.nxDamAssetView.compactLayout .sticker {
  background: none repeat scroll 0 0 #bbb;
  border: medium none;
  border-radius: 2px;
  box-shadow: none;
  color: #fff;
  font-size: .9em;
  margin: .1em .2em .5em 0 }

/* smaller buttons in Foldable boxes*/
.foldableBox .buttonsGadget {
  margin: .1em 0 0.2em;
  text-align: right }
.foldableBox .buttonsGadget .button {
  font-size: .8em;
  margin: .2em 0 0 .3em;
  padding: .1em .4em }

/* Remove border of simpleBox when in foldableBox */
.nxDamAssetView .foldableBox .simpleBox {
  border: medium none;
  margin: 0;
  padding: 0 }

/* Picture View */
.assetViewContainer {
  background-color: #fff;
  border: 1px solid;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  margin: .2em 0 .5em;
  height: 250px;
  padding: 3px;
  text-align: center }

.documentTitle {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: "black (__FLAVOR__ color)";
  font-size: 1.3em;
  font-weight: bold;
  margin: .1em 0;
  overflow: hidden;
  padding: .3em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100% }

.nxDamSingleAssetLeft .assetViewContainer {
  height: 430px }

.nxDamSingleAssetLeft .assetViewContainer .thumbnailContainer {
  height: 340px }

.assetViewContainer .thumbnailContainer {
  height: 200px }

.thumbnailContainer {
  max-width: none }
.thumbnailContainer:before,
.pictureContainer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle }
.thumbnailContainer img,
.assetViewContainer img,
.assetViewContainer table {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  vertical-align: middle }

.assetViewContainer .pictureContainer {
  height: 245px;
  margin: 0 auto }

.nxDamSingleAssetLeft .assetViewContainer .pictureContainer {
  height: 420px }

.bubbleBox .bubbleHeader .documentTitle {
  font-size: 1.1em;
  display: inline;
  padding: 0;
  text-align: left }

.listingLayoutSelector { font-size: .9em }
