<?xml version="1.0"?>

<module name="cmis" root-type="cmis" path="/cmis" extends="base">
  <links>
    <link id="tab_content" path="/@views/content_page">
      <!--guard>Write</guard-->
      <category>TABVIEW</category>
    </link>
    <link id="tab_edit" path="/@views/edit_page">
      <category>TABVIEW</category>
    </link>

    <link id="link_print" path="/@views/print">
      <category>TOOLBOX</category>
    </link>
    <link id="link_delete_doc" path="/@delete">
      <type>Document</type>
      <category>TOOLBOX</category>
    </link>
    <link id="link_create_doc" path="/@views/create">
      <facet>Folderish</facet>
      <category>TOOLBOX</category>
    </link>

  </links>
</module>
