<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

  <extension point="org.eclipse.equinox.http.registry.resources">
    <resource
      alias="/web"
      base-name="/web"/>
  </extension>

  <extension point="org.eclipse.equinox.http.registry.servlets">
    <servlet
      alias="/nuxeo/site"
      class="org.nuxeo.ecm.webengine.servlet.WebServlet"/>
    <servlet
      alias="/nuxeo/site/files"
      class="org.nuxeo.ecm.webengine.servlet.ResourceServlet"/>
  </extension>

</plugin>
