/* ======= Global rules */
.clearfix:before,.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ======= Layout */
body {
  background: white url(../img/nuxeo-xx-background.jpg) top right no-repeat;
}

.nuxeo-logo {
  margin: 0 0 0 2em;
}

.wrapper {
  width: 65%;
  margin: 1em auto 5em;
}

/* ======= Share box */
.share-box {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  font-family: 'Open sans', 'Lucida Grande', Arial, sans-serif;
  padding: 0 60px 60px;
  color: #203A65;
}

.share-box a {
  color: #00AAF1;
  text-decoration: none;
}

header {
  padding: 2em 0 1.5em;
}

header h2 {
  color: #000;
  font-family: sans-serif;
  font-size: 1.7em;
  margin: 0;
}

header button {
  background-color: #F2A500;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  float: right;
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.6em 0.8em 0.6em 0.6em;
  text-transform: uppercase;
  transition: all 0.1s ease 0.1s;
}

header button:hover {
  background-color: #ffae00;
  box-shadow: 0 0 5px rgba(255, 228, 0, 0.3);
}

.empty i,.denied i,header button i {
  margin-right: .3em;
}

header detail {
  color: #a3abbe;
  display: block;
  font-size: 0.8em;
  margin: 0;
}

.share-box .comment {
  background-color: #003B85;
  margin: 0 -60px 30px;
  padding: 20px 60px;
}

.comment i {
  background-color: #00aaf1;
  border-radius: 50px;
  color: #fff;
  float: left;
  height: 2em;
  line-height: 200%;
  text-align: center;
  width: 2em;
}

.comment blockquote:before {
  border-color: rgba(0, 0, 0, 0) #fff;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  content: "";
  display: block;
  left: -8px;
  position: absolute;
  top: 7px;
  width: 0;
  z-index: 1;
}

.comment blockquote {
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px;
  margin: 0 0 0 3em;
  padding: .7em 1em 1em;
  position: relative;
  vertical-align: top;
}

.share-box .item {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  display: block;
  margin: 0 0 -0.1em;
  padding: 1em;
}

.share-box .item:hover {
  background-color: #f3f4f5;
  color: #00AAF1;
}

.item .icon-download {
  color: #F2A500;
  float: right;
  font-size: 1.3em;
  visibility: hidden;
}

.item:hover .icon-download {
  visibility: visible;
}

.shared-items a {
  color: #444;
}

.shared-items .empty {
  background-color: #f6f6f6;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #bbb;
  font-size: 1.3em;
  padding: 5em;
  text-align: center;
}

.denied {
  color: #aaa;
  font-size: 1.3em;
  min-height: 8em;
  padding: 4em 1em 3em;
  text-align: center;
}

.item .icon-file {
  margin-right: .5em;
}

/* ======= Nuxeo Header and Footer */
/* --- Header */
#xnav {
  display: block !important;
  padding-top: 3px;
  background-color: #3670b9;
}

.xnav-set {
  width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: 1003;
}

#xnav ul {
  float: right;
  margin: 0;
  margin-right: 128px;
  padding: 0;
}

#xnav ul li {
  float: left;
  list-style: none none outside;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0.1em 0.6em 0.1em 0.6em;
  font-size: 10px;
  border-radius: 0.25em 0.25em 0 0;
  margin-left: 0.5em;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 1s;
  line-height: 150%;
}

#xnav ul li a {
  font-size: 10px;
}

#xnav ul li a,#xnav ul li a:visited {
  color: #f1f2f3;
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  text-decoration: none;
}

#xnav ul li:hover,#xnav ul li:focus {
  background-color: rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

#xnav ul li.selected a {
  color: black;
}

#xnav ul li.selected {
  background-color: white;
}

#xnav ul li a:hover {
  text-decoration: none;
  color: #505b64;
}

#xnav ul li.selected a:hover {
  cursor: default;
  border-bottom: none;
}

#tabby-button {
  float: none;
  z-index: 1000;
  border-radius: 0 0 4px 4px;
  position: relative;
}

#tabby-button a {
  width: 140px;
  position: absolute;
  top: -9px;
  right: -50px;
  color: #333333;
  /* SVG fallback(Opera 11.10-, IE9) */
  background:
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyMjIsMCwxKTsiIC8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwxOTcsMjIsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(255, 222, 0, 1), rgba(255, 197, 22, 1));
  /* Chrome 7+ & Safari 5.03+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 222, 0,
    1)), color-stop(1, rgba(255, 197, 22, 1)));
  /* IE8 */
  -ms-filter:
    "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFDE00,EndColorStr=#FFFFC516)";
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 2px rgba(100, 100, 100, 0.7);
  /*  height:17px;
  line-height:100%; */
  margin-left: 0;
  padding: 10px;
  padding-bottom: 7px;
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);
  -moz-transition-property: all;
  -moz-transition-duration: 0.7s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.7s;
  text-decoration: none;
}

#tabby-button a.fr {
  font-size: 12px;
  width: 150px;
}

#tabby-button a:hover,#tabby-button a:focus {
  box-shadow: 0px 0px 5px rgba(100, 100, 100, 1);
  color: #000;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
  padding-bottom: 12px;
  top: -3px;
  text-decoration: none;
}

#tabby-button a #arrow {
  padding-left: 22px;
  background: transparent url('../images/arrow_down_blue_16.png') left 1px
    no-repeat;
}

#tabby-button a:hover #arrow {
  background-image: url('../images/arrow_right_blue_16.png');
}

#tabby-button a #more {
  margin-top: 3px;
  display: none;
  font-size: 10px;
  width: 120px;
  padding-left: 22px;
  color: #333;
  font-weight: normal;
}

#tabby-button a:hover #more {
  display: inline-block;
}

/* --- Footer */
#xnav-footer {
  background-color: #3670b9;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2) inset;
  clear: both;
  color: #f1f2f3;
  font: normal 12px 'Lucida Grande', Lucida, Arial, Helvetica, Sans-serif;
  margin: 0px;
  padding: 10px 0;
  text-align: center;
}

#xnav-footer h6 {
  font-size: 12px;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 16px 0 8px 0;
  color: #f1f2f3;
}

#xnav-footer a:link,#xnav-footer a:visited,#xnav-footer a:active,#xnav-footer a.PagerLink
  {
  color: #f1f2f3;
  font-size: 11px;
  text-decoration: none;
}

#xnav-footer a:hover {
  color: white;
}

#xnav-footer .SmallText {
  color: #000000;
  font-size: 9px;
}

#xnav-footer .SmallText a {
  color: #000000;
  font-size: 9px;
  text-decoration: underline;
}

#xnav-footer .Contact {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  clear: both;
  font-size: 11px;
  padding: 20px;
  padding-bottom: 30px;
  width: 940px;
  margin: 0 auto;
  margin-top: 10px;
  background: transparent
    url(http://www.nuxeo.com/var/storage/images/logo-nuxeo-xnav-footer.png) 50%
    20px no-repeat;
}

#xnav-footer .Contact span {
  color: white;
  font: bold 18px Arial, Verdana, sans-serif;
  letter-spacing: 1px;
}

#xnav-footer .Contact .logo {
  display: none;
}

#xnav-footer .FootLinks {
  margin: 0 auto;
  width: 1000px;
  margin-bottom: 10px;
}

#xnav-footer ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 5px 20px;
  text-align: left;
}

#xnav-footer ul li {
  list-style: none;
  line-height: 150%;
  margin: 0 0 0 25px;
  padding: 0 0 2px 0;
  text-align: left;
}

#xnav-footer ul li ul li {
  list-style-type: disc;
  text-transform: none;
}

#xnav-footer ul ul {
  list-style: none outside none;
  margin: 5px 0;
  padding: 0;
}