/*
Specific styles for the Digital Asset Management View
=Grid -> custom styles for the main grid
=Faceted Search -> styles for the search in the left colum
=Assets list -> styles for the center colum asset listing
=Assets View -> styles for the selected asset details in the right colum
author: lkemen@nuxeo.com
*/

/* =Grid */
.nxMainContainer { background-color: "neutral.lighter (__FLAVOR__ background)" }

.nxDamSearchForm {
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .3em;
  width: 19% }

.nxDamSearchResults {
  background-color: "neutral.lighter (__FLAVOR__ background)";
  text-align: center;
  width: 48% }

.nxDamAssetView {
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .3em;
  width: 33% }

/* =Faceted Search */
.nxDamSearchForm { font-size: .82em }

.nxDamSearchForm .widgetPanel { padding: 0 }

/* =Assets list */
.nxDamSearchResults { background-color: "neutral.lighter (__FLAVOR__ background)" }
.nxDamSearchResults .widgetPanel { padding: 0 2% }

.nxDamSearchResults .action_bar a { padding: .1em .4em }

.nxDamSearchResults .listingLayoutSelector {
  font-size: .9em }

.nxDamSearchResults .pageNavigationControls {
  border-style: solid none }

.nxDamSearchResults .detail {
  clear: both;
  /*margin-top: -2.5em;*/
  text-align: right }

.nxDamSearchResults .detail span {
  margin-right: .3em }

.bubbleBox {
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  margin: .1em .3em .6em;
  min-height: 170px;
  text-align: left;
  position: relative;
  vertical-align: top;
  min-width: 128px;
  max-width: 140px }

.bubbleBox:hover {
  background-color: "color.major.light (__FLAVOR__ background)";
  box-shadow: 0 1px 2px 2px #fff }
.bubbleBox:hover .fieldColumn { color: "black (__FLAVOR__ color)" }

.bubbleBox .bubbleHeader input {
  margin-right: .3em }

  /* Reduce padding between widgets in the box*/
  .bubbleBox .fieldColumn {
    color: "gray.medium (__FLAVOR__ color)";
    font-size: .9em;
    padding: 0 }

.bubbleBox .thumbViewPicture { display: block;
    margin: 0 auto }

/* Styles when an asset is selected */
.selectedItem,
.selectedItem:hover {
  background-color: "color.major.stronger (__FLAVOR__ background)";
  color: #fff }
.selectedItem .fieldColumn,
.selectedItem:hover .fieldColumn { color: #fff }

/* Pictures and video thumbnails in bubbleBoxes */
.thumbnailContainer { text-align: center;
  height: 75px }
.thumbnailContainer img { border: 2px solid #fff;
  max-height: 70px }

/* =Assets View */
.nxDamAssetView .widgetPanel { margin: 0 .1em .3em; padding: 0 }

.globalActionBar a.actionLink.button {
  padding: .2em .4em }

.widgetPanel .description_block {
  font-size: .9em;
  margin: 1em .4em }

/* Smaller tables display in foldableBox, apply .dataTableLine styles */
.nxDamAssetView .dataInput {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: .9em;
  margin: 0 0 .5em }
.nxDamAssetView .dataInput td {
  border-color: "neutral.lighter (__FLAVOR__ border)";
  border-spacing: 0;
  border-style: solid none;
  border-width: 1px;
  padding: .1em .3em .2em;
  text-align: left;
  vertical-align: top }
.nxDamAssetView .dataInput tr:hover {
  background-color: "color.major.light (__FLAVOR__ background)" }
.nxDamAssetView .widgetTable table {
  width: 100% }
.nxDamAssetView .widgetPanel .labelColumn {
  text-align: left }

.nxDamAssetView .summaryTitle {
  background-color: "neutral.medium (__FLAVOR__ background)";
  border-bottom: 0 none;
  font-size: 1em;
  padding: .3em;
  text-transform: none }

/* smaller buttons in Foldable boxes*/
.foldableBox .buttonsGadget {
  margin: .1em 0 0.2em;
  text-align: right }
.foldableBox .buttonsGadget .button {
  font-size: .8em;
  margin: .2em 0 0 .3em;
  padding: .1em .4em }


/* Picture View -> TODO: move it to imaging styles ? */
.pictureContainer {
  border: 1px solid #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: .2em 0 .5em;
  min-height: 200px;
  padding: 3px;
  text-align: center }

.documentTitle {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 -0.3em;
  overflow: hidden;
  padding: .3em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100% }

/* Test to center img */
.pictureContainer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle }
.pictureContainer img {
  display: inline-block;
  vertical-align: middle }

/* TODO: move to box styles */
.bubbleBox .bubbleHeader .documentTitle {
  display: inline;
  padding: 0;
  text-align: left }

.listingLayoutSelector { font-size: .9em }
