<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="NuxeoProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="nuxeo-core-server-application.NuxeoApp"
            name="">
         <property
               name="appName"
               value="">
         </property>
      </product>
   </extension>
   <extension
         id="NuxeoApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
         <run
               class="org.nuxeo.ecm.app.NuxeoApp">
         </run>
      </application>
   </extension>

</plugin>
