<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="Target" value="System.out" />
    <param name="Threshold" value="TRACE" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-30t %-5p [%C{1}] %m%n" />
    </layout>
  </appender>

  <logger name="org.nuxeo.ecm.core.storage.mem.MemRepository">
    <level value="WARN" />
  </logger>

  <root>
    <priority value="WARN" />
    <appender-ref ref="CONSOLE" />
  </root>

</log4j:configuration>
