image:
  tag: "4.4.1"
usePassword: false
serviceAccount:
  create: false
resources:
  requests:
    cpu: "1"
    memory: "1Gi"
  limits:
    cpu: "2"
    memory: "2Gi"
labels:
  {{- if (env "BRANCH_NAME") }}
  branch: {{ env "BRANCH_NAME" | quote }}
  {{- end }}
  resource: statefulset
  team: platform
podLabels:
  {{- if (env "BRANCH_NAME") }}
  branch: {{ env "BRANCH_NAME" | quote }}
  {{- end }}
  resource: pod
  team: platform
{{ readFile "values-tolerations-nodeselector.yaml" }}
