image:
  tag: "4.4.1"
usePassword: false
serviceAccount:
  create: false
resources:
  requests:
    cpu: "1"
    memory: "1Gi"
  limits:
    cpu: "2"
    memory: "2Gi"
labels:
  branch: {{ requiredEnv "BRANCH_NAME" | quote }}
  resource: statefulset
  team: platform
podLabels:
  branch: {{ requiredEnv "BRANCH_NAME" | quote }}
  resource: pod
  team: platform
tolerations:
  - key: team
    operator: Equal
    value: platform
    effect: NoSchedule
nodeSelector:
  team: platform
