image:
  tag: "6.0.8"
architecture: standalone
auth:
  enabled: false
commonLabels:
  {{ tpl (readFile "labels.yaml.gotmpl") . | nindent 2 }}
  dev.nuxeo.com/app: redis
master:
  resources:
    requests:
      cpu: "100m"
      memory: "16Mi"
    limits:
      cpu: "200m"
      memory: "64Mi"
  podLabels:
    {{ tpl (readFile "labels.yaml.gotmpl") . | nindent 4 }}
    dev.nuxeo.com/app: redis
    dev.nuxeo.com/resource: pod
{{ readFile "values-tolerations-nodeselector.yaml" | indent 2 }}
