body {
font: normal 12px "Lucida Grande", Arial, sans-serif;
background: #FFFFFF url(../img/galaxy_logo.png) no-repeat scroll right bottom;
margin:0px;
/* FileOpenDialog_fichiers/ */
}

table{
border-collapse:collapse;
font-size:12px;
}

table.titleTable {
height:74px;
background:#000000 url(../img/header_bg.jpg) no-repeat scroll right bottom;
}

th {
background-color:#efefef;
border-bottom:1px solid #C7C7C7;
color:#606161;
padding:5px 3px;
text-align:left;
}

#FileDialogViewTable td {
border-bottom:1px solid #e0e0e0;
border-top:1px solid #e0e0e0;
padding:5px 3px;
}


#FileDialogViewTable td.ms-gb {
padding:8px 5px 8px 25px;
background-color:#F1F1F1;
font-weight:bold;
}

#FileDialogViewTable td.ms-vb2-link {
text-decoration: none;
color:#2342c6;
padding:7px;
cursor:pointer;
}

.selected {
background-color: #cddfee !important;
}

h2.ms-pagetitle, .ms-titlearea {
color:#f6f6f6;
font-size:18px;
font-weight:bold;
margin:0;
padding:8px 5px 15px 10px;
}

.ms-titlearea {
padding:8px 5px 5px 14px !important;
font-size:12px;
color:#D1D1D1;
}

.ms-vh2-nofilter {
    color: #606161;
}
.ms-vb2 {
color:#102375;
}