# system/backups
*~
*.bak
.DS_Store
*.orig
*.rej

# ide
bin
.classpath
.metadata
.project
.settings/
.checkstyle
.mylar
.idea
*.iml
*.ipr
*.iws
*.ids
.pydevproject

# build artifacts
target/
bower_components/
node_modules/
package-lock.json
nashorn_code_cache/
chromedriver.log
*.log
*.pyc

# nuxeo build process
addons/nuxeo-shell/
marketplace/
