.tmp
target
.classpath
.project
npm-debug.log
.settings/
.DS_Store
*.gpd.*
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
.mylar
*.orig
.pmd
.project
*.pyc
.pydevproject
*.rej
*~bak
*-bak
*.bak
package-lock.json
.yo-rc.json
instance.clid
nashorn_code_cache/