<?xml version="1.0" encoding="UTF-8"?>
<!--
	This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
Checkstyle-Configuration: Nuxeo Coding Rules
Description:

-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="TreeWalker">
        <module name="JavadocType"/>
        <module name="JavadocStyle"/>
        <module name="ConstantName">
            <property name="format" value="^(log)|[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$"/>
        </module>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="FileLength"/>
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="TabCharacter"/>
        <module name="ModifierOrder"/>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="DoubleCheckedLocking"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MissingSwitchDefault"/>
        <module name="RedundantThrows"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="GenericIllegalRegexp">
            <property name="format" value="\s+$"/>
            <property name="message" value="Line has trailing spaces."/>
        </module>
        <module name="TodoComment">
            <property name="format" value="TODO|XXX|FIXME|REVIEW"/>
        </module>
        <module name="UpperEll"/>
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="ARRAY_INIT,BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS"/>
        </module>
        <module name="NoWhitespaceBefore"/>
        <module name="WhitespaceAfter"/>
        <module name="CyclomaticComplexity">
            <property name="max" value="20"/>
        </module>
        <module name="CovariantEquals"/>
        <module name="DeclarationOrder"/>
        <module name="IllegalCatch"/>
        <module name="IllegalThrows"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="UnnecessaryParentheses"/>
        <module name="ArrayTypeStyle"/>
        <module name="RequiredRegexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Check that license is LGPL (not always appropriate)"/>
            <property name="format" value="^.*are made available under the terms of the GNU Lesser General Public License$"/>
        </module>
        <module name="TrailingComment"/>
        <module name="RequiredRegexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Check javadoc for @author"/>
            <property name="format" value="@author"/>
        </module>
        <module name="WhitespaceAround">
            <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND,WILDCARD_TYPE"/>
        </module>
        <module name="RedundantModifier"/>
        <module name="InterfaceIsType"/>
        <module name="Regexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Remnants of &quot;(non-javadoc)&quot; comments"/>
            <property name="format" value="non-Javadoc"/>
            <property name="illegalPattern" value="true"/>
        </module>
        <module name="PackageDeclaration"/>
        <module name="MutableException"/>
        <module name="NPathComplexity"/>
        <module name="ClassDataAbstractionCoupling"/>
        <module name="j2ee.SessionBean"/>
        <module name="j2ee.ThisParameter"/>
        <module name="j2ee.ThisReturn"/>
        <module name="j2ee.MessageBean"/>
        <module name="VisibilityModifier">
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="ThrowsCount"/>
        <module name="ClassFanOutComplexity"/>
        <module name="Regexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Use proper logging instead of printStackTrace"/>
            <property name="format" value="printStackTrace"/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
        </module>
    </module>
    <module name="PackageHtml"/>
    <module name="Translation"/>
    <module name="NewlineAtEndOfFile"/>
</module>
