/*
Activity stream tab specific styles.
author: lkemen@nuxeo.com
*/
/*----  =ActivityStreamTab ----*/
.userActivityStream { text-align: center }
.userActivityStream form { margin: 0 auto; width: 80% }
.userActivityStream .dataOutput, .userActivityStream .dataOutput td { padding: 0 }
.userActivityStream .activity { padding: .8em 1.5em; text-align: left }
.userActivityStream .activity:hover { background-color: "color.major.light (__FLAVOR__ background)"; }
.userActivityStream .timestamp { color: "gray.medium (__FLAVOR__ color)" ; float: left; font-size: 1.1em }
.userActivityStream .message { font-size: 1.1em; margin-left: 7em }