/*
Mini Messages List: specific styles.
author: lkemen@nuxeo.com
*/
.miniMessages { text-align: center }
.miniMessages .miniMessagePanel { display: block; margin: 0 auto; padding: .5em 2.5em; width: 80% }

.miniMessages .newMiniMessageForm textarea { font-size: 1.1em; font-weight: bold; margin: .5em 0 0; padding: .5em; width: 450px }
.miniMessages .newMiniMessageForm .newMiniMessageActions { margin: 0 auto; padding: 0; text-align: right; width: 470px }

.newMiniMessageForm .newMiniMessageActions .miniMessageCounter { color: "gray.medium (__FLAVOR__ color)"; font-size: 1.1em; font-weight: bold }
.newMiniMessageForm .newMiniMessageActions .warning { color: "warning.status (__FLAVOR__ color)";}

.miniMessages .newMiniMessageForm input.button { margin: .5em 0 1em 1em }
.miniMessages .dataOutput { margin: 0 auto; width: 550px }
.miniMessages .dataOutput td { padding: 0 }
.miniMessages .miniMessage { padding: .6em 1em; text-align: left }
.miniMessages .miniMessage:hover { background-color: "color.major.light (__FLAVOR__ background)"; }
.miniMessages .username { font-size: 1.1em; font-weight: bold; padding-right: .5em }
.miniMessages .owner a, .miniMessages .owner a:link { color: black }
.miniMessages .timestamp { color: "gray.medium (__FLAVOR__ color)"; font-size: 1.1em }
.miniMessages .message { font-size: 1.1em; padding: .25em 0 }
.miniMessage .deleteMiniMessage { text-align: right }
.miniMessage .deleteMiniMessage a, .miniMessage .deleteMiniMessage a:link { color: "gray.medium (__FLAVOR__ color)" }