/*
Specific styles for the Home View
=Main Frame -> small adjustments
author: lkemen@nuxeo.com
*/

/* =Main Frame */
.nxMainContainer {
  background: none "color.major.stronger (__FLAVOR__ background)"; }

#viewUser,
#authorizedApplicationsPanel,
#cv_all_saved_searches__panel {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 2em }

/* =Override GWT styles*/
body,
table td,
select {
  font-family: "default (__FLAVOR__ font)" }

.widget .content {
  width: 100% }

p.directoryBack {
  padding: .2em .2em .2em 2em }

.description_block span {
  font-size: 1em }
