<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <filter>
    <display-name>Nuxeo Authentication Filter</display-name>
    <filter-name>NuxeoAuthenticationFilter</filter-name>
    <filter-class>
      org.nuxeo.ecm.webengine.login.NuxeoAuthenticationFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NuxeoAuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Nuxeo WebEngine Servlet</servlet-name>
    <servlet-class>
    org.nuxeo.ecm.webengine.servlet.WebServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nuxeo WebEngine Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Nuxeo Resource Servlet</servlet-name>
    <servlet-class>
        org.nuxeo.ecm.webengine.servlet.ResourceServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Nuxeo Resource Servlet</servlet-name>
    <url-pattern>/nuxeo/site/files/*</url-pattern>
  </servlet-mapping>

</web-app>
