.gauche #upContainer{
float:left;
margin-right:9px;
width:50%;
 text-align:center;
}

.gauche #picture{
width:100%;
}

.gauche #pictureContainer{
width:98%;
padding:0 1%;
}

.gauche #title{
  width:100%;
  color:#13506B;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  padding:3px 0;
}



.gauche #show{
 text-align:right;
}

.gauche #legend{
  font-size:10px;
  color:#333333;
}

.droite #upContainer{
float:right;
margin-left:9px;
width:50%;
 text-align:center;
}

.droite #picture{
width:100%;
}

.droite #pictureContainer{
width:98%;
padding:0 1%;
float:right;
}

.droite #title{
  width:100%;
  color:#13506B;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  padding:3px 0;
}

.droite #show{
 text-align:right;
}

.droite #legend{
  font-size:10px;
  color:#333333;
}

.centre #upContainer{
 width:100%;
 text-align:center;
}

.centre #picture{
 width:100%;
}

.centre #pictureContainer{
width:98%;
padding:0 1%;
}

.centre #text{
 float:left;
 width:98%;
 padding:0 1%;
}

.centre #title{
  width:100%;
  color:#13506B;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  padding:3px 0;
}

.centre #show{
 text-align:right;
}

.centre #legend{
  font-size:10px;
  color:#333333;
}