/* override flavor */
a, a:link, a:visited { color: "red"; text-decoration: none }

/* additional CSS class */
.boldLabel { font-weight: bold }

/* additional class with CSS3 properties + non-standard properties */
.button, input.button {
  box-shadow:inset 0px 1px 0px 0px #fff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f2f5), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #f5f2f5 5%, #dfdfdf 100% );
  background: linear-gradient( center top, #f5f2f5 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f2f5', endColorstr='#dfdfdf');
  background-color: "button (__FLAVOR__ background)";
  border-radius:3px;
  border:1px solid;  border-color: "button (__FLAVOR__ border)";
  color:"link.action (__FLAVOR__ color)";
  cursor: pointer;
  font-size: .9em;
  font-weight:bold;
  margin: 5px 10px 10px 0;
  padding:4px 10px;
  text-decoration:none;
  text-shadow:1px 1px 0px #fff }
