/* CSS for Print. © 2008 Nuxeo */

a:link, a:visited, a:active {
    color: #000;
    text-decoration: underline;
}

.printButton, .closeWindow, hr, #entry-attachments form {
    visibility: hidden;
}

.wikiName span {
    font-weight: bold;
}

.wikiName {
    border-bottom: 1px solid #000;
}

#entry-attachments, .toc {
    border-left: 5px solid #666;
    padding-left: 20px;
    margin-left: 20px;
}

.tocTitle, .attachedTitle {
    font-weight: bold;
    font-size: 133%;
}

#entry-print blockquote {
    font-style: italic;
}

.byline {
    border-top: 1px solid #000;
}

/* Css 2 for firefox */

body {
    counter-reset: chapter;
}

#entry-print h2:before {
    content: counter( chapter ) " ";
    counter-increment: chapter;
}

#entry-print h2 {
    counter-reset: section;
}

#entry-print h3:before {
    content: counter( chapter ) "." counter( section ) " ";
    counter-increment: section;
}
