body {
    background: #000 url( ../image/blog/background_page.gif ) top left repeat-x;
}

#header h1 {
    font-size: 240%;
    font-color: #000;
    text-align: left;
    padding: 0;
    padding-top: 6px;
    margin: 0;
    font-family: "Century Gothic", "Trebuchet MS", Verdana, sans-serif;
    border-bottom: none;
}

#header h1 a {
    color: #000;
    background-image: url( ../image/blog/nuxeo_web_engine.gif );
}

h1 {
    color: #333;
    border-color: #ccc;
}

h2 {
    background-color: #ffebac;
    color: #0066ff;
}

#main .main-content h2 {
    background-color: #ffebac;
}

#entry-actions .ui-tabs-nav a, #entry-actions .ui-tabs-nav a span {
    background-image: url( ../image/blog/background_tabs.gif );
}

#entry-actions .ui-tabs-panel {
    border-color: #7fb2ff;
}

#entry-actions .ui-tabs-nav a:link, #entry-actions .ui-tabs-nav a:visited {
    color: #0066cc;
}

#entry-actions .ui-tabs-nav .ui-tabs-selected a:link, #entry-actions .ui-tabs-nav .ui-tabs-selected a:visited {
    color: #fff;
}

#sidebar .contextual h3 {
    background: url( ../image/blog/background_box_title.gif ) top left no-repeat;
    color: #333;
}

.summary-entry {
    border: 1px solid #666;
    border-width: 1px 0;
}
