body {
    background: #fff url( ../image/wiki/background_page.gif ) top left repeat-x;
}

h1 {
    color: #0066ff;
    border-color: #0066ff;
}

h2 {
    background-color: #ddeeff;
    color: #0066ff;
}

#main h1 input {
    color: #0066ff;
}

#entry-actions .ui-tabs-nav a,
    #entry-actions .ui-tabs-nav a span {
    background-image: url( ../image/wiki/background_tabs.gif );
}

#entry-actions .ui-tabs-nav a:link,
    #entry-actions .ui-tabs-nav a:visited {
    color: #0066ff;
}

#entry-actions .ui-tabs-nav .ui-tabs-selected a:link,
    #entry-actions .ui-tabs-nav .ui-tabs-selected a:visited {
    color: #fff;
}

#entry-actions .ui-tabs-panel {
    border-color: #0066ff;
}

#main .main-content h2 {
    background-color: #ddeeff;
}

#sidebar .contextual h3 {
    background: url( ../image/wiki/background_box_title.gif ) top left no-repeat;
}

#sidebar .sideblock-content {
    background: url( ../image/wiki/background_box_content.gif ) top left no-repeat;
}

.summary-entry {
    border: 1px solid #0066ff;
}

.summary-title {
    background: #F1F7FF;
    border-bottom: 1px solid #A9D4FF;
}

#entry-comments {
    border-color: #0066ff;
}

.commentsList #comments {
    color: #0066ff;
}
