/*
Starting CSS who define the very basic styles.
=Reset and default values -> reduce browser inconsistencies in styles and define the default font
=Links and Titles -> generic styles for links and titles
=Compat styles -> rules that need vendor prefixes
author: lkemen@nuxeo.com
*/

/* =Reset and default values */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

iframe {
  border-width: 1px;
  border-style: solid;
  border-color: "neutral.lighter (__FLAVOR__ border)"; }

html {
  font-size: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%; }

body,
.nx-page {
  color: "default (__FLAVOR__ color)";
  direction: ltr;
  font-family: "default (__FLAVOR__ font)";
  font-size: 17px;
  letter-spacing: .01em;
  height: 100%;
  line-height: 22px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  list-style: none; }

img,
a img,
:link img,
:visited img {
  border: none; }

b,
strong {
  font-weight: bold; }

i,
em,
var,
dfn,
cide {
  font-style: italic; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button i {
  font-style: normal; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* =Links and Titles */
.nx-page a {
  color: "link (__FLAVOR__ color)";
  text-decoration: none; }

.nx-page a:hover {
  color: "link.hover (__FLAVOR__ color)";
  text-decoration: none; }

a,
img,
a:focus,
a:active,
:link:focus,
:link:active {
  outline: medium none; }

h1, h2,
h3, h4,
h5, h6,
.mainTitle {
  color: "title.major (__FLAVOR__ color)";
  font-weight: bold;
  line-height: normal; }

h1,
.mainTitle {
  font-size: 1.6em;
  padding: .5em 0 1em;
  margin-top: 0;
  word-wrap: break-word; }

h2 {
  font-size: 1.3em;
  padding: .5em 1em .5em 0; }

h3 {
  font-size: 1.2em;
  padding: .5em 0 2em; }

h4 {
  font-size: 1.1em;
  padding: .7em 0 1em; }

h5 {
  font-size: 1.1em;
  margin: .2em 0 .2em 0; }

h6 {
  color: "title.minor (__FLAVOR__ color)";
  font-size: 1em;
  margin: .2em 0 .2em 0; }

.icon {
  margin-right: .3em; }

input, select, textarea,
button, keygen, isindex, legend, a {
  font-size: inherit; }

hr {
  border-top: none;
  border-bottom: 1px solid #eee;
  margin: 2em 0 2.5em; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

/* =Compat styles */
.field, select, textarea, .serverChoice a, .fullWidth, .tabsBar,
.gridBox, .grayBox, .simpleBox, .infoViewRight .infoViewInfoLayout,
input[type="text"], input[type="file"], input[type="password"] {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box; }
