/*
Styles for containers of all products
author: lkemen@nuxeo.com
*/

/* Container of the main part without header and footer */
.nxMainContainer {
  font-size: .8em;
  height: 100%;
  position: relative;
  width: 100% }

.nxHeader + .nxMainContainer {
  margin-top: 3.4em; }

.nxMainContainer .column {
  background: none "color.major.stronger (__FLAVOR__ background)";
  bottom: 0;
  font-size: .85em;
  width: 270px;
  padding: 1.2em 0.75em;
  position: absolute;
  overflow-y: scroll;
  top: 0; }

.nxMainContainer .content {
  padding: 2em 3em 3em;
  background-color: "neutral.lighter (__FLAVOR__ background)";
  min-height: 70em }

.nxMainContainer .column + .content {
  margin-left: 270px }

/* Main region */
.mainFragment {
  padding: .6em 0 }

/* Description of folders - to be moved to tabs_content */
.currentDocumentDescription {
  display: block;
  font-size: .9em;
  font-weight: bold;
  padding: 0 0 1em }

.currentItemDescription {
  display: block;
  font-size: 13px }
