/*
Styles for containers of all products
author: lkemen@nuxeo.com
*/

/* Container of the main part without header and footer */
.nxMainContainer {
  background-color: "neutral.lighter (__FLAVOR__ background)";
  font-size: .8em;
  min-height: 100%;
  position: relative;
  width: 100%; }

.nxHeader + .nxMainContainer {
  margin-top: 3.7em; }

.nxMainContainer .column,
.nxMainContainer .verticalTabsColumn,
.nxMainContainer .nxSearchForm {
  background: none "color.major.stronger (__FLAVOR__ background)";
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  bottom: 0;
  font-size: .85em;
  width: 19%;
  padding: 6em 1em;
  position: fixed;
  overflow-y: auto;
  top: 0; }

.nxMainContainer .column > div:last-child,
.nxMainContainer .nxSearchForm > div:last-child {
  margin-bottom: 6em; }

.nxMainContainer .content {
  padding: 2em 3.5em 3em; }

.nxMainContainer .column + .content,
.nxMainContainer .verticalTabsContent,
.nxMainContainer .nxSearchResults {
  margin-left: 19%; }

/* Description of folders - to be moved to tabs_content */
.currentDocumentDescription {
  display: block;
  font-size: .9em;
  font-weight: bold;
  padding: 0 0 1em; }

.currentItemDescription {
  display: block;
  font-size: 13px; }

.titleBlock .currentDocumentDescription {
  margin-top: -1em; }
