/*
Styles for the buttons and actions.
=Buttons -> default buttons. Major is used in forms, when you want to highlight one action
=Action Bar -> usually used under tabs, to display many different actions (from document creation to view mode)
=Foldablebox Action -> actions in foldable header
=RightClick menu -> actions menu displayed by rightclick on links
=Icon size -> control the size of icons to keep consistency
author: lkemen@nuxeo.com
*/

/* Fix button heights in Ffox */
input::-moz-focus-inner {
  border: 0;
  padding: 0 }

/* =Buttons */
.nx-page .button,
.nx-page a.button,
.nx-page input.button,
.nx-page .action_bar a,
.nx-page button,
.nx-page input[type="reset"],
.nx-page input[type="submit"],
.nx-page input[type="button"] {
  background: none "button (__FLAVOR__ background)";
  border: 1px solid "button (__FLAVOR__ border)";
  border-radius: 4px;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  letter-spacing: 0.05rem;
  line-height: 30px;
  padding: 0 1.1em;
  margin: 0 .5rem .5rem 0;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease 0s;
  white-space: nowrap; }

.nx-page .button:hover,
.nx-page a.button:hover,
.nx-page input.button:hover,
.nx-page .action_bar a:hover,
.nx-page button:hover,
.nx-page input[type="reset"]:hover,
.nx-page input[type="submit"]:hover,
.nx-page input[type="button"]:hover {
  background: none "button (__FLAVOR__ background)";
  border-color: "button.hover (__FLAVOR__ border)";
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 150ms ease-in-out 0s }

.nx-page .button:focus,
.nx-page button:focus,
.nx-page input[type="reset"]:focus,
.nx-page input[type="submit"]:focus,
.nx-page input[type="button"]:focus {
  border-color: #2e9cff;
  box-shadow: 0 0 3px #b5dcff;
  outline: none }

.nx-page button.disabled,
.nx-page input.disabled,
.nx-page button.disabled:hover,
.nx-page input.disabled:hover,
.nx-page .button[disabled],
.nx-page .button[disabled]:hover,
.nx-page .button[disabled=disabled],
.nx-page .button[disabled=disabled]:hover,
.nx-page button:disabled,
.nx-page button:disabled:hover,
.nx-page input[type="reset"]:disabled,
.nx-page input[type="reset"]:disabled:hover,
.nx-page input[type="submit"]:disabled,
.nx-page input[type="submit"]:disabled:hover,
.nx-page input[type="button"]:disabled,
.nx-page input[type="button"]:disabled:hover {
  cursor: not-allowed;
  display: none }

.nx-page .tinyButton,
.nx-page .smallButton,
.nx-page a.tinyButton,
.nx-page a.smallButton,
.nx-page input.tinyButton,
.nx-page input.smallButton {
  font-size: .9em;
  padding: 0 .5em;
  height: 2.5em;
  line-height: 2.5em;
  text-decoration: none }

.nx-page .tinyButton,
.nx-page a.tinyButton,
.nx-page input.tinyButton {
  font-size: .85em;
  padding: 0 .3em }

.nx-page .button .smallIcon {
  vertical-align: text-bottom }

.nx-page .dropdown,
.nx-page .dropdown:hover {
  background: url("${basePath}/icons/dropdown.png") no-repeat scroll right center;
  background-color: "button (__FLAVOR__ background)";
  text-transform: none;
  line-height: inherit;
  letter-spacing: 0.05px;
  padding: .4em 1.5em .43em .8em }

/* =Action Bar */
.action_bar {
  float: left;
  line-height: normal;
  margin: .5em .5em .8em 0 }

.action_bar a img {
  margin: 0 .5em 0 0;
  vertical-align: text-bottom; }

.action_bar_message {
  float: right;
  font-size: .8em;
  margin: 0 }

.action_bar_message form {
  display: inline;
  text-align: right }

.action_bar ul {
  list-style: none;
  margin: 0;
  padding: 0 1em 0 0 }

.action_bar li {
  float: left;
  margin: 0;
  padding: 0 }

.nx-page.action_bar a {
  float: left;
  font-size: .9em;
  font-weight: bold;
  margin: 0 .6em .7em 0;
  padding: .3em .7em .4em;
  text-decoration:none }

.nx-page.action_bar a img {
  float: left;
  margin: -0.2em .3em -0.3em -0.4em }

.nx-page .action_bar input[type="text"] {
  margin: 0 .2em;
  padding: .3em .5em;
  width: auto }

.nx-page.action_bar input.button {
  margin-top: 0 }

.nx-page.contentViewQuickFilterForm .action_bar a {
  margin: 0 }

.contentViewUpperActions {
  color: "gray.dark (__FLAVOR__ color)";
  float: right;
  font-size: .9em;
  line-height: normal;
  margin: .8em 0;
  text-align: right }

.contentViewUpperActions .actionsWidgetPanel {
  padding: 0 }

.contentViewUpperAction img {
  max-width: 16px;
  max-height: 16px }

.contentViewUpperAction {
  display: inline-block;
  padding: 0 0 0 .1em;
  vertical-align: top }

.contentViewUpperAction .widgetPanel,
.contentViewUpperAction .actionsWidgetPanel {
  display: inline-block;
  padding: 0 }

.nx-page.contentViewUpperAction a {
  color: "gray.light (__FLAVOR__ color)";
  font-size: .85em }

.contentViewUpperAction .contentViewPageSelectorDesc {
  display: inline;
  vertical-align: top }

.contentViewUpperAction .langSelect {
  font-size: .8em;
  margin: 0;
  padding: 0;
  min-width: unset }

.contentViewUpperAction .contentViewPageSelector {
  float: left;
  font-size: .8em;
  padding: .1em }

/* =Actionbar in Home */
.actionList {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 }

.actionList li {
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin: 0 0 0 .4em;
  position: relative;
  text-decoration: none;
  z-index:1040 }

.actionList li a {
  color: "default (__FLAVOR__ color)";
  padding: 0 }

.actionList .actionSubList {
  background-color: #fff;
  border: 1px solid;
  border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 1px;
  display:none;
  list-style: none;
  padding: 0;
  position: absolute;
  right: -1px;
  top: 28px;
  width: 250px;
  z-index: 1001 }

.actionList .actionSubList li {
  background: none;
  border: none;
  float: none;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 300px }

.actionList .actionSubList li a {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: block;
  letter-spacing: inherit;
  line-height: initial;
  margin: 0;
  padding: .7em 1em;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  white-space: normal }

.actionList .actionSubList li a:hover {
  background-color:"neutral.light (__FLAVOR__ background)";
  box-shadow: none; }

.actionSubList .smallIcon {
  margin: 0 .8em -0.2em 0 }

.horizontalAction ~ .actionList li {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #555;
  font-weight: bold;
  margin: 0; }

.globalActions .horizontalAction .button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  height: auto;
  margin: 0;
  padding: 0 1em; }

/* =Kept for social collab custom actions */
.headerTitleAndTools h1 {
  display: inline }

.headerTitleAndTools h1 span {
  color: "gray.light (__FLAVOR__ color)";
  font-weight: normal }

.headerTitleAndTools .globalActionBar {
  float: right } /* Clean headerTitleAndTools style, inheritance issue with globalActionBar class*/

.globalActionBar h1 {
  float: left }

.globalActionBar .actionList {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0 }

.globalActionBar .actionList li {
  cursor: pointer;
  display: block;
  font-weight: normal;
  height: auto;
  line-height: 130%;
  margin: 0 0 0 .4em;
  position: relative;
  text-decoration: none;
  z-index:1040 }

.globalActionBar .actionList li a {
  color: "default (__FLAVOR__ color)";
  padding: 0 }

.globalActionBar .actionList .actionSubList {
  background-color: #fff;
  border: 1px solid;
  border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display:none;
  list-style: none;
  margin-top: .5em;
  padding: 0;
  position: absolute;
  right: 0;
  top: 19px;
  width: 250px;
  z-index: 1001 }

.globalActionBar .actionList .actionSubList li {
  background: none;
  border: none;
  float: none;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 300px }

.globalActionBar .actionList .actionSubList li a {
  background: none;
  border: none;
  display: block;
  margin: 0;
  padding: .5em 1em;
  text-decoration: none;
  white-space: normal }

.globalActionBar .actionList .actionSubList li a:hover {
  background-color:"neutral.light (__FLAVOR__ background)";
  border: none;
  border-radius: none;
  box-shadow: none }

.globalActionBar .actionSubList .smallIcon {
  margin: 0 .8em -0.2em 0 }

.separator {
  border-bottom: 1px solid #ddd }

/* =MainActions in Document Title Area */
.titleBlock {
  float: left;
  max-width: 50em }

.globalActions {
  float: right }

.globalActions > span, .globalActions .horizontalAction {
  float: left }

.contextActions {
  padding: .4em 0 .5em }

.contextActions div img {
  padding: -0.3em 0 0 }

/* Actions in left column */
.column .action_bar {
  float:none;
  margin: 0 0 1.5em }

.column .widgetPanel .horizontalAction .button,
.column .widgetPanel .horizontalAction:only-child,
.column .widgetPanel .horizontalAction:only-child form {
  display: block }

.nx-page .column .importButton {
  background: url('${basePath}/icons/import.png') no-repeat scroll 29% center / 25px 25px;
  background-color: "import.button (__FLAVOR__ background)";
  border: none;
  border-radius: 2px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  height: auto;
  margin: .5em 0 0;
  text-transform: uppercase;
  width: 100% }

.nx-page .column .importButton:hover {
  background: url('${basePath}/icons/import.png') no-repeat scroll 29% center / 25px 25px;
  background-color: "import.button (__FLAVOR__ background)";
  border: none;
  box-shadow: 0 -30px 20px rgba(255, 255, 255, 0.2) inset }

/* Link on forms */
.actionLink {
  margin: .1em .2em .1em .1em }

/* =Foldablebox Action for Local Configuration*/
.foldableBox h3 a.action,
.foldableBox h3 a.action:visited {
  color: "black (__FLAVOR__ color)";
  float: right;
  font-size: .8em;
  margin: -0.2em 0 0 1em; }

.foldableBox h3 a.action:hover,
.foldableBox h3 a.action:visited:hover {
  float: right !important; }

/* =RightClick menu */
#contextMenu {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0 }

.ctxMenuStyle {
  border: 1px solid;
  border-color: "neutral.light (__FLAVOR__ border)";
  min-width: 120px;
  font-size: .7em }

.ctxMenuItemStyle,
.ctxMenuItemHoverStyle {
  margin: 0;
  display: block;
  cursor: default;
  padding: .4em .5em;
  background-color:#fff;
  font-weight: bold }

.ctxMenuItemHoverStyle {
  cursor: pointer;
  background-color: "neutral.light (__FLAVOR__ background)" }

.ctxMenuItemStyle a,
.ctxMenuItemHoverStyle a {
  display: block;
  text-decoration: none }

.ctxMenuImg {
  vertical-align: middle;
  padding: 0 .4em .2em 0 }

/* =Labels, tags, users */
.tag {
  background: none "neutral.medium (__FLAVOR__ background)";
  border-radius: 16px;
  color: #333;
  display: inline-block;
  font-size: 13px !important;
  line-height: inherit;
  margin: 0 .3em .5em 0;
  padding: 0.1em 0.8em 0.2em;
  text-decoration: none;
  transition: none }

.tag,
a.tag,
.tag a,
.tagLink a {
  color: #333 !important;
  text-decoration: none }

.tagLink img {
  display: inline;
  height: 12px;
  margin: 0 0 -0.1em;
  opacity: .7;
  width: 12px }

a.tag:hover,
.tag a:hover,
.tag img:hover {
  background-color: #f6f6f6;
  opacity: 1 }

.tag.newTag {
  background: url("${basePath}/icons/add.png") no-repeat scroll 0 0 #e0f8d9;
  color: "black (__FLAVOR__ color)";
  padding: 0 .3em 0 1.3em }

.user,
.group,
span.user,
span.group {
  background: url("${basePath}/icons/user.png") no-repeat scroll 7px 6px / 13px #eee;
  border-radius: 16px;
  color: "gray.dark (__FLAVOR__ color)";
  display: inline-block;
  font-size: .95em;
  padding: .1em .7em .1em 2em;
  margin: 0 .2em .2em 0;
  line-height: 1.7em;
  white-space: nowrap; }

.group,
span.group {
  background: url("${basePath}/icons/group.png") no-repeat scroll 7px 6px /13px #eee }

.user a:hover,
.group a:hover {
  color: "link.hover (__FLAVOR__ color)";
  text-decoration: none }

a .user:hover,
a .group:hover {
  background-color: "color.major.light (__FLAVOR__ background)";
  border-color: "color.major.stronger (__FLAVOR__ border)" }

.description_block span.user {
  display: inline-block;
  font-size: 1em;
  padding: .1em .3em .1em 2.1em }

.sticker {
  background-color: "neutral.stronger (__FLAVOR__ background)" ;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: .95em;
  font-weight: bold;
  margin: .2em .5em .2em 0;
  padding: .1em .6em;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3); }

/* =Icon size management for upload in Nuxeo Studio */
.bigIcon {
  width: 50px }

.smallIcon {
  height: 16px;
  width: 16px }
