/*
Navigation tabs, subtabs, and back links
Header links to navigate between pages are styled in header.css
=Tabs -> default tabs and subtabs
=Navigation controls -> used to paginate document lists
=Back Arrow -> link to go back to the previous view
author: lkemen@nuxeo.com
*/

/* =Tabs */
.tabsBar {
  background: none #fff;
  border-width: 1px; border-style: solid;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  border-radius: 3px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 1em;
  margin: 0 0 -8px;
  width: 100% }

.tabsBar ul {
  list-style: none outside none;
  margin: 0;
  padding: 0 1em 0 0 }

.tabsBar li {
  border-width: 1px;
  border-style: none solid none none;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  float: left;
  padding: 0 }

.tabsBar.vertical li {
  border-width: 1px;
  border-style: none solid none none;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  display: block;
  float: none;
  padding: 0 }

.tabsBar a,
.tabsBar a:visited {
  background: transparent;
  border-top: 4px solid transparent;
  color: "gray.dark (__FLAVOR__ color)";
  display: inline-block;
  padding: .5em .6em .7em;
  text-decoration: none }

.column .tabsBar li a,
.modularTabs li a {
  border-top: 3px solid transparent }

.tabsBar li a:hover,
.tabsBar li.selected a,
.tabsBar li.selected a:visited,
.modularTabs li a:hover,
.modularTabs li.selected a,
.modularTabs li.selected a:visited {
  background-color: #fff;
  border-color: "color.major.strong (__FLAVOR__ border)";
  color: "tabs.selected (__FLAVOR__ color)" }

.tabsBar li:first-child a,
.modularTabs li:first-child a {
  border-radius: 3px 0 0 }

.column .tabsBar {
  border-radius: 2px 2px 0 0;
  border-style: none none solid;
  margin-bottom: -5px; }

.column .tabsBar li:first-child a,
.tabsBar.vertical li:first-child a {
  border-radius: 0 }

.tabsBar li.selected a {
  font-weight: bold }

.subtabsBar {
  background: none transparent;
  border-style: none none solid;
  border-width: 1px;
  border-color: "subtabs.selected (__FLAVOR__ border)";
  border-radius: 0;
  font-size: .9em;
  margin-top: .5em }

.subtabsBar li {
  border: none;
  margin: 0 0 -0.1em .3em }

.subtabsBar a,
.subtabsBar a:visited {
  background: none "neutral.lighter (__FLAVOR__ background)";
  border-width: 1px;
  border-style: solid solid none;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  border-radius: 2px 2px 0 0;
  color: "gray.medium (__FLAVOR__ color)";
  padding: .22em .4em }

.subtabsBar li a:hover,
.subtabsBar li.selected a,
.subtabsBar li.selected a:visited {
  background: none "subtabs.selected (__FLAVOR__ background)";
  border-color: "subtabs.selected (__FLAVOR__ border)" "subtabs.selected (__FLAVOR__ border)" "noborder (__FLAVOR__ border)";
  border-style: solid;
  border-width: 1px;
  color: "subtabs.selected (__FLAVOR__ color)";
  padding: .2em .4em .3em;
  text-shadow: none }

/* Vertical tabs in home and admin Center */
.nxMainContainer .verticalTabsColumn {
  padding: 6em 0 }

.nxMainContainer .verticalTabsContent {
  padding: 2em 2em 3em;
  width: 81%; }

.tabsBar.vertical {
  background: none 0;
  border: none; }

.tabsBar.vertical ul {
  margin: 0;
  padding: 0; }

.tabsBar.vertical li {
  border: 1px solid transparent;
  margin: 0 0 .15em .1em;
  padding: 0 }

.tabsBar.vertical li a,
.tabsBar.vertical li a:visited {
  color: "link.vertical.tabs (__FLAVOR__ color)";
  display: block;
  font-size: 1.2em;
  border-top: none;
  border-left: 3px solid transparent;
  padding: .7em 0 .7em 1.5em;
  text-decoration: none;
  transition: none; }

.tabsBar.vertical li:hover,
.tabsBar.vertical li.selected,
.tabsBar.vertical li.selected:hover {
  margin: 0 0 .15em .2em;
  transition: margin 100ms ease-in 0s; }

.tabsBar.vertical li:hover a,
.tabsBar.vertical li.selected a {
  border-left: 3px solid;
  background-color: rgba(0,0,0,0.5);
  border-color: "color.major.strong (__FLAVOR__ border)";
  border-top: medium none;
  color: #fff; }

/* =Navigation controls */
.pageNavigationControls,
#pageNavigationControls {
  border: medium none;
  margin: .2em 0 .5em;
  padding: 0;
  text-align: right;
  float: right }

.pageNavigationControls .currentPageStatus,
#pageNavigationControls .currentPageStatus {
  color: "gray.dark (__FLAVOR__ color)";
  display: inline-block;
  font-weight: bold;
  font-size: .9em;
  margin: 0 .5em;
  padding-top: .3em;
  vertical-align: top; }

.pageNavigationControls input[type="image"],
#pageNavigationControls input[type="image"] {
  background-color: "color.major.medium (__FLAVOR__ background)";
  border: 1px solid #ddd !important;
  border-radius: 2px;
  border-left: none !important;
  margin: 0;
  padding: .3em }


.pageNavigationControls input:hover,
#pageNavigationControls input:hover {
  background-color: "neutral.light (__FLAVOR__ background)"; }

.pageNavigationControls input[disabled=disabled],
#pageNavigationControls input[disabled=disabled] {
  background-color: transparent;
  border-color: transparent !important;
  cursor: default;
  filter: alpha(opacity=0);
  opacity: 0 }

.pageNavigationControls input[disabled="disabled"]:nth-child(3n+1) {
  border-color: transparent !important }

.pageNavigationControls input[disabled=disabled]:hover,
#pageNavigationControls input[disabled=disabled]:hover {
  background: none }

#selection_buttons:after {
/* clear float after pagination buttons */
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden }

/* =Back Arrow */
.directoryBack {
  display: inline;
  float: right;
  margin: 0 -0.9em 0 0 }

.directoryBack:after {
  clear: both }
