/*
Specific styles for the Document Management View
=Frame -> specifiy left column style
=Document list -> specifics to document browsing
=Advanced Search -> for advanced search view
=Clipboard & Worklist -> styles in the left column
author: lkemen@nuxeo.com
*/

/* =Frame */
.nxMainContainer { min-height: 660px; height: auto!important; height: 660px }
.nxMainContainer .column { border-width: 1px; border-style: none solid none none; border-color: "neutral.lighter (__FLAVOR__ border)"; font-size: .85em; padding: 5px }

/* =List of available servers  */
.serverChoice { float: left }
.serverChoice a { box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 -5px 5px #eee inset;
	color: #000;
	display: block;
	font-weight: bold;
	margin: 1em;
	min-height: 150px;
	padding: 1.5em 1em 1em;
	text-align: center;
	text-decoration: none;
	width: 200px }

.serverChoice a:hover { background: none "color.major.medium (__FLAVOR__ background)";
  border-color: "button.hover (__FLAVOR__ border)" }

/* =Advanced Search */
.listShuttleTable .listShuttleSelectionActions a { display: block }

/* =Clipboard & Worklist */
.userClipboard { background-color: #fff; height: 1%; margin: 1em 0 }
.userClipboardContent { margin: 0; padding: 1em 0 1em 0.3em; word-wrap: break-word }
.userClipboard h4 {
  border-width: 1px; border-style: none none dotted; border-color: "neutral.medium (__FLAVOR__ border)";
  color: "gray.medium (__FLAVOR__ color)";
  font-size: 1.2em;
  height: 16px;
  margin: 0 0 .2em;
  padding: .7em .2em .2em }

.dropInto { background-color: "neutral.lighter (__FLAVOR__ background)" }
.dropIntoClipboardCopy { background: transparent url("${basePath}/icons/action_clipboard_copy.gif") no-repeat 98% 3%; background-color: "color.major.dark (__FLAVOR__ background)" }

#clipboardCopy { padding: .3em }

.clipboardFunctions { border-width: 2px; border-style: solid none none; border-color:"neutral.lighter (__FLAVOR__ border)"; padding-top: .9em }
.clipboardFunction { padding: .2em }
.clipboardRemoveItem { bottom: 2px; float: right; position: absolute; right: 0 }

.clipboardEmptyMessage { color: "gray.dark (__FLAVOR__ color)"; font-style: italic; padding: 0 .2em .2em; text-align: center }

/* Fix icon size to allow icon upload in Nuxeo Studio */
.bigIcon { width: 50px }
.smallIcon { height: 16px; width: 16px }

/* check if it's still used */
.wizardFrame { border: 1px solid; border-color: "neutral.lighter (__FLAVOR__ border)"; padding: 0 .4em; width: 800px }
.wizardFrame .wizardFinish h4 img { float: left; margin-right: 1em }
.wizardFrame .templatePreview { border: 1px solid; border-color: "neutral.lighter (__FLAVOR__ border)"; padding: 1em !important }
.wizardFrame .templatePreview img { border: 1px solid #333; float: left }
.wizardFrame .templatePreview .templatePreviewDescription { font-style: italic }
.wizardFrame .wizardButtonBar { text-align: right }
