/*
Overriding the styles in conflicts between the default css framework and Polymer Paper elements
=Reset inherited styles from the Nuxeo UI Framework
author: lkemen@nuxeo.com
*/

/* =Reset inherited styles from the Nuxeo UI Framework */

/* Buttons */
.nx-elements .content.paper-button,
.nx-elements paper-dialog .buttons .content.paper-button,
.nx-elements .dataTable tr:hover paper-dialog .content.paper-button,
.nx-elements .dataList tr:hover paper-dialog .content.paper-button,
.nx-elements .dataOutput tr:hover paper-dialog .content.paper-button  {
  background-color: #f1f4f8;
  box-shadow: none;
  color: #213f7d;
  padding: .7em .57em;
  min-height: initial; }

.nx-elements .dataTable tr:hover .content.paper-button,
.nx-elements .dataList tr:hover .content.paper-button,
.nx-elements .dataOutput tr:hover .content.paper-button {
  background-color: #fff; }

.nx-elements .content.paper-button:hover,
.nx-elements .colorful .content.paper-button,
.nx-elements paper-dialog .colorful .content.paper-button,
.nx-elements .dataTable tr:hover paper-dialog .colorful .content.paper-button,
.nx-elements .dataList tr:hover paper-dialog .colorful .content.paper-button,
.nx-elements .dataOutput tr:hover paper-dialog .colorful .content.paper-button,
.nx-elements .dataTable tr:hover .content.paper-button:hover,
.nx-elements .dataList tr:hover .content.paper-button:hover,
.nx-elements .dataOutput tr:hover .content.paper-button:hover  {
  background-color: #00adff;
  color: #fff; }

/* Dialog */
iron-overlay-backdrop {
  z-index: 1050 !important; }

.nx-elements paper-dialog {
  z-index: 1100 !important; }

.nx-elements paper-dialog > * {
  margin-top: 20px;
  padding: 0 24px; }

.nx-elements paper-dialog span {
  margin: 0;
  padding: 0; }

.nx-elements paper-dialog .buttons {
  margin: 0;
  padding: 8px 8px 8px 24px;
  position: relative; }

/* Bubble Boxes */
.nx-elements .bubbleBox .bubbleHeader h3 {
  float: left; }

.nx-elements .bubbleBox .bubbleHeader paper-button {
  float: right; }

/* Forms */
.nx-elements textarea {
  border: medium none;
  box-shadow: none;
  margin: auto;
  min-height: auto; }

.nx-elements .floated-label-placeholder {
  display: none; }

.nx-elements .paper-dialog-scrollable > .popup-permission {
  padding-bottom: 1.5em; }

iron-autogrow-textarea {
  border-color: #888;
  min-height: 5em; }
