/*
Style javascript Popups
=FancyBox -> override default FancyBox styles
=Generic PopuP div -> style for the light pop up
author: lkemen@nuxeo.com
*/

/* =FancyBox + TinyMce popups style override */
#fancybox-overlay {
  z-index: 10002 }

#fancybox-wrap {
  font-family: "default (__FLAVOR__ font)";
  font-size: .75em;
  box-sizing: content-box;
  z-index: 10005 }

#fancybox-wrap a,
#fancybox-wrap a:link,
#fancybox-wrap a:visited {
  text-decoration: none;
  color: "link (__FLAVOR__ color)" }

#fancybox-wrap a:hover,
#fancybox-wrap a:active {
  text-decoration: underline }

#fancybox-content h3,
.mce-window-head {
  background-color: "neutral.light (__FLAVOR__ background)";
  border-bottom: 1px solid #e7e7e7;
  margin: 0;
  padding: 1em 1.7em }

#fancybox-content .content {
  background-color: #fff;
  padding: 2em 2em 2.5em;
  min-height: 20em;
  overflow: auto }

#fancybox-content .buttonsGadget {
  background-color: "neutral.light (__FLAVOR__ background)";
  border-top: 1px solid #e7e7e7;
  font-size: 1.1em;
  margin: 0;
  padding: 1em 1.8em .5em }

#fancybox-content .buttonsGadget button.disabled,
#fancybox-content .buttonsGadget input.disabled,
#fancybox-content .buttonsGadget button.disabled:hover,
#fancybox-content .buttonsGadget input.disabled:hover,
#fancybox-content .buttonsGadget .button[disabled],
#fancybox-content .buttonsGadget .button[disabled]:hover,
#fancybox-content .buttonsGadget .button[disabled=disabled],
#fancybox-content .buttonsGadget .button[disabled=disabled]:hover,
#fancybox-content .buttonsGadget button:disabled,
#fancybox-content .buttonsGadget button:disabled:hover,
#fancybox-content .buttonsGadget input[type="reset"]:disabled,
#fancybox-content .buttonsGadget input[type="reset"]:disabled:hover,
#fancybox-content .buttonsGadget input[type="submit"]:disabled,
#fancybox-content .buttonsGadget input[type="submit"]:disabled:hover,
#fancybox-content .buttonsGadget input[type="button"]:disabled,
#fancybox-content .buttonsGadget input[type="button"]:disabled:hover {
  background: none "button.disabled (__FLAVOR__ background)";
  border: 1px solid;
  box-shadow: none;
  border-color: "button.disabled (__FLAVOR__ border)";
  color: "link.disabled (__FLAVOR__ color)";
  cursor: default;
  display: initial }

#fancybox-content .popUpDescription {
  padding: 0 0 1em }

#fancybox-content .dataInput {
  max-width: none }

.mce-window-head .mce-title {
  color: "title.major (__FLAVOR__ color)";
  font-size: 1.2em;
  font-weight: bold;
  line-height: normal }

.mce-window-head .mce-close {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  margin: 0;
  padding: .2em 0 }

.mce-in .mce-panel,
.mce-in .mce-foot {
  background-color: "neutral.light (__FLAVOR__ background)";
  border-top: 1px solid #e7e7e7 }

.mce-window .mce-widget.mce-btn {
  border: medium none }

.mce-primary button, .mce-primary button i {
  background-color: "primary.button (__FLAVOR__ background)";
  border-color: "primary.button (__FLAVOR__ border)";
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
  color: #fff;
  text-shadow: none }

.mce-primary button:hover, .mce-primary button:hover i {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 -30px 20px rgba(255, 255, 255, 0.2) inset, inset 0px 1px 0px rgba(255,255,255,0.4);
  transition: all 150ms ease-in-out 0s }

.mce-primary:focus button {
  border-color: #2e9cff;
  box-shadow: 0 0 5px #b5dcff;
  outline: none }

.mce-textbox {
  padding: 0 .3em }

/* Override default size from the page */
#fancybox-frame body,
.nxPopUp.nxMainContainer {
  height: 100% }

.nxPopUp.nxMainContainer {
  height: auto;
  margin: 0;
  min-height: inherit }

.nxPopUp.nxMainContainer .content {
  background: none;
  padding: 1em }

#fancybox-content #permalinkAction_box input {
  display: block;
  width: 90% }

/* =Generic PopuP div */
.genericPopUp {
  background-color: #fff;
  border: 1px solid;
  border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  display: none;
  left: 26%;
  padding: 0;
  position: absolute;
  width: 670px;
  z-index: 10000 }

.genericPopUp .closePopUpHeader {
  background-color: "neutral.light (__FLAVOR__ background)";
  border-bottom: 1px solid #e7e7e7;
  color: "title.major (__FLAVOR__ color)";
  font-weight: bold;
  font-size: .9em;
  margin: 0;
  padding: 1em 1.7em }

.genericPopUp .closePopUpHeader .closePopUp {
  color: "gray.medium (__FLAVOR__ color)";
  cursor: pointer;
  float: right;
  font-size: .9em }

.genericPopUp .closePopUpHeader .popUpTitle {
  float: left;
  font-size: 1.2em }

.genericPopUp .popUpContent {
  height: 390px;
  overflow: auto;
  padding: 1em }

.genericPopUp .buttonsGadget {
  background-color: "neutral.light (__FLAVOR__ background)";
  border-top: 1px solid #e7e7e7;
  font-size: 1em;
  margin: 0;
  padding: 1em 1.8em .5em }

.genericPopUp .dr-tree td,
.genericPopUp .rich-tree td {
  padding: .1em }

.bigPopUp {
  height: 70%;
  width: 80% }

/* Popup view */
.nxPopUp.nxMainContainer .infoViewInfoLayout {
  padding-left: 1em;
  padding-right: 1em }
