/*
Override from RichFaces components styles
=TabsContent -> style adjustment for tabs content
=Layout View and Summary Tab Styles -> for summary tab, and content views
=Manage tab, =Archive, =Comments, =Relations -> style adjustment for Manage, Archive, Comments and Relations
author: lkemen@nuxeo.com
*/

/* =TabsContent */
.tabsContent { font-size: .95em; margin: 0; padding: .5em 1em 1em }

/* =Layout View and Summary Tab Styles */
.layoutViewMode { margin: 0; padding: 0 }
.layoutViewMode li { display: inline }
.layoutViewMode a img { border: 1px solid; border-color: "noborder (__FLAVOR__ border)" }
.layoutViewMode a:hover img, .layoutViewMode li.selected img { border: 1px solid; border-color: "neutral.medium (__FLAVOR__ border)" }

/* Legacy summary layout styling, before grids */
.summary_div_0 { float: left; padding: 1em 0; width: 62% }
.summary_div_1 { float: right; font-size: .9em; padding: 1em 0; width: 33% }
.summary_div_2 { clear: both }

.summary_div_0 img { max-height: 50em; max-width: 100% }
.summary_div_0 .note_content_block { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); margin: auto; max-width: 65em }

/* Grid layout */
.gridRow { clear: both; padding: 1.5% 0 }
.gridBox { float: left; margin: 0 1% }
.gridStyle12 { width: 94% }
.gridStyle9 { width: 70% }
.gridStyle8 { width: 62% }
.gridStyle7 { width: 56% }
.gridStyle6 { width: 46% }
.gridStyle5 { width: 36% }
.gridStyle4 { width: 30% }
.gridStyle3 { width: 22% }
.gridStyle2 { width: 14% }

.contentViewTitle { float: left; line-height: normal; margin: 1em 1em 1em 0 }

h3.summaryTitle {
  border-width: 3px; border-style: none none double; border-color: "color.major.medium (__FLAVOR__ border)";
  color: "black (__FLAVOR__ color)";
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 .8em;
  padding: 2em 0 .3em;
  text-transform: uppercase }
.summary_div_1 h3.summaryTitle { font-size: 1.1em }
.summary_div_1 .fieldColumn img { float: left; margin-bottom: 15px }

.description_block { color: "gray.medium (__FLAVOR__ color)"; padding: 1em 0 0 }
.description_block span { display: block; font-size: 1em; padding-bottom: 1em }
.description_block span.documentDescription { color: #444; font-size: 1.1em; font-weight: bold }
.description_block .createdBy { color: #111; font-weight: bold; padding: 0 }
.description_block .creationDate { display: inline }
.dublincore_block table.floatingLeftTable { float: left; margin-right: 100px }
.labelColumnLeftAlign { font-weight: bold; padding-right: 2.5em }
.rank_block, .publication_block, .attachments { margin-top: 1.3em }

.content_block table { margin-bottom: 1em; width: 100% }
.content_block td { padding-left: .5em; vertical-align: top }
.content_block .labelColumn { width: 100px }
.content_block .actionsColumn { text-align: right; vertical-align: top; width: 20% }
.content_block img { padding: 0 .5em }

.note_content_block { background-color: #fff;	border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)"; border-radius: 3px; color: "black (__FLAVOR__ color)"; font-size: 115%; margin: 0 0 1.4em; padding: 1.4em 1.7em; text-align: justify }
/* override styles for a beautiful formatted Note */
.note_content_block span, .note_content_block div, .note_content_block p { font-size: 1.05em; line-height: 170% }
.note_content_block i, .note_content_block cite, .note_content_block em, .note_content_block var, .note_content_block dfn { font-style: italic }
.note_content_block div, .note_content_block p { padding: .2em 0 .9em }
.note_content_block img { max-height: 150px; max-width: 200px }
.note_content_block h1, .note_content_block h2, .note_content_block h3, .note_content_block h4, .note_content_block h5, .note_content_block h6 { font-weight: bold; line-height: normal; margin: 0 }
.note_content_block h1 { font-size: 2em; padding: .5em 0 .8em }
.note_content_block h2 { font-size: 1.6em; padding: .6em 0 .4em }
.note_content_block h3 { font-size: 1.4em; padding: .45em 0 .38em }
.note_content_block h4 { color: "title.major (__FLAVOR__ color)"; font-size: 1.3em; padding: .45em 0 .35em }
.note_content_block h5 { color: "title.major (__FLAVOR__ color)";font-size: 1.1em; padding: .35em 0 .25em }
.note_content_block h6 { color: "title.minor (__FLAVOR__ color)";font-size: 1.1em; padding: .35em 0 .25em }
.note_content_block ul, .note_content_block ol { list-style: disc outside none; padding: 0 0 0 2.7em ; margin: 0 0 .4em }
.note_content_block li { line-height: 1.6em; list-style: inherit }
.note_content_block ul ul ul, .note_content_block ul ul ul ul ul { list-style-type: disc }
.note_content_block ul ul, .note_content_block ul ul ul ul, .note_content_block ul ul ul ul ul ul { list-style-type: circle }
.note_content_block ul ul ul { list-style-type: disc }
.note_content_block ol, .note_content_block ol ol ol ol { list-style-type: decimal }
.note_content_block ol ol, .note_content_block ol ol ol ol ol { list-style-type: lower-alpha }
.note_content_block ol ol ol, .note_content_block ol ol ol ol ol { list-style-type: lower-roman }

.note_content_block pre, .note_content_block code { background-color: #F7F7F7; border: 1px solid; border-color: "neutral.lighter (__FLAVOR__ border)"; border-radius: 3px; font-family: "Lucida Console","Monaco","Courier",monospace; font-size: 90%;	line-height: normal; overflow: auto; padding: 0 .2em }
.note_content_block pre { border-color: "neutral.light (__FLAVOR__ border)"; margin: 0 0 1em; padding: .4em }
.note_content_block pre code { border: none; font-size: 100% }

.lockFile_block, .restoreFile_block { padding: 0 0 1em }
.lockDetail, .DetailList { padding-top: .4em }
.summary_locked { color: "warning.status (__FLAVOR__ color)"; font-weight: bold }
.summary_unlocked { color: "normal.status (__FLAVOR__ color)"; font-weight: bold }

.lcAndVersion { border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)"; padding: .3em }
.versionNumber { float: right; font-weight: bold; text-transform: uppercase }

.actions_block { margin: 1em 0; padding: 1em .6em .2em }

.comments_block .commentBlock { border: none }
.comments_block .commentQuote { margin: .4em 0 .4em 2em }

.metadata_block .dataInput td { padding: .2em }
.metadata_block .dataInput td.fieldColumn { padding-left: 2em }

/*  =Manage tab */
.rightsAdd { margin: 1em 0 }
.rightsAddTitle { background-color: "neutral.lighter (__FLAVOR__ background)"; border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)"; padding: .4em; text-align: center }
.rightsAddLabel { font-weight: bold; padding: 0 .4em 0 0 }
.rightsAddSelect { margin-top: 0}
.rightsAddManager {
  margin: .2em 0 3em;
  width: 100% }
.rightsAddManager td {
  background-color: #fff;
  border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)";
  margin: 0 1em 0 1em;
  padding: 1em }
.rightsAddManager .labelColumn { width: 80px }
.UserSuggestionInput table td { vertical-align: top }

.userAndGroupSearch { margin: 0 }
.userAndGroupFilter { margin: 1.3em 0 0 }

.buttonsGadgetNoForm { margin: 0 .4em }

.directoryFilter, .searchField {
  border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)";
  font-size: 1em;
  margin: 0 .3em 0 0;
  padding: .25em }

/*  =Relations */
.relationPredicateColumn { vertical-align: top; width: 100px }
.relationCommentList { background: transparent }
.relationCreateLabelColumn { width: 100px }

/*  =Archive */
.archiveTabContent { margin-left: 1.8em }
.archiveTabContent .notEditable { background-color: #fff; border: none }
.archiveTabContent .currentDocumentInformation { background-color: "neutral.medium (__FLAVOR__ background)" }

/* Workflow */
.taskAssign {
  background: "neutral.medium (__FLAVOR__ background)";
  border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)";
  display: block;
  margin: .4em 0 1em;
  padding: .4em;
  text-align: center }
.taskActions { width: 470px }
.closedContent {
  background: #fff;
  border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)";
  margin: 1.4em 0;
  padding: 0 .9em .9em }

/* =Comments */
.commentBlock { margin: .7em 0 .8em; padding: .2em 1em .2em 0 }
.commentActions { float: right; font-size: .8em; margin-right: .4em; padding: 2em }
.commentCreationDate { font-weight: normal }
.commentQuote { margin: .4em 0; white-space: pre-line }
.commentAuthor { background: transparent url("${basePath}/icons/comment.gif") no-repeat 4px 4px;
  color: "gray.dark (__FLAVOR__ color)";
  font-weight: bold;
  padding: .4em .3em .3em 2.1em }
