
#pageNavigationControls span {
color:#757575;
font-size:13px;
font-weight:bold;
margin:10px 5px;
vertical-align:top;
}

#pageNavigationControls {
border-bottom:1px solid #3399FF;
margin:0px;
padding:2px 0px 0px;
text-align:center;
margin-bottom: 5px;
}

#pageNavigationControls input {
margin-left:5px;
}

.dataList {
width:100%;
}

.dataList td {
border:1px solid #666666;
padding:3px;
font-family	: 'Lucida Grande',Verdana,Arial,sans-serif;
font-size :	11px;
line-height	: 13.75px;
background-color :transparent;
background-image :none;
margin : 0px;
padding-top	: 5px;
padding-right : 3px;
padding-bottom : 5px;
padding-left :3px;
border-top-width	: 0px;
border-right-width	: 0px;
border-bottom-width	: 1px;
border-left-width	: 0px;
border-top-color : #C7C7C7;
border-right-color: #000000;
border-bottom-color	: #C7C7C7;
border-left-color	: #000000;
border-top-style : solid;
border-right-style	: none;
border-bottom-style	: solid;
border-left-style	: none;
}

.dataList .iconColumn {
 width: 20px;
 text-align: center;
}


.dataOutput td table td {
  border:0px none transparent;
}

.dataList thead th {
  border-bottom:1px solid #C7C7C7;
  color:#666;
  padding:5px 3px;
  text-align:left;
  font-size :	11px;
  font-weight: normal;
}

.dataList thead th a, .dataList thead th a:link {
color:#FFFFFF;
text-decoration:none;
}
.dataList thead th a:visited {
color:#FFFFFF;
}
.dataList thead th a:active {
color:#FFFFFF;
}
.dataList thead th a:hover {
color:#FFFFFF;
text-decoration:underline;
}

.dataList {
background:white none repeat scroll 0% 0%;
border-collapse:collapse;
margin:0pt;
}

.dataRowEven {
  background-color:#F2F7FC;
}

.dataRowOdd {
}

.contextPanel {

}

.context-edit-button {
  float: right;
}

.context-edit-button a {
font-size: 80%;
  display:block;
  padding: 0.35em 0.5em;
  margin-left:5px;
  border:1px solid #ccc;
  background-color:#e7e7e7;
  text-decoration: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color:#333;
  float:left;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(231,231,231)),
    color-stop(0.66, rgb(255,255,255)));
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(231,231,231) 0%,
    rgb(255,255,255) 66%);
    /* For Internet Explorer 5.5 - 7 */
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e8e8e8');   
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e8e8e8)";    
}

.context-edit-button a:link, .context-edit-button a:visited {
  color:#333;
}

.context-edit-button a:hover {
  cursor: pointer;
  border: 1px inset #ccc;
  text-decoration: none;
  color:#000; 
}
