html, body {
  overflow-x:hidden;
 }

body {
  font:normal 11px 'Lucida Grande', Verdana, Arial, sans-serif;  
}

p, div, table {
  margin:0;
  padding:0;
}

a:link {
  color:#0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  }

button {
  background-color: #4E9AE1;
  background-image: none;
  line-height: 100%;
  padding: 2px 5px;
  margin:5px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color:#fff;
  border:none;
}

#content {
  padding:0.5em;
}

.tools {
  background-color: #f7f7f7;
  padding:0.5em;
}

#nxDocumentList {
  width:98%;
  margin:0 auto;
}

