<?xml version="1.0" encoding="UTF-8"?>
<!--
  Log4j Configuration - For more configuration information and examples see
  the Jakarta Log4j - website: http://jakarta.apache.org/log4j
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false" threshold="null">

  <!-- ================================= -->
  <!-- Preserve messages in a local file -->
  <!-- ================================= -->

  <!-- A time/date based rolling appender -->
  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="${nuxeo.log.dir}/server.log" />
    <param name="Append" value="true" />
    <!-- Rollover at midnight every day -->
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] [%c] %m%n" />
    </layout>
  </appender>

  <!--
    A size based file rolling appender
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
      <param name="File" value="${nuxeo.log.dir}/server.log" />
      <param name="Append" value="false" />
      <param name="MaxFileSize" value="500KB" />
      <param name="MaxBackupIndex" value="1" />
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
      </layout>
    </appender>
  -->

  <!-- ============================= -->
  <!-- Gather errors in a local file -->
  <!-- ============================= -->

  <appender name="ERROR-FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="${nuxeo.log.dir}/nuxeo-error.log" />
    <param name="Append" value="true" />
    <!-- Rollover at midnight every day -->
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] %m%n" />
      <!--
        The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
        <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
      -->
    </layout>
  </appender>

  <!-- ============================= -->
  <!-- Gather stderr in a local file -->
  <!-- ============================= -->

  <appender name="STDERR-FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="${nuxeo.log.dir}/stderr.log" />
    <param name="Append" value="true" />
    <!-- Rollover at midnight every day -->
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] %m%n" />
    </layout>
  </appender>

  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="INFO" />
    </filter>
  </appender>

  <!-- ====================== -->
  <!-- More Appender examples -->
  <!-- ====================== -->

  <!-- Automation Trace appender - add ref into automation.core category
  <appender name="AUTOMATION" class="org.apache.log4j.DailyRollingFileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
    <param name="File" value="${nuxeo.log.dir}/automation.log"/>
    <param name="Append" value="true"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] [%c] %m%n"/>
    </layout>
  </appender>
  -->

  <!--
    Buffer events and log them asynchronously
    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
      <appender-ref ref="FILE" />
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="SMTP" />
    </appender>
  -->

  <!--
    EMail events to an administrator
    <appender name="SMTP" class="org.apache.log4j.net.SMTPAppender">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
      <param name="Threshold" value="ERROR" />
      <param name="To" value="admin@myhost.domain.com" />
      <param name="From" value="nobody@myhost.domain.com" />
      <param name="Subject" value="Tomcat Server Errors" />
      <param name="SMTPHost" value="localhost" />
      <param name="BufferSize" value="10" />
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="[%d{ABSOLUTE},%c{1}] %m%n" />
      </layout>
    </appender>
  -->

  <!--
    Syslog events
    <appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
      <param name="Facility" value="LOCAL7" />
      <param name="FacilityPrinting" value="true" />
      <param name="SyslogHost" value="localhost" />
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="[%d{ABSOLUTE},%c{1}] %m%n" />
      </layout>
    </appender>
  -->

  <!--
    Log events to JMS (requires a topic to be created)
    <appender name="JMS" class="org.apache.log4j.net.JMSAppender">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
      <param name="Threshold" value="ERROR" />
      <param name="TopicConnectionFactoryBindingName" value="java:/ConnectionFactory" />
      <param name="TopicBindingName" value="topic/MyErrorsTopic" />
    </appender>
  -->

  <!--
    Log events through SNMP
    <appender name="TRAP_LOG" class="org.apache.log4j.ext.SNMPTrapAppender">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
      <param name="ImplementationClassName" value="org.apache.log4j.ext.JoeSNMPTrapSender" />
      <param name="ManagementHost" value="127.0.0.1" />
      <param name="ManagementHostTrapListenPort" value="162" />
      <param name="EnterpriseOID" value="1.3.6.1.4.1.24.0" />
      <param name="LocalIPAddress" value="127.0.0.1" />
      <param name="LocalTrapSendPort" value="161" />
      <param name="GenericTrapType" value="6" />
      <param name="SpecificTrapType" value="12345678" />
      <param name="CommunityString" value="public" />
      <param name="ForwardStackTraceWithTrap" value="true" />
      <param name="Threshold" value="DEBUG" />
      <param name="ApplicationTrapOID" value="1.3.6.1.4.1.24.12.10.22.64" />
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d,%p,[%t],[%c],%m%n" />
      </layout>
    </appender>
  -->

  <!--
    Emit events as JMX notifications
    <appender name="JMX" class="org.apache.log4j.jmx.AppenderDynamicMBean">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
      <param name="Threshold" value="WARN" />
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p [%c] %m" />
      </layout>
    </appender>
  -->

  <appender name="CLASSLOADER" class="org.apache.log4j.RollingFileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="${nuxeo.log.dir}/classloader.log" />
    <param name="Append" value="false" />
    <param name="MaxFileSize" value="500KB" />
    <param name="MaxBackupIndex" value="1" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
    </layout>
  </appender>

  <appender name="TOMCAT" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${nuxeo.log.dir}/tomcat.log" />
    <param name="Append" value="false" />
    <param name="MaxFileSize" value="500KB" />
    <param name="MaxBackupIndex" value="1" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
    </layout>
  </appender>

  <!-- ================ -->
  <!-- Limit categories -->
  <!-- ================ -->

  <category name="org.apache.catalina.loader" additivity="false">
    <appender-ref ref="CLASSLOADER"/>
  </category>

  <category name="org.apache.catalina.core.AprLifecycleListener" additivity="false">
    <priority value="INFO" />
    <appender-ref ref="TOMCAT"/>
  </category>

  <category name="org.jboss.seam">
    <priority value="WARN" />
  </category>
  <category name="org.jboss.ejb3">
    <priority value="WARN" />
  </category>
  <category name="org.jboss.ejb3.cache.simple.StatefulSessionFilePersistenceManager">
    <priority value="WARN" />
  </category>
  <category name="org.jboss.seam.contexts.Contexts">
    <priority value="WARN" />
  </category>
  <category name="org.jboss.seam.contexts.Lifecycle">
    <priority value="WARN" />
  </category>
  <category name="org.jboss.seam.security.permission.PersistentPermissionResolver">
    <priority value="ERROR" />
  </category>
  <category name="org.jboss.mx.loading">
    <priority value="INFO" />
  </category>
  <category name="org.jboss.system.server.Server">
    <priority value="INFO" />
  </category>
  <!-- Limit the JSR77 categories -->
  <category name="org.jboss.management" additivity="true">
    <priority value="INFO" />
  </category>
  <!-- Limit the jboss-serialization to INFO as its DEBUG is verbose -->
  <category name="org.jboss.serial" additivity="true">
    <priority value="INFO" />
  </category>
  <category name="javax.enterprise.resource.webcontainer.jsf.application">
    <priority value="WARN" />
  </category>
  <category name="org.richfaces.log.Config">
    <priority value="ERROR" />
  </category>

  <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
  <category name="org.apache" additivity="true">
    <priority value="INFO" />
  </category>
  <category name="org.apache.cxf">
    <priority value="WARN" />
  </category>
  <category name="org.apache.myfaces.renderkit.html.util.DefaultAddResource">
    <priority value="ERROR" />
  </category>
  <category name="org.apache.zookeeper">
    <priority value="WARN" />
  </category>
  <category name="org.apache.kafka">
    <priority value="WARN" />
  </category>

  <category name="org.ajax4jsf">
    <priority value="INFO" />
  </category>
  <category name="org.ajax4jsf.cache.LRUMapCacheFactory">
    <priority value="ERROR" />
  </category>

  <category name="org.hibernate">
    <priority value="WARN" />
  </category>
  <category name="org.hibernate.engine.StatefulPersistenceContext.ProxyWarnLog">
    <priority value="ERROR" />
  </category>
  <category name="org.hibernate.impl.SessionFactoryObjectFactory">
    <priority value="ERROR" />
  </category>
  <category name="org.hibernate.cache.EhCacheProvider">
    <priority value="ERROR" />
  </category>
  <category name="org.hibernate.hql.ast.tree.FromElementType">
    <priority value="ERROR" />
  </category>
  <category name="org.hibernate.ejb.Ejb3Configuration">
    <priority value="ERROR" />
  </category>

  <category name="org.jbpm">
    <priority value="INFO" />
  </category>
  <category name="org.jbpm.jpdl.xml.JpdlXmlReader">
    <priority value="ERROR" />
  </category>


  <category name="org.nuxeo">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo.ecm.core.storage.dbs.DBSCachingRepository">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo.elasticsearch.ElasticSearchComponent">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo.elasticsearch.audit.ESAuditBackend">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo.elasticsearch.audit.ESAuditMigrationWork">
    <priority value="WARN" />
  </category>

  <category name="org.nuxeo.ecm.platform.query.core.PageProviderClassReplacerRegistry">
    <priority value="WARN" />
  </category>

  <category name="org.elasticsearch.bootstrap">
    <priority value="ERROR" />
  </category>

  <!-- Uncomment to debug SQL statements -->
  <!--
  <category name="org.nuxeo.ecm.core.storage.sql.jdbc">
    <priority value="TRACE" />
  </category>
  -->
  <!-- Uncomment to debug concurrent session execution errors on thread -->
  <!--
  <category name="org.nuxeo.ecm.core.storage.sql.SessionImpl">
    <priority value="DEBUG" />
  </category>
  -->

  <!-- Uncomment to debug fragments pre-processing -->
  <!--
  <category name="org.nuxeo.runtime.deployment.preprocessor">
    <priority value="INFO" />
  </category>
  -->
  <category name="org.nuxeo.runtime.reload">
    <priority value="INFO" />
  </category>
  <category name="org.nuxeo.runtime.osgi.OSGiRuntimeService">
    <priority value="INFO" />
  </category>
  <!-- Uncomment for components registration info -->
  <!--
  <category name="org.nuxeo.runtime.model.impl">
    <priority value="INFO" />
  </category>
  -->
  <category name="org.nuxeo.osgi.application.loader.FrameworkLoader">
    <priority value="INFO" />
  </category>
  <category name="org.nuxeo.osgi.application.StandaloneApplication">
    <priority value="INFO" />
  </category>
  <category name="org.nuxeo.osgi.application.FrameworkBootstrap">
    <priority value="INFO" />
  </category>
  <category name="org.nuxeo.runtime.jboss.deployment.NuxeoDeployer">
    <priority value="INFO" />
  </category>
  <category name="org.nuxeo.runtime.tomcat.NuxeoDeployer">
    <priority value="INFO" />
  </category>
  <!-- Display INFO logs for automation traces when activated -->
  <!-- Add <appender-ref ref="AUTOMATION" /> if using AUTOMATION appender-->
  <category name="org.nuxeo.ecm.automation.core">
    <priority value="WARN" />
  </category>
  <!-- Display by default WARN logs for Automation Scripting -->
  <category name="org.nuxeo.ecm.automation.scripting">
    <priority value="WARN" />
  </category>

  <category name="javax.enterprise.resource.webcontainer.jsf.renderkit">
    <priority value="INFO" />
  </category>
  <category name="javax.enterprise.resource.webcontainer.jsf.application">
    <priority value="INFO" />
  </category>
  <category name="javax.enterprise.resource.webcontainer.jsf.lifecycle">
    <priority value="INFO" />
  </category>

  <!-- Limit the jacorb category to WARN as its INFO is verbose -->
  <category name="jacorb" additivity="true">
    <priority value="WARN" />
  </category>

  <!-- Limit the org.jgroups category to WARN as its INFO is verbose -->
  <category name="org.jgroups" additivity="true">
    <priority value="WARN" />
  </category>

  <!-- Limit the org.quartz category to WARN as its DEBUG is verbose -->
  <category name="org.quartz" additivity="true">
    <priority value="WARN" />
  </category>

  <!-- make Jersey less noisy -->
  <category name="com.sun.jersey.spi.container.servlet.WebComponent">
    <priority value="ERROR" />
  </category>

  <category name="org.apache.shindig.common.xml.XmlUtil">
    <priority value="WARN" />
  </category>

  <category name="org.apache.myfaces.shared_tomahawk">
    <priority value="WARN" />
  </category>

  <category name="org.artofsolving.jodconverter">
    <priority value="WARN" />
  </category>

  <!-- Hide perf warnings -->
  <category name="net.openhft.chronicle.queue.impl.single.SCQIndexing">
    <priority value="ERROR" />
  </category>

  <!--
    Limit JBoss categories
    <category name="org.jboss">
      <priority value="INFO" />
    </category>
  -->

  <!--
    Show the evolution of the DataSource pool in the logs [inUse/Available/Max]
    <category name="org.jboss.resource.connectionmanager.JBossManagedConnectionPool">
      <priority value="TRACE" />
    </category>
  -->

  <!--
    Decrease the priority threshold for the org.jboss.varia category
    <category name="org.jboss.varia">
      <priority value="DEBUG" />
    </category>
  -->

  <!--
    Enable JBossWS message tracing
    <category name="org.jboss.ws.core.MessageTrace">
      <priority value="TRACE" />
    </category>
  -->

  <!--
    Logs these events to SNMP:
    - server starts/stops
    - cluster evolution (node death/startup)
    - When an EJB archive is deployed (and associated verified messages)
    - When an EAR archive is deployed
    <category name="org.jboss.system.server.Server">
      <priority value="INFO" />
      <appender-ref ref="TRAP_LOG" />
    </category>
    <category name="org.jboss.ha.framework.interfaces.HAPartition.lifecycle">
      <priority value="INFO" />
      <appender-ref ref="TRAP_LOG" />
    </category>
    <category name="org.jboss.deployment.MainDeployer">
      <priority value="ERROR" />
      <appender-ref ref="TRAP_LOG" />
    </category>
    <category name="org.jboss.ejb.EJBDeployer">
      <priority value="INFO" />
      <appender-ref ref="TRAP_LOG" />
    </category>
    <category name="org.jboss.deployment.EARDeployer">
      <priority value="INFO" />
      <appender-ref ref="TRAP_LOG" />
    </category>
  -->

  <!-- Clustering logging -->
  <!--
    Uncomment the following to redirect the org.jgroups and org.jboss.ha
    categories to a cluster.log file.
    <appender name="CLUSTER" class="org.apache.log4j.RollingFileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
      <param name="File" value="${nuxeo.log.dir}/cluster.log" />
      <param name="Append" value="false" />
      <param name="MaxFileSize" value="500KB" />
      <param name="MaxBackupIndex" value="1" />
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
      </layout>
    </appender>
    <category name="org.jgroups">
      <priority value="DEBUG" />
      <appender-ref ref="CLUSTER" />
    </category>
    <category name="org.jboss.ha">
      <priority value="DEBUG" />
      <appender-ref ref="CLUSTER" />
    </category>
  -->

  <!-- VCS Storage logging -->
  <!--
  <appender name="STORAGE" class="org.apache.log4j.FileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="${nuxeo.log.dir}/storage.log" />
    <param name="Append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t][%c] %m%X%n" />
    </layout>
  </appender>

  <category name="org.nuxeo.ecm.core.management.jtajca" additivity="false">
    <priority value="TRACE" />
    <appender-ref ref="STORAGE" />
  </category>

  <category name="org.nuxeo.ecm.core.storage.sql.jdbc" additivity="false">
    <priority value="TRACE" />
    <appender-ref ref="STORAGE" />
  </category>
  -->

  <!-- Elasticsearch logging -->
  <!--
  <appender name="ELASTIC" class="org.apache.log4j.FileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="${nuxeo.log.dir}/elastic.log" />
    <param name="Append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t][%c] %m%X%n" />
    </layout>
  </appender>

  <category name="org.nuxeo.elasticsearch" additivity="false">
    <priority value="TRACE" />
    <appender-ref ref="ELASTIC" />
  </category>
  -->

  <!-- See org.nuxeo.ecm.platform.ui.web.shield.ErrorPageForwarder and
  org.nuxeo.ecm.platform.web.common.exceptionhandling.service.ExceptionHandlingContrib in
  nuxeo-services/nuxeo-platform-web-common/src/main/resources/OSGI-INF/exception-handling-contrib.xml -->
  <category name="nuxeo-error-log">
    <priority value="TRACE" />
    <appender-ref ref="ERROR-FILE" />
  </category>

  <!-- System.err redirected by Tomcat to a logger STDERR with level ERROR -->
  <category name="STDERR" additivity="false">
    <priority value="ERROR" />
    <appender-ref ref="STDERR-FILE" />
  </category>

  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->

  <root>
    <level value="WARN" />
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>

</log4j:configuration>
