/* nuxeo-diff-pictures.css */
.nxdiff_image {
 display: block;
 margin-left: auto;
 margin-right: auto;
 max-width: 350px;
 max-height: 350px
}

.nxdiff_resultImage {
 border-style: solid !important;
 border-width: 1px !important;
 border-color: lightgray !important;
}

.nxdiff_imageContainer {
 background-color: white !important;
 margin-top: 0.3em !important;
}

.nxdiff_imageLabel {
 text-align: center;
}

.nxdiff_button {
 height: 30px;
 padding-left: 8px;
 padding-right: 8px;
}

.nxdiff_field {
 /*
	width: 50px !important;
	background-color: #ebebeb !important;
	text-align: center;
	*/
 margin-bottom: 1em !important;
 text-align: center !important;
}

.nnxdiff_fieldlabel {
 padding-left: 10px;
}

.nxdiff_edit {
 vertical-align: middle;
}

.nxdiff_headerInfo {
 padding-left: 15px;
 font-size: smaller;
 color: black;
 font-weight: normal;
 font-style: italic;
}