
body {
  font: 12px Arial, sans-serif;
}

h1 {
  font: bold 11px Tahoma, sans-serif;
  background-color: #666;
  padding: 3px 7px;
  border: 1px solid #000;
  color: #fff;
  -moz-border-radius: 4px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style: square;
}

a {
  color: #009;
  text-decoration: none:
}

table.properties {
  width: 100%;
  margin: 0;
  padding. 0;
  border-collapse: collapse;
}

table.properties td {
  borer: 1px solid #ddd;
  padding: 3px 7px;
  font: 11px Tahoma, Arial;
}

table.properties tr.odd td {
  background-color: #fcfcfc;
}

table.properties td.key {
  text-align: right;
  font-weight: bold;
  width: 15%;
}


/* Image browser */
.album {
  width: 100%;
  padding: 0; 
  float: left;
  background-color: #f6f6f6;
  -moz-border-radius: 8px;
}

.album .imageSingle {
  float: left; 
  margin: 10px; 
  width: 212px; 
  text-align: center; 
  border: 1px solid #999;
  -moz-border-radius: 4px;
  background-color: #fff;
}

.album .imageSingle .image {
  width: 200px; 
  height: 135px; 
  margin: 5px;
 }

.album .imageSingle:hover {
  border: 1px solid #666;
  cursor: pointer;
}

.album .imageSingle:hover .footer {
  color: #666;
}

.album .footer {
  text-align: center;
  color: #999; 
  padding-bottom: 2px; 
  font: bold 11px tahoma;
} 

.album .imageSingle img {
  max-width: 200px; 
  max-height: 135px;
  border: none;
}

.imageFrame {
  margin: 15px 0;
  text-align: center; 
  border: 1px solid #eee; 
  padding: 20px;
}