
body {
  font: 12px Arial, sans-serif;
}

h1 {
  font: bold 15px Arial, sans-serif;
}

ul {
  margin: 0;
  paddig: 0;
  list-style-position: inside;
  list-style: square;
}

a {
  color: #009;
  text-decoration: none:
}

