/* Studio Home pages - lk@nuxeo.com - 11/2009 */

/* Global style */

html, body {
height:100%;
}

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
border:0 none;
font:normal 12px "Lucida Grande", Verdana, sans-serif;
margin:0;
padding:0;
color:#333;
}

iframe {
height:280px;
}

h1 {
font:bold 1.9em "Lucida Grande", Verdana, sans-serif;
margin:10px 0 15px;
color:black;
}

h1 span, h1 a, h1 a:link, h1 a:active, h1 a:visited, h1 a:hover {
font-size: 100%;
}

h2 {
font:normal 1.7em "Lucida Grande", Verdana, sans-serif;
margin:10px 0 15px;
border-bottom:1px dotted #CCCCCC;
color:black;
}

h2 a, h2 a:link, h2 a:active, h2 a:visited, h2 a:hover {
font-size: 100%;
}

h3{
font:normal 17px "Lucida Grande", Verdana, sans-serif;
margin:10px 0 15px;
color:black;
border-bottom:1px dotted #CCCCCC;
}

p {
margin:3px 0px 10px;
}

a, a:link, a:active, a:visited {
color:#0066CC;
text-decoration:none;
}

a:hover {
color:#014A93;
text-decoration:underline;
}

blockquote:before, blockquote:after, q:before, q:after {
content:"";
}

blockquote, q {
quotes:"" "";
}

ol {
margin-left:2em;
}

ul {
list-style-image:url(../images/bullet.png);
margin-left:2em;
}

:focus {
outline-style:none;
}

/* Header style */

.pageheader {
 background: #000000 url("../images/header_nuxeo.png") no-repeat right bottom ;
 border-bottom: 1px solid #BBBBBB;
 padding: 2px 2px 2px 20px;
 text-shadow: 2px 2px 2px #000;
 -moz-box-shadow:  -3px 0px 3px #555555;
 -webkit-box-shadow:  -3px 0px 3px #555555;
 box-shadow:  -3px 0px 3px #555555;
}

.logo {
  float:left;
  padding: 10px 0 5px 10px; 
}

.logo span {
    color: #FFFFFF;
    font: 18px/1.25em 'Lucida Grande',Verdana,Arial,sans-serif;
    padding: 0 30px;
    vertical-align: top;
}

.login {
  float:right;
}

.login input{
border: 1px solid #797979;
background-color:#4D4D4D;
color:#DEDEDE;
padding: 1px 5px;
margin: 0px 5px 0px 0px;
width:100px;
}

.login .button{
font:normal 10px "Lucide Grande", Arial, Sans-serif;
color:#cdcdcd;
border:1px solid #797979;
background:#cecfd1 url(../images/buttons.png) top left repeat-x;
margin:3px 15px 4px 0px;
padding:1px 5px;
width:25px;
cursor:pointer;
}

.login .button:hover{
color:#DEDEDE;
border-color:#92999e;
}

/* Main Content style */

.homeBox {
border:1px solid #CCCCCC;
padding:5px 15px 10px;
margin:10px 5px;
height:300px;
}

.home_button {
background:transparent url(../images/bullet.png) no-repeat scroll left top;
font-size:13px;
margin:0px 10px 5px 0;
padding:3px 5px 0px 18px;
display:block;
}

/* Footer style */

.footer {
background:black url(../images/bottom_gray_bar.png) repeat-x scroll left top;
padding:5px 5px 5px 20px;
height:33px;
border-top:1px solid #d6d6d6;
}

.footer a {
color:#0066CC;
font-size:10px;
}

.copyrights {
color:#939393;
display:inline;
width:500px;
font-size:10px;
}

.links {
float:right;
}

.links span {
color:#939393;
padding:0px 10px;
font-size:10px;
}

.logout {
margin:5px 10px 0px 0px;
color:#D0D0D0;
}

.logout span{
color:#D0D0D0;
}

.logout a,.logout a:link,.logout a:active,.logout a:visited{
color:#fff;
}

.tabs  {
  background-color:#CCCCCC; border-style:solid; border-width:1 1 0 1; border-color:#888888; font-size:12pt; text-align:center;cursor:pointer;padding-top:2px;padding-bottom:2px;
}
.tabselected  {
  background-color:white; font-weight:bold;cursor:default;text-decoration:none;
}

.tabselected a, .tabselected a:hover, .tabselected a:link , .tabselected a:visited , .tabselected a:active{
  text-decoration:none;
  color:black;
  cursor:default;
}

.hiddenResource {
  display:none;
  border-style:solid;
  border-width:1px;
  border-color:black;
}


.resourceToggle {
  cursor:hand;
  padding:2 15 2 2;
  margin:2px;
  color:blue;
  text-decoration:underline;
  background:transparent url(../images/down.gif) no-repeat right center;
}

.resourceToggleUp {
  cursor:hand;
  padding:2 15 2 2;
  margin:2px;
  color:blue;
  text-decoration:underline;
  background:#EEEEFF url(../images/up.gif) no-repeat right center;
}


.blocTitle {
  background-color:#EEEEFF;
  cursor:hand;
  border-style:outset;
  border-width:1 0 0 1;
  border-color:#CCCCCC;
  padding:4px;
  margin: 0 0 8 -2;

}

.blocFrame {
 border-style:solid;
 border-width:1 0 0 1;
 border-color:#CCCCCC;
 margin: 20 3 3 3;
 padding : 0 2 2 2;
}


.bTitle1 {
   font-size:16pt;
}
.bTitle2 {
   font-size:15pt;
}
.bTitle3 {
   font-size:14pt;
}
.bTitle4 {
   font-size:13pt;
}
.bTitle5 {
   font-size:12pt;
}
.bTitle6 {
   font-size:11pt;
}

.docVersionDisplay {
  float:right;
  font-size:10pt;
  padding: 1px;
  border-style:solid;
  border-width:1px;
  border-color:#CCCCCC;
}


.listTable {
  border: 0 none;
  margin: 0px;
  padding: 0px;
  -webkit-border-horizontal-spacing: 0px;
}
.listTable td {
  padding-right: 10px;
}
.listTable th {
  text-align: left;
  font-weight: bold;
  padding-right: 10px;
}


.topheaderTable {
  border: 0 none;
  margin: 0px;
  padding: 0px;
  -webkit-border-horizontal-spacing: 0px;
}
.topheaderTable th {
  text-align: left;
  font-weight: bold;
  padding-right: 10px;
  border-bottom: 1px dotted #CCCCCC;
}
.topheaderTable td {
  padding-right: 10px;
}


.linkTable td {
 border-style:solid;
 border-width:1px;
 border-color:#CCCCCC;
 margin:0px;
 padding:4px;
}
.linkTable {
 border-style:solid;
 border-width:1px;
 border-color:#BBBBBB;
 margin:0px;
 padding:0px;
}

.additionalDocs {
 border-style:solid;
 border-width:2px;
 border-color:#BBBBBB;
 background-color:#CCCCCC;
 margin:3px;
}

.additionalDocPanel {
 border-style:solid;
 border-width:2px;
 border-color:#EEEEEE;
 background-color:white;
 margin:3px;
 padding:4px;

}
.hiddenDocPanel {
 display:none;
}

.catHeader {
 vertical-align:top;
 font-weight:bold;
 font-size:11pt;
}

.linkHolder A {
 font-size:14pt;
 font-weight:bold;
 cursor:hand;
}

.iconHolder {
 text-align:right;
  }

.currentNavPoint, .nav-box li.selected {
  font-weight:normal;
  padding:3px 7px;
  background:#c0dcf5;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

.spacerTab {
    font-size:6pt;
    padding:5px;
    margin:0px;
}

.currentNavPoint td {
  background-color:#CCCCDD;
}

.docContent {
  clear: both;
  color:green;
  //background-color:red;
}
.doc p,ul,li{
  color:black;
  // font-style:italic;
}

.componentId {
  color:black;
  font-family:monospace;
  padding:4px;
  margin;4px;
 }

.componentTitle {
  font-style:italic;
}

.builtindoc {
  color:#444466;
  font-family:monospace;
}

.folder {
  color:red;
  background-color:green;
 }


.currentTreeNode {
  color:red;
  background-color:green;
  font-weight:bold;
 }

.description pre {
  white-space: pre;
  font-family: monospace;
  margin: 10px;
  padding: 7px;
  background-color: #F1F7FF;
  border: 1px dotted #555555;
}

.quickEdit {
  border-style:solid;
  border-width:1px;
  border-color:#777777;
  background-color:#F8F8FF;
 }

.row_odd {
  background-color:#fff;
}

.row_even {
  background-color:#ECF6FF;
}

code, code span {
  font-family: monospace;
}

.tablesorter .header {
  background-position: center left;
  background-repeat: no-repeat;
  padding-left:20px;
}

.tablesorter .headerSortDown {
  background-image: url(../images/down.gif);
}

.tablesorter .headerSortUp {
  background-image: url(../images/up.gif);
}

.tablesorter .odd {
  background-color: #fff;
}

.tablesorter .even {
  background-color: #ECF6FF;
}

/* Design refresh feb 2011 */

/* Apibrowser */

ul.apibrowser {
}

ul.apibrowser li {
  padding: 5px 0;
  margin-left: 5px;
}

ul.apibrowser li a {
  font-size: 16px;
}

li.bundles, li.bundle, li.component, li.service, li.extension, li.contribution {
}

/* All tables */
.tablesorter {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border:1px solid #ccc;
}

.tablesorter td, .tablesorter th {
  padding:5px;
}

.tablesorter th {
  background-color: #333;
  color: white;
  text-align: left;
  font-weight: bold;
}

/* Welcome layout table */
.welcome td {
  padding:10px;
  vertical-align: top;
}

/* Distributions table in welcome page */
.distributions {}

/* Welcome buttton in column */

p.explore {
  background-color: #4E9AE1;
  line-height: 100%;
  padding: 0.5em;
  margin:5px 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border:1px solid #4E9AE1;
  text-align: center;
}

p.explored {
  background-color: #fff;
  line-height: 100%;
  padding: 10px 15px;
  margin:5px 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color:#666;
  border: 1px solid #666;
}

p.explore a {
  color:#fff;
}

p.explore a:visited, p.welcome a:hover {
  color: white;
}

.distributions p {
  margin: 0;
}

p.export {
  background-color: white;
}

p.export a {
  color: #0066CC;
}

p.export a:hover {
  color: #0066CC;
}


/* Nav left */

.nav-box {
  border:1px solid #C0DCF5;
  margin: 10px 0 15px 0;
  padding-bottom: 10px;
}

.nav-box h4 {
  background-color: #4E9AE1;
  padding:5px 10px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  }
  
.nav-box ul {
}

/* Tabs bar */

.tabsbar {
  border-bottom: 6px solid #4E9AE1;
  float: left;
  line-height: normal;
  margin-top: 5px;
  width: 100%;
}

.tabsbar ul {
  list-style: none outside none;
  margin: 0;
  padding: 0 10px 0 0;
  }

.tabsbar ul li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}  

.tabsbar ul li a {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C0DCF5;
  display: block;
  float: left;
  font-weight: normal;
  padding: 3px 7px;
  text-decoration: none;
}

.tabsbar ul li.selected a, .tabsbar ul li a:hover  {
  background-color:#4E9AE1;
  border-color: #4E9AE1;
  color:white;
  }
  
.tabscontent {
  padding:15px;
  padding-top:5px;
}  

.highlight { background-color: yellow }

  
