<link rel="import" href="../../../bower_components/paper-styles/paper-styles.html"></link>
<link rel="import" href="../../../bower_components/nuxeo-elements/nx-connection.html"></link>
<link rel="import" href="../../../bower_components/nuxeo-elements/nx-resource.html"></link>
<link rel="import" href="../../../bower_components/nuxeo-elements/nx-doc-resource.html"></link>
<link rel="import" href="../../../bower_components/nuxeo-elements/popup-confirm.html"></link>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html"></link>
<link rel="import" href="../../../bower_components/paper-input/paper-input.html"></link>
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html"></link>
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html"></link>
<link rel="import" href="../../../permissions/components/popup-permission/popup-permission.html"></link>


<dom-module id="document-permissions">
    <template>
        <nx-doc-resource id="doc" auto="true" doc-id="{{docId}}" doc-path="{{docPath}}" response="{{doc}}"
            enrichers="extendedAcls, permissions, userVisiblePermissions"></nx-doc-resource>

        <div class="bubbleBox">
            <div class="bubbleHeader">
                <h3>[[i18n('label.permissions.locallyDefined', 'Permissions defined locally')]]</h3>
                <template is="dom-if" if="{{hasEverythingRight}}">
                    <popup-permission doc-id="{{doc.uid}}" user-visible-permissions="{{doc.contextParameters.userVisiblePermissions}}"
                        on-acecreated="refresh"></popup-permission>
                </template>
            </div>
            <template is="dom-if" if="{{hasLocalAces}}">
                <div>
                    <table class="dataTable tmp-tab">
                        <tr class="tmp-tab">
                            <th class="tmp-tab">[[i18n('label.permissions.userGroup', 'User / Group')]]</th>
                            <th class="tmp-tab">[[i18n('label.permissions.right', 'Right')]]</th>
                            <th class="tmp-tab">[[i18n('label.permissions.timeFrame', 'Time Frame')]]</th>
                            <th class="tmp-tab">[[i18n('label.permissions.grantedBy', 'Granted by')]]</th>
                            <th class="tmp-tab">[[i18n('label.permissions.actions', 'Actions')]]</th>
                        </tr>
                        <template is="dom-repeat" items="{{localAces}}" as="ace">
                            <tr>
                                <td><span>{{ace.username}}</span></td>
                                <td><span>{{ace.permission}}</span></td>
                                <td><span>{{formatTimeFrame(ace)}}</span></td>
                                <td><span>{{ace.creator}}</span></td>
                                <td>
                                    <template is="dom-if" if="{{hasEverythingRight}}">
                                        <popup-permission doc-id="{{doc.uid}}" ace="{{ace}}" user-visible-permissions="{{doc.contextParameters.userVisiblePermissions}}"
                                            on-aceupdated="refresh"></popup-permission>
                                        <paper-icon-button icon="delete" on-click="localRightsDel" raised="true"></paper-icon-button>
                                        <popup-confirm id="confirmation">
                                            <h2>[[i18n('label.permissions.deleteConfirmation', 'The following permission will be deleted')]]</h2>

                                            <table class="dataTable tmp-tab">
                                                <tr class="tmp-tab">
                                                    <th class="tmp-tab">[[i18n('label.permissions.userGroup', 'User / Group')]]</th>
                                                    <th class="tmp-tab">[[i18n('label.permissions.right', 'Right')]]</th>
                                                    <th class="tmp-tab">[[i18n('label.permissions.timeFrame', 'Time Frame')]]</th>
                                                    <th class="tmp-tab">[[i18n('label.permissions.grantedBy', 'Granted by')]]</th>
                                                </tr>
                                                <tr>
                                                    <td><span>{{ace.username}}</span></td>
                                                    <td><span>{{ace.permission}}</span></td>
                                                    <td><span>{{formatTimeFrame(ace)}}</span></td>
                                                    <td><span>{{ace.creator}}</span></td>
                                                </tr>
                                            </table>
                                        </popup-confirm>
                                    </template>
                                </td>
                            </tr>
                        </template>
                    </table>
                </div>
            </template>
            <template is="dom-if" if="{{!hasLocalAces}}">
                <p class="emptyResult">[[i18n('label.permissions.noLocalPermissions', 'No local permission.')]]</p>
            </template>
        </div>

        <div class="bubbleBox">
            <div class="bubbleHeader">
                <h3>[[i18n('label.permissions.inherited', 'Permissions inherited from upper levels')]]</h3>
                <template is="dom-if" if="{{hasInheritedAces}}">
                    <paper-button id="block" raised="true" on-click="blockInheritance">[[i18n('label.permissions.block', 'Block')]]</paper-button>
                    <paper-tooltip for="block" fitToVisibleBounds="true" position="top" offset="35">[[i18n('label.permissions.blockTooltip', 'Only local permissions will then be applied. You and the administrators will be added to local permissions.')]]</paper-tooltip>
                </template>
                <template is="dom-if" if="{{!hasInheritedAces}}">
                    <span class="label label-warning">[[i18n('label.permissions.blocked', 'Blocked')]]</span>
                    <paper-button id="unblock" raised="true" on-click="unblockInheritance">[[i18n('label.permissions.unblock', 'Unblock')]]</paper-button>
                    <paper-tooltip for="unblock" fitToVisibleBounds="true" position="top" offset="35">[[i18n('label.permissions.unblockTooltip', 'Unblock tooltip')]]</paper-tooltip>
                </template>
            </div>
            <div>
                <template is="dom-if" if="{{hasInheritedAces}}">
                    <table class="dataTable tmp-tab">
                        <tr class="tmp-tab">
                            <th class="tmp-tab">[[i18n('label.permissions.userGroup', 'User / Group')]]</th>
                            <th class="tmp-tab">[[i18n('label.permissions.right', 'Right')]]</th>
                            <th class="tmp-tab">[[i18n('label.permissions.timeFrame', 'Time Frame')]]</th>
                            <th class="tmp-tab">[[i18n('label.permissions.grantedBy', 'Granted by')]]</th>
                        </tr>
                        <template is="dom-repeat" items="{{inheritedAces}}" as="ace">
                            <tr>
                                <td><span>{{ace.username}}</span></td>
                                <td><span>{{ace.permission}}</span></td>
                                <td><span>{{formatTimeFrame(ace)}}</span></td>
                                <td><span>{{ace.creator}}</span></td>
                            </tr>
                        </template>
                    </table>
                </template>
                <template is="dom-if" if="{{!hasInheritedAces}}">
                    <p class="emptyResult">[[i18n('label.permissions.noInheritedText', 'Only local permissions are applied. Unblock to restore the permissions inheritance from upper levels.')]]</p>
                </template>
            </div>
        </div>

        <nx-operation id="rmPermission" op="Document.RemovePermission" input="{{doc.uid}}" on-response="refresh"></nx-operation>
        <nx-operation id="blockOp" op="Document.BlockPermissionInheritance" input={{docId}}
            on-response="refresh"></nx-operation>
        <nx-operation id="unblockOp" op="Document.UnblockPermissionInheritance" input={{docId}}
            on-response="refresh"></nx-operation>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'document-permissions',

        properties: {
            doc: {
                type: Object,
                value: null
            },
            docId: {
                type: String,
                value: ''
            },
            docPath: {
                type: String,
                value: ''
            },
            hasEverythingRight: {
                type: Boolean,
                value: false,
                computed: 'computeEverythingRight(doc)'
            },
            hasLocalAces: {
                type: Boolean,
                value: false,
                computed: 'computeHasLocalAces(doc)'
            },
            hasInheritedAces: {
                type: Boolean,
                value: false,
                computed: 'computeHasInheritedAces(doc)'
            },
            localAces: {
                type: Array,
                value: [],
                computed: 'computeLocalAces(doc)'
            },
            inheritedAces: {
                type: Array,
                value: [],
                computed: 'computeInheritedAces(doc)'
            }
        },

        refresh: function() {
            document.querySelector('#doc').get();
        },

        formatTimeFrame: function(ace) {
            var now = moment();
            var begin = ace.begin;
            var end = ace.end;
            var format = 'D MMM YYYY';

            var sinceStr = this.i18n('label.permissions.since', 'Since') + ' ';
            var fromStr = this.i18n('label.permissions.from', 'From') + ' ';
            var untilStr = this.i18n('label.permissions.until', 'Until') + ' ';
            var untilMiddleStr = ' ' + this.i18n('label.permissions.untilMiddle', 'until') + ' ';

            if (begin !== null && end === null) {
                return (now.isAfter(begin) ? sinceStr : fromStr) + moment(begin).format(format);
            } else if (begin === null && end !== null) {
                return untilStr + moment(end).format(format);
            } else if (begin !== null && end != null) {
                return (now.isAfter(begin) ? sinceStr : fromStr) + moment(begin).format(format) + untilMiddleStr + moment(end).format(format);
            } else {
                return this.i18n('label.permissions.permanent', 'Permanent');
            }
            console.log(this);
        },

        localRightsDel: function(e, i) {
            var self = this;
            e.model.dataHost.previousElementSibling.toggle(function() {
                // Walk on data hosts in order to retrieve the 'item' property from the repeat loop item context
                var item = e.model.dataHost.dataHost.ace;
                self.$.rmPermission.params = {
                    id: item.id
                };
                self.$.rmPermission.execute();
            });
        },

        computeEverythingRight: function(doc) {
            if (doc) {
                return doc.contextParameters.permissions.indexOf('Everything') !== -1;
            }
            return false;
        },

        computeHasLocalAces: function(doc) {
            if (doc) {
                var acls = doc.contextParameters.acls;
                for (var i = 0; i < acls.length; i++) {
                    if (acls[i].name !== 'inherited' && acls.length >= 1) {
                        return true;
                    }
                }
            }
            return false;
        },

        computeHasInheritedAces: function(doc) {
            if (doc) {
                var acls = doc.contextParameters.acls;
                for (var i = 0; i < acls.length; i++) {
                    if (acls[i].name === 'inherited') {
                        return true;
                    }
                }
            }
            return false;
        },

        computeLocalAces: function(doc) {
            var localAces = [];
            if (doc) {
                var acls = doc.contextParameters.acls;
                for (var i = 0; i < acls.length; i++) {
                    var acl = acls[i];
                    if (acl.name !== 'inherited') {
                        for (var j = 0; j < acl.ace.length; j++) {
                            var ace = acl.ace[j];
                            if (ace.granted && (ace.status === 'pending' || ace.status === 'effective')) {
                                ace.aclName = acl.name;
                                localAces.push(ace);
                            }
                        }
                    }
                }
            }
            localAces.sort(this._sortAces);
            return localAces;
        },

        computeInheritedAces: function(doc) {
            var inheritedAces = [];
            if (doc) {
                var acls = doc.contextParameters.acls;
                for (var i = 0; i < acls.length; i++) {
                    if (acls[i].name === 'inherited') {
                        var acl = acls[i];
                        for (var j = 0; j < acl.ace.length; j++) {
                            var ace = acl.ace[j];
                            if (ace.granted && (ace.status === 'pending' || ace.status === 'effective')) {
                                inheritedAces.push(ace);
                            }
                        }
                    }
                }
            }
            inheritedAces.sort(this._sortAces);
            return inheritedAces;
        },

        _sortAces: function(a, b) {
            if (a.begin === null) {
                return -1;
            } else if (b.begin === null) {
                return 1;
            } else {
                var aBegin = moment(a.begin);
                var bBegin = moment(b.begin);
                return aBegin.isBefore(bBegin) ? -1 : 1;
            }
        },

        blockInheritance: function() {
            this.$.blockOp.execute();
        },

        unblockInheritance: function() {
            this.$.unblockOp.execute();
        }
    });
</script>
