<dom-module id="document-permissions">
  <template>
    <style>
      .acl-table {
        display: table;
        border-collapse: collapse;
        width: 100%;
        line-height: 1.3em;
      }

      .acl-table-row {
        display: table-row;
      }

      .acl-table-headers {
        display: table-row;
      }

      .acl-table-row > div {
        display: table-cell;
        border: 1px solid #e7e7e7;
        padding: .6em .4em;
        color: #000;
      }

      .acl-table-headers > div {
        background-color: #f8f9fb;
        font-weight: bold;
      }
    </style>
    <nuxeo-document id="doc" auto doc-id="{{docId}}" doc-path="{{docPath}}" response="{{doc}}"
      enrichers="acls, permissions, userVisiblePermissions" params="{{params}}"></nuxeo-document>

    <div class="bubbleBox">
      <div class="bubbleHeader">
        <h3>[[i18n('label.permissions.locallyDefined', 'Permissions defined locally')]]</h3>
        <template is="dom-if" if="{{hasEverythingRight}}">
          <popup-permission doc-id="{{doc.uid}}"
            user-visible-permissions="{{doc.contextParameters.userVisiblePermissions}}"
            on-acecreated="refresh"></popup-permission>
        </template>
      </div>
      <template is="dom-if" if="{{hasLocalAces}}">
        <div>
          <div class="acl-table">
            <div class="acl-table-row acl-table-headers">
              <div class="tmp-tab">[[i18n('label.permissions.userGroup', 'User / Group')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.right', 'Right')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.timeFrame', 'Time Frame')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.grantedBy', 'Granted by')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.actions', 'Actions')]]</div>
            </div>
            <template is="dom-repeat" items="{{localAces}}" as="ace">
              <div class$="[[aclRowClass(ace)]]">
                <div><span class$="[[entityClass(ace.username)]]" title="[[entityTooltip(ace.username)]]">[[entityDisplay(ace.username)]]</span>
                </div>
                <div><span class="label">[[i18n(ace.permission)]]</span></div>
                <div><span>{{formatTimeFrame(ace)}}</span></div>
                <div><span class$="[[entityClass(ace.creator)]]" title="[[entityTooltip(ace.creator)]]">[[entityDisplay(ace.creator)]]</span>
                </div>
                <div>
                  <template is="dom-if" if="{{hasEverythingRight}}">
                    <popup-permission doc-id="{{doc.uid}}" ace="{{ace}}"
                      user-visible-permissions="{{doc.contextParameters.userVisiblePermissions}}"
                      on-aceupdated="refresh"></popup-permission>
                    <paper-icon-button icon="delete" on-click="localRightsDel"></paper-icon-button>
                    <popup-confirm id="confirmation" delete-label="[[i18n('command.delete', 'Delete')]]"
                      cancel-label="[[i18n('label.permissions.cancel', 'Cancel')]]">
                      <paper-dialog-scrollable>
                        <h2>[[i18n('label.permissions.deleteConfirmation', 'The following permission will be
                          deleted')]]</h2>

                        <div class="acl-table">
                          <div class="acl-table-row acl-table-headers">
                            <div class="tmp-tab">[[i18n('label.permissions.userGroup', 'User / Group')]]</div>
                            <div class="tmp-tab">[[i18n('label.permissions.right', 'Right')]]</div>
                            <div class="tmp-tab">[[i18n('label.permissions.timeFrame', 'Time Frame')]]</div>
                            <div class="tmp-tab">[[i18n('label.permissions.grantedBy', 'Granted by')]]</div>
                          </div>
                          <div class$="[[aclRowClass(ace)]]">
                            <div><span class$="[[entityClass(ace.username)]]" title="[[entityTooltip(ace.username)]]">[[entityDisplay(ace.username)]]</span>
                            </div>
                            <div><span class="label">[[i18n(ace.permission)]]</span></div>
                            <div><span>{{formatTimeFrame(ace)}}</span></div>
                            <div><span class$="[[entityClass(ace.creator)]]" title="[[entityTooltip(ace.creator)]]">[[entityDisplay(ace.creator)]]</span>
                            </div>
                          </div>
                        </div>
                      </paper-dialog-scrollable>
                    </popup-confirm>
                  </template>
                </div>
              </div>
            </template>
          </div>
        </div>
      </template>
      <template is="dom-if" if="{{!hasLocalAces}}">
        <p class="emptyResult">[[i18n('label.permissions.noLocalPermissions', 'No local permission.')]]</p>
      </template>
    </div>

    <div class="bubbleBox">
      <div class="bubbleHeader">
        <template is="dom-if" if="{{canBlockInheritance}}">
          <paper-button id="block" on-click="blockInheritance">[[i18n('label.permissions.block', 'Block')]]
          </paper-button>
        </template>
        <template is="dom-if" if="{{canUnblockInheritance}}">
          <paper-button id="unblock" on-click="unblockInheritance">[[i18n('label.permissions.unblock', 'Unblock')]]
          </paper-button>
        </template>
        <h3>[[i18n('label.permissions.inherited', 'Permissions inherited from upper levels')]]</h3>
        <template is="dom-if" if="{{!hasInheritedAces}}">
          <span class="label label-warning">[[i18n('label.permissions.blocked', 'Blocked')]]</span>
        </template>
      </div>
      <div>
        <template is="dom-if" if="{{hasInheritedAces}}">
          <div class="tips">[[i18n('label.permissions.blockDescription', 'If you want to explicitly control the access
            to this document you can block the permissions inheritance. Any change made on parent document will not
            affect the access conditions to this document. You and the administrators will be added to local
            permissions.')]]
          </div>
          <div class="acl-table">
            <div class="acl-table-row acl-table-headers">
              <div class="tmp-tab">[[i18n('label.permissions.userGroup', 'User / Group')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.right', 'Right')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.timeFrame', 'Time Frame')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.grantedBy', 'Granted by')]]</div>
            </div>
            <template is="dom-repeat" items="{{inheritedAces}}" as="ace">
              <div class$="[[aclRowClass(ace)]]">
                <div><span class$="[[entityClass(ace.username)]]" title="[[entityTooltip(ace.username)]]">[[entityDisplay(ace.username)]]</span>
                </div>
                <div><span class="label">[[i18n(ace.permission)]]</span></div>
                <div><span>{{formatTimeFrame(ace)}}</span></div>
                <div><span class$="[[entityClass(ace.creator)]]" title="[[entityTooltip(ace.creator)]]">[[entityDisplay(ace.creator)]]</span>
                </div>
              </div>
            </template>
          </div>
        </template>
        <template is="dom-if" if="{{!hasInheritedAces}}">
          <p class="emptyResult">[[i18n('label.permissions.noInheritedText', 'Only local permissions are applied.
            Unblock to restore the permissions inheritance from upper levels.')]]</p>
        </template>
      </div>
    </div>

    <div class="bubbleBox">
      <div class="bubbleHeader">
        <h3>[[i18n('label.permissions.externalSharing', 'External Sharing')]]</h3>
        <template is="dom-if" if="{{hasEverythingRight}}">
          <popup-permission doc-id="{{doc.uid}}"
            user-visible-permissions="{{doc.contextParameters.userVisiblePermissions}}"
            share-with-external="true"
            on-acecreated="refresh"></popup-permission>
        </template>
      </div>
      <template is="dom-if" if="{{hasExternalAces}}">
        <div>
          <div class="acl-table">
            <div class="acl-table-row acl-table-headers">
              <div class="tmp-tab">[[i18n('label.permissions.userGroup', 'User / Group')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.right', 'Right')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.timeFrame', 'Time Frame')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.grantedBy', 'Granted by')]]</div>
              <div class="tmp-tab">[[i18n('label.permissions.actions', 'Actions')]]</div>
            </div>
            <template is="dom-repeat" items="{{externalAces}}" as="ace">
              <div class$="[[aclRowClass(ace)]]">
                <div><span class$="[[entityClass(ace.username)]]" title="[[entityTooltip(ace.username)]]">[[entityDisplay(ace.username)]]</span>
                </div>
                <div><span class="label">[[i18n(ace.permission)]]</span></div>
                <div><span>{{formatTimeFrame(ace)}}</span></div>
                <div><span class$="[[entityClass(ace.creator)]]" title="[[entityTooltip(ace.creator)]]">[[entityDisplay(ace.creator)]]</span>
                </div>
                <div>
                  <template is="dom-if" if="{{hasEverythingRight}}">
                    <popup-permission doc-id="{{doc.uid}}" ace="{{ace}}"
                      user-visible-permissions="{{doc.contextParameters.userVisiblePermissions}}"
                      share-with-external="true"
                      on-aceupdated="refresh"></popup-permission>
                    <paper-icon-button icon="delete" on-click="localRightsDel"></paper-icon-button>
                    <popup-confirm id="confirmation" delete-label="[[i18n('command.delete', 'Delete')]]"
                      cancel-label="[[i18n('label.permissions.cancel', 'Cancel')]]">
                      <paper-dialog-scrollable>
                        <h2>[[i18n('label.permissions.deleteConfirmation', 'The following permission will be
                          deleted')]]</h2>

                        <div class="acl-table">
                          <div class="acl-table-row acl-table-headers">
                            <div class="tmp-tab">[[i18n('label.permissions.userGroup', 'User / Group')]]</div>
                            <div class="tmp-tab">[[i18n('label.permissions.right', 'Right')]]</div>
                            <div class="tmp-tab">[[i18n('label.permissions.timeFrame', 'Time Frame')]]</div>
                            <div class="tmp-tab">[[i18n('label.permissions.grantedBy', 'Granted by')]]</div>
                          </div>
                          <div class$="[[aclRowClass(ace)]]">
                            <div><span class$="[[entityClass(ace.username)]]" title="[[entityTooltip(ace.username)]]">[[entityDisplay(ace.username)]]</span>
                            </div>
                            <div><span class="label">[[i18n(ace.permission)]]</span></div>
                            <div><span>{{formatTimeFrame(ace)}}</span></div>
                            <div><span class$="[[entityClass(ace.creator)]]" title="[[entityTooltip(ace.creator)]]">[[entityDisplay(ace.creator)]]</span>
                            </div>
                          </div>
                        </div>
                      </paper-dialog-scrollable>
                    </popup-confirm>
                  </template>
                </div>
              </div>
            </template>
          </div>
        </div>
      </template>
      <template is="dom-if" if="{{!hasExternalAces}}">
        <p class="emptyResult">[[i18n('label.permissions.noExternalSharing', 'No external sharing.')]]</p>
      </template>
    </div>

    <nuxeo-operation id="rmPermission" op="Document.RemovePermission" input="{{doc.uid}}"
      on-response="refresh"></nuxeo-operation>
    <nuxeo-operation id="blockOp" op="Document.BlockPermissionInheritance" input={{docId}}
      on-response="refresh"></nuxeo-operation>
    <nuxeo-operation id="unblockOp" op="Document.UnblockPermissionInheritance" input={{docId}}
      on-response="refresh"></nuxeo-operation>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'document-permissions',

    properties: {
      doc: {
        type: Object,
        value: null
      },
      docId: {
        type: String,
        value: ''
      },
      docPath: {
        type: String,
        value: ''
      },
      hasEverythingRight: {
        type: Boolean,
        value: false,
        computed: 'computeEverythingRight(doc)'
      },
      hasLocalAces: {
        type: Boolean,
        value: false,
        computed: 'computeHasLocalAces(doc)'
      },
      hasInheritedAces: {
        type: Boolean,
        value: false,
        computed: 'computeHasInheritedAces(doc)'
      },
      hasExternalAces: {
        type: Boolean,
        value: false,
        computed: 'computeHasExternalAces(doc)'
      },
      localAces: {
        type: Array,
        value: [],
        computed: 'computeLocalAces(doc)'
      },
      inheritedAces: {
        type: Array,
        value: [],
        computed: 'computeInheritedAces(doc)'
      },
      externalAces: {
        type: Array,
        value: [],
        computed: 'computeExternalAces(doc)'
      },
      canBlockInheritance: {
        type: Boolean,
        value: false,
        computed: 'computeCanBlockInheritance(hasEverythingRight, hasInheritedAces)'
      },
      canUnblockInheritance: {
        type: Boolean,
        value: false,
        computed: 'computeCanUnblockInheritance(hasEverythingRight, hasInheritedAces)'
      },
      params: {
        type: Object,
        value: {
          "fetch.acls": "username,creator,extended",
          "depth": "children",
          "time": new Date().getTime()
        }
      }
    },

    refresh: function () {
      this.params.time = new Date().getTime();
      this.$.doc.get();
    },

    formatTimeFrame: function (ace) {
      var now = moment();
      var begin = ace.begin;
      var end = ace.end;
      var format = 'D MMM YYYY';

      var sinceStr = this.i18n('label.permissions.since', 'Since') + ' ';
      var fromStr = this.i18n('label.permissions.from', 'From') + ' ';
      var untilStr = this.i18n('label.permissions.until', 'Until') + ' ';
      var untilMiddleStr = ' ' + this.i18n('label.permissions.untilMiddle', 'until') + ' ';

      if (begin !== null && end === null) {
        return (now.isAfter(begin) ? sinceStr : fromStr) + moment(begin).format(format);
      } else if (begin === null && end !== null) {
        return untilStr + moment(end).format(format);
      } else if (begin !== null && end !== null) {
        return (now.isAfter(begin) ? sinceStr : fromStr) + moment(begin).format(format) + untilMiddleStr + moment(end).format(format);
      } else {
        return this.i18n('label.permissions.permanent', 'Permanent');
      }
    },

    get permissions() {
      return this.doc && this.doc.contextParameters && this.doc.contextParameters.permissions;
    },

    get acls() {
      return this.doc && this.doc.contextParameters && this.doc.contextParameters.acls;
    },

    localRightsDel: function (e, i) {
      var self = this;
      e.model.dataHost.previousElementSibling.toggle(function () {
        // Walk on data hosts in order to retrieve the 'item' property from the repeat loop item context
        var item = e.model.dataHost.dataHost.ace;
        self.$.rmPermission.params = {
          id: item.id
        };
        self.$.rmPermission.execute();
      });
    },

    computeEverythingRight: function (doc) {
      if (this.permissions) {
        return this.permissions.indexOf('Everything') !== -1;
      }
      return false;
    },

    computeHasLocalAces: function (doc) {
      return this.computeLocalAces(doc).length > 0;
    },

    computeHasInheritedAces: function (doc) {
      return this.computeInheritedAces(doc).length > 0;
    },

    computeHasExternalAces: function (doc) {
      return this.computeExternalAces(doc).length > 0;
    },

    computeLocalAces: function (doc) {
      var localAces = [];
      if (this.acls) {
        for (var i = 0; i < this.acls.length; i++) {
          var acl = this.acls[i];
          if (acl.name !== 'inherited') {
            for (var j = 0; j < acl.aces.length; j++) {
              var ace = acl.aces[j];
              if (ace.granted && (ace.status === 'pending' || ace.status === 'effective') && ace.externalUser === false) {
                ace.aclName = acl.name;
                localAces.push(ace);
              }
            }
          }
        }
      }
      localAces.sort(this._sortAces);
      return localAces;
    },

    computeInheritedAces: function (doc) {
      var inheritedAces = [];
      if (this.acls) {
        for (var i = 0; i < this.acls.length; i++) {
          if (this.acls[i].name === 'inherited') {
            var acl = this.acls[i];
            for (var j = 0; j < acl.aces.length; j++) {
              var ace = acl.aces[j];
              if (ace.granted && (ace.status === 'pending' || ace.status === 'effective')) {
                inheritedAces.push(ace);
              }
            }
          }
        }
      }
      inheritedAces.sort(this._sortAces);
      return inheritedAces;
    },

    computeExternalAces: function (doc) {
      var externalAces = [];
      if (this.acls) {
        for (var i = 0; i < this.acls.length; i++) {
          if (this.acls[i].name !== 'inherited') {
            var acl = this.acls[i];
            for (var j = 0; j < acl.aces.length; j++) {
              var ace = acl.aces[j];
              if (ace.granted && (ace.status === 'pending' || ace.status === 'effective') && ace.externalUser === true) {
                externalAces.push(ace);
              }
            }
          }
        }
      }
      externalAces.sort(this._sortAces);
      return externalAces;
    },

    _sortAces: function (a, b) {
      if (a.begin === null) {
        return -1;
      } else if (b.begin === null) {
        return 1;
      } else {
        var aBegin = moment(a.begin);
        var bBegin = moment(b.begin);
        return aBegin.isBefore(bBegin) ? -1 : 1;
      }
    },

    computeCanBlockInheritance: function (hasEverythingRight, hasInheritedAces) {
      return hasEverythingRight && hasInheritedAces;
    },

    computeCanUnblockInheritance: function (hasEverythingRight, hasInheritedAces) {
      return hasEverythingRight && !hasInheritedAces;
    },

    blockInheritance: function () {
      this.$.blockOp.execute();
    },

    unblockInheritance: function () {
      this.$.unblockOp.execute();
    },

    entityDisplay: function (entity) {
      if (!entity) {
        return '';
      }

      if (typeof entity === 'object') {
        if (entity['entity-type'] === 'user') {
          var id = entity.id;
          var first = entity.properties.firstName;
          var last = entity.properties.lastName;
          if (first === null || first.length === 0) {
            if (last === null || last.length === 0) {
              return id;
            } else {
              return last;
            }
          } else {
            if (last === null || last.length === 0) {
              return first;
            } else {
              return first + ' ' + last;
            }
          }
        } else if (entity['entity-type'] === 'group') {
          var groupLabel = entity.grouplabel;
          return groupLabel !== null && groupLabel.length > 0 ? groupLabel : entity.groupname;
        }
      }
      return entity;
    },

    entityTooltip: function (entity) {
      if (!entity) {
        return '';
      }

      if (typeof entity === 'object') {
        if (entity['entity-type'] === 'user') {
          var email = entity.properties.email;
          return entity.id + (email !== null && email.length > 0 ? ' - ' + email : '');
        } else if (entity['entity-type'] === 'group') {
          return entity.groupname;
        }
      }
      return entity;
    },

    entityClass: function (entity) {
      if (!entity) {
        return '';
      }

      if (typeof entity === 'object') {
        if (entity['entity-type'] === 'user') {
          return 'tag user';
        } else if (entity['entity-type'] === 'group') {
          return 'tag group';
        }
      }
      return '';
    },

    aclRowClass: function (ace) {
      return 'acl-table-row' + ' ' + ace.status;
    }
  });
</script>
