.workflow_node {
  position: relative;
  text-align: center;
  font-size: .92em;
  z-index: 100 }

.workflow_simple_task,
.workflow_multiple_task {
  height: 80px;
  width: 80px;
  color: #006da6;
  padding-top: 1.2em;
  background-color: #f7f8f9;
  border-radius: 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.workflow_simple_task {
  border: 1px solid #3c9ae2; }

.workflow_multiple_task {
  border: 3px double #3c9ae2; }

.workflow_fork_node,
.workflow_merge_node {
  width: 0;
  height: 0;
  border-bottom: 40px solid #a4c9da;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  line-height: 100% }

.workflow_merge_node {
  border-top: 40px solid #dededd;
  border-bottom: 0;
  line-height: 0 }

.workflow_start_node,
.workflow_end_node {
  width: 40px;
  height: 40px;
  background: #92c938;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #fff;
  line-height: 40px }

.workflow_end_node {
  background: #f04545 }

.workflow_subworkflow_task {
  border: 2px solid #3c9ae2;
  background: url("../icons/subworkflow_bg_node.png") no-repeat scroll right bottom white }

.workflow_node_suspended {
  background-color: #3c9ae2;
  font-weight: bold
  color: #e1f0ff;
  box-shadow: 2px 2px 2px #555 }

.workflow_connection_label {
  background-color: white;
  padding: .15em .25em;
  font: 12px sans-serif;
  color: #3780b9;
  z-index: 120;
  border: 1px dotted rgba(0, 0, 0, 0.2);
  opacity: 0.85;
  filter: alpha(opacity = 85);
  max-width: 170px;
  word-wrap: break-word }

.targetDiv {
  position: relative;
  width: 880px;
  height: 720px }

._jsPlumb_endpoint { z-index: 110 }
._jsPlumb_overlay { z-index: 6 }
