 .nv-layout {
    text-decoration: none;
    margin: auto;
    color: rgb(51,51,51);
    border-style: solid;
    border-width: 1px;
    display: block;
    border-color: rgb(221,221,221);
    padding:0.1em px;
    cursor: pointer;
 }
 #layoutManagerContainer {
    height: 130px;
    width: 100%;
    padding-bottom: 7px;
    background-color: rgb(214,213,211);
 }
 
 #closeLayoutManager {
    padding-top: 2px;
    width:100%;
    padding-bottom: 2px;
    background-color: rgb(214,213,211);
    text-align: right;
 }
 #getLayoutManager {
    padding-top: 2px;
    width: 100%;
    padding-bottom: 2px;
    background-color: rgb(214,213,211);
    text-align: left;
    font-family: arial;
    font-size: small;
}

#openLayoutManager {
	padding-left: 5px;
}

#listColumns {
	padding-left: 5px;
	width: 5%;
	float: left;
}
 
 #listLayouts {
    height: 131px;
    width: 92%;
    background-color: rgb(187,187,187);
    float: left;
 }
 
 .listBoxes div.selected {
    background-color: rgb(187,187,187);
 }
 
 #listColumns div button.selected {
    border-color: rgb(187,187,187);
 }
 #listColumns div.selected {
    background-color: rgb(187,187,187);
 }
 #tabLayout li a.selected {
    border: 2px solid rgb(0,0,0);
 }
 
 div.button-container {
    padding: 5px;
 }

#x-1-default {
    background-image: url(/dashboard/resources/images/x-1-default.png);
}
#x-2-default {
    background-image: url(/dashboard/resources/images/x-2-default.png);
}
#x-3-default {
    background-image: url(/dashboard/resources/images/x-3-default.png);
}
#x-3-header2cols {
    background-image: url(/dashboard/resources/images/x-3-header2cols.png);
}
#x-4-footer3cols {
    background-image: url(/dashboard/resources/images/x-4-footer3cols.png);
}

#closeLinkLayoutManager {
	background-image: url(/dashboard/resources/images/close.gif);
	color: rgb(0,0,0);
	margin-right: 10px;
	padding-left: 15px;
	background-repeat: no-repeat;
}

.invisible {
	display:none;
}

.typeLayout {
	height: 75px;
	border: 2px solid rgb(255,255,255);
	width: 100px;
	background-color: rgb(255,255,255);
	display: block;
}

ul.option li {
	list-style-type: none;
	margin: 0 7px 7px 0;
	padding: 2px 0;
	float: left;
}

ul.option {
	height:120px;
	margin-left: 7px;
	margin-top: 5px;
	padding:0;
	overflow: auto;
}

#gadgetManagerContainer {
	height: 130px;
	width: 100%;
	padding-bottom: 7px;
	background-color: rgb(214,213,212);
}
#closeGadgetManager {
	padding-top: 2px;
	width: 100%;
	padding-bottom: 2px;
	background-color: rgb(214,213,211);
	text-align: right;
}

#getGadgetManager {
	padding-top: 2px;
	width: 100%;
	padding-bottom: 2px;
	background-color: rgb(214,213,211);
	text-align: left;
	font-family: arial;
	font-size: small;
}

#openGadgetManager {
	padding-left: 5px;
}

#listCategories {
	padding-left: 5px;
	width:10%;
	float:left;
}
#listGadgets {
	height: 131px;
	width:89%;
	float: left;
	background-color: rgb(187,187,187);
}

.nv-category {
	color: rgb(51,51,51);
	text-decoration: : none;
	font-weight: bold;
	margin: auto;
	padding: 1px;
	display: block;
	font-size:11px;
	cursor: pointer;
}
.nv-category:hover {
    text-decoration: underline;
}

#listCategories div button.selected {
	border-color: rgb(187,187,187);
}
#listCategories div.selected {
	background-color: rgb(187,187,187);
}

#tabGadgets li a.selected {
	border: 2px solid rgb(0,0,0);
}

div.button-container {
	   padding: 5px;
}

#closeLinkGadgetManager {
	background-image: url(/dashboard/resources/images/close.gif);
	color: rgb(0,0,0);
	margin-right: 10px;
	padding-left: 15px;
	background-repeat: no-repeat;;
};

 