// ----- Admin Tab styles.

// ActionBar
.actionBar {
  background-color: $shade-light-20;
  border-bottom: 1px solid $shade-medium-10;
  padding: .9em;
}

.actionBar span {
  margin: 0 .9em 0 0;
}

.actionBar form {
  display: inline;
}

.actionBar form select,
.actionBar form input {
  margin: 0 .4em;
}

.actionBar h3 {
  padding: .3em 0;
}

.actionBar a {
  vertical-align: top;
}

.actionBar label,
.actionBar input[type="checkbox"] {
  vertical-align: middle;
}

// =Marketplace, Nuxeo Online Services & Updates
.marketplace {
  background-color: $shade-light-10;
}

.downloadConfirmation {
  background-color: $shade-light-0;
  border: 1px solid $shade-medium-10;
  margin: 5em auto 8em;
  padding: 1.5em 2.5em;
  width: 500px;
}

.downloadConfirmation h1 {
  border-bottom: 1px solid $shade-medium-10;
  margin-bottom: 1.5em;
  padding: 0 0 1em;
}

.downloadConfirmation table {
  margin: 1.2em 0;
}

.studioUpdateActions {
  margin: .4em 0;
}

.studioUpdateActions span {
  color: $font-color;
  font-weight: bold;
  margin: 0;
}

.hostInfos pre {
  font-size: 135%;
  padding: 1em;
}

.hostInfos pre.bubbleBox {
  white-space: pre-line;
}

// Online Services registration boxes
.nxconnectBox {
  font-size: 105%;
  margin-bottom: 2em;
  padding: 1em 2em 2em;
}

.nxconnectBox h2 {
  border-bottom: 1px solid $shade-medium-10;
  color: $title;
  font-weight: bold;
  margin-bottom: 1em;
}

.nxconnectBox .gridStyle7 {
  font-size: 14px;
  margin-top: 1.5em;
  min-height: 160px;
}

.nxconnectBox .gridStyle7 img {
  float: left;
  margin: 0 1em 0 2em;
  width: 25px;
}

.nxconnectBox .nxconnectStudio,
.nxconnectBox .nxconnectMaintenance,
.nxconnectBox .nxconnectInstance {
  color: $shade-strong-20;
  display: block;
  font-weight: bold;
  padding: .3em 0 .9em;
}

.nxconnectBox .buttonsGadget {
  margin: 0;
  padding: 0 0 2em;
}

.nxconnectBox .button.primary {
  background-color: #ff452a;
  border-color: #ff452a;
  font-size: 1em;
  margin-left: 2em;
}

.nxconnectBox .button.primary:hover {
  background-color: #dd1c00;
  border-color: #dd1c00;
}

.nxconnectBox .gridRow.separate {
  border-top: 1px solid $shade-medium-10;
}

.nxconnectBox .gridStyle6 {
  padding-top: .5em;
}

.nxofflineBox {
  padding: 0 2em 2em;
}

.nxofflineBox .title {
  margin-bottom: 2em;
}

.nxofflineBox .gridStyle1 {
  padding-top: .15em;
  text-align: center;
}

.nxofflineBox .importantLabel {
  display: block;
}

.nxofflineBox .gridStyle11 {
  padding-bottom: 1.5em;
}

.nxofflineBox .required {
  display: block;
  padding: .3em 0;
}

.nxofflineBox .required > input {
  width: 97%;
}

// =Setup Panel
.setupPanel .dataOutput th {
  border-bottom: 1px solid $shade-medium-10;
  font-size: 1.05em;
  padding: 0 0 .4em;
}

.setupPanel .dataOutput td {
  border: 0;
  padding: 0 0 .4em .6em;
}

.setupPanel .dataOutput td.wideLabel {
  width: 340px;
}

.setupPanel .dataOutput td table {
  margin-top: 1em;
}

.setupPanel .actionBar {
  background-color: transparent;
}

.packageUploadBlock {
  padding: 0 0 1em;
}

// =Packages
.packageUploadBlock {
  padding: 0 0 1em;
}

h5 {
  color: $shade-strong-20;
  font-size: 1.1em;
  font-weight: bold;
  margin: 1em 0 .4em;
}

// Fix style inheritance for gadgets
body,
table td,
select {
  font-family: $default-font;
}

p.directoryBack {
  padding: .2em .2em .2em 2em;
}

// Remove padding space from tabContent when the actionBar div or the
//   marketplace message are displayed in the Update Center main tab
#connectAppListing {
  display: block;
  margin: -1.5em 0;
}

.dataTable .wordbreak {
  word-break: break-all }
