// Variables not customizable by Studio

// Fonts
$font-color: #42444e;
$title: #213f7d;

// Shades
$shade-light-0: #fff;
$shade-light-10: #f8f9fb;
$shade-light-20: #f3f6f9;
$shade-light-30: #eee;
$shade-light-50: #e6e9ef;
$shade-medium-10: #c6c6c6;
$shade-medium-20: #aaa;
$shade-medium-30: #9a9a9a;
$shade-strong-10: #7e90a5;
$shade-strong-20: #777;
$shade-strong-30: #292929;
$shade-strong-100: #000;

// Warnings & errors
$info-background: #d9eaff;
$success-background: #d1f5c7;
$warning-background: #ffe3ba;
$error-background: #ffc7ca;
$neutral-background: #fff;
$info-strong: #46a7ff;
$success-strong: #0fd200;
$warning-strong: #ffae00;
$error-strong: #e42000;
$info-label: #597497;
$success-label: #569150;
$warning-label: #e27000;
$error-label: #d4002d;

// Elements
$tabs-selected: #fff;
$subtabs-selected: #fff;

$button: #fff;
$button-disabled: transparent;

$widget: #f1f4f8;

$dropzone: #92cdff;