// Variables that can be customized with Nuxeo Studio

// Header & Footer
$header-background: #fff;
$header-tabs: #00adff;
$header-links: #213f7d;
$footer-background: #dde1ea;
$footer-links: #687b93;

// Pages Colors & Fonts
$tabs-horizontal-color: #00adff;
$tabs-vertical-color: #eee;
$links-color: #0084C3;
$links-hover-color: #00a6f5;
$button-primary: #00adff;
$button-import: #00adff;
$page-background: #f3f6f9;
$column-background: #2b333e;
$default-font: Arial, Helvetica, sans-serif;