<!--
(C) Copyright 2014 Nuxeo SA (http://nuxeo.com/) and contributors.

All rights reserved. This program and the accompanying materials
are made available under the terms of the GNU Lesser General Public License
(LGPL) version 2.1 which accompanies this distribution, and is available at
http://www.gnu.org/licenses/lgpl.html

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

Contributors:
  Vladimir Pasquier <vpasquier@nuxeo.com>
  Vincent Vergnolle <vvergnolle@nuxeo.com>

-->

<link rel="import" href="#{baseURL}bower_components/polymer/polymer.html">
<dom-module id="nx-doc-resource">
    <template>
        <style>
            :host {
                display: none;
            }
        </style>
        <nx-resource connectionId="{{connectionId}}" auto="{{auto}}"
                     path="{{path}}" data="{{data}}" enrichers="{{enrichers}}"
                     params="{{params}}" headers="{{headers}}"
                     type="{{type}}"></nx-resource>
    </template>
</dom-module>

<script>
    Polymer({
        is: "nx-doc-resource",
        properties: {

            /**Inherited properties of nx-resource: TODO -> USE EXTENDS WHEN AVAILABLE**/

            /* The id of a nx-connection to use. */
            connectionId: {type: String, value: ''},

            /* If true, automatically execute the operation when either `path` or `params` changes. */
            auto: {type: Boolean, value: false},

            /* The path of the resource. */
            path: {type: String, value: ''},

            /* The parameters to send. */
            params: {type: Object, value: null},

            /* The response from the server. */
            data: {type: Object, value: null, notify: true},

            /* The `entity-type` of the resource. */
            type: {type: String, value: ''},

            /* The headers of the request.
             * 'Accept': 'text/plain,application/json' is already set by default.
             */
            headers: {type: Object, value: null},

            /* The `content enricher` of the resource. */
            enrichers: {type: String, value: ''},

            /**DOCUMENT PROPERTIES**/
            haslocalrights: {
                type: Boolean,
                value: false,
                notify: true,
                computed: 'hasLocalRightsFunction(data)'
            },
            localrights: {
                type: Array,
                value: [],
                notify: true,
                computed: 'localRights(data)'
            },
            inheritedrights: {
                type: Array,
                value: [],
                notify: true,
                computed: 'inheritedRights(data)'
            }
        },

        localRights: function (data) {
            if(this.hasLocalRightsFunction(data)){
                return data.contextParameters.acls[0].ace;
            }
        },

        inheritedRights: function (data) {
            if(data){
                if(!this.hasLocalRightsFunction(data)){
                    return data.contextParameters.acls[0].ace;
                }else{
                    return data.contextParameters.acls[1].ace;
                }
            }
        },

        hasLocalRightsFunction: function (data) {
            if (data) {
                return data.contextParameters.acls[0].name == 'local';
            }
        },
        isCurrentUserHasEverything: function (data) {
            if (data) {
                return data.contextParameters.permissions.indexOf('Everything') != -1;
            }
        }
    });
</script>
