<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">


<dom-module id="popup-right">
  <template><template is="dom-if" if="{{render}}">
    <paper-button raised="true" on-click="togglePopup">New Access Right</paper-button>
    <paper-dialog id="popupRight">
      <h2>Add new acl right</h2>

      <paper-dialog-scrollable>
        <!-- Give acces to row -->
        <div>
          <div>Give access to</div>
          <div>
            <select flex two>
              <option>User</option>
            </select>
          </div>
        </div>
        <div>
          <div>From</div>
          <div>
            <paper-input
              id="from"
              value="{{from}}"
              readonly>
            </paper-input>
          </div>
        </div>
        <div>
          <div>To</div>
          <div>
            <paper-input
              id="to" value="{{selectedToDate}}"
              readonly class="date">
            </paper-input>
          </div>
        </div>
        <!-- Allowed rights row -->
        <div layout horizontal>
          <div>Allowed rights</div>
          <select flex two>
            <option>Right</option>
          </select>
        </div>
        <!-- Notification -->
        <div layout horizontal>
          <paper-checkbox></paper-checkbox>
          <span>Send a notification ...</span>
        </div>
        <div>
          <iron-autogrow-textarea value="{{val}}">
            <textarea rows="4" value="{{val}}"></textarea>
          </iron-autogrow-textarea>
        </div>
      </paper-dialog-scrollable>

      <div class="buttons">
        <paper-button dialog-dismissive  raised="true">Cancel</paper-button>
        <paper-button dialog-affirmative raised="true">Confirm and add another</paper-button>
        <paper-button dialog-affirmative raised="true">Confirm</paper-button>
      </div>
    </paper-dialog>
  </template></template>
</dom-module>

<script>
  Polymer({
    is: 'popup-right',

    properties: {
      render: {
        type: Boolean,
        value: true
      }
    },

    togglePopup: function() {
      var popupRight = Polymer.dom(this.root).querySelector('#popupRight');
      popupRight.toggle();
    }
  });
</script>