<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler" />
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%C{1}] %m%n" />
    </layout>
  </appender>

  <category name="org.nuxeo.ecm.core.storage">
    <priority value="INFO" /> <!-- DEBUG -->
  </category>
  <category name="org.nuxeo">
    <priority value="INFO" />
  </category>
  <category name="org.jboss">
    <priority value="INFO" />
  </category>
  <category name="com.arjuna">
    <priority value="ERROR" />
  </category>
  <category name="org.hibernate">
    <priority value="WARN" />
  </category>

  <root>
    <priority value="INFO" />
    <appender-ref ref="CONSOLE" />
  </root>
</log4j:configuration>