<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="Target" value="System.out" />
    <param name="Threshold" value="DEBUG" />

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%t %d{HH:mm:ss,SSS} %-5p [%C{1}] %m%n" />
    </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.FileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="target/trace.log" />
    <param name="Append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%t %d{HH:mm:ss,SSS} %-5p [%C{1}] %m %X%n" />
    </layout>
  </appender>

  <!-- Use to display "Nuxeo Platform Started" message -->
  <logger name="org.nuxeo.runtime.osgi.OSGiRuntimeService">
    <level value="INFO" />
  </logger>

  <logger name="org.nuxeo.ecm.core.bulk">
    <level value="INFO" />
  </logger>

  <root>
    <priority value="WARN" />
    <appender-ref ref="CONSOLE" />
  </root>

</log4j:configuration>
