// Can 't be in theme because javascript creation

.dataInput {
  height: 100%;
  width: 100%;
}

.labelColumn {
  width: 200px;
  margin: 10pt;
  vertical-align: top;
  font-weight: bold;
}

.fieldColumn {
  vertical-align: top;
  margin: 10pt;
}

.button {
  margin: 10pt;
}

#importset_creation_panel {
  margin: 10pt;
}

