// Cant be in theme because javascript creation

.rich-mp-content-table {
 min-width:450px;
}

.ImportSetFormPanel {
 width:540px;
}

.CreateUserFormPanel {
 width:540px;
}

.rich-mp-content-table .dataOutput {
  border-collapse: collapse;
}

.rich-mp-content-table .dataOutput:first-child th {
  background:#E8E8E9 url(/nuxeo/img/table_header.png) repeat-x left top;
  padding: 2px;
  border: 1px solid #999;
}

.rich-mp-content-table .dataOutput:first-child td {
  padding: 2px;
  border: 1px solid #999;
}

.rich-mp-content-table .dataOutput .dataInput td {
  padding: 0px;
  border: none;
}

.dataInput {
  font:normal 11px "Lucida Grande", Verdana, sans-serif;
  height: 100%;
  width: 100%;
}

.labelColumn {
  font:normal 11px "Lucida Grande", Verdana, sans-serif;
  width: 160px;
  margin: 10px;
  vertical-align: top;
  font-weight: bold;
}

.fieldColumn {
  font:normal 11px "Lucida Grande", Verdana, sans-serif;
  vertical-align: top;
  margin: 10px;
}

.fieldColumn a img {
  border:none;
}


.fieldColumn input {
  font:normal 11px "Lucida Grande", Verdana, sans-serif;
  margin:0 5px 0 0;
  width:285px;
  border:1px solid #dedede;
}

.fieldColumn .dataInputTextDate {
  width:250px;
}

.fieldColumn button{
  margin:5px 0 0 0;
}

.fieldColumn textarea{
  font:normal 11px "Lucida Grande", Verdana, sans-serif;
  width:285px;
  border:1px solid #dedede;
}

.fieldColumn select{
  font:normal 11px "Lucida Grande", Verdana, sans-serif;
  margin:0 0 5px;
  width:290px;
}

.buttonsGadget{
  text-align:center;
}

h3 {
  font:normal 15px "Lucida Grande", Verdana, sans-serif;
  color:#3c3c3c;
  margin:10px 0px 15px;
}

.button {
  font:normal 11px "Lucida Grande", Verdana, sans-serif;
  color:#333333;
  border:1px solid #bfc5cb;
  background:#cecfd1 url(/nuxeo/img/buttons.png) top left repeat-x;
  margin:5px 10px 10px 0;
  padding:2px 5px;
  cursor:pointer;
}

.button:hover{
  color:#000000;
  border-color:#92999E;
}

#importset_creation_panel {
  margin: 10px;
}

#fileUploadForm {
  height:98px;
  width:465px;
  margin-bottom:30px;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
}

.centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: auto;
}

.hidelink {
  border: none;
}
