/* Left panel containing the factory box */
#nxthemesWebWidgetFactoryPanel {
  width: 200px;
  background-color: #ddd;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.nxthemesWebWidgetFactoryPanelStrip {
  width: 7px;
  background: url(${basePath}/skin/nxthemes-webwidgets/img/strip-bg.png) repeat-y;
}

#nxthemesWebWidgetFactoryPanelStripOpen {
  top: 25px;
  position: absolute;
  cursor: pointer;
}

#nxthemesWebWidgetFactoryPanelStripClose {
  top: 25px;
  position: absolute;
  cursor: pointer;
}

/* Widget factory box */
.nxthemesWebWidgetFactoryBox {
  background-color: #f3f0f0;
  border: 1px solid #333;
}

.nxthemesWebWidgetFactoryBox img {
  border: none;
}

.nxthemesWebWidgetFactoryBox div.header {
  font: bold 11px Arial, sans-serif;
  padding: 5px;
  border-bottom: 1px dotted #336;
  background: #f3f0f0 url(${basePath}/skin/nxthemes-webwidgets/img/panel-bg.png) repeat-x;
}

.nxthemesWebWidgetFactoryBox ul.body {
  margin: 0;
  padding: 0;
  list-style: none;
}

li.nxthemesWebWidgetFactory {
  cursor: move;
  font: 10px Arial, sans-serif;
  border-bottom: 1px dotted #336;
  padding: 7px;
  text-transform: uppercase;
}

li.nxthemesWebWidgetFactory:hover {
  background-color: #fff;
}

li.nxthemesWebWidgetFactory img {
  vertical-align: bottom;
}

li.nxthemesWebWidgetFactory span.description {
  display: block;
  font-size: 12px;
  text-transform: none;
}

/* Edit form */
form.nxthemesWebWidgetsEditForm {
  padding: 4px;
  margin: 1px;
  text-align: left;
  background-color: #eee;
}

form.nxthemesWebWidgetsEditForm label {
  font: bold 11px Arial, sans-serif;
  color: #333;
}

form.nxthemesWebWidgetsEditForm input,
form.nxthemesWebWidgetsEditForm button,
form.nxthemesWebWidgetsEditForm textarea,
form.nxthemesWebWidgetsEditForm select {
  font: 12px Arial, sans-serif;
  border: 1px solid #999;
  padding: 1px;
}

form.nxthemesWebWidgetsEditForm table {
  width: 100%;
  border: none;
  margin-bottom: 6px;
  padding: 0;
}

form.nxthemesWebWidgetsEditForm table td {
  padding: 2px 0;
  font: 12px Arial, sans-serif;
}

/* Widget box, container, panel, etc. */
div.nxthemesWebWidget {
}

div.nxthemesWebWidgetContainer {
  min-height: 70px;
}

ins.nxthemesWebWidgetPanel {
  display: none;
}

.nxthemesWebWidgetDragHandle {
  cursor: move;
}

.nxthemesWebWidgetsUploadBox {
  border: 1px solid #999;
  padding: 5px;
  background-color: #f3f3f3;
}
