/**
  Layout demo specific CSS
**/

/* HEADER */
span.subtitle {
  color: #213f7d;
  display: inline-block;
  font: bold 18px/1.25em Arial,sans-serif;
  padding: .8em 1em 0 2.5em;
  text-transform: none;
  vertical-align: top;
}

div.customButtons {
  float: right;
  padding: 0 10px 0 0;
}

div.customButtons p {
  color: #dedede;
  border-radius: 0 0 5px 5px;
  background-color: #212121;
  border: 1px solid #333;
  color: #153e6b;
  margin-left: 10px;
  padding: 2px 15px 5px;
}

div.customButtons a,div.customButtons a:link,div.customButtons a:visited {
  color: #ccc;
}

div.customButtons a:hover {
  color: #fff;
}

/* MENU */
ul.layoutDemoMenu a,ul.layoutDemoMenu a:hover,ul.layoutDemoMenu a:visited {
  display: block;
  padding: 3px 7px;
}

ul.layoutDemoMenu li.selected a,ul.layoutDemoMenu li.selected a:hover,ul.layoutDemoMenu li.selected a:visited {
  display: block;
  background: #d9eaff;
  border-radius: 3px;
}

/* MAIN CONTENT */

.nxMainContainer h3 {
  color: #46a7de;
  font-size: 1.4em;
}

ul.layoutDemoList,.layoutDemoList li {
  list-style-type: circle;
  padding: 1px 1px 1px 15px;
}

.foldableBox pre.prettyprint {
  border: medium none;
  font-size: 1.2em;
  line-height: 110%;
}
