/**
  Layout demo specific CSS
**/

.layoutDemoPage {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

.layoutDemoPage td {
  padding: 0px;
}

/* HEADER */
.header div.nuxeoLogo {
  padding: .3em 0 .2em 1.5em }

.nxHeader .nuxeoLogo>a:link {
  opacity: 1;
}

div.nuxeoLogo span {
  color: #213f7d;
  font: 18px/1.25em Arial, sans-serif;
  padding: 0 30px;
  text-transform: none;
  vertical-align: top;
}

div.customButtons {
  float: right;
  padding: 0 10px 0 0;
}

div.customButtons p {
  color: #dedede;
  border-radius: 0 0 5px 5px;
  background-color: #212121;
  border: 1px solid #333;
  color: #153e6b;
  margin-left: 10px;
  padding: 2px 15px 5px;
}

div.customButtons a,div.customButtons a:link,div.customButtons a:visited {
  color: #ccc;
}

div.customButtons a:hover {
  color: #fff;
}

/* MENU */
div.layoutDemoLeftMenu {
  padding: 10px;
}

ul.layoutDemoMenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.layoutDemoMenu li {
  margin-left: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.layoutDemoMenu a,ul.layoutDemoMenu a:hover,ul.layoutDemoMenu a:visited
  {
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 3px 7px;
}

ul.layoutDemoMenu li.selected a,ul.layoutDemoMenu li.selected a:hover,ul.layoutDemoMenu li.selected a:visited
  {
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 3px 7px;
  background: #d9eaff;
  border-radius: 3px;
}

/* MAIN CONTENT */
.nxMainContainer .content {
  background-color: #f1f4f8;
  padding: 1em;
}

.layoutDemoPage td:nth-child(2) {
  padding: 0 2em;
}

.layoutDemoPage td:nth-child(2) td {
  padding: .5em .6em .5em 0;
}

div.mainContent {
  padding: 1em 0;
}

.layoutDemoPage h3 {
  color: #46a7de;
  font-size: 1.4em;
}

ul.layoutDemoList,.layoutDemoList li {
  list-style-type: circle;
  padding: 1px 1px 1px 15px;
}

.foldableBox pre.prettyprint {
  border: medium none;
  font-size: 1.2em;
  line-height: 110%;
}