<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="Target" value="System.out" />
    <param name="Threshold" value="WARN" />

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%t %d{HH:mm:ss,SSS} %-5p [%C{1}] %m%n" />
    </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.FileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="target/trace.log" />
    <param name="Append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%t %d{HH:mm:ss,SSS} %-5p [%C{1}] %m %X%n" />
    </layout>
  </appender>
  
  <category name="org.nuxeo.ecm.core.work.WorkQueuing">
    <priority value="TRACE"/>
    <appender-ref ref="FILE"/>
  </category>
  
  <category name="org.nuxeo.ecm.core.work.api.WorkSchedulePath">
    <priority value="TRACE"/>
    <appender-ref ref="FILE"/>
  </category>

  <!-- Needed by TestTrashBackwardMechanism -->
  <logger name="org.nuxeo.ecm.core.lifecycle.event.BulkLifeCycleChangeListener">
    <level value="DEBUG" />
  </logger>

  <logger name="org.nuxeo.ecm.core.storage.mongodb.MongoDBRepository">
    <level value="WARN" />
  </logger>
  <logger name="org.nuxeo.ecm.core.storage.mem.MemRepository">
    <level value="WARN" />
  </logger>
  <logger name="org.nuxeo.ecm.core.storage.sql.jdbc.JDBCLogger">
    <level value="WARN" />
  </logger>

  <root>
    <priority value="WARN" />
    <appender-ref ref="CONSOLE" />
  </root>

</log4j:configuration>
