// This file is read by org.nuxeo.ecm.platform.api.login.UserSession

nuxeo-client-login {
 	org.jboss.security.ClientLoginModule  required;
};

nuxeo-system-login {
	org.nuxeo.ecm.platform.api.login.SystemLoginModule  required;
	org.jboss.security.ClientLoginModule  required password-stacking="true";
};

