
body, html {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1000px;
    font: normal 12px Verdana, sans-serif;
}

table.main {
    border: 0px;
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.main td {
    padding: 0px;
}

table.header {
    background-color:black;
    border: 0px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.header td {
    font: normal 12px Verdana, sans-serif;
    padding: 4px;
    color: white;   
    vertical-align: middle;
}
