<?xml version="1.0"?>
<component name="org.nuxeo.ecm.webengine.config">

  <documentation>
    @author Bogdan Stefanescu (bs@nuxeo.com)
    Default Objects
  </documentation>


  <extension target="org.nuxeo.ecm.webengine.WebEngineComponent"
    point="binding">
    <binding type="Document" object="WebObject" />
  </extension>

  <extension target="org.nuxeo.ecm.webengine.WebEngineComponent"
  	point="webObject">
  	<object id="WebObject" extends="default">
  		<actions>
  			<action id="view" enabled="true">
          <permission  expression="READ"/>
          <category>VIEW</category>
        </action>
        <action id="print" enabled="true">
          <permission expression="READ" />
        </action>
        <action id="delete" enabled="true" handler="org.nuxeo.ecm.webengine.actions.DeleteActionHandler">
          <permission expression="WRITE" />
        </action>
        <action id="update" enabled="true" handler="org.nuxeo.ecm.webengine.actions.UpateActionHandler">
          <permission expression="WRITE" />
        </action>
        <action id="edit" enabled="true">
          <permission expression="WRITE" />
        </action>
        <action id="create" enabled="true" handler="org.nuxeo.ecm.webengine.actions.CreateActionHandler">
          <permission expression="WRITE" />
        </action>
        <!--action id="getfile" enabled="true" handler="org.nuxeo.ecm.webengine.actions.GetFileActionHandler">
          <permission expression="READ" />
        </action>
        <action id="addfile" enabled="true" handler="org.nuxeo.ecm.webengine.actions.AddFileActionHandler">
          <permission expression="WRITE" />
        </action>
        <action id="deletefile" enabled="true" handler="org.nuxeo.ecm.webengine.actions.DeleteFileActionHandler">
          <permission expression="WRITE" />
        </action-->
      </actions>
  	</object>
  </extension>

</component>
