
/* Styles for nxthemes-widgets.js javascript library */

/* tooltip */
.nxthemesTooltip {
  font: 13px verdana, arial, sans-serif;
  padding: 0.7em;
  background-color: #ffc;
  border-color: #666;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  width: 200px;
  z-index: 1000;
}

/* Contextual menu */
.nxthemesContextMenu {
  font: 11px arial;
  border: 1px solid #333;
  background-color: #eeeeec;
  color: #000;
  z-index: 10;
  width: 135px;
}

.nxthemesContextMenu a {
  cursor: default;
  text-decoration: none;
  vertical-align: middle;
  color: #000;
  padding: 3px 5px 3px 5px;
  white-space: nowrap;
}

.nxthemesContextMenu a img {
  border: none;
  padding-right: 9px;
  vertical-align: bottom;
}

.nxthemesContextMenu .title {
  background-color: #aaa;
  font: bold 11px Arial, sans-serif;
  text-transform: capitalize;
  padding: 2px 0 2px 0;
  border-bottom: 1px solid #444;
  cursor: default;
  text-align: center;
  margin-bottom: 2px;
}

.nxthemesContextMenu .separator {
  border-bottom: 1px solid #ccc;
  margin: 2px;
}

.nxthemesContextMenu a.selected {
  font-weight: bold;
}

.nxthemesContextMenu a.disabled {
  color: #ccc;
}

.nxthemesContextMenu a.disabled:hover {
  background-color: #eeeeec;
  color: #ccc;
}

.nxthemesContextMenu a:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

.nxthemesContextMenu .submenu {
  background-color: #eeeeec;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  margin-top: -2px;
}

.nxthemesContextMenu .submenuitem {
  padding-right: 20px;
}

.nxthemesContextMenu .arrow {
  float: right;
  margin-right: -20px;
}

/* Contextual actions */
.nxthemesContextActions {
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #fff9cf;
  border: 1px solid #dd9;
}

.nxthemesContextActions a {
  cursor: default;
  text-decoration: none;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: 6px center;
  color: #000;
  display: block;
  float: left;
  padding: 5px 10px 5px 4px;
}

.nxthemesContextActions a img {
  border: none;
  padding-right: 5px;
  vertical-align: bottom;
}

/* Buttons */

.nxthemesButton b, .nxthemesButton a {
  font: 12px arial;
  color: #000;
  padding-top: 3px;
  padding-bottom: 3px;
  float: left;
}

.nxthemesButton b {
  background-position: 0 0;
  margin-left: 3px;
  padding-left: 15px;
}

.nxthemesButton a {
  background-position: 100% 0;
  text-decoration: none;
  padding-right: 15px;
}

.nxthemesButton.selected b {
  background-position: 0 -25px;
}

.nxthemesButton.selected a {
  background-position: 100% -25px;
}

.nxthemesButton.highlighted b {
  background-position: 0 -50px;
}

.nxthemesButton.highlighted a {
  background-position: 100% -50px;
}

.nxthemesButton.dropList b {
  background-position: 0 -75px;
}

.nxthemesButton.dropList a {
  background-position: 100% -75px;
}


/* Tabs */
.nxthemesTabs ul {
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.nxthemesTabs li {
  display: inline;
  text-decoration: none;
  padding: 4px 0px 4px 20px;
  background-repeat: no-repeat;
}

.nxthemesTabs li.selected {
  border-bottom: 1px solid #f0f0f0;
}

.nxthemesTabs a {
  color: #000;
  text-decoration: none;
  padding: 4px 20px 4px 0px;
  background-repeat: no-repeat;
}

.nxthemesTabs img {
  vertical-align: top;
}
