/*
CSS that overrides default select2 styles and uses nuxeo platform flavors for colors.
author: lkemen@nuxeo.com
*/

/* Basic elements */
a { text-decoration: none }

/* Borders, color, corners and fonts */
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 2px }

.select2-container .select2-choice {
  border-radius: 2px 4px 4px 2px }

.select2-container-multi .select2-choices .select2-search-field input {
	font-family: inherit }

.select2-container-multi.select2-container-active .select2-choices {
  border-color: "color.major.strong (__FLAVOR__ border)";
  box-shadow: 0 0 3px #ffd820;
  color: "info.status (__FLAVOR__ color)" }
