/*
CSS that overrides default select2 styles and uses nuxeo platform flavors for colors.
author: lkemen@nuxeo.com
*/

/* Borders, color, corners and fonts */
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 2px }

.select2-container .select2-choice {
  border-radius: 2px 4px 4px 2px }

.select2-container a:link,
.select2-container a:hover {
 color: "default (__FLAVOR__ color)";
 text-decoration: none }

.select2-container-multi .select2-search-field {
  margin: 0 0 0 .5em }

.select2-container-multi .select2-choices .select2-search-field input {
	font-family: inherit }

.select2-container-multi.select2-container-active .select2-choices {
  border-color: "color.major.strong (__FLAVOR__ border)";
  box-shadow: 0 0 3px #ffd820;
  color: "info.status (__FLAVOR__ color)" }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  cursor: text;
  margin: 0 0.3em 0 0 }

.select2-container-active .select2-focused,
.select2-container-active .select2-focused:focus {
  box-shadow: none }

.select2-container-multi .select2-choices .select2-search-choice {
  background: none #fff }

.select2-container-multi .select2-search-choice-close {
  top: 3px }

.select2-drop,
.select2-results .select2-highlighted {
  color: "default (__FLAVOR__ color)" }

.select2-results .select2-highlighted {
  background: "color.major.medium (__FLAVOR__ background)" }

.select2-results .select2-searching,
.select2-results .select2-no-results,
.select2-results .select2-result-label {
  font-size: .8em;
  padding: .3em .5em }

.select2-results .select2-result-label {
  padding: .1em .5em .2em }

/* make select2 appears in front of fancybox */
.select2-drop {
  z-index : 10099 }

.select2-drop-mask {
  z-index : 10098 }

/* Customize readonly mode used for view mode */
div.select2-container-disabled > a.select2-choice,
div.select2-container-disabled > ul.select2-choices {
  border: 0;
  background: none repeat scroll 0 0 #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  cursor: text }

div.select2-container-disabled > a.select2-choice {
  height: auto;
  line-height: inherit;
  padding: 0 }

div.select2-container-disabled span.select2-arrow {
  display: none !important }

/* Customize sortable mode */
.ui-sortable .select2-search-choice {
	cursor: move }
