environments:
  runtimeUnitTests:
    values:
    - apps/base/environments/unit-tests-runtime.yaml
  mongodbUnitTests:
    values:
    - apps/base/environments/unit-tests-mongodb.yaml
  postgresqlUnitTests:
    values:
    - apps/base/environments/unit-tests-postgresql.yaml
  upgradeTest:
    values:
    - apps/base/environments/upgrade-test.yaml
  benchmark:
    values:
    - apps/base/environments/benchmark.yaml
    - apps/base/values/env-values-nuxeo-ingress.yaml.gotmpl
values: # values for all environments and helmfiles
- apps/base/values/env-values-global.yaml.gotmpl
---
helmfiles:
- path: apps/helmfile-base.yaml.gotmpl
  values:
  - {{ toYaml .Values | nindent 4 }}
