<?xml version="1.0"?>
<module name="base" root-type="base" path="/" headless="true">

  <links>
    <!--link id="link_print" path="/@views/print">
      <category>TOOLBOX</category>
    </link-->

    <link id="link_help" path="/help">
      <category>HELP</category>
    </link>
    <link id="link_about" path="/about">
      <category>HELP</category>
    </link>
  </links>

</module>
