
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

h2 {
  text-transform: capitalize;
}

div.title {
  padding: 1px;
}

img.icon {
  padding: 10px;
}

div.message {
  padding: 10px;
}

div.message em {
  color: #930;
}

pre {
  font-size: 0.9em;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  padding: 0.5em;
}

