/* a wrapper element that tracks the mouse vertically */
.vjs-thumbnail-holder {
  position: absolute;
}

.video-js .vjs-thumbnail-holder img.vjs-thumbnail {
  max-height: none;
  max-width: none;
}

/* the thumbnail image itself */
.vjs-thumbnail {
  position: absolute;
  left: 0;
  bottom: 1.3em;
  opacity: 0;
  transition: opacity .2s ease;
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
}

/* fade in the thumbnail when hovering over the progress bar */
.vjs-progress-control:hover .vjs-thumbnail {
  opacity: 1;
}

/* ... but hide the thumbnail when hovering directly over it */
.vjs-progress-control:hover .vjs-thumbnail:hover {
  opacity: 0;
}

.vjs-thumbnail-relativeHolder {
  position: relative;
}
