/* Wizard Styles */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Global style + reset */
html, body {
  height: 100%;
  width: 100%;}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  border: 0 none;
  font: normal 14px / 20px 'Open Sans', Arial, sans-serif;
  color: #041f34;
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

body {
  background: url("../images/bg.png") no-repeat fixed right bottom #002543;}

hr {
  color: #fff;
  height: 1px;
  margin: 20px 0 10px;}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 200;}

h1 {
  font-size: 1.3em;
  margin: 0 0 15px;
  color: #00adff;}

h2 {
  font-size: 1.2em;
  margin: 2em 0 1em;
  color: #2466a3;}

h3 {
  color: #2466a3;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1.5em 0 .3em;}

h4 {
  font-size: 1.15em;
  color: #5290ca;}

h5 {
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.1em;
  font-weight: bold;
  margin: 1em 0;
  color: #2466a3 ;
  padding: 1.5em 0 .5em; }

h6 {
  font-size: 13px;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 5px;}

p {
  margin: 3px 0 10px;}

a,a:link,a:active,a:visited {
  color: #00adff;
  text-decoration: none;}

a:hover {
  color: #0079b3;
  text-decoration: none;}

ul {
  margin-left: 2em;}

table {
  border-collapse: collapse;}

td {
  padding: 3px 20px 5px 0;
  vertical-align: top;}

b, strong, .bold {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 200;}

input[type="text"], input[type="password"], textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 rgba(0, 0, 0, 0.3) inset;
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  outline: 0 none;
  padding: 0.65em 1em;
  width: 100%;}

textarea {
  border: 1px solid #dedede;
  font: 12px 'Open Sans', Arial, sans-serif;
  padding: 2px 3px;}

:focus {
  outline-style: none;
  }

input:focus, textarea:focus {
  background-color: #fff;
  border-color: #2e9cff;
  box-shadow: 0 0 5px #c1e4ff;
  color: #1166aa;
}

.centered-waiter {
 text-align: center;}

/**** Page Layout ****/

/* Header */
#topbar {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 1.2em 0 .9em;
  position: relative; }

#topbar a {
  display: inline-block;
  padding: 0 0 0 2em;}

.visibility {
  visibility: hidden;}

/* Main Container */
.container {
  width: 1000px;
  margin: auto; }

.mainBlock {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0;}

/* Left Column - steps */
.leftCell {
  width: 23%;
  padding: 1em 0 2em;
  background-color: #1166aa;}

.navItem {
  margin: .2em 0;
  color: #d8eeff;
  padding: .8em;
  font-size: .95em;
  position: relative;
  letter-spacing: .015em;
  padding-left: 4em;}

.navItem a {
  display: block;
  text-decoration: none; }

.navItemSelected {
  background-color: #fff;
  color: #004881;}

.navItemSelected a,
.navItem a.checked,
.navItem a:checked:hover {
  background: transparent url(../images/checked.png) 0 1px / 16px no-repeat;
  font-weight: 200;
  padding: 0 0 0 1.8em;
  margin-left: -1.8em;}

.navItem a.checked {
  color: #fff; }

.navItem.navItemSelected:after {
  display: block;
  width: .9em;
  background-color: #00adff;
  height: .9em;
  z-index: 10;
  margin: 0 0 0 -1.8em;
  content: '';
  border-radius: 2em;
  position: absolute;
  top: 1.1em;
  }

.navItem:hover a,
.navItemSelected a,
.navItemSelected a.checked {
  color: #00adff;}

/* Main Column - content */
.mainCell {
  width: 77%;
  padding: 2em 3em;}

.screenDescription {
  font-size: 120%;
  margin-bottom: 1em;
  display: block;
  line-height: 1.4em; }

.packageDescription {
  font-size: 90%;
  margin-left: 5%;
  color: #95a5b1;}

.screenExplanations,
.warnBlock, .errBlock {
  background-color: #f7f8f9;
  border-left: 1px solid #0af;
  display: block;
  margin: .5em 0 1.5em;
  padding: 1em; }

.warnBlock, .errBlock {
  border-left: 1px solid #dd4900;}

.errItem,
.warnBlock, .errBlock {
  color: #dd6800;}

.infoBlock {
  background-color: #f7f8f9;
  border-left: 1px solid blue;
  color: #1275a9;
  display: block;
  margin: 1em 0;
  padding: .5em 1em;}

.infoItem {
  color: #00B;}

/* Tables & Forms */
.labelCell {
  font-weight: 200;
  width: 200px;
  vertical-align: middle;}

.helpCell,
.detail {
  color: #95a5b1;}

.helpCell {
  padding-bottom: 1em;}

.serverconf td .helpCell,
.userdirgeneral td .helpCell,
.userdirmapping td .helpCell,
.body-groupdir td .helpCell,
.fieldmapping td .helpCell,
.addconf td .helpCell,
.serverconf td a,
.userdirgeneral td a,
.userdirmapping td a,
.body-groupdir td a,
.fieldmapping td a,
.addconf td a {
  display: inline-block;
  padding: .3em 0 0 }

#emergencySettings td:nth-child(2) {
  padding-right: 0;}

/* Buttons */
.buttonContainer {
  margin: 2.5em 0;
  text-align: right;}

.glossyButton,a.glossyButton,
#checkNetwork, #checkAuth,
#testUserLdapParam, #testGroupLdapParam  {
  background-color: #00adff;
  border-radius: 2em;
  border: 2px solid #00adff;
  color: white;
  letter-spacing: .015em;
  font-size: 14px;
  margin-bottom: 1em;
  padding: .7em 1em;
  transition: all 0.2s ease-in-out 0s;}

#checkNetwork, #checkAuth, #testUserLdapParam, #testGroupLdapParam {
  font-size: .8em;
  margin: .5em .2em;
  padding: 0 .5em;
  border-radius: 0;
}

.glossyButton.endButton {
  background-color: #00bd43;
  border-color: #00bd43;
}

#btnPrev {
  background-color: transparent;
  border: 2px solid #8a99a5;
  font-weight: normal;
  color: #788590;
  float: left; }

.glossyButton:hover,
a.glossyButton:hover,
#btnPrev:hover,
#checkNetwork:hover, #checkAuth:hover,
#testUserLdapParam:hover, #testGroupLdapParam:hover  {
  background-color: #0075af;
  border-color: #0075af;
  color: #fff;
  cursor: pointer; }

.glossyButton.endButton:hover {
  background-color: #00d84c;
  border-color: #00d84c;
}


/* Step: Proxy - Step: SMTP */
#proxySettings table,
#proxyLogin table,
table.smtp,
.serverconf table,
.userdirgeneral table,
.userdirmapping table,
.body-groupdir table,
.fieldmapping table,
.addconf table {
  width: 100%}

/* Step: Modules download */
.formPadding {
  overflow: auto;
  border-style: solid;
  border-width: 0;
  margin-bottom: 1em;}

.formPadding ul {
  list-style: none outside none;
  margin: 0;}

.formPadding li {
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 200;
  padding: 0 0 .5em;}

/* Step: Modules selection */
#tree ul {
  margin-left: 0;}

#tree h2:first-of-type {
  margin-top: 0;
}

#treeul label {
  font-weight: bold;
}

#treeul input[type="checkbox"] {
  margin: 0 .8em .7em 0;}

.hide, ul.hide,
#treeul span,
#treeul .expanded,
#treeul .collapsed {
  display: none;}

.blocContainer {
  margin: 1em .4em 2em 0;}

.presetLabel {
  font-size: 133%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 200;}

.presetBtn {
  border: 1px solid #666;
  padding: 0.5em 1em;
  margin: 0.3em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 0.5em;}

.presetBtn:hover {
  background-color: #def;}

.nxpblock {
  border: 2px solid white;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 200;
  border-radius: .5em;
  cursor: pointer;
  padding: 7px 0;}

.nxpblock:hover {
  box-shadow: 0 0 .3em #666;}

.unselectedBloc {
  filter: alpha(opacity=30);
  opacity: .3;}

.nxprow {
  margin: 4px;
  width: 100%;
  height: 34px;}
/* Step: Summary*/
.highlighted {
  color: #00adff;}

/* Hidden Step: Package Download */
.progressbar {
  margin-top: 10px;
  margin-bottom: 30px;}
.downloadProgress {
  background-color: green;
  height: 12px;
  border-radius: 2px;}

/* Package Selection */
.packageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.package {
  flex-basis: 30%;
  border: 1px solid #ddd;
  padding: 1em;
  position: relative;
  box-sizing: border-box;
  margin: 0 .7em .8em 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border-bottom: 3px solid transparent;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE11+ only */
  .package {
    flex-basis: 27%;
  }
}

.package:hover,
.package.checked {
  cursor: pointer;
  z-index: 100;
  border-bottom: 3px solid #00adff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.package.checked {
  border-bottom: 3px solid #00bd43;
}

.package:after {
  content: '\002714';
  position: absolute;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 3em;
  width: 1.5em;
  height: 1.5em;
  color: #ddd;
  text-align: center;
  top: -7px;
  right: -7px;
}

.package.checked:after {
  border-color: #00bd43;
  background-color: #00bd43;
  color: #fff;
}

.package label {
  font-weight: bold;
}

.package .packageDescription {
  padding: .5em 0;
  margin: 0;
}

.package input {
  display: none;
}

body .package.disabled {
  background-color: #f3f5f6;
  border-bottom: 3px solid #00bd43;
}

/* Footer style */
.rightCell {
  width: 0;
  padding: 0;
  display: none;}

.footer {
  padding: 1em;
  font-size: .85em;
  text-align: center;
  color: #b7cbda;}

.footer a, .footer a:visited {
  font-size: .85em;
  color: #788590; }

.footer a:hover {
  color: #0075af; }

.footer span a {
  display: inline-block;
  margin: 0 0.2em;}

.nuxeoIFrame {
  border: none;
  height: 600px;
  width: 250px;
  background-color: #fff;}

/* User form */

.required:after {
  content: '*';
  padding-left:0.2em;
  color:red;
  font-size:133%;
}

#CLID {
  word-break: break-all;
}