/*====== Default User Center CSS in one file - lk@nuxeo.com - Sept 2011 ======*/


/*-------- CSS Structure
=Generics
   =Resets
   =Common
     =Links and Titles
     =Forms elements
     =Buttons
     =Global helpers
=Common Parts
   =Header
     =Search
     =UserServices
     =MainTabs
   =Tabs
   =Main Area
     =Tabs Content
     =Action Bar
     =Layout View & Resume Tab
     =Manage tab
     =Tables
     =Foldable Boxes
     =Tips and Messages
     =Syndication Button
     =Comments
     =Advanced Search
     =PopUps
   =Footer
=Common details
=Specific for DM
  =Main Frame
    =Breadcrumb
    =Document View
  =Left Column
    =Tree Link
    =Clipboard & Worklist
+ unused ?
To move to addons:
- Poll
- Faceted Search
- PictureBook
----------------------*/

/* Colors
Text = #c6c6c6, #777, #9a9a9a, #444, #000 + #0079a6 Blue + #f56200 Orange + #42a600 Green
Titles= #5c5c5c + #848484
Links = #fff + #666 + #000 + #0079a6 Blue + #00416b Blue + #d7e3f1 BlueLight +  #7693a3 BlueGray
Buttons = #f5f2f5 + #dfdfdf / #eee + #c9c9c9 /
Borders = #e7e7e7 + #c6c6c6 +  #aaa + #292929 + #70bbff Blue + #ff4e00 Orange + #ffc000 Yellow
Backgrounds = #f6f6f6 + #c6c6c6 + #d2d2d2+ #e6f6ff BlueLight + #cfecff BlueSky + #adf Blue + #207594 Blue+ #101b3f BlueDark + #fff1c6 YellowLight + #ffc3a6 RedLight + #101b3f BlueDark
*/

/*///////////// =Generics /////////////*/
/*---- =Resets ----*/
html, body { font-size: 100%;	line-height: 1.125em;	color: #444 }

html, body, textarea { font-family: "Lucida Grande", Arial, Helvetica, Geneva, sans-serif }

html, body, form, div, p, ul, a, h1, h2, h3, h4, h5, h6, form, p, input, table,
dd, dt, dl, img, hr, fieldset {	margin: 0;	padding: 0 }

ul { list-style: none outside none }
img { border: 0 none }
img, a { outline: medium none }

/*---- =Common ----*/
/*-- =Links and Titles */
a, a:link, a:visited { color: #0079a6; text-decoration: none }
a:hover { color: #00416b; text-decoration: underline }

h1, h2, h3 { color: #5C5C5C; font-weight: bold }
h1 { font-size: 1.4em; padding: .4em 0 .5em }
h2 { font-size: 1.2em; padding: .5em 1em .5em 0 }
h3 { font-size: 1.2em; padding: .8em 0 .3em }
h4, h5, h6 { color: #9a9a9a;font-size: .8em; margin: .2em 0 .2em 0 }

/*-- =Forms elements */
textarea { padding: 5px }
.selectDocumentType { margin-top: 10px }
.checkBox { margin-right: 3px }
.required { background: transparent url("${org.nuxeo.ecm.contextPath}/icons/required.gif") top right no-repeat; padding: 0 10px 0 0 }

/*-- =Buttons */
.button, input.button {
	box-shadow:inset 0px 1px 0px 0px #fff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f2f5), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #f5f2f5 5%, #dfdfdf 100% );
	background: linear-gradient( center top, #f5f2f5 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f2f5', endColorstr='#dfdfdf');
	background-color:#dfdfdf;
	border-radius:3px;
	border:1px solid #c6c6c6;
	color:#000;
	cursor: pointer;
	font-size: .9em;
	font-weight:bold;
	margin: 5px 10px 10px 0;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #fff }

input.button:hover {
  background: none repeat scroll 0 0 #f6f6f6;
	border: 1px solid #aaa }

input.button[disabled=disabled], input.button[disabled=disabled]:hover {
	background: none repeat scroll 0 0 #f6f6f6;
	border: 1px solid #c9c9c9;
	color: #9a9a9a;
	cursor: default }

input.major {
	background: none repeat scroll 0 0 #0080B0;
	border: 1px solid #014C68;
	color: #fff }

input.small { font-size: 0.85em; padding: 3px }

/*-- =Global helpers */
.clear { clear:both }
.boldLabel { font-weight: bold }
.floatRight { float: right }
.floatLeft { float: left }
.alignCenter { text-align: center }
.alignRight { text-align: right }
.alignLeft { text-align: left }
.wide {width: 570px }
.fullWidth { width: 100% }

/*///////////// =Common Parts /////////////*/
/*---- =Header----*/
.header {
  background: none repeat scroll 0 0 #101B3F;
  border-bottom: 2px solid #fff;
	height:36px;
	overflow: auto;
	width:100% }
.header .logo {text-align: center; vertical-align:bottom; width: 18% }
.header .content { padding: 0 10px 0 0; vertical-align: bottom;	width: 82%; font-size: .75em }
.header .includes { width: 0 }
.header a, .header a:link, .header a:visited, .header a:hover, .header a:active { color: #fff }

/*-- =Search */
.userSearchBlock { float: right }
.searchService { padding-top: 5px }
.searchService input.button { margin: 3px 5px 0 3px; padding: 2px }
.advancedSearchLink a { font-size: .8em }
/* Fix rss-font-grid inheritance from Opensocial */
.searchService input.directoryFilter { padding: 1px 0 }

/*-- =UserServices */
.userServicesBlock { float: left; padding-top: 10px }
.userServicesBlock a:hover { text-decoration: none }

/*-- =MainTabs */
.mainTabs { float: left }
.mainTabs li {
    background-color: #207594;
    display: inline;
    float: left;
    margin: 0 5px }
.mainTabs a, .mainTabs a:visited {
    color: #d7e3f1;
    display: inline-block;
    padding: 5px 11px 7px }
.mainTabs li.selected { background-color: #fff }
.mainTabs li.selected a, .mainTabs li.selected a:hover, .mainTabs li.selected a:visited { color: #000; font-weight: bold }

.userMenuActions {
    color: #c6c6c6;
    float: left;
    font-size: .9em;
    margin: 0 0 0 15px;
    text-align: left }
.userMenuActions ul { height: 28px }
.userMenuActions ul li { float: left; text-align: left }

.header .userMenuActions a {
    background-color: #fff;
    color: #7693a3;
    display: block }

.userMenuActions a.userButton {
    background: url("${org.nuxeo.ecm.contextPath}/icons/user.png") no-repeat scroll 3px center transparent;
    padding: 3px 8px 5px 23px }
.userMenuActions ul li a:hover, .userMenuActions ul li:hover { background-color:#fff; color:#000 }
.userMenuActions li ul {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    display: none;
    height: auto;
    position: absolute;
    width: 180px;
    z-index: 1000 }
.userMenuActions li:hover ul { display:block }
.userMenuActions ul li li { width: 180px }
.userMenuActions li ul a { padding: 4px 4px 4px 22px }
.userMenuActions ul ul a:hover { background-color:#cfecff }

/*---- =Tabs ----*/
.tabsBar {
  border-bottom:1px solid #aaa;
  float:left;
  margin-top:5px;
  width:100% }
.tabsBar ul {
  list-style:none outside none;
  margin:0;
  padding:0 10px 0 0 }
.tabsBar li {
  float:left;
  margin:0 2px -1px 4px;
  padding:0 }
.tabsBar a,.tabsBar a:visited {
  background:none repeat scroll 0 0 #f6f6f6;
  border:1px solid #f6f6f6;
  color:#777;
  display:block;
  float:left;
  padding:3px 7px;
  text-decoration:none }
.tabsBar li.selected a,.tabsBar li a:hover,.tabsBar li.selected a:visited {
  background:none repeat scroll 0 0 #fff;
  border-color:#aaa #aaa white;
  border-style:solid;
  border-width:1px;
  color:#000;
  padding:3px 7px 4px }

.subtabsBar {border-bottom:1px solid #f6f6f6; font-size: .9em}
.subtabsBar a,.subtabsBar a:visited { color:#777 }
.subtabsBar li.selected a,.subtabsBar li a:hover,.subtabsBar li.selected a:visited {
  border-color:#c6c6c6 #c6c6c6 #fff; border-style:solid; border-width:1px; color:#444 }

/*---- =Main Area ----*/
.mainContainer { min-height: 600px; width: 100%; font-size: .8em }
.mainContainer .content {
  background: url("${org.nuxeo.ecm.contextPath}/img/theme_galaxy/galaxy_logo.png") no-repeat scroll right bottom #fff;
  padding: 0;
  width: 100% }

/*-- =TabsContent */
.tabsContent { font-size: .98em; margin: 0; padding: 5px 10px 10px 10px }

/*-- =Action Bar */
.action_bar { float: left; line-height: normal; margin: 10px 10px 10px 0 }
.action_bar_message { float: right; font-size: .8em; margin: 0 }
.action_bar_message form { display: inline; text-align: right }
.action_bar ul { list-style: none; margin: 0; padding: 0 10px 0 0 }
.action_bar li { float: left; margin: 0; padding: 0 }
.action_bar a {
  box-shadow:inset 0px 1px 0px 0px #fff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f2f5), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #f5f2f5 5%, #dfdfdf 100% );
  background: linear-gradient( center top, #f5f2f5 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f2f5', endColorstr='#dfdfdf');
  background-color:#eeeff0;
  border-radius:3px;
  border:1px solid #c6c6c6;
  color:#000;
  cursor: pointer;
  float: left;
  font-size: .9em;
  font-weight:bold;
  margin-right: 10px;
  padding:4px 8px;
  text-decoration:none;
  text-shadow:1px 1px 0px #fff }
.action_bar a:hover { background: none repeat scroll 0 0 #f6f6f6; border: 1px solid #aaa }
.action_bar a img { margin: 0 3px -2px -4px }

.listingLayoutSelector { float: right; margin: 11px 0 10px 7px; text-align: right }
.listingLayoutSelector .contentViewPageSelectorDesc { float: left; padding: 0 4px 0 0 }
.listingLayoutSelector .langSelect { float: left; font-size: 0.8em; padding: 1px }

/*-- =Layout View and Resume Tab Styles */
.layoutViewMode { margin: 0; padding: 0 }
.layoutViewMode li { display: inline }
.layoutViewMode a img { border: 1px solid #fff }
.layoutViewMode a:hover img, .layoutViewMode li.selected img { border: 1px solid #aaa }

.summary_div_0 { float: left; padding: 10px 0; width: 62% }
.summary_div_1 { float: right; font-size: .9em; padding: 10px 0; width: 33% }
.summary_div_2 { clear: both }

.summary_div_1 h3.summaryTitle { color: #9a9a9a; font-size: 1.1em }

.contentViewTitle { float: left; line-height: normal; margin: 10px 10px 10px 0 }

h3.summaryTitle {
  border-bottom: 1px solid #aaa;
  color: #9a9a9a;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 17px 0 3px 0 }

.description_block span { display: block; font-size: .8em; padding-bottom: 10px }
.dublincore_block table.floatingLeftTable { float: left; margin-right: 100px }
.labelColumnLeftAlign { font-weight: bold; padding-right: 30px }
.rank_block, .publication_block, .attachments { margin-top: 15px }

.content_block table { margin-bottom: 10px; width: 100% }
.content_block td { padding: 0; vertical-align: top }
.content_block .labelColumn { width: 100px }
.content_block .actionsColumn { vertical-align: top; width: 20% }
.content_block img { padding: 0 5px }

.note_content_block { border: 1px solid #c6c6c6; margin: 0 0 15px; padding: 15px }
.note_content_block span, .note_content_block p { font-size: 1.05em; line-height: 1.8em }

.lockFile_block, .restoreFile_block { padding: 0 0 10px }
.lockDetail, .DetailList { padding-top: 5px }
.summary_locked { color: #f56200; font-weight: bold }
.summary_unlocked { color: #42a600; font-weight: bold }

.lcAndVersion { border: 1px solid #c6c6c6; padding: 3px }

.actions_block { border: 1px solid #c6c6c6; margin: 10px 0; padding: 10px 7px 3px }

.comments_block .commentBlock { border: none }
.comments_block .commentQuote { margin: 5px 0 5px 24px }

.metadata_block .dataInput td { padding: 3px }

/*--  =Manage tab */
.rightsAdd { margin: 10px 0 10px 0 }
.rightsAddTitle { background-color: #f6f6f6; border: 1px solid #c6c6c6; padding: 5px; text-align: center }
.rightsAddLabel { font-weight: bold; padding: 0 5px 0 0 }
.rightsAddSelect { margin-top: 0}
.rightsAddManager {
  background: transparent url("${org.nuxeo.ecm.contextPath}/img/rightsadd_bar.gif") no-repeat center;
  margin: 3px 0 0 0;
  width: 100% }
.rightsAddManager td {
  background-color: #fff;
  border: 1px solid #c6c6c6;
  margin: 0 10px 0 10px;
  padding: 10px }
.rightsAddManager .labelColumn { width: 80px }

.userAndGroupSearch { margin: 0 }
.userAndGroupFilter { margin: 15px 0 0 0 }

.buttonsGadgetNoForm { margin: 0 5px }

.directoryFilter, .searchField {
  border: 1px solid #c6c6c6;
  font-size: 11px;
  margin: 0 5px 10px 0;
  padding: 3px }

.relationPredicateColumn { vertical-align: top; width: 100px }
.relationCommentList { background: transparent }
.relationCreateLabelColumn { width: 100px }

.archiveTabContent { margin-left: 18px }
.archiveTabContent .notEditable { background-color: #fff; border: none }
.archiveTabContent .currentDocumentInformation { background-color: #eeeff0 }

.taskAssign {
  background: #eeeff0;
  border: 1px solid #c6c6c6;
  display: block;
  margin: 5px 0 10px 0;
  padding: 5px;
  text-align: center }

/*-- =Tables */
table thead th { padding: 3px; text-align: left }

.dataList { background: white; border-collapse: collapse; margin: 0 }
.dataList td {
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
  padding: 5px 3px }
.dataList thead th {
  background: #f6f6f6;
  border-bottom: 1px solid #c6c6c6;
  color: #777;
  padding: 5px 3px;
  text-align: left }
.dataList thead th a, .dataList thead th a:link, .dataList thead th a:visited { color: #777; text-decoration: none }
.dataList thead th a:hover { text-decoration: underline }

.dataInput { margin-top: 5px }
.dataInput td, .rightsAddManager .dataInput td { border: 0 solid #FFF; padding: 7px 4px }
.dataInput td td, .dataInput td td td { padding: 3px 4px }
.dataInput .button { margin: 0 10px 0 0 }
.dataInput textarea, .dataInput .dataInputText { width: 500px }
.dataInput textarea, .dataInput .dataInputText, .dataInput .dataInputTextNoSize { border: 1px solid #aaa; padding: 4px; vertical-align: top }
.dataInput select { padding: 2px 1px 2px 1px; vertical-align: top }
.archiveTabContent .dataInput { border: none; margin-bottom: 15px }
.dataInputGroup { margin: 0; padding: 0; vertical-align: top }

.dataOutput, .dataOutput2Columns {
  border-collapse: collapse;
  margin-top: 7px;
  margin-bottom: 5px }
table.dataOutput thead th {
  background-color: #f6f6f6;
  border-bottom: 1px solid #c6c6c6;
  color: #777;
  padding: 5px 3px;
  text-align: left }
.dataOutput td {
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
  padding: 5px 3px }
.dataOutput td table td { border: 0 none transparent }
.dataOutput, .dataOutput2Columns, .dataList { width: 100% }
.dataOutput2Columns td { padding: 5px 3px; vertical-align: top }
table.dataOutput thead th a, table.dataOutput thead th a:hover, table.dataOutput thead th a:active, table.dataOutput thead th a:visited { color: #777 }
.dataOutput .button { margin: 2px 10px 2px 0 !important }
table.dataOutput th a img { margin: 0 0 0 2px; padding: 0; vertical-align: bottom }

.boldColumn { font-weight: bold !important }
.buttonColumn { text-align: center; width: 280px }
.focusColumn { background-color: #f6f6f6 }
.radioColumn {
  padding: 0 0 0 5px;
  vertical-align: top;
  width: 8px }
.iconColumn { text-align: center; width: 20px }
.iconColumn .cell { background: none; width: 40px }
.iconColumn .dropInto { background-color: #f6f6f6 }
.iconColumn img { background: none; position: relative; z-index: 25 }
.twoColumns { width: 50% }
.fieldColumn img { margin: 0 4px; vertical-align: top }

.buttonsGadgetNoForm .button { margin-right: 10px }
.buttonsGadget { margin: 5px 0 5px 40px }
.smallButtonsGadget { margin: 0 0 5px 100px }

.labelColumn { font-weight: bold; vertical-align: top; width: 120px }
.labelColumn span { display: block; padding-right: 8px }
.workflowLabelColumn { width: 120px }

.relationCommentList td { border: 0 none }
.relationObjectColumn { vertical-align: top; width: 100px }
.relationCommentColumn { vertical-align: top }
.relationActionsColumn { text-align: center; vertical-align: top; width: 60px }
.relationCreateFieldColumn, .fieldColumn, .workflowFieldColumn { vertical-align: top }
.relationCreateFieldColumn table, .fieldColumn table, .workflowFieldColumn table { border: 0 none #fff; margin: 0; vertical-align: top }

.selectDocumentType td { padding: 3px }
.selectDocumentType td a img { margin-right: 4px; vertical-align: top }

.vocabularyEntryContent { margin-left: 18px }
.vocabularyEntryContent .notEditable { background-color: #fff }
.vocabularyEntryContent .dataInput { border: none; margin-bottom: 15px }

.taskPrincipalSelect select { margin: 5px 0 10px 15px; padding: 2px 1px 2px 1px }

table.trashTable tbody tr:hover { background-color: #fff1C6 }

.dataRowOdd:hover, .dataRowEven:hover {	background-color: #e6f6ff }

/*-- =Foldable Boxes */
.foldableBox { border-bottom: 1px solid #e7e7e7; font-size: .9em; margin-bottom: 20px }

.foldableBox h3 {
  background-color: #fff;
  border: 1px solid #c6c6c6;
  font-size: 1.1em;
  height: 20px;
  padding: 3px 3px 3px 18px }
.foldableBox h3.folded {
  background: #eeeff0 url("${org.nuxeo.ecm.contextPath}/icons/arrow_folded.gif") top left no-repeat }
.foldableBox h3.unfolded {
  background: #eeeff0 url("${org.nuxeo.ecm.contextPath}/icons/arrow_unfolded.gif") top left no-repeat;
  clear: both }
.foldableBox h3.foldedDisabled {
  background: #eeeff0 none;
  border-bottom: 1px solid #c6c6c6;
  color: #555 }
.foldableBox h3 span, .foldableBox h3 a:link, .foldableBox h3 a:visited, .foldableBox h3 a:hover, .foldableBox h3 a:visited:hover {
  color: #000;
  display: block;
  float: left;
  padding-right: 10px }
.foldableBox h3 a.warningLink { color: #f56200 }
.foldableBox h3 a.action, .foldableBox h3 a.action:visited {
  box-shadow:inset 0px 1px 0px 0px #fff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f2f5), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #f5f2f5 5%, #dfdfdf 100% );
  background: linear-gradient( center top, #f5f2f5 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f2f5', endColorstr='#dfdfdf');
  background-color:#eeeff0;
  border-radius:3px;
  border:1px solid #c6c6c6;
  color:#000;
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 5px;
  padding: 0 6px;
  text-decoration:none;
  text-shadow:1px 1px 0px #fff }
.foldableBox h3 a.action:hover, .foldableBox h3 a.action:visited:hover { background: none repeat scroll 0 0 #f6f6f6; border: 1px solid #aaa }

.foldableBox .boxBody { clear: both; padding: 10px }

.foldableLightBox { margin-bottom: 20px }
.foldableLightBox div.folded {background: #fff url("${org.nuxeo.ecm.contextPath}/icons/arrow_folded.gif") top left no-repeat }
.foldableLightBox div.unfolded { background: #fff url("${org.nuxeo.ecm.contextPath}/icons/arrow_unfolded.gif") top left no-repeat }
.foldableLightBox div.folded a, .foldableLightBox div.unfolded a { color: #777; float: left }
.foldableLightBox div.folded, .foldableLightBox div.unfolded {
  border-bottom: 1px solid #e7e7e7;
  color: #777;
  font-size: .8em;
  height: 18px;
  padding: 3px 3px 3px 18px }
.foldableLightBox .boxBody {
  border: 1px solid #e7e7e7;
  border-top: none;
  clear: both;
  font-size: .8em;
  padding: 10px }

.massEditForm foldableBox { margin-right: 15px }

/*-- =Tips and Messages */
.facesStatusMessage { bottom: 0; left: 0; position: absolute; z-index: 1000 }
.facesStatusMessage ul, .infoFeedback ul, .warningFeedback ul, .errorFeedback ul { list-style-type: none; width: 500px }

.errorMessage, .infoMessage, .warningMessage, .infoFeedback  {
  background-color: #fff;
  border-color:#c6c6c6;
  border-width: 1px;
  border-style: solid solid none none;
  border-radius: 0 10px 0 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  color: #000;
  display: block;
  list-style: none;
  margin: 0;
  padding: 10px 15px }

.errorMessage, .errorFeedback { background-color:#ffc3a6; border-color: #FF4E00 }
.warningMessage, .warningFeedback { background-color: #fff1C6; border-color:#FFC000 }
.error { color: #F56200; font-weight: bold }
.importantLabel { color: #F56200 }
.warningLabel { background-color: #fff1C6; border-color:#FFC000; padding: 5px 10px }

.tooltip {
  background-color: #e6f6ff;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  display: none;
  font-weight: normal;
  max-width: 20%;
  padding: 5px;
  z-index: 1000 }

.tips {
	border: 1px dashed #c6c6c6;
	color: #9a9a9a;
	text-align: center }

/*-- =Syndication Button */
div.syndicationButton { background-color: #FF9D5C; float: right; font-size: .7em; margin-bottom: 5px }
.syndicationContainer { height: 30px }
div.syndicationButton div.syndicationLinks {color: #fff; padding: 2px 4px }
div.syndicationButton div.syndicationLinks a { color: #fff }

/*-- =Comments */
.commentBlock { margin: 7px 0 8px; padding: 2px 10px 2px 0 }
.commentActions { float: right; font-size: .8em; margin-right: 4px; padding: 3px }
.commentCreationDate { font-weight: normal }
.commentQuote { margin: 5px 0 5px 0 }
.commentAuthor {
  background: transparent url("${org.nuxeo.ecm.contextPath}/icons/comment.gif") no-repeat 4px 4px;
  color: #777;
  font-weight: bold;
  padding: 5px 3px 3px 24px }

/*-- =Advanced Search */
.listShuttleTable .listShuttleSelectionActions a { display: block }

/*-- =PopUps */
/* Generic PopuP div used in Faceted Search */
.genericPopUp {
  background-color: #fff;
  border: 1px solid #c6c6c6;
  display: none;
  position: absolute;
  width: 400px;
  z-index: 10000 }

.genericPopUp .closePopUpHeader {
  background-color: #e6f6ff;
  border-bottom: 1px solid #c6c6c6;
  padding: 3px;
  text-align: right }

.genericPopUp .closePopUpHeader .closePopUp { cursor: pointer; float: right }
.genericPopUp .closePopUpHeader .popUpTitle { float: left; font-size: 1.2em }
.genericPopUp .popUpContent { height: 390px; overflow: auto; padding: 10px }

.bigPopUp { height: 70%; width: 80% }

/*---- =Footer ----*/
.footer {
  background: none repeat scroll 0 0 #101b3f;
  font-size: .7em;
	width:100% }
.footerDefaultLinks { padding: 15px }

.footer .content { text-align: right; width: 100% }
.footer a {	color: #fff }

.copyrights { color: #9a9a9a; float: right; padding: 2px 20px 0 0 }
.nuxLinks { float: right; padding-left: 20px }
.nuxLinks a { vertical-align: middle }

a.twitt, a.linkedin { display:inline-block; height:16px; margin:0 5px; width:16px }
a.twitt{ background:transparent url("${org.nuxeo.ecm.contextPath}/icons/icones-metanav.png") no-repeat left top }
a.linkedin {background:transparent url("${org.nuxeo.ecm.contextPath}/icons/icones-metanav.png") no-repeat -16px top }
a.twitt:hover { background-position:left bottom }
a.linkedin:hover { background-position:-16px bottom }

/*///////////// =Common details /////////////*/
/*---- =Rich faces  ----*/
/*-- =Tree */
.dr-tree-h-ic-div { margin-left: 8px; padding-left: 10px }
.treeNodeHighlightedClass { text-decoration: none }
.treeNodeSelectedClass { border: none }

/*-- =For RFaces Navigation Tree in the main area */
.dataInput .dr-tree td, .dataInput .dr-tree td td {padding: 1px }
.fieldColumn .dr-tree img { margin: 0 }

/*-- =FileUpload */
.rich-fileupload-list-decor { margin: 10px 0 }
.rich-fileupload-button, .rich-fileupload-button-border { padding: 2px }
.rich-fileupload-button-light, .rich-fileupload-button-press { padding: 1px }
.rich-fileupload-button-content { padding: 2px 6px 2px 19px }

/*---- =Calendar ----*/
.calendarTrigger { cursor: pointer; margin: 0 0 5px; vertical-align: bottom }

/*---- =Arrow ----*/
p.directoryBack { background: url("${org.nuxeo.ecm.contextPath}/icons/arrow_left.gif") no-repeat scroll 3px 1px transparent; padding: 2px 2px 2px 20px }

/*----  =Navigation controls ----*/
#pageNavigationControls { border-bottom: 1px solid #e7e7e7; margin: 0 0 5px; padding: 2px 0 0; text-align: center }
#pageNavigationControls span { color: #777; font-weight: bold; margin: 10px 5px; vertical-align: top }
#pageNavigationControls input { margin-left: 5px }

/*---- Fix icon size to allow icon upload in Nuxeo Studio ----*/
.fullWidth { width:100% }
.bigIcon { width: 50px }
.smallIcon { height: 16px; width: 16px }

/*//////////// =Specific for UserCenter /////////////*/
/*---- Main Frame----*/
.userCenterHome {}
.adminViewContent { border-collapse: collapse; height: 100%; width: 100% }
.adminViewContent td { vertical-align: top }
.adminContentColumn { padding: 20px }
.adminViewContent h2 { padding: 20px 0 10px }
.adminViewContent p { padding: 5px 0 }

/*--  =Document view */
.currentDocumentDescription { font-size: .8em; padding: 4px 0 }
.currentItemDescription { display: block; font-size: 13px }

/*---- =Left Column----*/
/*-- =Vertical Tabs */
.adminTabsColumn { background: url("${org.nuxeo.ecm.contextPath}/img/left_column_bg.png") repeat-y scroll right top #BCF2F4; height: 100%; padding: 0; width: 210px }
.adminTabBlock { border-right: 1px solid #00AAAF; height: 100%; margin: 0 0 0 5px }

.adminTabsColumn ul {  margin: 0 -1px 0 0; padding: 20px 0 30px }
.adminTabsColumn li { background-color: #EDFCFD; border-color: #AFF0F2 #00AAAF #AFF0F2 #AFF0F2; border-style: solid; border-width: 1px; margin: 0 0 3px 6px; padding: 0 }
.adminTabsColumn li a { border: 1px solid #FFFFFF; color: #8C8C8C; display: block; font-size: 1.1em; padding: 7px 10px 8px 8px; text-decoration: none }
.adminTabsColumn li a img { margin: 0 5px -1px 0 }

.adminTabsColumn li.selected, .adminTabsColumn li.selected:hover { background-color: #fff;border-color: #00AAAF #FFFFFF #00AAAF #00AAAF; border-style: solid; margin: 0 0 3px }
.adminTabsColumn li:hover { background-color: #fff; margin: 0 0 3px 0px }
.adminTabsColumn li.selected a, .adminTabsColumn li:hover a{ color: #212121 }

/*-- =Tree links */
.treeLink a, .treeLink a:link, .treeLink a:visited { font-weight: normal }
.treeLink a:hover, .treeLink a:active { font-weight: normal; text-decoration: underline }
.treeLink img {margin: 3px 4px 4px 0; vertical-align: top }

.cell { margin-bottom: 2px; padding: 2px }
.cell img, .clipboardFunction img { vertical-align: middle }
.cell .iconImage { margin-right: 4px }

.menu dl, .menu dd { margin: 0 }
.menu dd { padding: 10px 0 }

td.dr-tree-h-text, td.dr-tree-h-text span, td.dr-tree-h-text a.treeLink { white-space: normal }

/*---- =Setup Panel----*/
.setupPanel .dataOutput th { padding: 0 0 5px; text-align: left }
.setupPanel .dataOutput td { border: none; padding: 0 0 5px 7px }
.setupPanel .dataOutput td.wideLabel { width: 340px }
.setupPanel .dataOutput td table { margin-top: 10px }

.actionBar { background-color: #f6f6f6 ; border-bottom: 1px solid #e7e7e7; padding: 10px }
.actionBar span { margin: 0 10px 0 0 }
.actionBar form { display: inline }
.actionBar form select, .actionBar form input { margin: 0px 5px }
.actionBar h3 { font-size: .8em; padding: 3px 0 }

.setupPanel .actionBar { background-color: transparent }
.packageUploadBlock { padding: 0 0 10px }

/*----  to check if it's still used ----*/
.closedContent {
  background: #fff;
  border: 1px solid #c6c6c6;
  margin: 15px 0 0;
  padding: 0 10px 10px 10px }

.serverChoice {
  float: left;
  margin-top: 20px;
  margin-right: 30px;
  text-align: center;
  width: 200px }

.taskActions { width: 470px }

/*/////////////  For addons //////////////*/
/*----  =ActivityStreamTab ----*/
.userActivityStream { text-align: center }
.userActivityStream form { margin: 0 auto; padding: 5px 10px; width: 80% }
.userActivityStream .dataOutput { border: 1px solid #e7e7e7; padding: 0 }
.userActivityStream .dataOutput td { border: none; padding: 0 }
.userActivityStream .activity { padding: 8px 20px; text-align: left }
.userActivityStream .activity:hover { background-color: #cfecff }
.userActivityStream .timestamp { color: #9a9a9a; float: left; font-size: 1.1em }
.userActivityStream .message { font-size: 1.1em; margin-left: 80px }

/*----  =MiniMessages ----*/
.miniMessages { text-align: center }
.miniMessages .miniMessagePanel { border: 1px solid #c6c6c6; display: block; margin: 0 auto; padding: 5px 30px; width: 80% }

.miniMessages .newMiniMessageForm { margin: 10px 0 15px }
.miniMessages .newMiniMessageForm textarea { border: 1px solid #c6c6c6; font-size: 1.2em; margin: 5px 0 0; padding: 10px; width: 450px }
.miniMessages .newMiniMessageForm .newMiniMessageActions { margin: 0 auto; padding: 0; text-align: right; width: 470px }

.newMiniMessageForm .newMiniMessageActions .miniMessageCounter { color: #999; font-size: 1.1em; font-weight: bold }
.newMiniMessageForm .newMiniMessageActions .warning { color: #de1a00;}
.newMiniMessageForm input.button[disabled], .newMiniMessageForm input.button[disabled]:hover { background: none repeat scroll 0 0 #f6f6f6; border: 1px solid #c9c9c9; color: #9a9a9a; cursor: default }

.miniMessages .newMiniMessageForm input.button { margin: 5px 0 10px 10px }
.miniMessages .dataOutput { margin: 0 auto; width: 550px }
.miniMessages .dataOutput td { padding: 0 }
.miniMessages .miniMessage { padding: 8px 10px; text-align: left }
.miniMessages .miniMessage:hover { background-color: #cfecff }
.miniMessages .username { font-size: 1.1em; font-weight: bold; padding-right: 5px }
.miniMessages .owner a, .miniMessages .owner a:link { color: black }
.miniMessages .timestamp { color: #9a9a9a; font-size: 1.1em }
.miniMessages .message { font-size: 1.1em; padding: 3px 0 }


/*----  =Relationship circles ----*/
.relationPopUpContainer { position: relative }
.relationPopUp { background-color: white;
  border: 1px solid #c6c6c6;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  display: none;
  padding: 5px;
  position: absolute; right: 0; top: 10px; 
  width: auto; z-index: 1000 }
.relationPopUp table { width: 100% }
.relationPopUp table td { border-bottom: 1px solid #c6c6c6; padding: 5px 0 }
.relationPopUp table td span { float: left }
.relationPopUp table input { float: right; margin: 0 0 0 20px }

/*----  =Avatar resize ----*/
.pictureColumn { width: 150px }
.profileAvatar { height: 70px; margin: 0 auto; width: 70px }
.avatar { max-height: 70px; max-width: 70px }


/* End */