/* Styles for the Tag Diff */
span.diff-tag-html { font-family: "Andale Mono" monospace; font-size: 80% }
span.diff-tag-removed { font-size: 100%;
  text-decoration: line-through;
  background-color: #fdc6c6; /* light red */ }
span.diff-tag-added { font-size: 100%;
  background-color: #cfc; /* light green */ }
span.diff-tag-conflict { font-size: 100%;
 background-color: #f781be; /* light rose */ }

/* Styles for the HTML Diff */
span.diff-html-added { font-size: 100%;
  background-color: #cfc; /* light green */
  cursor: pointer }

span.diff-html-removed { font-size: 100%; text-decoration: line-through; background-color: #fdc6c6; /* light red */ cursor: pointer }
span.diff-html-changed { background: #c6c6fd url("../../img/diff/diffunderline.gif") bottom repeat-x; cursor: pointer }
span.diff-html-conflict { background-color: #f781be /* light rose */ }
span.diff-html-selected { background-color: #eeeff0; /* light grey */ cursor: pointer }
span.diff-html-selected img { border: 2px solid #eeeff0 /* light grey */ }
span.diff-html-added img { border: 2px solid #cfc }
span.diff-html-removed img { border: 2px solid #fdc6c6 }
span.diff-html-changed img{ border: 2px dotted #009 }

div.diff-removed-image, div.diff-added-image, div.diff-conflict-image { height: 300px;
  width: 200px;  
  position: absolute;
  opacity : 0.55;
  filter: alpha(opacity=55);
  -moz-opacity: 0.55 }

div.diff-removed-image, div.diff-added-image, div.diff-conflict-image  { margin: .4em }

div.diff-removed-image { background-color: #fdc6c6;
  background-image: url("../../img/diff/diffmin.gif") }

div.diff-added-image { background-color: #cfc;
  background-image: url("../../img/diff/diffplus.gif");
  background-repeat: no-repeat }

div.diff-conflict-image { background-color: #f781be;
  background-image: url("../../img/diff/diffconflict.gif");
  background-repeat: no-repeat }

img.diff-icon { background: #efefef none;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  box-shadow: 0 8px 3px rgba(255, 255, 255, 0.5) inset, 1px 1px 0 #efefef;
  height: 16px;
  width: 16px }

table.diff-tooltip-link, table.diff-tooltip-link-changed { width: 100%; text-align: center; vertical-align: middle }

td.diff-tooltip-prev { text-align: left }
td.diff-tooltip-next { text-align: right }

table.diffpage-html-firstlast { width: 100% }

div.diff-topbar { background-color: #f6f6f6; border-bottom: 1px solid #e7e7e7; border-top: 1px solid #e7e7e7; margin-bottom: 1em; padding: .25em 0 }

a.diffpage-html-a, a.diffpage-html-a:hover, a.diffpage-html-a:link, a.diffpage-html-a:visited, a.diffpage-html-a:active { display: block }
a.diffpage-html-a:hover { text-decoration: none }
.diffType { font-size: .8em; font-weight: bold; padding: 0 1em 0 }

.diffpage-html-firstlast a img, .dsydiff-prevnextnav a img { vertical-align: middle }

ul.changelist { padding-left: 1em }

body { margin: 0 }

.button { background: none #fff;
  border-radius: 2px;
  border: 1px solid #c9c9c9;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: .7rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0 .5em .5em 0;
  padding: .4em .9em;
  text-decoration: none;
  white-space: nowrap }

.button:hover { border: 1px solid #aaa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 150ms ease-in-out 0s }

/* Nuxeo styles */

body { font-family: 'Lucida Grande', Arial, Helvetica, Geneva, sans-serif; font-size: 0.8em; }

.headerText { color: #666; font-size: .75em; line-height: 150%; padding: 0 1em; text-align: center }
.headerText .diff-html-added, .headerText .diff-html-removed { cursor: default }

h1, h2 { color: #000;
  font-size: 1.2em;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  padding: 0 0 .4em;
  word-wrap: break-word }
h2 { font-size: 1em }
