<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  %{LISTENER}%

  %{EXCEPTION-FILTER}%

  %{AUTH-FILTER}%

  %{STD-AUTH-FILTER}%

  <!-- XXX AT: for org.nuxeo.ecm.platform.ui.web module: order of filters
    matters. Others modules should use FILTER. -->
  %{FIRST-FILTER}%

  %{FILTER}%

  %{FILTER-MAPPING}%

  %{CONTEXT-PARAM}%

  %{LOGIN-CONFIG}%

  %{SERVLET}%

  %{SERVLET-MAPPING}%


  %{SECURITY-CONSTRAINT}%

  <security-role>
    <description>The role required to access restricted content</description>
    <role-name>admin</role-name>
  </security-role>

  <security-role>
    <description>The role required to access restricted content</description>
    <role-name>regular</role-name>
  </security-role>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

  <servlet>
    <servlet-name>NuxeoRuntimeInvokerServlet</servlet-name>
    <description>The ServerInvokerServlet receives requests via HTTP
      protocol from within a web container and passes it onto the
      ServletServerInvoker for processing.
    </description>
    <servlet-class>org.jboss.remoting.transport.servlet.web.ServerInvokerServlet</servlet-class>
    <init-param>
      <param-name>invokerName</param-name>
      <param-value>nx:service=invoker,name=remoting</param-value>
      <description>The mbean name of the invoker. See org.nuxeo.runtime.remoting.RemotingService.INVOKER_NAME</description>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuxeoRuntimeInvokerServlet</servlet-name>
    <url-pattern>/NuxeoRuntimeInvokerServlet/*</url-pattern>
  </servlet-mapping>

</web-app>
