/* Styles for JSF widgets, etc. */

div.nxthemesRegionNotSet {
  padding: 0.5em;
  margin: 2px;
  background-color: #f8f6e5;
  font: italic 11px sans-serif;
  color: #000;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #333;
}

/* Styles for nxthemes.js javascript library */

div.nxthemesWarningMessage {
  border: 2px solid red;
  padding: 0.5em;
  display: block;
  background-color: #ffc;
  font: bold 13px sans-serif;
  color: #000;
  position: absolute;
}

div.nxthemesWarningMessage pre {
  font-weight: normal;
  overflow: auto;
}

ins.model, ins.view, ins.controller {
  display: none;
}
/* Styles for nxthemes-widgets.js javascript library */

/* tooltip */
.nxthemesTooltip {
  font: 13px verdana, arial, sans-serif;
  padding: 0.7em;
  background-color: #ffc;
  border-color: #666;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  width: 200px;
  z-index: 1000;
}

/* Contextual menu */
.nxthemesContextMenu {
  font: 11px arial;
  border: 1px solid #333;
  background: #fff;
  color: #000;
  z-index: 40;
  width: 135px;
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #000;
}

.nxthemesContextMenu a {
  cursor: default;
  text-decoration: none;
  vertical-align: middle;
  color: #000 !important;
  padding: 2px 5px 2px 5px;
  white-space: nowrap;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.nxthemesContextMenu a img {
  border: none;
  padding-right: 5px;
  vertical-align: bottom;
}

.nxthemesContextMenu .title {
  height: 13px;
  overflow: hidden;
}

.nxthemesContextMenu .separator {
  border-bottom: 1px solid #ccc;
  margin: 2px;
}

.nxthemesContextMenu a.disabled {
  color: #ccc;
}

.nxthemesContextMenu a.disabled:hover {
  background-color: #eeeeec;
  color: #ccc;
}

.nxthemesContextMenu a:hover {
  background-color: #333;
  color: #fff !important;
  cursor: pointer;
}

.nxthemesContextMenu .submenu {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  margin-top: -2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nxthemesContextMenu .submenuitem {
  padding-right: 20px;
}

/* Contextual actions */
.nxthemesContextActions {
  font: 12px Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #fff9cf;
  border: 1px solid #dd9;
}

.nxthemesContextActions a {
  cursor: default;
  text-decoration: none;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: 6px center;
  color: #000;
  display: block;
  float: left;
  padding: 5px 10px 5px 4px;
}

.nxthemesContextActions a img {
  border: none;
  padding-right: 5px;
  vertical-align: bottom;
}


/* Tabs */
.nxthemesTabs ul {
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.nxthemesTabs li {
  display: inline;
  text-decoration: none;
  float: left;
  margin: 0;
  padding: 0 0 0 17px;
  background-position: top left;
  background-repeat: no-repeat;
}

.nxthemesTabs li.selected {
  border-bottom: 1px solid #f0f0f0;
}

.nxthemesTabs a {
  color: #000 !important;
  text-decoration: none;
  display: block;
  padding: 2px 17px 0 0;
  background-position: top right;
  background-repeat: no-repeat;
}

.nxthemesTabs img {
  vertical-align: top;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Header */
#nxthemesHeader {
  background: #444 url(${basePath}/skin/nxthemes-editor/img/header-bg.png) top left
    repeat-x;
  text-decoration: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
}

/* Main area */
#nxthemesCanvasArea {
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 60px;
  min-height:100%;
  width: 100%;
  padding-bottom: 35px;
}

/* Footer */

#nxthemesPageSelector {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  height: 18px;
  width: 100%;
  background: url(${basePath}/skin/nxthemes-editor/img/page-selector-bg.png) repeat-x;
}

#nxthemesStatusMessage {
  font: bold 12px Arial;
  color: #000;
  background-color: #ffc;
  z-index: 10;
  padding:2px 17px;
  position: absolute;
  top: 10px;
  left: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#nxthemesCanvasModeArea {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px;
}

#nxthemesEditorInfo {
  position: absolute;
  right: 6px;
  top: 3px;
  padding: 0;
  font:  10px Arial, sans-serif;
  color: #333;
}

#nxthemesWaitAnimation {
  position: absolute;
  top: 65px;
  right: 15px;
  padding: 1px 12px;
  z-index: 10;
  font: 12px Arial, sans-serif;
  color: #000;
  background-color: #eee;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#nxthemesWaitAnimation img {
  vertical-align: bottom;
}

#nxthemesMainButtons {
  position: absolute;
  right: 10px;
  top: 9px
}

#nxthemesLocalButtons {
  top: 28px;
  position: absolute;
  margin: 8px;
  width: 100%;
}

#nxthemesLocalButtons a {
  font-size: 11px;
}

.nxthemesButtonHeader {
  float: left;
  font: bold 12px Arial;
  color: #eee;
  padding: 3px 3px 0 15px;
}

#nxthemesPerspectiveSelector {
  float: left;
  padding: 1px;
  margin-left: 10px;
  margin-top: 9px;
}

#nxthemesPerspectiveSelector label {
  color: #eee;
  font: bold 11px arial;
}

/* Theme selector drop-down list */
#nxthemesThemeSelector {
  float: left;
  padding: 1px;
  margin-left: 14px;
  margin-top: 9px;
  padding: 1px;
  font: 12px Arial, sans-serif;
  color: #eee;
}

#nxthemesThemeSelector label {
  color: #eee;
  font: bold 11px arial;
}

#nxthemesThemeSelector select {
  font: 11px Arial, sans-serif;
  border: 1px solid #000;
  width: 150px;
  background-color: #eee;
}


/* Perspective selector drop-down list */
.nxthemesPerspectiveSelector {
  font: 12px Arial, sans-serif;
  color: #fff;
}

.nxthemesPerspectiveSelector select {
  font: 11px Arial, sans-serif;
  border: 1px solid #000;
  width: 180px;
  background-color: #eee;
}


.nxthemesAreaStyle {
  text-align: center !important;
  height: 80px;
}

.nxthemesAreaStyle .toolbox {
  margin-left: auto; margin-right: auto
}

.nxthemesAreaStyle .picker {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0;
  margin: 2px;
  width: 16px;
  height: 16px;
}

.nxthemesAreaStyle .selected {
  background-color: #fff;
  border: 2px solid #f00;
  padding: 0;
  margin: 1px;
}

.nxthemesAreaStyle .areaStyleBackground {
  background-image: url(${basePath}/skin/nxthemes-editor/img/area-style-background.png);
}

.nxthemesAreaStyle .areaStyleBorderLeft {
  background-image: url(${basePath}/skin/nxthemes-editor/img/area-style-border-left.png);
}

.nxthemesAreaStyle .areaStyleBorderTop {
  background-image: url(${basePath}/skin/nxthemes-editor/img/area-style-border-top.png);
}

.nxthemesAreaStyle .areaStyleBorderBottom {
  background-image: url(${basePath}/skin/nxthemes-editor/img/area-style-border-bottom.png);
}

.nxthemesAreaStyle .areaStyleBorderRight {
  background-image: url(${basePath}/skin/nxthemes-editor/img/area-style-border-right.png);
}


div.nxthemesButtonSelector {
  font: 11px Arial, sans-serif;
  padding: 1px;
  text-transform: uppercase;
}

div.nxthemesButtonSelector a {
  text-decoration: none;
  padding: 0 7px;
  color: #000;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc #000 #000 #ccc;
  background-image: url(${basePath}/skin/nxthemes-editor/img/button-bg.png);
  background-repeat: repeat-x;
  background-position: 0 -15px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

div.nxthemesButtonSelector a:hover {
  background-color: #eee;
}

div.nxthemesButtonSelector a.selected {
  border-color: #000 #ccc #ccc #000;
  color: #444;
  background-image: url(${basePath}/skin/nxthemes-editor/img/button-bg.png);
  background-repeat: repeat-x;
  background-position: top center;
}

/* Editor window */

h1.nxthemesEditor, h2.nxthemesEditor, h3.nxthemesEditor {
  font-family: Arial, sans-serif;
  color: #000;
  margin-top: 3px;
  margin-bottom: 10px;
  padding: 0;
}

h1.nxthemesEditor {
  font-size: 20px;
}

h2.nxthemesEditor {
  font-size: 16px;
}

h3.nxthemesEditor {
  font-size: 13px;
}

p.nxthemesEditor {
  font-size: 12px;
}

div.nxthemesEditor {
  font-size: 12px;
}

.nxthemesEditorDescription {
  color: #333;
  font-style: italic;
}

.nxthemesEditorFocus {
  background-color: #fc0;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  color: #900;
  margin-left: 14px;
  display: inline;
  padding: 1px 10px;
  margin-left: 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

form.nxthemesEditor {
  font-family: Arial, sans-serif;
}

fieldset.nxthemesEditor {
  padding: 0.7em;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
}

fieldset.nxthemesEditor legend {
  font: bold 14px Arial, sans-serif;
  padding: 0 2px;
  color: #666;
  text-transform: uppercase;
}

div.nxthemesEditorFrame {
  font: 12px Arial, sans-serif;
  border: 1px solid #999;
  padding: 1em;
  background-color: #fcfcfc;
}

.nxthemesEmptyContainer {
  height: 50px;
  border: 1px dashed red;
}

/* Toolbox */
.nxthemesToolbox {
  width: 240px;
  font: 12px Arial, sans-serif;
}

.nxthemesToolbox .title {
  cursor: move;
  font: bold 11px Arial, sans-serif;
  margin: 1px;
  padding: 4px 4px 4px 10px ;
  color: #fff;
  border-bottom: 1px solid #444;
  background: #000 url(${basePath}/skin/nxthemes-editor/img/menu-title-bg.png) repeat-x top left;
}

.nxthemesToolbox .title img.close {
  float:right;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nxthemesToolbox .header {
  background-color: #eee;
  padding: 3px 6px;
  border: 1px solid #ccc;
  margin: 5px;
}

.nxthemesToolbox .frame {
  overflow-y: auto;
  height: 272px;
}

.nxthemesToolbox div.selection {
  padding: 4px;
  margin: 5px;
  cursor: pointer;
  font: 12px Arial;
  border: 1px solid #ddd;
}

.nxthemesToolbox div.selection div.name {
  color: #333;
}

.nxthemesToolbox div.selection div.value {
  font-size: 10px;
  color: #666;
}

.nxthemesToolbox div.selection div.preview {
  color: #000;
  text-align: center;
  border: 1px solid #000;
  margin-top: 2px;
}

.nxthemesToolbox div.selection div.preview div {
  height: 40px;
}

.nxthemesToolbox div.selection:hover {
  border: 1px solid #fc0;
  background-color: #ffc;
}

.nxthemesToolbox .noStyle {
  background: #fff url(${basePath}/skin/nxthemes-editor/img/checker.png) repeat;
}

/* Collapsible menu */
.nxthemesCollapsible {
  font: 12px Arial, sans-serif;
  width: 180px;
}

.nxthemesCollapsible a,.nxthemesCollapsible a:visited {
  text-decoration: none;
  color: #000;
}

.nxthemesCollapsible ul {
  margin: 1px;
  padding: 0;
  list-style: none;
  background-color: #eeeeec;
}

.nxthemesCollapsible ul li {
  padding: 5px 4px 4px 23px;
  text-decoration: none;
  font: 10px Arial, sans-serif;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  background-image: url(${basePath}/skin/nxthemes-editor/img/menu-li.png);
  background-repeat: no-repeat;
}

.nxthemesCollapsible ul li.selected {
  background-position: 0 -23px;
  background-color: #fc3;
}

.nxthemesCollapsible ul ul li {
  color: #600;
  padding: 3px 0 3px 23px;
  z-index: 50;
  background: #ffefb9;
  font-size: 9px;
}

.nxthemesCollapsible ul ul li:hover {
  cursor: move;
  color: #000;
}

.nxthemesCollapsible ul ul li img {
  vertical-align: bottom;
  margin-left: -20px;
  padding-right: 1px;
}

/* Edit tabs used in the element editor */
.nxthemesEditTabs {
  font: 13px Arial, sans-serif;
  margin-bottom: -1px;
}

.nxthemesEditTabs li {
  background-image: url(${basePath}/skin/nxthemes-editor/img/edit-tab.png);
  background-position: 0 -22px;
}

.nxthemesEditTabs li a {
  cursor: default;
  background-image: url(${basePath}/skin/nxthemes-editor/img/edit-tab.png);
  background-position: 100% -22px;
}

.nxthemesEditTabs li.selected {
  background-position: 0 0;
}

.nxthemesEditTabs li.selected a {
  background-position: 100% 0;
}

.nxthemesEditTabs img {
  border: none;
}


/* page tabs */
.nxthemesPageTabs {
  font: 12px Arial, sans-serif;
  margin: 0;
}

.nxthemesPageTabs div.themeName {
  float: left;
  padding: 3px;
  margin-left: 4px;
  color: #fff;
  font-weight: bold;
}

.nxthemesPageTabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nxthemesPageTabs ul li.first {
  margin-left: 4px;
}

.nxthemesPageTabs ul li.first span {
    background: url(${basePath}/skin/nxthemes-editor/img/bottom-tabs.png) no-repeat;
}

.nxthemesPageTabs ul li {
  float: left;
  display: block;
  height: 17px;
  padding-right: 25px;
  margin-left: -15px;
  position: relative;
  background: url(${basePath}/skin/nxthemes-editor/img/bottom-tabs.png) 100% 0 no-repeat;
  white-space: nowrap;
}

.nxthemesPageTabs ul span {
  height: 17px;
  line-height: 17px;
  padding-left: 20px;
  background: url(${basePath}/skin/nxthemes-editor/img/bottom-tabs.png) 0 -34px no-repeat;
  display: block;
}

.nxthemesPageTabs ul li.selected {
  z-index: 1;
  height: 17px;
  background: url(${basePath}/skin/nxthemes-editor/img/bottom-tabs.png) 100% -17px no-repeat;
}

.nxthemesPageTabs ul li.selected span {
  background: url(${basePath}/skin/nxthemes-editor/img/bottom-tabs.png) 0 -17px no-repeat;
}

.nxthemesPageTabs ul a {
  color: #000;
  text-decoration: none;
}

.nxthemesPageTabs li.default a {
  font-style: italic;
}

.nxthemesPageTabs img {
  border: none;
  text-decoration: none;
}

/* Top buttons */

.nxthemesButton b, .nxthemesButton a {
  background-image: url(${basePath}/skin/nxthemes-editor/img/button.png);
  color: #000 !important;
}

/* Form elements used in the element editor */
.nxthemesForm {
  font-family: Arial, sans-serif;
  padding: 0.2em;
  -moz-border-radius: 4px;
}

.nxthemesForm div {
  clear: both;
}

.nxthemesForm button, button.nxthemesActionButton {
  text-transform: uppercase;
  font: 11px Arial, sans-serif;
  margin: 0;
  padding: 1px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f2f2f2 url(${basePath}/skin/nxthemes-editor/img/white-button-bg.png) repeat-x left top;
  color: #333;
}

.nxthemesForm button:hover, button.nxthemesActionButton:hover {
  background-position: left bottom;
  border-color: #ddd;
  color: #888;
  cursor: pointer;
}

.nxthemesForm button:disabled, button.nxthemesActionButton:disabled {
  color: #bbb;
  cursor: default;
  background-position: top;
  border-color: #eee;
}
.nxthemesForm p {
  clear: left;
  margin: 0;
  padding: 5px 0 8px 0;
  padding-left: 145px;
  /*width of left column containing the label elements*/
  height: 1%;
}

.nxthemesForm div.separator {
   border-bottom: 2px solid #fc5;
   margin-top: 10px;
   margin-bottom: 8px;
}

.nxthemesForm label {
  float: left;
  margin-left: -145px; /*width of left column*/
  width: 140px;
  /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.nxthemesForm div.disabled input, .nxthemesForm div.disabled textarea, .nxthemesForm div.disabled select {
  color: #999;
}

.nxthemesForm input, .nxthemesForm textarea, .nxthemesForm select {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 1px;
  font: 12px Arial, sans-serif;
  margin-right: 2px;
}

.nxthemesForm select {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 224px;
  margin: 0;
  padding: 0;
}

.nxthemesForm input.textInput {
  width: 220px;
}

.nxthemesForm textarea {
  width: 220px;
  height: 120px;
}

.nxthemesForm input:focus,.nxthemesForm textarea:focus,.nxthemesForm select:focus {
  border: 1px solid #fc3;
  background-color: #ffc;
  color: #300;
}

.nxthemesForm span.description {
  color: #000;
  padding-top: 0.2em;
  display: block;
  font: 0.8em Arial;
}


/* layout */
.nxthemesSizer {
  padding: 0;
  margin-top: 10px;
  height: 20px;
  background: url(${basePath}/skin/nxthemes-editor/img/sizer.png);
  background-repeat: repeat-x;
  background-position: center top;
  text-align: center;
}

.nxthemesSizer .left {
  float: left;
  margin-left: 1px;
  background: url(${basePath}/skin/nxthemes-editor/img/l-sizer.png);
  background-repeat: no-repeat;
  height: 10px;
  width: 7px;
}

.nxthemesSizer .right {
  float: right;
  margin-right: 1px;
  background: url(${basePath}/skin/nxthemes-editor/img/r-sizer.png);
  background-repeat: no-repeat;
  height: 10px;
  width: 7px;
}

.nxthemesSizer input {
  border: none;
  text-align: center;
  vertical-align: top;
  margin: -2px 0;
  padding: 0 4px;
}

div.nxthemesSectionLayout input {
  font-size: 11px;
  font-style: italic;
}

div.nxthemesSectionLayout table {
  border-collapse: collapse;
}

td.nxthemesCellLayout {
  border: 1px solid #666;
  background-color: #f2efe7;
  height: 35px;
  cursor: pointer;
  vertical-align: top;
}

td.nxthemesCellLayout input {
  font-size: 10px;
  font-style: italic;
  border: 1px solid #f2efe7;
  background-color: #f2efe7;
  color: #000;
}

div.nxthemesFragment, div.nxthemesFragmentHidden {
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  font: 11px Arial, sans-serif !important;
  padding: 3px 7px !important;
  margin: 7px !important;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

div.nxthemesFragment {
  border-color: #666 #000 #000 #666;
  background: #fffff9;
  color: #333;
}

div.nxthemesFragmentHidden {
  border-color: #999 #999 #999 #999;
  background: #fcfcf6;
  color: #999;
}

div.nxthemesFragment b, div.nxthemesFragmentHidden b {
  font: bold normal 14px Arial, sans-serif !important;
}

/* style editor */
#stylePreviewArea {
  width: auto;
  overflow: scroll;
  background: #fff url(${basePath}/skin/nxthemes-editor/img/checker.png) repeat;
  height: 300px;
}

#stylePreviewArea, #stylePreviewArea a {
  cursor: default;
}

#labelInfo {
  padding: 1px 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc #000 #000 #ccc;
  background-color: #ffc;
  position: absolute;
  color: #333;
  font:  12px Arial, sans-serif;
}

.nxthemesScreen {
  position: absolute;
  top: 75px;
  left: 25px;
  right: 25px;
  background-color: #fff;
  padding: 10px;
  padding-bottom: 25px;
  font-family: Arial, sans-serif;
  z-index: 1;
}

.nxthemesPresets div.name {
  color: #333;
  font-size: 11px;
}

.nxthemesPresets div.category {
  font-size: 11px;
  font-style: italic;
}

.nxthemesPresets div.preview {
  color: #000;
  text-align: center;
  border: 1px solid #ccc;
  margin: 2px;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}

.nxthemesPresets table {
  vertical-align:top;
}

.nxthemesPresets table td.preset {
  vertical-align:top;
  text-align: center;
  cursor: pointer;
  width: 10%;
  border: 2px solid #fff;
}

.nxthemesPresets table td.preset:hover {
  border: 2px solid #ff0;
  background-color: #ffc;
}

.nxthemesPresets table td.presetTarget {
  height: 100px;
}

.nxthemesPresets div.preview div {
  height: 65px;
}

.nxthemesPresets div.preview  {
  width: 65px;
}

.nxthemesThemeControlPanel .window {
  -moz-border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0px;
  margin: 0 0 6px 0;
}

.nxthemesThemeControlPanel .window .title {
  padding: 3px 10px;
  font-weight: bold;
  font-size: 13px;
  color: #000;
  background: #eee;
  border-bottom: 1px solid #ccc;
  -moz-border-radius: 5px 5px 0 0;
}

.nxthemesThemeControlPanel .window .body {
  font-weight: normal;
  font-size: 12px;
  border: none;
  color: #333;
  padding: 3px 10px;
}

ul.nxthemesSelector {
  list-style: none;
  margin: 0;
  padding: 2px 0px;
}

ul.nxthemesSelector li {
  margin: 2px 0px;
}

ul.nxthemesSelector li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 3px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #fff;
}

ul.nxthemesSelector li a:hover,
ul.nxthemesSelector li.selected a,
ul.nxthemesSelector li.selected a:hover {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #000;
}

ul.nxthemesSelector li a span.info {
  visibility: hidden;
}

ul.nxthemesSelector li a:hover span.info {
  font-weight: bold;
  visibility: visible;
  margin-right: 15px;
  float: right;
}


ul.nxthemesSelector li.disabled a {
  color: #999;
  font-style: italic;
}

ul.nxthemesSelector li.disabled a:hover span.info {
  visibility: hidden;
}

ul.nxthemesSelector img {
  border: none;
  vertical-align: middle;
}

.nxthemesScreen a {
  text-decoration: none;
  color: #006;
}

.nxthemesScreen a img {
  border: none;
}

.nxthemesScreen button img {
  vertical-align: middle;
}

.nxthemesTable {
  font: 12px Arial, sans-serif;
  width: 100%;
  border: 1px solid #000;
  cursor: default;
  border-spacing: 0;
}

.nxthemesTable th {
  background: #bbb;
  text-align: left;
  padding: 4px 10px;
  font: bold 11px Arial;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  color: #000;
}

.nxthemesTable td {
  background-color: #eee;
  text-align: left;
  padding: 3px 10px 3px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}

.nxthemesTable tr.odd td {
  background-color: #f9f9f9;
}

.nxthemesTable tr:hover td {
  background-color: #fff;
}

.nxthemesTable button {
  font-size: 11px;
  padding: 0 4px;
}

.nxthemesTable td.action {
  font-size: 11px;
  text-align: center;
}

.nxthemesTable td img {
  padding-right: 2px;
  vertical-align: middle;
}

div.nxthemesWarning {
  border: 1px solid #fc0;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffc;
}

.nxthemesEmphasize {
  background-color: #ff0;
}

.nxthemesCustomized {
  text-decoration: line-through;
  color: #666;
}


#stylePickerGroupName {
  width: 100%;
}

#areaStyleGroupName {
  width: 100%;
}

img.nxthemesAlignSection {
  cursor: pointer;
  border: 1px solid #fff !important;
  margin: 3px;
  padding: 0;
}

img.nxthemesAlignSection:hover {
  border: 1px solid #666 !important;
}

.nxthemesCellPadding {
  width: 100%;
}

.nxthemesCellPadding td {
  text-align: center;
  padding: 3px;
}

.nxthemesCellPadding input {
  border: 1px solid #ccc !important;
  background-color: #fff !important;
  width: 30px;
  text-align: center;
}

.nxthemesCellContent {
  border: 1px solid #ccc;
  background: #eee;
  padding: 30px;
}


#nxthemesElementPadding {
  left: 100px;
  top: 130px;
  right: 100px;
  z-index: 40;
  padding: 10px;
  background: none;
}

#nxthemesElementPadding input {
  border: 1px solid #999;
  font-style: italic;
  text-align: center;
}

#nxthemesElementPadding table {
  margin: 10px;
  padding: 5px;
  border: 1px solid #999;
  background-color: #f2efe7;
  margin-right: auto;
  margin-left: auto;
}

#nxthemesElementPadding td {
  text-align: center;
}

#nxthemesAreaStyleChooser {
  position: absolute;
  z-index: 50;
  right: 10px;
  top: 120px;
  background-color: #fff;
  border: 1px solid #000;
}

#nxthemesStylePicker {
  position: absolute;
  z-index: 50;
  right: 10px;
  top: 120px;
  background-color: #fff;
  border: 1px solid #000;
}

#nxthemesFragmentFactory {
}

#nxthemesElementEditor {
}

#nxthemesPaddingEditor {
  position: absolute;
  z-index: 50;
  right: 30px;
  top: 120px;
  width: 230px;
  background-color: #fff;
  border: 1px solid #000;
}

#nxthemesPaddingEditor td {
  text-align: center;
  padding: 10px 2px;
}

#nxthemesPaddingEditor input {
  text-align: center;
  border: 1px solid #999;
}


.nxthemesPageArea {
  border: 1px solid #000 !important;
  background-color: #ffc !important;
  padding: 0 !important;
  font: 12px Arial, sans-serif !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nxthemesPageArea .title {
  padding: 1px;
  background-color: #fc0;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.nxthemesPageArea .body {
  padding: 5px;
}

form.nxthemesInheritedStyles {
  padding: 0 0 5px 15px;
}

form.nxthemesInheritedStyles label {
  font-style: italic;
  padding-right: 4px;
}

form.nxthemesInheritedStyles select {
  background-color: #fff;
}

form.nxthemesInheritedStyles select, form.nxthemesInheritedStyles button {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc #666 #666 #ccc;
}

form.nxthemesInheritedStyles button {
  font-size: 13px;
  padding: 0 3px;
  margin: 0 0 0 2px;
  cursor: pointer;
  color: #333;
  letter-spacing: -0.03em;
}

form.nxthemesInheritedStyles button:hover {
  color: #600;
}

div.nxthemesUnregisteredWidget {
  padding: 7px !important;
  font: italic 13px Arial !important;
  margin: 4px !important;
  background: #f9f0c0 !important;
  opacity: 0.7;
  color: #000 !important;
  cursor: default;
  border-style: solid;
  border-width: 1px;
  border-color: #999 #000 #000 #999;
}

a.addPreset {
  text-decoration: none;
  text-align: right;
  padding: 4px 10px;
  font-size: 11px;
  color: #333 !important;
  display: block;
}

a.editPreset {
  border:none;
  color: #333333;
  display: block;
  font-size: 10px;
  margin: 3px 10px;
  text-align: right;
  text-decoration: none;
  float: right;
}

a.editPreset img {
  border: none;
}

option.locked {
  font-style: italic;
}

.nxthemesAlignSection {
  margin-left: auto;
  margin-right: auto;
}

.nxthemesAlignSection div {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nxthemesAlignSection .nxthemesAlignSectionRight {
  background-image: url(${basePath}/skin/nxthemes-editor/img/align-right-24.png);
}

.nxthemesAlignSection .nxthemesAlignSectionCenter {
  background-image: url(${basePath}/skin/nxthemes-editor/img/align-center-24.png);
}

.nxthemesAlignSection .nxthemesAlignSectionLeft {
  background-image: url(${basePath}/skin/nxthemes-editor/img/align-left-24.png);
}

.nxthemesAddSection div {
  background: url(${basePath}/skin/nxthemes-editor/img/add.png) no-repeat;
  height: 14px;
  display: inline;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.nxthemesAddSection {
 text-decoration: none;
 font: 13px Arial;
 color: #fff;
 margin-top: 10px;
 display: block;
}

.nxthemesAddSection:hover div {
  background-image: url(${basePath}/skin/nxthemes-editor/img/add-hover.png);
  color: #000
}


div.nxthemesDraggable * {
  cursor: pointer;
}

div.nxthemesDraggable {
  position: relative;
}


div.nxthemesDraggable:hover div.nxthemesFrameLeft {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background: url(${basePath}/skin/nxthemes-editor/img/frame-v.gif) repeat-y;
}

div.nxthemesDraggable:hover div.nxthemesFrameTop {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 1px;
  top: 0px;
  background: url(${basePath}/skin/nxthemes-editor/img/frame-h.gif) repeat-x;
}

div.nxthemesDraggable:hover div.nxthemesFrameBottom {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  bottom: 0px;
  background: url(${basePath}/skin/nxthemes-editor/img/frame-h.gif) repeat-x;
}

div.nxthemesDraggable:hover div.nxthemesFrameRight {
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  bottom: 0;
  background: url(${basePath}/skin/nxthemes-editor/img/frame-v.gif) repeat-y;
}

ul.namedStyleSelector {
  padding: 0;
  margin: 0;
}

ul.namedStyleSelector li {
  display: inline;
}

ul.namedStyleSelector li a {
  text-decoration: none;
  color: #000;
  padding: 0 11px 1px 11px;
  border: 1px solid #999;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background-color: #ccc;
  font-size: 12px;
}

ul.namedStyleSelector li a.selected {
  background-color: #f3f3f3;
}

table.fragmentFactory {
  width: 100%;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  border-collapse: collapse;
}

table.fragmentFactory th {
  border-right: 1px solid #666;
  border-top: 1px solid #000;
  text-align: left;
  padding: 5px 7px;
  color: #fff;
  font-size: 12px;
  background: #000 url(${basePath}/skin/nxthemes-editor/img/th-bg.png) repeat-x;
}

table.fragmentFactory td {
  border-right: 1px solid #666;
}

#nxthemesThemeActions, #nxthemesDashboardActions {
  position: absolute;
  width: 160px;
  margin-top: 10px;
  margin-left: 2px;
  z-index: 10;
}

.nxthemesDropDownMenu {
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-width: 1px 3px 3px 1px;
  border-style: solid;
  border-color: #000;
  padding: 5px 10px;
  z-index: 10;
}

.nxthemesDropDownMenu ul {
  margin: 0;
  padding: 0;
}

.nxthemesDropDownMenu li {
  list-style: none;

}

.nxthemesDropDownMenu li.selected a {
  font-weight: bold !important;
}

.nxthemesDropDownMenu li.selected a {
  font-weight: bold !important;
}

.nxthemesDropDownMenu li a {
  color: #000;
  font: 12px Arial, sans-serif;
  text-decoration: none;
  display: block;
  padding: 4px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #fff;
}

.nxthemesDropDownMenu li a:hover {
  border: 1px solid #999;
  background-color: #eee;
  color: #000;
}

.nxthemesRoundButton {
  border: 1px solid #999;
  background-color: #ddd;
  cursor: pointer;
  padding: 0px 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nxthemesExplanation {
  font: italic 12px Arial, sans-serif;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #666;
}

.nxthemesUndoButtons {
  background-color: #efc;
  position: absolute;
  right: 85px;
  top: 10px;
  padding: 2px 4px;
  font: bold 11px Arial;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nxthemesUndoButtons img {
  border: none;
}

.nxthemesUndoButtons a {
  text-decoration: none;
  color: #000 !important;
}

.nxthemesUndoButtons a:hover {
  color: #666 !important;
}



.nxthemesStyleTree {
  font: 12px arial;
  color: #000;
}

.nxthemesStyleTree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nxthemesStyleTree li {
  position: relative;
  width: 120px;
  padding: 10px 10px 10px 28px;
  margin-bottom: 3px;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: #666;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: #ffc url(${basePath}/skin/nxthemes-editor/img/style-16.png) 7px 8px no-repeat;
  cursor: default;
}

.nxthemesStyleTree ul ul {
  margin-top: -15px;
}

.nxthemesStyleTree ul ul li {
  left: 110px;
}


.nxthemesManageScreen {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}

.nxthemesManageScreen th {
  background: #fff;
  color: #333;
  padding: 10px 8px 3px 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.nxthemesManageScreen td {
  vertical-align: top;
  padding: 5px 6px;
  margin: 0;
}

/* CSS property editor */

.nxthemesCssInspector {
  height: 230px;
  margin-top: 5px;
  margin-bottom: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nxthemesCssInspector table {
  background-color: #fff;
  font: 11px tahoma;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  width: 400px;
}

#fragmentPreviewArea {
  text-align: left;
  border: none;
  border-bottom: 1px dotted #333;
  overflow: hidden;
  padding: 5px;
  height: 180px;
}

.nxthemesCssInspector table td {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.nxthemesCssInspector table td.label {
  text-align: right;
  padding: 1px;
  padding-left: 10px;
  padding-right: 5px;
  width: 137px;
  background-color: #f9f9f9;
}

.nxthemesCssInspector input.picker, .nxthemesCssInspector input.picker:focus {
  border: none;
  width: 16px;
  margin: 0;
  float: right;
  background: transparent url(${basePath}/skin/nxthemes-editor/img/style-picker.png) no-repeat;
}

.nxthemesCssInspector input:focus, .nxthemesCssInspector select:focus {
  background-color: #ffc;
  color: #600;
  border: 1px solid #fc0;
}

.nxthemesCssInspector label {
  text-align: right;
  float: right;
}

.nxthemesCssInspector input, .nxthemesCssInspector select {
  padding: 0;
  border: 1px solid #eee;
  background-color: #fff;
  font: 11px tahoma, arial, sans-serif;
 }


.nxthemesCssInspector input {
  width: 190px;
}

.nxthemesCssInspector select {
  margin: 0;
  padding: 0;
  width:  222px;
  background-color: #fff;
}

.nxthemesCssInspector .nxthemesCategoryHeader {
  border: 1px solid #bbb;
  text-transform: capitalize;
  padding: 2px 0px;
  background: #eee url(${basePath}/skin/nxthemes-editor/img/section-bg.png) repeat-x;
  font: bold 11px tahoma, arial, sans-serif;
  cursor: pointer;
}

.nxthemesCssInspector .nxthemesCategoryHeader a {
  color: #000;
  display: block;
}

.nxthemesCssInspector .nxthemesCategoryHeader img {
  padding: 0 3px 0 5px;
}

.nxthemesCssInspectorActions a {
  font: 11px Tahoma, Arial;
  color: #666 !important;
  padding-left: 12px;
}

.nxthemesCssInspectorActions a:hover {
  color: #000;
}

.nxthemesStyleCategoryOpen {
  background: url(${basePath}/skin/nxthemes-editor/img/tree-open.png) no-repeat;
  width: 9px;
  height: 9px;
  display: block;
  float: left;
  margin: 2px 5px 2px 3px;
}

.nxthemesStyleCategoryClose {
  background: url(${basePath}/skin/nxthemes-editor/img/tree-close.png) no-repeat;
  width: 9px;
  height: 9px;
  display: block;
  float: left;
  margin: 2px 5px 2px 3px;
}

.nxthemesImageSingle, .nxthemesImageSingleSelected {
  float: left;
  margin: 10px;
  width: 212px;
  text-align: center;
  border: 2px solid #fff;
  -moz-border-radius: 4px;
  background-color: #fff;
}

.nxthemesImageSingleSelected {
  border: 2px solid #fc0;
  font-weight: bold;
}

.nxthemesImageSingle img, .nxthemesImageSingleSelected img {
  border: none;
}


/* Control panel */

.nxthemesThemeControlPanelScreen {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  z-index: 1;
  min-height: 120%;
}

.nxthemesThemeControlPanel {
  background-color: #fff;
  margin: 0;
  padding: 10px;
}

a.nxthemesActionButton {
  background: #f2f2f2 url(${basePath}/skin/nxthemes-editor/img/white-button-bg.png) repeat-x left top;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #000;
  font-size: 11px;
  text-transform: uppercase;
}

a.nxthemesActionButton:hover {
  background-position: left bottom;
  color: #666;
  cursor: pointer;
}

a.nxthemesActionButton img {
  vertical-align: top;
}


.nxthemesThemeControlPanel .window {
  -moz-border-radius: 5px;
  border: 1px solid #666;
  background-color: #fff;
  padding: 0;
  margin: 0 0 12px 0;
}

.nxthemesThemeControlPanel .window .title {
  padding: 3px 10px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #666;
  border:none;
  border-bottom: 1px solid #000;
  -moz-border-radius: 4px 4px 0 0;
}

.nxthemesThemeControlPanel .window .body {
  font-weight: normal;
  font-size: 12px;
  border: none;
  color: #333;
  padding: 3px 10px;
}

/* Image browser */



.nxthemesImageSingle {
  float: left;
  margin: 5px;
  width: 212px;
  text-align: center;
  border: 1px solid #fff;
  -moz-border-radius: 4px;
  background-color: #fff;
  padding: 2px;
}

.nxthemesImageSingle a {
  text-decoration: none;
  color: #333;
}

.nxthemesImageSingle img {
  width: 200px;
  height: 135px;
  margin: 5px;
  border: 1px solid #999;
 }

.nxthemesImageSingleSelected {
  background-color: #ffc;
  border: 1px solid #fc0;
}

.nxthemesImageSingleSelected img {
  border: 1px solid #fff;
}

#nxthemesTopBanner {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #000;
  padding: 4px 0px 4px 0px;
  background: #fceca4 url(${basePath}/skin/nxthemes-editor/img/top-bg.png) repeat-x;
}

.nxthemesInfoMessage {
  text-align: left;
  font-style: normal;
  color: #900;
  font-size: 13px;
  padding: 0px 30px;
}

.nxthemesInfoMessage img {
  padding-right: 3px;
  vertical-align:top;
}

.nxthemesInfoMessage button {
  float: right;
  margin: 0;
  padding: 1px 4px;
}
