<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false" threshold="null">
  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="INFO" />
    </filter>
  </appender>

  <!-- ================================= -->
  <!-- Preserve messages in a local file -->
  <!-- ================================= -->
  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="${nuxeo.log.dir}/console${log.id}.log" />
    <param name="Append" value="true" />
    <!-- Rollover at midnight every day -->
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] %m%n" />
    </layout>
  </appender>

  <logger name="org.nuxeo">
    <level value="WARN" />
  </logger>
  <logger name="org.nuxeo.launcher">
    <level value="INFO" />
  </logger>
  <logger name="org.nuxeo.connect">
    <level value="INFO" />
  </logger>
  <logger name="org.nuxeo.ecm.admin">
    <level value="INFO" />
  </logger>
  <logger name="org.nuxeo.runtime.deployment.preprocessor">
    <level value="INFO" />
  </logger>
  <logger name="org.eclipse.equinox.p2.cudf">
    <level value="WARN" />
  </logger>
  <!-- Hide warning from HttpMethodBase: << Going to buffer response body of large
    or unknown size. Using getResponseBodyAsStream instead is recommended. >> -->
  <logger name="org.apache.commons.httpclient.HttpMethodBase">
    <level value="ERROR" />
  </logger>
  <logger name="org.apache.commons.vfs2.impl.StandardFileSystemManager">
    <level value="WARN" />
  </logger>

  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->
  <root>
    <priority value="INFO" />
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>

</log4j:configuration>
