syntax:glob
.classpath
.project
.settings
bin
target
gwt-dev-1.5.3-mac-libs.zip
*.rej
*~
*.orig
*.ipr
*.iml
*.iws
.DS_Store
*.gpd.*
*cpJar*
build.properties
nuxeo-theme-editor/bin-groovy
.svn
.svn2hg_currev
.svn2hg_curlog
derby.log
*.launch
nuxeo-*/META-INF
nuxeo-*/OSGI-INF
*.bak
