/*
Styles for all the forms.
=Forms elements
author: lkemen@nuxeo.com
*/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4em;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px; }

textarea {
  height: auto; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 0 #00adff, 0 0 3px #b5dcff;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 0 #00adff, 0 0 3px #b5dcff;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 0 #00adff, 0 0 3px #b5dcff; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal; }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

form input,
form textarea,
form select {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1; }

select,
input[type="file"] {
  height: 30px;
  *margin-top: 4px;
  line-height: 30px; }

input[type="file"] {
  padding: 0; }

select {
  background-color: #fff;
  border: 1px solid #ccc; }

select[multiple],
select[size],
input[type="file"] {
  height: auto; }

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

/* =Forms elements */
.required {
  background: transparent url("${basePath}/icons/required.gif") top right no-repeat;
  padding: 0 1em 0 0 }

.widgetHelpLabel .widgetLabel.required {
  background: url("${basePath}/icons/required.gif") no-repeat scroll right top, url("${basePath}/icons/help.png") no-repeat scroll right 15px top transparent;
  padding-right: 2.3em }

optgroup {
  font-style: normal;
  font-weight: bold }

option {
  font-weight: normal }

.nx-page .field,
.nx-page select,
.nx-page textarea,
.nx-page input[type="text"],
.nx-page input[type="file"],
.nx-page input[type="password"] {
  font-family: "default (__FLAVOR__ font)";
  background: none #fff;
  box-sizing: border-box;
  border: 1px solid;
  border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset;
  display: inline-block;
  font-size: 1em;
  margin-bottom: .5em;
  padding: .5em }

.nx-page input[type="text"],
.nx-page input[type="password"],
.nx-page input[type="date"],
.nx-page textarea {
  min-width: 4em;
  width: 100% }

.nx-page textarea {
  min-height: 5.5em }

.nx-page select {
  margin: 0 .5em .5em 0;
  max-height: 20em;
  min-width: 14em }

.nx-page label {
  padding-right: .4em }

.nx-page .dataInputText {
  vertical-align: top }

.nx-page input[type="file"] {
  margin-left: .6em }

.nx-page input[type="radio"],
.nx-page input[type="image"],
.nx-page input[type="hidden"],
.nx-page input[type="checkbox"] {
  background: none;
  border: none !important;
  box-shadow: none;
  margin-right: .3em }

.nx-page input:focus,
.nx-page select:focus,
.nx-page textarea:focus,
.nx-page input[type="text"]:focus,
.nx-page input[type="password"]:focus {
  background-color: #fff;
  border-color: #2e9cff;
  box-shadow: 0 2px 0 #00adff, 0 0 3px #b5dcff;
  color: "black (__FLAVOR__ color)";
  outline: 0 none }

/* Placeholders in forms */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: "gray.medium (__FLAVOR__ color)";
  text-overflow: ellipsis; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: "gray.medium (__FLAVOR__ color)";
  text-overflow: ellipsis; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: "gray.medium (__FLAVOR__ color)";
  text-overflow: ellipsis; }

.nx-page input[placeholder] {
  color: "gray.medium (__FLAVOR__ color)";
  text-overflow: ellipsis; }

.nx-page .contentViewQuickFilterForm input.dataInputText {
  border-radius: 3px 0 0 3px;
  border-right: medium none;
  margin: 0 }

.nx-page .contentViewQuickFilterForm .button,
.nx-page .action_bar .button,
#selection_buttons .widgetPanel .button {
  height: 2.9em;
  line-height: 2.9em;
  font-size: .74em;
  padding: 0 1em; }

.nx-page .contentViewQuickFilterForm input.button {
  border-radius: 0 2px 2px 0;
  margin: 0; }

/* Document creation form */
.nx-page #document_create .buttonsGadget,
.nx-page #createThread .buttonsGadget,
.nx-page #document_send .buttonsGadget {
  border-top: 1px solid #eee;
  background-color: #fafafa;
  margin: 2em -2em -2em;
  padding: 1em 2em .5em }

.nx-page #document_create .buttonsGadget .horizontalAction:first-child .button,
.nx-page #createThread .buttonsGadget .button:first-child,
.nx-page .button.primary,
.nx-page input.button.primary {
  background-color: "primary.button (__FLAVOR__ background)";
  border: 1px solid;
  border-color: "primary.button (__FLAVOR__ border)";
  color: #fff }

.nx-page #document_create .buttonsGadget .horizontalAction:first-child .button:hover,
.nx-page #createThread .buttonsGadget .button:first-child:hover,
.nx-page .button.primary:hover,
.nx-page input.button.primary:hover {
  background-color: "primary.button (__FLAVOR__ background)";
  border: 1px solid #0096dd;
  box-shadow: 0 -30px 20px rgba(255, 255, 255, 0.2) inset, 0 1px 3px rgba(0, 0, 0, 0.25);
  transition: all 150ms ease-in-out 0s; }

.nx-page #document_create .buttonsGadget .horizontalAction:first-child .button:focus,
.nx-page #createThread .buttonsGadget .button:first-child:focus,
.nx-page .button.primary:focus,
.nx-page input.button.primary:focus {
  border-color: #2e9cff;
  box-shadow: 0 0 5px #b5dcff;
  outline: none }

/* in Tables */
.nx-page .dataTableNoBorder textarea,
.nx-page .dataTableNoBorder input[type="text"] {
  max-width: 49em }

.nx-page .chainSelect input[type="image"] {
  margin: -0.1em 0 0 0.2em;
  padding: 0;
  vertical-align: top;
  float: right; }

.nx-page input.tagInput {
  background: url("${basePath}/icons/tag.png") no-repeat scroll 2px center / 12px auto transparent;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  font-size: .95em;
  padding: .1em .5em .2em 1.8em;
  max-width: 12em;
  min-width: 10em }

.nx-page .dataInput textarea,
.nx-page .dataInput input {
  background-color: #fff }

/* Column Edition*/
#fancybox-content .listShuttleSelect {
  min-height: 15em }

.listShuttleTable .listShuttleSelectionActions a {
  display: block }
