/*
Corporate header styles.
=Header -> define links colors, backgrounds, logo position, alignments
=Search -> search and advanced search links styles
=UserServices -> link and menu relative to the user
=MainTabs -> navigation links between applications pages
=Studio header link -> Small button for Administrators to access Nuxeo Studio
author: lkemen@nuxeo.com
*/

/* =Header */
.nxHeader {
  background-color: "header (__FLAVOR__ background)";
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.18);
  height: 3em;
  line-height: initial;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1041 }

.nxHeader .logo {
  float: left;
  line-height: 2.8em;
  padding-left: 1.6em;
  vertical-align: middle;
  width: 19% }

.nxHeader .logo img {
  max-height: 8em;
  vertical-align: text-bottom; }

.nxHeader .content {
  float: right;
  font-size: 12px;
  font-family: Arial;
  text-transform: uppercase;
  vertical-align: middle;
  width: 81% }

.nxHeader .includes {
  width: 0 }

.nxHeader a,
.nxHeader a:link,
.nxHeader a:visited,
.nxHeader a:hover,
.nxHeader a:active {
  color: "link.header (__FLAVOR__ color)";
  text-decoration: none;
  -moz-transition: none;
  -webkit-transition: none;
  transition: none }

.userMenuActions li > .widgetLabel {
  font-weight: normal }

.nxHeader .actionsWidgetPanel {
  padding: 0 }

.nxHeader .actionLink {
  margin: inherit }

/* =Search */
.userSearchBlock {
  float: right;
  line-height: 200%;
  margin: 1em 1em 0 .5em;
  text-transform: none;
  -moz-transition: all 0.3s ease 0.1s;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s }

/* old search input kept for anonymous dashboard mode */
.userSearchBlock input[type="text"] {
  opacity: .85;
  width: 140px }

.userSearchBlock input[type="text"]:focus {
  opacity: 1;
  width: 160px }

.userSearchBlock .directoryFilter {
  background: #e4e4e4 url('${basePath}/icons/search.png') no-repeat 95% center;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #e4e4e4;
  border-radius: 1em;
  font-size: 1em;
  height: 25px;
  line-height: normal;
  padding: .4em 2em .3em .6em;
  margin: 0 .6em 0 0;
  transition: all 0.2s ease 0.1s }

.userSearchBlock input.button {
  background: transparent;
  border:none;
  box-shadow: none;
  cursor:pointer;
  height: 25px;
  padding: 0;
  margin: 0 0 0 -23px;
  text-indent: -9999px;
  vertical-align: top;
  width: 20px }

.userSearchBlock input.button:hover {
  cursor:pointer }

/* select2 search input */
.userSearchBlock .select2-container {
  margin-bottom: 0 }

.userSearchBlock .select2-container-multi .select2-choices {
  background: #eee url('${basePath}/icons/search.png') no-repeat 98% center;
  box-shadow: none;
  border-color: transparent }

.userSearchBlock .select2-container-multi .select2-choices .select2-search-field input {
  box-shadow: none;
  margin: 0 }

/* =UserServices */
.userServicesBlock {
  float: left;
  line-height: 44px; }

.userServicesBlock a:hover {
  text-decoration: none }

/* =MainTabs */
.mainTabs {
  float: left;
  font-size: .9em;
  font-weight: normal }

.mainTabs li {
  border-top: 3px solid transparent;
  display: inline;
  float: left;
  margin: 0 .05em }

.mainTabs a:link,
.mainTabs a:visited {
  color: "link.header (__FLAVOR__ color)";
  display: inline-block;
  font-size: 1.1em;
  padding: 0 .4em }

.mainTabs li:hover,
.mainTabs li.selected {
  border-top: 3px solid "header.tabs.selected (__FLAVOR__ border)"; }

.mainTabs li.selected a {
  font-weight: bold; }

.nxHeader .userActions {
  border-top: 3px solid transparent;
  float: left;
  padding: 0 .5em;
  text-transform: none }

.nxHeader .userMenuActions {
  border-top: 3px solid transparent;
  float: right;
  font-size: 1.1em;
  padding: 0 }

.nxHeader .userMenuActions a {
  font-size: 1.1em;
  display: block }

/* Override default dropdown button styles */
.userMenuActions .actionList .dropdown,
.userMenuActions .actionList .dropdown:hover {
  background: url("${basePath}/icons/user_menu.png") no-repeat scroll 4px center #fff;
  border: none;
  border-radius: 20px;
  box-shadow: none;
  display: inline-block;
  line-height: 2em;
  height: 2.3em;
  padding: 0.4em 1em 0.43em 2.2em !important; }

.userMenuActions .actionList .dropdown:hover {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }

.userMenuActions .button {
  background-color: rgba(0, 0, 0, 0);
  border: medium none;
  box-shadow: none;
  color: "link.header (__FLAVOR__ color)";
  line-height: 1.7em;
  padding: .15em .5em .1em 1.7em !important;
  text-transform: none }

.userMenuActions .dropDownMenu .widget {
  font-weight: normal }

.nxHeader .actionList .actionSubList li a {
  color: "black (__FLAVOR__ color)" }

/* =Studio header link */
.studioButton {
  font-weight: normal }

/* =Connect header links */
.updateNotificationArea {
  float: right;
  line-height: inherit;
  padding: .3em .5em 0;
  vertical-align: middle }
