/*
Specific styles for the Document Management View
=Frame -> specifiy left column style
=Document list -> specifics to document browsing
=Advanced Search -> for advanced search view
=Clipboard & Worklist -> styles in the left column
author: lkemen@nuxeo.com
*/

/* =Frame */
.content .tabsContent {
  background: none #fff;
  padding: 2em 1.5em; }

.tabsContent .tabsContent {
  padding: 1em 0; }

.userClipboard .tabsContent {
  border: medium none;
  margin-top: 0;
  padding: 1.2em 0.5em 1.5em; }

/* Custom styles for summary */
.summary .gridRow .gridBox:nth-child(2) .widgetPanel {
  padding-right: 0; }

.summary .gridBox.gridStyle4 {
    background-color: #fafafa;
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.3) inset;
    padding: 2em 1em;
    margin: -2em 0; }

.summary {
    margin-right: -1.5em; }

/* =List of available servers  */
.serverChoice {
  float: left; }

.serverChoice a {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 -5px 5px #eee inset;
  color: #000;
  display: block;
  font-weight: bold;
  margin: 1em;
  min-height: 150px;
  padding: 1.5em 1em 1em;
  text-align: center;
  text-decoration: none;
  width: 200px; }

.serverChoice a:hover {
  background: none "color.major.medium (__FLAVOR__ background)";
  border-color: "button.hover (__FLAVOR__ border)"; }

/* =Clipboard & Worklist */
.userClipboard {
  margin: 0 0 1.5em;
  line-height: initial; }

.dropzone .userClipboard {
  margin: -2px; }

.userClipboardContent {
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  margin: 0;
  padding: .4em 1em 1em;
  word-wrap: break-word; }

.dropInto,
.dropIntoClipboardCopy {
  background-color: "neutral.lighter (__FLAVOR__ background)";
  border: 1px dashed;
  border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 3px; }

#clipboardCopy {
  font-weight: bold;
  padding: .3em; }

.userClipboardContent .rf-ulst .smallIcon {
  height: 13px;
  margin-top: .3em;
  vertical-align: top;
  width: 13px; }

.userClipboardContent .rf-ulst-itm a {
  display: inline-block;
  line-height: 1.7em;
  white-space: normal;
  word-break: break-all; }

.userClipboardContent .rf-ulst-itm .cell {
  white-space: nowrap; }

.clipboardFunctions .rf-ulst-itm:first-of-type {
  border-width: 1px;
  border-style: dashed none none;
  border-color:"neutral.medium (__FLAVOR__ border)";
  margin-top: .5em;
  padding-top: .9em; }

.clipboardFunction a,
.clipboardFunction a:link,
.clipboardFunction a:visited {
  color: "default (__FLAVOR__ color)"; }

.column:hover .clipboardFunction a {
  color: "link (__FLAVOR__ color)"; }

.column:hover .clipboardFunction a:hover {
  color: "link.hover (__FLAVOR__ color)"; }

.clipboardRemoveItem {
  float: right;
  position: absolute;
  right: 0; }

.userClipboard .tabsBar img {
  opacity: .6;
  height: 14px;
  width: 14px; }

.userClipboard .tabsBar li:hover img,
.userClipboard .tabsBar .selected img {
  opacity: 1; }
