/*
Specific styles for the Search View
=Grid -> custom styles for the main grid
=Faceted Search -> styles for the search in the left colum
=Assets list -> styles for the center colum asset listing
author: lkemen@nuxeo.com
*/

/* =Grid */
.gridBox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em }

.nxSearchForm {
  background-color: "neutral.lighter (__FLAVOR__ background)";
  width: 19% }

.nxSearchResults {
  background-color: #fff;
  text-align: center;
  width: 81% }

/* Widgets and Containers specific styles */
.nxMainContainer .widgetPanel { padding: 0 }
.nxMainContainer .containerSubWidget { margin: 0 }

/* =Faceted Search */
.nxSearchForm { font-size: .82em }

/* =Assets list */
.nxMainContainer .globalActionBar {
  border-bottom: 1px solid;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  padding: .2em }

.nxSearchResults .dataOutput {
  font-size: .9em;
  text-align: left }

.nxSearchResults .dataOutput .documentTitle {
  font-size: 1em;
  font-weight: normal;
  text-align: left }

.nxSearchResults .globalActionBar {
  text-align: left;
  padding: 0 }

.nxSearchResults .globalActionBar .button {
  font-size: .9em;
  margin: .3em .5em .5em 0;
  padding: .2em .4em }

.nxSearchResults .listingLayoutSelector {
  font-size: .9em }

.nxSearchResults .pageNavigationControls {
  border-style: solid none }

.nxSearchResults .detail {
  clear: both;
  text-align: right }

.nxSearchResults .detail span {
  margin-right: .3em }

.nxSearchResults .bubbleBox {
  background-color: #fff;
  border-bottom-width: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  margin: .1em .2em .5em;
  min-height: 200px;
  padding: 0;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 186px }

.nxSearchResults .bubbleBox:hover {
  border-bottom-color: "color.major.strong (__FLAVOR__ border)";}

.nxSearchResults .bubbleBox:hover .fieldColumn {
  color: "black (__FLAVOR__ color)" }

.nxSearchResults .bubbleBox .bubbleHeader input {
  margin: 0 .2em }

.nxSearchResults .bubbleBox .bubbleHeader {
  background-color: #F7F7F7;
  border: medium none;
  margin: 0 0 0.2em;
  padding: 0.4em 0 }

.nxSearchResults .bubbleBox .fieldColumn { line-height: 135% }

  /* Reduce padding between widgets in the box*/
  .nxSearchResults .bubbleBox .fieldColumn {
    color: "gray.medium (__FLAVOR__ color)";
    font-size: .9em;
    padding: 0 }

  .nxSearchResults .bubbleBox .dataInput,
  .nxSearchResults .bubbleBox .widgetPanel {
    margin: 0 0 0 .4em }

.nxSearchResults .bubbleBox .thumbViewPicture,
.video-js-box .video-js {
  display: block;
  margin: 0 auto }

/* Styles when an asset is selected */
.nxSearchResults .selectedItem,
.nxSearchResults .selectedItem:hover {
  border-bottom-color: "color.major.stronger (__FLAVOR__ border)" }

.nxSearchResults .selectedItem .fieldColumn,
.nxSearchResults .selectedItem .documentTitle,
.nxSearchResults .selectedItem:hover .documentTitle { color: "black (__FLAVOR__ color)" }

/* Pictures and video thumbnails in bubbleBoxes */
.thumbnailContainer { text-align: center;
  height: 124px }
.thumbnailContainer img {
  max-height: 100%;
  max-width: 100% }
.bubbleBox:hover .thumbnailContainer img {
	background-color: #fff }

.bubbleBox .tag {
  background-color: "neutral.light (__FLAVOR__ background)";
  border-radius: 0;
  color: "gray.medium (__FLAVOR__ color)";
  display: inline-block;
  font-size: .9em;
  line-height: 130%;
  margin: 0;
  padding: 0 .2em .1em;
  position: absolute;
  right: 10px;
  text-transform: lowercase }

.nxMainContainer .bubbleBox .dataInput td {
	border: none 0 }

/* =Assets View */
.nxMainContainer .widgetPanel .description_block {
  font-size: .9em;
  margin: .7em .2em .5em }

.nxMainContainer .description_block span {
  color: "gray.dark (__FLAVOR__ color)";
	font-weight: normal }

/* Smaller tables display in foldableBox, apply .dataTableLine styles */
.nxMainContainer .dataInput,
.nxMainContainer .containerField {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 }
.nxMainContainer .dataInput td {
  border-color: "neutral.lighter (__FLAVOR__ border)";
  border-spacing: 0;
  border-style: none none solid;
  border-width: 1px;
  padding: .1em .3em .2em;
  text-align: left;
  vertical-align: top }
.nxMainContainer .dataInput td td { border: none }
.nxMainContainer .dataInput tr:hover {
  background-color: "color.major.light (__FLAVOR__ background)" }

.nxMainContainer .foldableBox .dataInput {
	font-size: .9em }

.nxMainContainer .foldableBox .dataInput .dataInput {
  font-size: 1em }

.nxMainContainer .widgetPanel .labelColumn {
  text-align: left;
  width: 28% }

.nxMainContainer .summaryTitle {
  background-color: "neutral.medium (__FLAVOR__ background)";
  border-bottom: 0 none;
  font-size: 1em;
  padding: .3em;
  text-transform: none }

/* smaller buttons in Foldable boxes*/
.foldableBox .buttonsGadget {
  margin: .1em 0 0.2em;
  text-align: right }
.foldableBox .buttonsGadget .button {
  font-size: .8em;
  margin: .2em 0 0 .3em;
  padding: .1em .4em }

/* Picture View -> TODO: move it to imaging styles ? */
.assetViewContainer {
  background-color: #fff;
  border: 1px solid;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  margin: .2em 0 .5em;
  height: 250px;
  padding: 3px;
  text-align: center }

.documentTitle {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: "black (__FLAVOR__ color)";
  font-size: 1.3em;
  font-weight: bold;
  margin: .1em 0;
  overflow: hidden;
  padding: .3em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100% }

.assetViewContainer .thumbnailContainer {
  height: 200px }

.thumbnailContainer {
  max-width: none }
.thumbnailContainer:before,
.pictureContainer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle }
.thumbnailContainer img,
.assetViewContainer img,
.assetViewContainer table {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  vertical-align: middle }

.assetViewContainer .pictureContainer {
  height: 245px;
  margin: 0 auto }

/* TODO: move to box styles */
.bubbleBox .bubbleHeader .documentTitle {
  font-size: 1.1em;
  display: inline;
  padding: 0;
  text-align: left }

.listingLayoutSelector { font-size: .9em }
