/*
Specific styles for the Home View
=Main Frame -> small adjustments
author: lkemen@nuxeo.com
*/

/* =Main Frame */
.adminTabsColumn { min-height: 660px; height: auto!important; height: 660px }
.adminViewContent { height: 100%; width: 100% }
.adminContentColumn { padding: 2em }
.adminViewContent h2 { padding: 2em 0 1em }
.adminViewContent p { padding: .4em 0 }
.adminContentColumn .tabsContent { font-size: normal }

/* =Override GWT styles*/
body, table td, select { font-family: "default (__FLAVOR__ font)"; }
.widget .content { width: 100% }

.adminViewContent p.directoryBack {  padding: .2em .2em .2em 2em }

.description_block span { font-size: 1em }
