body,
html {
    margin:0;
    padding:0;
}

body {
    min-width:1000px;
    background:#fff url(/nuxeo/site/files/resources/image/background_page.gif) top left repeat-x;
    color:#333;
}

#wrap {
    margin:0 auto;
    width:1000px;
    height: 100%;
}

#header {
    width: 1000px;
    /*margin-right:220px;*/
    padding:0px;
    text-align: middle;
    height:50px;
    }

#header img {
    float: left;
}

#header h1 {
    font-size: 28px;
    font-color: white;
    text-align: left;
    padding:0;
    padding-top:6px;
    margin:0;
}

#header h1 a {
    color: white;
    text-decoration: none;
    background:url(/nuxeo/site/files/resources/image/nuxeo_web_engine.gif) top right no-repeat;
    padding-right:80px;
}

#main_title h1 {
    padding:5px;
    margin:0;
    float: left;
}

#nav {
    padding: 5px;
    background: white;
    width: 650px;
}

#nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
#nav li{
    display:inline;
    margin:0;
    padding:0;
}

#main-wrapper {
  width:100%;
  height:100%;
  background:url(/nuxeo/site/files/resources/image/background_main-wrapper.gif) top right repeat-y; 
  border:1px solid #fff;

}

#main {
    background:#fff url(/nuxeo/site/files/resources/image/background-main.gif) top left repeat-x;
    float:left;
    width:760px;
}

#main h2, #main h3, #main p {
    padding:0 10px;
}

#sidebar {
    background:url(/nuxeo/site/files/resources/image/background_sidebar.gif) top left repeat-x;
    float:right;
    width:240px;
}
#sidebar h3, #sidebar p {
    padding:0 10px 0 0;
}
#footer {
    background: white;
    clear:both;
    vertical-align: middle;
    width: 1000px;
    border: 1px solid #999;
    border-top-style: dotted;
}

#footer p {
    padding: 10px 0px 0px 0px;
    margin:0;
    font-size: 0.8em;
    color: #999;
    text-align: center;
}

#sidebar .sideblock {
    padding: 6px;
    margin: 0px;
    margin: 0px 0px 10px 0px;
    font-size: 0.8em;
}

#sidebar .contextual {
    background: white;
}


.diff {
    /* XXX */
    white-space: normal;
}

.diff ins {
    background: lightgreen;
    color: darkgreen;
}

.diff del {
    background: lightred;
    color: darkred;
}

.diff span {
    color: darkgrey;
}


h1 {
    /* H1 */
    font: normal small-caps bold 1.5em Verdana, sans-serif;
    color: #0066CC;
}

h2 {
    /* H2 */
    font: normal normal bold 1.1em Verdana, sans-serif;
    color: #0066CC;
    border-top: 1px solid #0066CC;
    background: #F1F7FF;
    margin: 0px;
    margin: 30px 0px 10px 0px; 
}

h3 {
    /* H3 */
    font: normal normal bold 1em Verdana, sans-serif;
    margin: 0px;    
}

.doc h3 {
    /* H3 */
    font: normal normal bold 1em Verdana, sans-serif;
    border-top: 1px solid #0066CC;
    background: #F1F7FF;
}

p, li {
    /* Paragraph */    
    font: 11pt "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    color black;
}

pre {
    background-color:#F1F7FF;
    border:1px dotted #555555;
    margin:10px;
    padding:7px;
    white-space:pre;
    font-size: 0.9em;
}

.hidden {
    /* Use this to hide elements */
    display: none;
}

.summary-byline {
    /* Byline */
    font: italic normal normal .8em Arial, sans-serif;
    text-align: right;
}

.summary-entries {
    /* Entries */
    padding: 0px 20px;
}

.summary-title {
    /* title of entries */
    font-variant: small-caps;
    border-top: 1px solid #0066CC;
    background: #F1F7FF;
}

.summary-content h1, .summary-content h2, .summary-content p{
    /* smaller title for summaries */
    font-size: 80%;
}

.doc {
    /* document content */
    padding: 0px 15px 15px 15px;
    
}