body,
html {
    margin:0;
    padding:0;
}

body {
    min-width:1000px;
    background:#fff url(/nuxeo/site/files/resources/image/background_page.gif) top left repeat-x;
    color:#333;
    font:normal 12px Verdana, sans-serif;
}

#wrap {
    margin:0 auto;
    width:1000px;
    height: 100%;
}

#header {
    width: 1000px;
    /*margin-right:220px;*/
    padding:0px;
    text-align: middle;
    height:50px;
    }

#header img {
    float: left;
}

#header h1 {
    font-size: 240%;
    font-color: white;
    text-align: left;
    padding:0;
    padding-top:6px;
    margin:0;
    font-family: "Century Gothic","Trebuchet MS";
}

#header h1 a {
    color: white;
    text-decoration: none;
    background:url(/nuxeo/site/files/resources/image/nuxeo_web_engine.gif) top right no-repeat;
    padding-right:80px;
}

#main_title h1 {
    padding:5px;
    margin:0;
    float: left;
}

#nav {
    padding: 5px;
    background: white;
    width: 650px;
}

#nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
#nav li{
    display:inline;
    margin:0;
    padding:0;
}

#main-wrapper {
  width:100%;
  height:100%;
  background:#fff url(/nuxeo/site/files/resources/image/background_main-wrapper.gif) top right repeat-y; 
  border:1px solid #fff;
  border-bottom:none;

}

#main {
    background:#fff url(/nuxeo/site/files/resources/image/background-main.gif) top left repeat-x;
    float:left;
    width:740px;
    padding:10px 0pt 10px 20px;
}

#main h2, #main h3, #main p {
    padding:0 10px;
}

#sidebar {
    background:url(/nuxeo/site/files/resources/image/background_sidebar.gif) top left repeat-x;
    float:right;
    width:240px;
}  
    
#footer {
    background-color:#ccc;
    clear:both;
    vertical-align: middle;
    width: 1000px;
    border:1px solid #fff;
    border-width: 0 1px;
    padding:10px 0;
}

#footer p {
    padding: 10px 0px 0px 0px;
    margin:0;
    font-size: 80%;
    color: #666;
    text-align: center;
}

#sidebar h3, #sidebar p {
    padding:0 10px 0 0;
    margin:0;
    }
    
#sidebar h3 {
  color:#fff;

}  

#sidebar .sideblock {
    padding: 6px;
    margin: 0px;
    margin: 0px 0px 10px 0px;
    font-size: 0.8em;
}

#sidebar .general {
  margin-left:20px;
}

#sidebar .contextual {
  width:226px;
  background:url(/nuxeo/site/files/resources/image/background_box_box.gif) top left repeat-y;
  padding:0;
  margin-bottom:0;
}

#sidebar .contextual h3 {
  background:url(/nuxeo/site/files/resources/image/background_box_title.gif) top left no-repeat;
  height:25px;
  padding:0;
  padding-left:25px;
  padding-top:6px;
  color:#fff;
}

#sidebar .sideblock-content {
  background:url(/nuxeo/site/files/resources/image/background_box_content.gif) top left no-repeat;
 padding:10px 25px;
}

#sidebar .sideblock-content-bottom {
  background:url(/nuxeo/site/files/resources/image/background_box_bottom.gif) top left no-repeat;
  height:5px;
}

.diff {
    /* XXX */
    white-space: normal;
}

.diff ins {
    background: lightgreen;
    color: darkgreen;
}

.diff del {
    background: lightred;
    color: darkred;
}

.diff span {
    color: darkgrey;
}


h1 {
    /* H1 */
    font: normal small-caps bold 240% "Century Gothic","Trebuchet MS", sans-serif;
    color: #0066CC;
}

h2 {
    /* H2 */
    font: normal normal bold 150% "Century Gothic","Trebuchet MS", sans-serif;
    color: #0066CC;
    border-top: 1px solid #0066CC;
    background: #F1F7FF;
    margin: 0px;
    margin: 30px 0px 10px 0px; 
}

h3 {
    /* H3 */
    font: normal normal bold 133% "Century Gothic","Trebuchet MS", sans-serif;
    margin: 0px;    
}

.doc h3 {
    /* H3 */
    font: normal normal bold 1em Verdana, sans-serif;
    border-top: 1px solid #0066CC;
    background: #F1F7FF;
}

pre {
    background-color:#F1F7FF;
    border:1px dotted #555555;
    margin:10px;
    padding:7px;
    white-space:pre;
    font-size: 0.9em;
}

.hidden {
    /* Use this to hide elements */
    display: none;
}

.summary-byline {
    /* Byline */
    font: italic normal normal .8em Arial, sans-serif;
    text-align: right;
}

.summary-entries {
    /* Entries */
    padding: 0px 20px;
}

.summary-title {
    /* title of entries */
    font-variant: small-caps;
    border-top: 1px solid #0066CC;
    background: #F1F7FF;
}

.summary-content h1, .summary-content h2, .summary-content p{
    /* smaller title for summaries */
    font-size: 80%;
}

.doc {
    /* document content */
    padding: 0px 15px 15px 15px;
    
}