// Search Tab styles.

// =Grid
.gridBox {
  padding: .5em 1.5em 1em;
}

.nxMainContainer .nxSearchForm {
  background-color: $shade-light-0;
  font-size: .8em;
  margin-top: 4.7em;
  padding: 0 1.5em 1em;
}

.nxMainContainer .nxSearchForm > div:last-child {
  margin-bottom: 3em;
}

.nxSearchForm .containerSubWidget {
  margin: 0;
}

.nxSearchResults .containerWidgetPanel {
  padding: 0;
}

.nxSearchResults .contentViewUpperActions {
  background: none $shade-light-0;
  border: 1px solid $shade-light-50;
  border-radius: $common-radius;
  float: none;
  padding: .7em 1em .6em;
}

.searchFilterActions .horizontalAction:first-child .button {
  border-radius: 0 3px 3px 0;
}

.searchFilterActions .horizontalAction:last-child .button {
  border-radius: 3px 0 0 3px;
  border-right: 0;
}

// Search Column
.nxSearchForm .searchesSelector select {
  border: 0;
}

.searchesSelector {
  background-color: $column-background;
  margin: 0 -1.5em;
  padding: 1em;
}

.nxSearchForm .studioFormTable .containerSubWidget {
  padding: 0 0 1em;
}

.nxSearchForm.compactLayout .fieldColumnn input[type="text"] {
  margin-bottom: 0;
}

.nxSearchForm.compactLayout .fieldColumnn .dataInputTextDate input {
  margin-bottom: .3em;
}

.nxSearchForm.compactLayout .containerWidgetPanel h3 {
  border: 0;
  margin: 0;
  padding: 0 0 .5em;
}

.nxSearchForm.compactLayout h3 .widgetLabel {
  padding: 0;
}

.nxSearchForm .containerField label:hover {
  cursor: pointer;
}

.nxSearchForm .emptyResult {
  padding: 0 0 .2em;
  text-align: left;
}

.nxSearchForm .nx-less-more-ctrl {
  display: block;
  margin: .3em 0 .1em;
  padding: 0;
}

.nxSearchForm .nx-less-more-ctrl:before {
  content: '+ ';}

.nxSearchForm .widgetPanel .containerWidgetPanel {
  padding-bottom: .5em;
}

// Studio forms specific
.nxSearchForm .studioFormTable .widgetLabel,
.nxSearchForm .studioFormTable .containerWidgetPanel .widgetLabel {
  display: inline-block;
  font-weight: bold;
  padding: 0 0 .2em;
}

.nxSearchForm .studioFormTable .fieldColumn {
  padding-bottom: 1em !important;
}

.nxSearchForm.compactLayout .studioFormTable .containerWidgetPanel,
.nxSearchForm .studioFormTable .containerSubWidget:last-child {
  padding-bottom: 0;
}

// Main content
.searchViewTitle {
  float: left;
}

.searchViewTitle h3 {
  border: 0;
  font-size: 1.4em;
  margin: 0;
  padding: 1.5em 0 2em;
}

.widgetPanel.searchResultsActions {
  float: right;
  padding: 1.8em 0 2em;
}

.searchResultsActions input.button {
  margin: 0 0 .5em .5em;
}

.searchResultsListing {
  clear: both;
}

.contentViewTitle {
  border: 0;
}
