
/* Styles for JSF widgets, etc. */

div.nxthemesRegionNotSet {
  padding: 0.5em;
  margin: 2px;
  background-color: #f8f6e5;
  font: italic 11px sans-serif;
  color: #000;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #333;
}
