// ----- Basics styles
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}


iframe {
  border: 1px solid $shade-light-50;
}

html {
  font-size: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
.nx-page {
  color: $font-color;
  direction: ltr;
  font-family: $default-font;
  font-size: 17px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 22px;
  text-rendering: optimizelegibility;
  transition: color 250ms ease 0s, background 250ms ease 0s, border 250ms ease 0s;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

img,
a img,
:link img,
:visited img {
  border: 0;
}

b,
strong {
  font-weight: bold;
}

i,
em,
var,
dfn,
cide {
  font-style: italic;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input::-moz-focus-inner {
  // Fix button heights in Ffox
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button i {
  font-style: normal;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

*::-moz-selection {
  background-color: $button-primary;
  color: $shade-light-0;
}

*::selection {
  background-color: $button-primary;
  color: $shade-light-0;
}

// =Links and Titles
.nx-page a {
  color: $link;
  text-decoration: none;
}

.nx-page a:hover {
  color: $link-hover;
  text-decoration: none;
}

a,
img,
a:focus,
a:active,
:link:focus,
:link:active {
  outline: medium none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.mainTitle {
  color: $title;
  font-weight: bold;
  line-height: normal;
}

h1,
.mainTitle {
  font-size: 1.6em;
  margin-top: 0;
  padding: .5em 0 1em;
  word-wrap: break-word;
}

h2 {
  font-size: 1.3em;
  padding: .5em 1em .5em 0;
}

h3 {
  font-size: 1.2em;
  padding: .5em 0 2em;
}

h4 {
  font-size: 1.1em;
  padding: .7em 0 1em;
}

h5 {
  font-size: 1.1em;
  margin: .2em 0;
}

h6 {
  color: $shade-strong-20;
  font-size: 1em;
  margin: .2em 0;
}

.icon {
  margin-right: .3em;
}

input,
select,
textarea,
button,
keygen,
isindex,
legend,
a {
  font-size: inherit;
}

hr {
  border-bottom: 1px solid $shade-light-30;
  border-top: 0;
  margin: 2em 0 2.5em;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

// =Compat styles
.field,
select,
textarea,
.serverChoice a,
.fullWidth,
.tabsBar,
.gridBox,
.grayBox,
.simpleBox,
.infoViewRight .infoViewInfoLayout,
input[type="text"],
input[type="file"],
input[type="password"] {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}
