// ----- Body styles
.nxMainContainer {
  background-color: $page-background;
  font-size: .8em;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.nxHeader + .nxMainContainer {
  margin-top: 3.7em;
}

.nxMainContainer .column,
.nxMainContainer .verticalTabsColumn,
.nxMainContainer .nxSearchForm {
  background: none $column-background;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16);
  font-size: .85em;
  overflow-y: auto;
  padding: 6em 1em;
  position: fixed;
  top: 0;
  transition: width .1s ease .5ms;
}

.nxMainContainer .column > div:last-child {
  margin-bottom: 6em;
}

.nxMainContainer .content {
  padding: 2em 3.5em 3em;
}

.nxMainContainer .column + .content,
.nxMainContainer .verticalTabsContent,
.nxMainContainer .nxSearchResults {
  margin-left: 19%;
}

@media only screen and (min-width: 768px) {
  .nxMainContainer .column,
  .nxMainContainer .verticalTabsColumn,
  .nxMainContainer .nxSearchForm {
    width: 235px;
  }
  .nxMainContainer .column + .content,
  .nxMainContainer .verticalTabsContent,
  .nxMainContainer .nxSearchResults {
    margin-left: 235px;
    padding: 2em 2.5em 3em;
    width: calc(100% - 235px);
  }
}

@media only screen and (min-width: 1278px) {
  .nxMainContainer .column,
  .nxMainContainer .verticalTabsColumn,
  .nxMainContainer .nxSearchForm {
    width: 280px;
  }
  .nxMainContainer .column + .content,
  .nxMainContainer .verticalTabsContent,
  .nxMainContainer .nxSearchResults {
    margin-left: 280px;
    width: calc(100% - 280px);
  }
}

@media only screen and (min-width: 1678px) {
  .nxMainContainer .column,
  .nxMainContainer .verticalTabsColumn,
  .nxMainContainer .nxSearchForm {
    width: 340px;
  }
  .nxMainContainer .column + .content,
  .nxMainContainer .verticalTabsContent,
  .nxMainContainer .nxSearchResults {
    margin-left: 340px;
    width: calc(100% - 340px);
  }
}

// Description of folders - to be moved to tabs_content
.currentDocumentDescription {
  display: block;
  font-size: .9em;
  font-weight: bold;
  padding: 0 0 1em;
}

.currentItemDescription {
  display: block;
  font-size: 13px;
}

.titleBlock .currentDocumentDescription {
  margin-top: -1em;
}
