// ----- Breadcrumb styles
.breadcrumb {
  color: $shade-medium-10;
  font-size: .85em;
  margin: -1em 0 2em;
}

.breadcrumb .action_bar {
  margin: 0;
}

.breadcrumb .action_bar a {
  border: 0;
  padding: .3em 0;
}

.breadcrumbs {
  float: left;
  padding: .3em .4em 0 0;
}

.breadcrumbs a,
.breadcrumbs a:link,
.breadcrumbs a:visited {
  background-color: transparent;
  color: $shade-strong-20;
  display: inline-block;
  font-weight: normal;
  line-height: 2.2em;
  margin: 0 8px 0 0;
  padding: 0 .2em;
  position: relative;
  transition: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: $link;
}

.breadcrumbs a img {
  border: 1px solid transparent;
  vertical-align: middle;
}

.breadcrumbs a img:hover {
  border-color: $shade-light-50;
}

.breadcrumbs a {
  border-radius: .2em 0 0 .2em;
  padding-left: .7em;
}

.breadcrumbs .actionList {
  display: block;
  float: left;
}

.breadcrumbs .dropDownMenu.dropdown {
  background: none transparent 94% center / 13px 13px;
  border: 0;
  box-shadow: none;
  color: $shade-strong-20;
  height: 24px;
  line-height: 24px;
  margin: 0 .15em 0 0;
  padding: 0 1.7em 0 .6em !important;
  transition: none;
}

#breadcrumbForm {
  line-height: 24px;
}

.breadcrumbs .dropdown:after {
  background: url('/nuxeo/icons/dropdown.png') no-repeat scroll right center;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .2;
}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs .dropDownMenu.dropdown:hover {
  background-color: $shade-light-0;
}

.breadcrumbs .dropDownMenu.dropdown:hover {
  border: 0;
}

.breadcrumbs .dropdown:hover:after {
  opacity: 1;
}

.breadcrumbs a:hover:after,
.breadcrumbs a:hover:before {
  content: '';
  position: absolute;
  top: 0;
  border: 0 solid $shade-light-0;
  border-width: 13px 4px;
  width: 0;
  height: 0;
}

.breadcrumbs a:hover:before{
  border-left-color: transparent;
  left: -6px;
}

.breadcrumbs a:hover:after{
  border-color: transparent;
  border-left-color: $shade-light-0;
  left: 100%;
}

.breadcrumbs a:first-of-type{
  border-radius: .2em 0 0 .2em;
  padding-left: .5em;
}

.breadcrumbs a:first-of-type:before {
  border: medium none;
}

.breadcrumbs .dropDownMenu.dropdown > img {
  margin: 0 -.4em -.5em 0;
}

.breadcrumbs .actionSubList {
  left: 0;
  top: 2.5em;
}

.breadcrumbs .actionSubList a:before,
.breadcrumbs .actionSubList a:after {
  border: 0;
  position: relative;
}

.breadcrumbs .actionSubList a {
  color: $font-color;
}

.breadcrumbs .actionSubList a:hover {
  color: $link;
}

.printButton {
  float: right;
}

.breadcrumb .actionsWidgetPanel {
  padding: 0;
}
