// ----- Helpers styles to adjust default rules to specific needs.
.boldLabel, .bold {
  font-weight: bold;
}

.nobold {
  font-weight: normal;
}

.nowrap {
  white-space: nowrap;
}

.textAlignR {
  text-align: right;
}

.textAlignC {
  text-align: center;
}

.textAlignL {
  text-align: left;
}

.floatR {
  float: right;
}

.floatL {
  float: left;
}

.clear {
  clear:both;
}

.displayN {
  display: none;
}

.displayI {
  display: inline;
}

.displayIB {
  display: inline-block;
}

.displayB {
  display: block;
}

.visibilityH {
  visibility: hidden;
}

.visibilityV {
  visibility: visible;
}

.overflowV {
  overflow: visible;
}

.overflowH {
  overflow: hidden;
}

.overflowS {
  overflow: scroll;
}

.overflowYS {
  overflow: scroll;
}

.overflowXS {
  overflow: scroll;
}

.overflowA {
  overflow: auto;
}

.positionR {
  position: relative;
}

.positionA {
  position: absolute;
}

.positionF {
  position: fixed;
}

.positionI {
  position: inherit;
}

.positionS {
  position: static;
}

// width for divs
.fullWidth {
  box-sizing: border-box;
  width:100%;
}

.fullMaxWidth {
  max-width: 100%;
}

.threeQuarterWidth{
  margin: 0 auto;
  width: 70%;
}

.halfWidth {
  width: 45%;
}

.quarterWidth {
  width: 22%;
}

// width for tables & columns
.tenPercent {
  width: 10% !important;
}

.twentyPercent {
  width: 20% !important;
}

.thirtyPercent {
  width: 30% !important;
}

.fortyPercent {
  width: 40% !important;
}

.fiftyPercent {
  width: 50% !important;
}

.sixtyPercent {
  width: 60% !important;
}

.seventyPercent {
  width: 70% !important;
}

.eightyPercent {
  width: 80% !important;
}

.ninetyPercent {
  width: 90% !important;
}

// reset width class
.autoWidth {
  width: auto !important;
}
