// ----- Status messages, tooltips and tips paragraphs styles.
// =Messages
.ambiance {
  font-size: .75em;
  font-weight: normal;
  padding: .7em 1em;
}

.ambiance,
.ambiance:hover {
  border: 0;
}

.ambiance-title {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: .2em;
}

a.ambiance-close {
  color: inherit;
  padding-left: .5em;
  text-decoration: none;
}

.ambiance .button {
  float: none;
  margin: 1em .5em .2em 0;
  padding: 0 .4em;
}

.ambiance-default,
.ambiance-neutral,
.ambiance-info,
.ambiance-success,
.ambiance-warn,
.ambiance-error,
.ambiance-fatal,
.neutralFeedback,
.infoFeedback,
.errorFeedback,
.warningFeedback,
.successFeedback {
  background-color: $shade-light-0;
  border-radius: 5px 0 0 5px;
  color: $font-color;
  margin: 0 0 .2em;
  padding: .7em 1em;
}

.neutralFeedback,
.ambiance-neutral {
  box-shadow: 0 0 1px $shade-medium-30;
  color: $font-color;
}

.infoFeedback,
.ambiance-info {
  background-color: $info-background;
  color: $info-label;
}

.successFeedback,
.ambiance-success {
  background-color: $success-background;
  color: $success-label;
}

.errorFeedback,
.ambiance-error,
.ambiance-fatal {
  background-color: $error-background;
  color: $error-label;
}

.warningFeedback,
.ambiance-warn {
  background-color: $warning-background;
  color: $warning-label;
}

.facesStatusMessage {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 10000;
}

.infoMessage,
.errorMessage,
.warningMessage,
.successMessage {
  display: block;
  font-weight: bold;
  padding: 0;
}

.info,
.avert,
.error,
.success,
.warning {
  font-weight: bold;
}

.info,
.infoMessage {
  color: $info-label;
}

.success,
.successLink,
.successMessage {
  color: $success-label;
}

.avert {
  color: $font-color;
}

.warning,
.warningLink,
.warningLabel,
.warningMessage {
  color: $warning-label;
}

.error,
.errorLink,
.errorMessage {
  color: $error-label;
}

.processMessage {
  background: url('${basePath}/icons/bullet.png') no-repeat scroll .7em 1em / 13px $shade-light-20;
  border-radius: $common-radius;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  margin: .3em .5em .3em 0;
  padding: .8em 1em 1em 2.2em;
}

.processMessage .button {
  font-size: .85em;
  margin: 0 .2em 0 .5em;
  padding: .2em .7em .3em;
}

.completeInfo{
  background-image: url('${basePath}/icons/info.png');
  background-color: $info-background;
  color: $info-label;
}

.completeSuccess {
  background-image: url('${basePath}/icons/checked.gif');
  background-color: $success-background;
  color: $success-label;
}

.completeError {
  background-image: url('${basePath}/icons/delete_red.png');
  background-color: $error-background;
  color: $error-label;
}

.completeWarning {
  background-image: url('${basePath}/icons/warning.gif');
  background-color: $warning-background;
  color: $warning-label;
}

.running {
  background-image: url('${basePath}/img/standart_waiter.gif');
}

.scheduled {
  background-image: url('${basePath}/icons/clock.png');
}

.adminMessage {
  background-color: rgba(20, 30, 40, .92);
  bottom: 0;
  color: $warning-strong;
  font-size: 1.5em;
  left: 0;
  line-height: 160%;
  padding: 2em 3em;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: none;
  z-index: 10000;
}

.content .adminMessage .close {
  color: $shade-light-0;
  display: block;
  float: right;
  font-size: 2em;
  margin-left: 1.5em;
  position: relative;
  right: 0;
  top: -2px;
}

.noscriptMessage {
  background-color: $warning-background;
  font-weight: bold;
  color: $font-color;
  left: 0;
  padding: .4em 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: none;
  z-index: 10000;
}

.label,
.chip {
  background-color: $shade-strong-10;
  border-radius: $common-radius;
  color: $shade-light-0;
  font-size: .9em;
  font-weight: bold;
  line-height: 130%;
  margin: 0 .2em .2em 0;
  padding: .06em .3em;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;
}

.chip {
  border-radius: 35px;
  padding: .1em .4em;
}

.label-light,
.chip-light {
  background-color: $shade-light-0;
  border: 1px solid $shade-medium-10;
  color: $font-color;
}

.label-info,
.chip-info {
  background-color: $label-info-background;
}

.label-success,
.chip-success {
  background-color: $label-success-background;
}

.label-warning,
.chip-warning {
  background-color: $label-warning-background;
}

.label-error,
.chip-error {
  background-color: $label-error-background;
}

// =Quote
.quote {
  display: block;
  font-size: 1.12em;
  margin: 0 0 1em;
}

// Tipsy tooltips
.tipsy {
  padding: 5px;
}

.tipsy-inner {
  font-size: 1.1em;
  padding: 5px 8px 4px;
}

// Visible lists style, as lists are invisible in Nuxeo by default
ul.visibleList {
  list-style: disc outside none;
  margin: .5em 0 1em;
  padding: 0 0 0 2em;
 }

.visibleList li {
  list-style: disc outside none;
}

// =Small help messages
.specification {
  clear: both;
  margin: 0 0 1.5em;
}

.widgetPanel .specification {
  font-size: .95em;
}

.help,
.detail {
  color: $shade-medium-30;
  font-size: 11px;
  font-weight: normal;
}

p.detail,
div.detail {
  margin: .1em 0 .7em;
}

// Empty folder or result
.emptyResult {
  color: $shade-medium-10;
  display: block;
  font-style: italic;
  font-weight: normal;
  padding: 1em .7em 2em;
  text-align: center;
}

.emptyResult.emptyResultBig {
  font-size: 1.3em;
  padding: 3em 2em 6em;
}

// =Tips
 .widgetHelpLabel .widgetLabel {
  background: url('${basePath}/icons/help.png') no-repeat scroll right top transparent;
  cursor: help;
  display: block;
  padding: 0 1.2em .2em 0;
}

.tooltip {
  background-color: $shade-light-0;
  border: 1px solid $shade-medium-10;
  border-radius: 6px;
  box-shadow: 0 0 3px $shade-medium-20;
  color: $shade-strong-100;
  display: none;
  font-weight: normal;
  max-width: 14em;
  padding: .6em .8em .8em;
  white-space: normal;
  z-index: 2000;
}

.dropArea,
.dropzone.dropArea {
  border: 2px dashed $shade-light-50;
  border-radius: $common-radius;
  box-shadow: none;
  color: $shade-medium-10;
  font-size: 1.2em;
  padding: 1.5em;
  text-align: center;
}

.tips {
  border: 1px solid $shade-light-50;
  border-radius: $common-radius;
  box-shadow: none;
  color: $shade-medium-30;
  display: block;
  margin: .1em 0 .5em;
  padding: .8em;
  text-align: center;
}

.tips.processMessage {
  background-position: 5px 13px;
  padding: .8em 1.8em;
}

// Layout Dev Mode
.nxlDevRegion .nxlDevContainer {
  position: absolute;
}

.nxlDevRegion.highlight {
  border: 2px dashed $label-error-background;
  background-color: $warning-background;
}

.nxlDevRegion .nxlDevContainer,
div.nxlDevRegion .nxlDevContainer.displayN {
  display: none;
}

#nxlMainDevContainer {
  background-color: $shade-light-0;
  border-top: 1px solid $shade-medium-20;
  bottom: 0;
  color: $shade-strong-100;
  font-size: .8em;
  font-weight: normal;
  padding: 1em;
  position: fixed;
  text-transform: initial;
  white-space: normal;
  width: 100%;
  z-index: 2000;
}

#nxlMainDevContainerClose {
  float: right;
  padding-right: 2em;
}

.nxHeader .nxlDevRegion {
  display: inline;
}

.nxFooter .nxlDevRegion {
  display: inline;
}
