// Specific styles for the Document Management View
.content .tabsContent {
  background: none $shade-light-0;
  padding: 2em 1.5em;
}

.tabsContent .tabsContent {
  padding: 1em 0;
}

.userClipboard .tabsContent {
  border: medium none;
  border-radius: 0 0 $common-radius $common-radius;
  margin-top: 0;
  padding: 1.2em .5em 1.5em;
}

// Custom styles for summary
.summary .gridRow .gridBox:nth-child(2) .widgetPanel {
  padding-right: 0;
}

// =List of available servers
.serverChoice {
  float: left;
}

.serverChoice a {
  border: 1px solid $shade-medium-10;
  border-radius: $common-radius;
  box-shadow: 0 -5px 5px $shade-light-30 inset;
  color: $font-color;
  display: block;
  font-weight: bold;
  margin: 1em;
  min-height: 150px;
  padding: 1.5em 1em 1em;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.serverChoice a:hover {
  background: none $shade-light-50;
  border-color: $shade-strong-20;
}

// =Clipboard & Worklist
.userClipboard {
  line-height: initial;
  margin: 0 0 1.5em;
}

.dropzone .userClipboard {
  margin: -2px;
}

.userClipboardContent {
  background-color: $shade-light-0;
  border-radius: 0 0 3px 3px;
  margin: 0;
  padding: 1em .7em;
  word-wrap: break-word;
}

.dropInto,
.dropIntoClipboardCopy {
  background-color: $shade-light-20;
  border: 1px dashed $shade-medium-10;
  border-radius: $common-radius;
}

#clipboardCopy {
  font-weight: bold;
  padding: .3em;
}

.userClipboardContent .rf-ulst .smallIcon {
  height: 13px;
  margin-top: .3em;
  vertical-align: top;
  width: 13px;
}

.userClipboardContent .rf-ulst-itm a {
  display: block;
  line-height: 1.7em;
  white-space: normal;
  word-break: break-all;
}

.userClipboardContent .rf-ulst-itm .cell {
  white-space: nowrap;
}

.clipboardFunctions .rf-ulst-itm:first-of-type {
  border-color: $shade-medium-10;
  border-style: dashed none none;
  border-width: 1px;
  margin-top: .5em;
  padding-top: .9em;
}

.clipboardFunction a,
.clipboardFunction a:link,
.clipboardFunction a:visited {
  color: $font-color;
}

#clipboardCopy li {
  margin-bottom: .35em;
}

.column:hover .clipboardFunction a:hover {
  color: $link-hover;
}

.clipboardRemoveItem {
  float: right;
  position: absolute;
  right: 0;
}

.userClipboard .tabsBar img {
  height: 14px;
  opacity: .6;
  width: 14px;
}

.userClipboard .tabsBar li:hover img,
.userClipboard .tabsBar .selected img {
  opacity: 1;
}
