// ----- Popups styles
// =FancyBox + TinyMce popups style override
#fancybox-overlay {
  z-index: 10002;
}

#fancybox-wrap {
  box-sizing: content-box;
  font-family: $default-font;
  font-size: .75em;
  z-index: 10005;
}

#fancybox-wrap a,
#fancybox-wrap a:link,
#fancybox-wrap a:visited {
  color: $link;
  text-decoration: none;
}

#fancybox-wrap a:hover,
#fancybox-wrap a:active {
  text-decoration: underline;
}

#fancybox-content h3,
.mce-window-head {
  background-color: $shade-light-20;
  border-bottom: 1px solid $shade-light-50;
  margin: 0;
  padding: 1em 1.7em;
}

#fancybox-content .content {
  background-color: $shade-light-0;
  min-height: 22em;
  overflow: auto;
  padding: 2em 2em 2.5em;
}

#fancybox-content .buttonsGadget {
  background-color: $shade-light-20;
  border-top: 1px solid $shade-light-50;
  font-size: 1.1em;
  margin: 0;
  padding: 1em 1.8em .5em;
}

#fancybox-content .buttonsGadget button.disabled,
#fancybox-content .buttonsGadget input.disabled,
#fancybox-content .buttonsGadget button.disabled:hover,
#fancybox-content .buttonsGadget input.disabled:hover,
#fancybox-content .buttonsGadget .button[disabled],
#fancybox-content .buttonsGadget .button[disabled]:hover,
#fancybox-content .buttonsGadget .button[disabled=disabled],
#fancybox-content .buttonsGadget .button[disabled=disabled]:hover,
#fancybox-content .buttonsGadget button:disabled,
#fancybox-content .buttonsGadget button:disabled:hover,
#fancybox-content .buttonsGadget input[type="reset"]:disabled,
#fancybox-content .buttonsGadget input[type="reset"]:disabled:hover,
#fancybox-content .buttonsGadget input[type="submit"]:disabled,
#fancybox-content .buttonsGadget input[type="submit"]:disabled:hover,
#fancybox-content .buttonsGadget input[type="button"]:disabled,
#fancybox-content .buttonsGadget input[type="button"]:disabled:hover {
  background: none transparent;
  border: 1px solid $shade-light-50;
  box-shadow: none;
  color: $shade-medium-10;
  cursor: default;
  display: initial;
}

#fancybox-content .popUpDescription {
  padding: 0 0 1em;
}

#fancybox-content .dataInput {
  max-width: none;
}

.mce-window-head .mce-title {
  color: $title;
  font-size: 1.2em;
  font-weight: bold;
  line-height: normal;
}

.mce-window-head .mce-close {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0;
  margin: 0;
  padding: .2em 0;
}

.mce-in .mce-panel,
.mce-in .mce-foot {
  background-color: $shade-light-20;
  border-top: 1px solid $shade-light-50;
}

.mce-window .mce-widget.mce-btn {
  border: 0;
}

.mce-primary button, .mce-primary button i {
  background-color: $button-primary;
  border-color: $button-primary;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
  color: $shade-light-0;
  text-shadow: none;
}

.mce-primary button:hover, .mce-primary button:hover i {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 -30px 20px rgba(255, 255, 255, .2) inset, inset 0 1px 0 rgba(255, 255, 255, .4);
  transition: all 150ms ease-in-out 0s;
}

.mce-primary:focus button {
  border-color: #2e9cff;
  box-shadow: 0 0 5px #b5dcff;
  outline: none;
}

.mce-textbox {
  padding: 0 .3em;
}

// Override default size from the page
#fancybox-frame body,
.nxPopUp.nxMainContainer {
  height: 100%;
}

.nxPopUp.nxMainContainer {
  height: auto;
  margin: 0;
  min-height: inherit;
}

.nxPopUp.nxMainContainer .content {
  background: none;
  padding: 1em;
}

#fancybox-content #permalinkAction_box input {
  display: block;
  width: 90%;
}

// =Generic Popup div
.genericPopUp {
  background-color: $shade-light-0;
  border: 1px solid $shade-medium-10;
  border-radius: $common-radius;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
  display: none;
  left: 26%;
  padding: 0;
  position: absolute;
  width: 670px;
  z-index: 10000;
}

.genericPopUp .closePopUpHeader {
  background-color: $shade-light-10;
  border-bottom: 1px solid $shade-light-50;
  color: $title;
  font-size: .9em;
  font-weight: bold;
  margin: 0;
  padding: 1em 1.7em;
}

.genericPopUp .closePopUpHeader .closePopUp {
  color: $shade-medium-30;
  cursor: pointer;
  float: right;
  font-size: .9em;
}

.genericPopUp .closePopUpHeader .popUpTitle {
  float: left;
  font-size: 1.2em;
}

.genericPopUp .popUpContent {
  height: 390px;
  overflow: auto;
  padding: 1em;
}

.genericPopUp .buttonsGadget {
  background-color: $shade-light-20;
  border-top: 1px solid $shade-light-50;
  font-size: 1em;
  margin: 0;
  padding: 1em 1.8em .5em;
}

.genericPopUp .dr-tree td,
.genericPopUp .rich-tree td {
  padding: .1em;
}

.bigPopUp {
  height: 70%;
  width: 80%;
}

// Popup view
.nxPopUp.nxMainContainer .infoViewInfoLayout {
  padding-left: 1em;
  padding-right: 1em;
}
