// ----- Override styles from RichFaces components
// =Form tags
.nx-page input,
.nx-page select,
.nx-page textarea,
.nx-page button,
.nx-page keygen,
.nx-page isindex,
.nx-page legend,
.nx-page a {
  font-family: $default-font;
  font-size: inherit;
}
// Replace calendar icon in forms
img.rf-cal-btn {
  background: transparent url('${basePath}/icons/calendar.png') no-repeat scroll 0 0 / 16px 16px;
  height: 25px;
  margin-right: 1em;
  padding-left: 25px;
  width: 25px;
}

// =Tree
.nx-page .menu {
  position: relative;
}

.nx-page .menu .tree.action {
  margin-bottom: -2em;
  position: absolute;
  right: 0;
}

.nx-page .menu dl,
.nx-page .menu dd {
  margin: 0;
}

.nx-page .menu dl {
  display: inline-block;
  margin-left: -.2em;
}

.nx-page .column > .menu {
  background-color: $shade-light-0;
  margin: 0 .2em 1em;
  padding: .5em;
}

.nx-page a.treeLink,
.nx-page a.treeLink:link,
.nx-page a.treeLink:visited {
  border: 1px solid transparent;
  border-radius: 15px;
  display: inline-block;
  font-size: .9em;
  font-weight: normal;
  margin-left: .1em;
  padding: .1em .3em;
}

.nx-page a.treeLink:hover,
.nx-page .selected a.treeLink {
  background-color: $shade-light-30;
  color: $shade-strong-100;
  text-decoration: none;
}

.nx-page .rf-trn-lbl {
  padding: 0;
}

.nx-page .rf-trn-lbl div {
  display: inline-block;
}

.nx-page .rf-trn-ico {
  height: 12px;
  margin-right: .3em;
  margin-top: .1em;
  vertical-align: sub;
  width: 12px;
}

.nx-page .rf-trn-hnd,
.nx-page .rf-trn-hnd-ldn-fct {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.nx-page .rf-trn-hnd-exp,
.nx-page .rf-trn-hnd-colps {
  background: $shade-light-0 url('${basePath}/icons/arrow_unfolded.gif') no-repeat scroll center center;
  display: inline-block;
  height: 16px;
  vertical-align: sub;
  width: 16px;
}

.nx-page .rf-trn-hnd-colps {
  background: $shade-light-0 url('${basePath}/icons/arrow_folded.gif') no-repeat scroll center 2px;
}

.nx-page .nx-no-trn-ico .rf-trn-ico {
  display: none;
}

.nx-page .rf-trn {
  background: transparent url('${basePath}/img/tree_line.png') repeat-y 0 0;
}

.nx-page .menu a.treeLink {
  word-break: break-word;
}

.nx-page .rf-trn a.treeLink {
  margin-left: -.3em;
}

.nx-page .rf-tr-nd-exp .rf-trn {
  background: none repeat scroll 0 0 transparent;
  white-space: nowrap;
  overflow: visible;
  line-height: normal;
}

.nx-page .rf-tr-nd .rf-tr-nd {
  margin-left: 12px;
}

.nx-page .rf-trn-sel {
  background: none;
}

.nx-page .cell img,
.nx-page .clipboardFunction img {
  vertical-align: middle;
}

.nx-page .rf-trn a.treeLink {
  white-space: normal;
}

.nx-page .rf-trn-cnt {
  max-width: 85%;
  white-space: nowrap;
  word-break: break-all;
}

.nx-page .treeNodeHighlightedClass {
  text-decoration: none;
}

.nx-page .treeNodeSelectedClass {
  border: 0;
}

.nx-page .fieldColumn .rf-trn img {
  margin: 0;
}

#publishTreeForm > dl {
  border: 1px solid $shade-medium-10;
  border-radius: $common-radius;
  display: block;
  margin: 0 0 2em 12em;
  padding: 1em;
}

#publishTreeForm .rf-trn-lbl img {
  height: 12px;
  margin: 0 .3em 0 1em;
  width: 12px;
}

// waiter
.nx-page .rf-st-start {
  background-color: $info-background;
  border: 1px solid $shade-light-0;
  height: 40px;
  padding: .7em .5em .5em;
  position: fixed;
  right: 40px;
  text-align: center;
  top: 55px;
  width: 40px;
  z-index: 10000;
}

.nx-page .rf-st-stop {
  display: none;
}

// =FileUpload
.nx-page .rf-fu {
  background: none $shade-light-10;
  border: 1px solid $shade-medium-10;
  border-radius: 3px;
}

.nx-page .rf-fu-hdr {
  background: none $shade-light-10;
  border: 0;
}

.nx-page .rf-fu-btn-add, .nx-page .rf-fu-btn-upl, .nx-page .rf-fu-btn-clr {
  background: none $shade-light-0;
  border: 1px solid $shade-medium-10;
  border-radius: 3px;
  box-shadow: 0 -2px 3px $shade-light-10 inset;
  color: $shade-strong-100;
  cursor: pointer;
  font-size: .95em;
  font-weight: bold;
  padding: .3em 0 0;
  text-decoration: none;
  white-space: nowrap;
}

.nx-page .rf-fu-lst {
  background-color: $shade-light-10;
}

.nx-page .rf-fu-itm {
  background-color: $shade-light-0;
  border: 1px solid $shade-medium-10;
  border-radius: $common-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  margin: .3em;
  padding: .3em;
  position: relative;
}

.nx-page .rf-fu-itm-lbl {
  font-size: 1em;
  font-weight: bold;
}

.nx-page .rf-fu-itm-st {
  color: $font-color;
  font-weight: normal;
  margin-top: 0;
}

.nx-page .rf-fu-itm-rgh {
  position: absolute;
  right: .5em;
  vertical-align: top;
  width: auto;
}

.nx-page .rf-fu-itm-lft {
  width: 80%;
}

.nx-page #fancybox-content .rf-fu {
  margin-bottom: 1em;
  width: 350px;
}

// =Modal Panel
.nx-page .rich-mpnl-mask-div {
  opacity: .1;
}

h3.documentTypes {
  border-color: $shade-medium-10;
  border-style: none none solid;
  border-width: 1px;
  color: $font-color;
  margin: 1.4em 0 .5em;
  padding: 0;
}

.documentType {
  margin: 1em 0;
  width: 200px;
}

.documentType img {
  float: left;
  margin-right: .5em;
}

.documentType a,
.documentType a:link,
.documentType a:visited,
.documentType a:hover {
  color: $link;
  font-weight: bold;
  text-decoration: none;
}

.documentType span {
  color: $font-color;
}

a.documentTypeLink {
  color: $link;
  font-weight: bold;
  text-decoration: none;
}

.nx-page #tooltip {
  display: block;
  position: absolute;
}

.nx-page #tooltipContent {
  background: $shade-light-5;
  border: 1px solid $shade-strong-30;
  color: $font-color;
  display: block;
  margin-left: .5em;
  padding: .2em 1.1em .3em .6em;
}

// Suggestion Box
.suggestionBoxResult .rich-sb-cell-padding img {
  max-height: 16px;
  max-width: 16px;
}

.suggestionBoxResult .rich-sb-cell-padding span {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

// Fix display in date range filters
.inputDate div,
.inputDate .rf-cal {
  display: inline-block;
}

// = rFaces calendar input
.nx-page input.rf-cal-inp {
  max-width: 14em;
  width: 80%;
}

.nx-page .inputDate {
  margin-right: .3em;
  white-space: nowrap;
}

// =Calendar
.nx-page table.rf-cal-extr {
  background-color: $shade-light-0;
  border: 1px solid $shade-medium-10;
  border-radius: $common-radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
  font-size: 12px;
}

.nx-page table.rf-cal-extr tr td {
  border: 0;
  padding: .15em !important;
  vertical-align: middle;
}

.nx-page .rf-cal-tl,
.nx-page .rf-cal-hdr-month,
.nx-page td.rf-cal-ftr,
.nx-page .rf-cal-tl-ftr,
.nx-page table.rf-cal-extr td.rf-cal-hdr {
  background: none repeat scroll 0 0 $shade-light-0;
  border: 0;
  font-weight: bold;
  padding: 0;
}

.nx-page .rf-cal-day-lbl,
.nx-page .rf-cal-week {
  background: none repeat scroll 0 0 $shade-light-10;
  border: 0;
  color: $shade-strong-20;
  text-transform: capitalize;
}

.nx-page .rf-cal-holiday {
  color: $shade-strong-20;
  background-color: $shade-light-0;
}

.nx-page .rf-cal-today {
  background-color: $shade-medium-10;
}

.nx-page .rf-cal-c {
  color: $link;
}

.nx-page .rf-cal-tool-btn {
  padding: .25em .2em;
}

.nx-page .rf-cal-boundary-day {
  color: $shade-medium-10;
  font-weight: normal;
}

.nx-page .rf-cal-tl-btn:hover,
.nx-page .rf-cal-edtr-btn-over,
.nx-page .rf-cal-btn-press,
.nx-page .rf-cal-editor-tool-over {
  border: 0;
}

.nx-page .rf-cal-edtr-btn-over {
  background: none;
}

.nx-page .rf-cal-btn-close,
.nx-page .rf-cal-tl-ftr:nth-child(2) {
  display: none;
}

.nx-page .rf-cal-editor-btn {
  color: #0084c3;
  font-weight: bold;
}

.nx-page .rf-cal-hov,
.nx-page .rf-cal-tl-btn:hover,
.nx-page .rf-cal-time-btn:hover,
.nx-page div.rf-cal-editor-btn-hov,
.nx-page .rf-cal-edtr-btn:hover,
.nx-page .rf-cal-edtr-tl-hov,
.nx-page .rf-cal-sel {
  background-color: #0084c3;
  color: $shade-light-0;
}

.nx-page .rf-cal-sel {
  font-weight: bold;
}

.nx-page .rf-cal-tl-ftr,
.nx-page .rf-cal-tl,
.nx-page .rf-cal-hdr-month {
  padding: 0 !important;
}

.nx-page .rf-cal-tl-btn {
  padding: .15em .1em;
}

// cal month editor
.nx-page .rf-cal-timepicker-cnt,
.nx-page .rf-cal-monthpicker-ok,
.nx-page .rf-cal-monthpicker-cancel {
  background: $shade-light-0;
}

.nx-page .rf-cal-edtr-layout-shdw,
.nx-page .rf-cal-spinner-buttons {
  background: 0;
}

.nx-page .rf-cal-timepicker-cnt,
.nx-page .rf-cal-monthpicker-cnt {
  border: 0;
  height: 232px;
  width: 228px;
}

.nx-page .rf-cal-sp-inp-ctnr input {
  margin-bottom: 0;
}

.nx-page .rf-cal-edtr-btn:hover,
.nx-page .rf-cal-edtr-btn-sel {
  border: 0;
  background-color: #0084c3;
  color: $shade-light-0;
}

.nx-page .rf-cal-sp-btn,
.nx-page .rf-cal-timepicker-inp td {
  background: 0;
  vertical-align: middle;
}

.nx-page .rf-cal-sp-up,
.nx-page .rf-cal-sp-down {
  cursor: pointer;
}

.nx-page .rf-cal-time-btn {
  background-color: #e9e9e9;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  margin: .3em;
  padding: .4em;
}

.nx-page table.rf-cal-monthpicker-cnt td,
.nx-page td.rf-cal-timepicker-inp {
  padding: .5em;
  vertical-align: bottom;
}
