
.nxthemesFramelessWebWidgetPanelBody {
  cursor: default;
  border-bottom: 1px dashed #999;
  border-top: 1px dashed #999;
}

.nxthemesFramelessWebWidgetTitle {
  background-color: #fcfcfc;
  font: bold 11px Arial, sans-serif;
  border: 1px solid #999;
  color: #555;
  margin: 0;
  padding: 0 1px;
  text-align: left;
}

.nxthemesFramelessWebWidgetTitle img {
  vertical-align: middle;
}

.nxthemesFramelessWebWidgetActions {
  float: right;
  font-weight: normal;
  cursor: pointer;
}

.nxthemesFramelessWebWidgetActions img {
  vertical-align: middle;
}

.nxthemesFramelessWebWidgetBody {
  font: 11px Arial, sans-serif;
}


