# Example for Windows
#jboss.dir=C:/Program Files/JBoss
# Example for *nix
#jboss.dir=/opt/jboss

# Which JBoss server config to use
#jboss.config=default

# additional command line parameters for mvn commands
# e.g. to work offline:
#mvn.opts=-o

