syntax:glob
.classpath
.project
.settings
bin
target
*~
*.orig
*.ipr
*.iml
*.iws
.DS_Store
*.gpd.*
*cpJar*
build.properties
derby.log
ftest/selenium/nuxeo
ftest/selenium/result-suite.html
ftest/selenium/log.txt
ftest/selenium/ffprofile/prefs.js
ftest/selenium/user-extensions.js
ftest/selenium/selenium-server.jar
