<?xml version="1.0"?>
<settings>
  <profiles>
    <profile>
      <id>Nuxeo</id>
      <repositories>
        <repository>
          <id>external_snapshot</id>
          <url>http://archiva.nuxeo.org/archiva/repository/external_snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
        <repository>
          <id>nuxeo_release</id>
          <url>http://archiva.nuxeo.org/archiva/repository/nuxeo_release</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>nuxeo_snapshot</id>
          <url>http://archiva.nuxeo.org/archiva/repository/nuxeo_snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>central_proxy</id>
          <url>http://archiva.nuxeo.org/archiva/repository/central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central_proxy</id>
          <name>Central Mirror</name>
          <url>http://archiva.nuxeo.org/archiva/repository/central/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>external_snapshot</id>
          <name>External Snapshot Repository</name>
          <url>http://archiva.nuxeo.org/archiva/repository/external_snapshot/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
        </pluginRepository>
        <pluginRepository>
          <id>nuxeo_release</id>
          <url>http://archiva.nuxeo.org/archiva/repository/nuxeo_release</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>nuxeo_snapshot</id>
          <url>http://archiva.nuxeo.org/archiva/repository/nuxeo_snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>Nuxeo</activeProfile>
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.nuxeo.build</pluginGroup>
  </pluginGroups>
</settings>
