/**
  Layout demo specific CSS
**/

/* Remove default padding from Nuxeo Galaxy Theme */
.nxStyle730123440FaceletRegion {
  padding:0px;
}

.nxStyle1516579035 table {
  border-collapse:collapse;
}

.nxStyle1631478226CellFrame {
  border-left:none!important;
}

td {
  padding:0!important;
}

/* Temporary Nuxeo World Bar */
.yellowribbon {border:none;overflow: hidden;}
div.blogRollBar {background-color:#ffd800;font-size:9px;height:19px;margin-bottom:0px;padding-top:1px;border-bottom:1px solid #333;padding-left:10px;}

/* HEADER */

div.header {
  background:url(/nuxeo/layoutDemo/img/header_nuxeo.png) no-repeat scroll right bottom #000;
  border-bottom:1px solid #bbb;
  padding:0 0 5px;
}

div.nuxeoLogo {
  float:left;
  padding: 10px 0 5px 10px;
}

div.nuxeoLogo span {
  color:#fff;
  font:18px/1.25em 'Lucida Grande',Verdana,Arial,sans-serif;
  padding:0 30px;
  vertical-align:top;
  }

div.customButtons {
  float:right;
  padding:0 10px 0 0;
}

div.customButtons p {
  color:#dedede;
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
  background-color:#212121;
  border:1px solid #333333;
  color:#153e6b;
  margin-left:10px;
  padding:2px 15px 5px;
}

div.customButtons a, div.customButtons a:visited {
  color:#616161;
}

div.customButtons a:hover {
  color:#00a1f5;
}


/* FOLDABLE BOX */

.foldableBox {
  border:1px solid #4e9ae1;
  margin:10px!important;
}

.foldableBox h3 {
  border-bottom: 1px solid #4e9ae1;
  color: #fff;
  background: #4e9ae1;
  padding:3px 3px 3px 18px;
  font-size:11px;
}

.foldableBox h3.folded {
  background: #4e9ae1 url(/nuxeo/img/theme_galaxy/arrow_folded.gif) top left no-repeat;
}

.foldableBox h3 a:link, .foldableBox h3 a:visited, .foldableBox h3 a:hover, .foldableBox h3 a:visited:hover {
  color: #fff;
}

.foldableBox h3.unfolded {
  background: #4e9ae1 url(/nuxeo/img/theme_galaxy/arrow_unfolded.gif) top left no-repeat;
}

.foldableBox h3 a {
  color: #fff;
  display: block;
}

.foldableBox .boxBody {
  padding: 10px;
}

.tabsContent .foldableBox {
  margin:10px 0 !important;
  border:1px solid #c7c7c7;  
}

.tabsContent .foldableBox  h3 {
  border:none;
  background-color:#f1f2f3,
  color:#666;
}

.tabsContent .foldableBox h3.folded {
  background: #f1f2f3 url(/nuxeo/layoutDemo/img/arrow_dark_folded.png) top left no-repeat;
}

.tabsContent .foldableBox h3 a:link, .tabsContent .foldableBox h3 a:visited, .tabsContent .foldableBox h3 a:hover, .tabsContent .foldableBox h3 a:visited:hover {
  color: #666;
}

.tabsContent .foldableBox h3.unfolded {
  background: #f1f2f3 url(/nuxeo/layoutDemo/img/arrow_dark_unfolded.png) top left no-repeat;
}

/* MENU */

ul.layoutDemoMenu {
  margin:0;
  padding:0;
  list-style:none;
}

ul.layoutDemoMenu li {
  margin-left:5px;
  margin:0;
  padding:0;
  list-style:none;
}

ul.layoutDemoMenu a, ul.layoutDemoMenu a:hover, ul.layoutDemoMenu a:visited {
  text-decoration:none;
  font-weight:normal;
  display:block;
  padding:3px 7px;
}

ul.layoutDemoMenu li.selected a, ul.layoutDemoMenu li.selected a:hover, ul.layoutDemoMenu li.selected a:visited {
  text-decoration:none;
  font-weight:normal;
  display:block;
  padding:3px 7px;
  background:#c0dcf5;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

/* MAIN CONTENT */

div.mainContent {
  padding: 15px;  
}

/* FOOTER */

div.footer {
  color:#5c5c5c;
  font:9px 'Lucida Grande',Verdana,Arial,sans-serif;
  padding:5px 15px 5px 5px;
  border-top:1px solid #dedede;
  text-align:right;
}

div.footer a {
  color:#00a1f5;
  text-decoration:none;
}