<?xml version="1.0"?>
<module name="connectClientRoot" root-type="connectClientRoot"
  path="/connectClient" extends="base">
  <links>
    <link id="pkgManagerAccess_packages" path="/packages">
      <category>PKG_ACTIONS</category>
      <guard>user=Administrator</guard>
    </link>
    <link id="pkgManagerAccess_download" path="/download">
      <category>PKG_ACTIONS</category>
      <guard>user=Administrator</guard>
    </link>
    <link id="pkgManagerAccess_install" path="/install">
      <category>PKG_ACTIONS</category>
      <guard>user=Administrator</guard>
    </link>
    <link id="pkgManagerAccess_uninstall" path="/uninstall">
      <category>PKG_ACTIONS</category>
      <guard>user=Administrator</guard>
    </link>
    <link id="pkgManagerAccess_remove" path="/remove">
      <category>PKG_ACTIONS</category>
      <guard>user=Administrator</guard>
    </link>
    <link id="pkgManagerAccess_restartView" path="/restartView">
      <category>PKG_ACTIONS</category>
      <guard>user=Administrator</guard>
    </link>
  </links>
</module>
