// ----- Profile styles.
.profileAvatar {
  height: 70px;
  width: 70px;
}

.avatar {
  max-height: 70px;
  max-width: 70px;
}

// only in nuxeo social collaboration
.pictureColumn {
  width: 150px;
}