// Drag and Drop styles
.dropzone .action_bar {
  margin-top: .35em;
}

#dropzone-info-panel {
  display: none;
}

#dropzone-info-panel td {
  vertical-align: top;
}

.dndControlMessage {
  display: none;
}

.loadingComplete {
  background: transparent url('${basePath}/icons/checked.gif') no-repeat left center;
  padding: .2em 0 0 1.6em;
}

.dropPanel {
  background-color: $shade-light-10;
  border-radius: $common-radius;
  height: 250px;
  padding: 1em;
}

.dropzone {
  border: 2px solid transparent;
  display: block;
}

.dropzoneHL {
  background-color: $shade-light-10;
  border: 2px dashed $shade-medium-10;
}

.dropzoneTarget {
  border: 2px dashed $dropzone;
}

.dropzoneTargetExtended {
  border: 2px dashed $success-strong;
}

.dropzoneTargetOverlay {
  position: absolute;
}

.dropezoneTargetOverlay:hover {
  background-color: rgba(200, 220, 250, .3);
}

.dropzone-info-block {
  display: block;
  margin: .4em 0 0;
  text-align: center;
}

.dropzone-info-summary {
  display: block;
  margin: .6em .9em 1.8em 4em;
}

.dropzone-info-progress {
  background-color: $column-background;
  height: 3px;
  width: 0;
}

.dropzone-info-item {
  margin: 0 auto 1em;
  width: 80%;
}

.dropzone-info-name {
  margin-bottom: .2em;
  text-align: center;
}

.dropzone-bar {
  height: 20px;
}

input.dropzone-bar-btn {
  margin-top: 2em !important;
  visibility: hidden;
}

.dropzone-bar-msg {
  display: block;
  padding-top: .2em;
}

.dndFormPanel {
  display: none;
  max-height: 350px;
  overflow: auto;
  position: absolute;
  z-index: 5000;
}

.dndProgressPanel {
  display: none;
  text-align: center;
  z-index: 10000;
}

.dndFormPanel,
.dndProgressPanel {
  background-color: $shade-light-0;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, .3);
  font-size: 12px;
  max-height: 25em;
  max-width: 60em;
  min-height: 8em;
  min-width: 35em;
  padding: 2em;
}

.dndFormPanel th {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 1em;
  text-align: left;
  vertical-align: top;
}

.dndFormPanel td {
  padding: 0 3.2em 1em 0;
  vertical-align: top;
}

.dndFormPanel input {
  margin: 1em 0;
}

.dndFormPanel body {
  margin: 0;
}

#uploadedFileList div {
  color: $shade-medium-20;
  margin: 0 0 .5em;
}

.importOperationForm iframe {
  margin: 2.3em 0 0;
}

.importOperationForm .dataInput {
  margin: 0 0 1.4em;
}

.importOperationForm .dataInput input {
  margin: 1.8em 0 0;
}

#dndContinueButton {
  display: none;
  padding: 5px;
}

// Drag and drop in DAM
.dropzoneFilled {
  padding: .5em;
  text-align: left;
}

.dropzoneTarget .simpleBox {
  margin: .2em;
}

.droppedItem,
.droppedItemInProgress {
  color: $font-color;
  display: inline-block;
  font-size: .85em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.droppedItemInProgress {
  color: $shade-medium-20;
  font-weight: normal;
  width: 66%;
}

.progressBarContainer {
  display: inline-block;
  margin: .3em;
  vertical-align: top;
  width: 30%;
}

.progressBar {
  background-color: $column-background;
  display: inline-block;
  height: 13px;
}
