// ----- Footer styles.
.nxFooter {
  background: none $footer-background;
  font-size: .8em;
  padding: 0 0 0 19%;
  width: 100%;
}

.footerDefaultLinks {
  color: transparent;
  padding: 1.4em 2em;
}

.nx-page .nxFooter a,
.nx-page .nxFooter a:hover {
  color: $footer-links;
}

.nx-page .nxFooter a:hover {
  text-decoration: underline;
}

.nxFooter .actionsWidgetPanel {
  padding: 0;
}

.copyrights {
  color: $footer-links;
  float: right;
  opacity: .65;
  padding: .2em 2em 0 0;
}

.nuxLinks {
  float: right;
  padding-left: 2em;
}

.nuxLinks a {
  vertical-align: middle;
}

a.twitt,
a.linkedin {
  background: transparent url('${basePath}/icons/icones-metanav.png') no-repeat left top / 32px;
  display: inline-block;
  height: 16px;
  transition: none;
  width: 16px;
}

a.linkedin {
  background: transparent url('${basePath}/icons/icones-metanav.png') no-repeat -16px top / 32px;
}

a.twitt:hover {
  background-position: left bottom;
}

a.linkedin:hover {
  background-position: -16px bottom;
}

a.twitt .footerLabel,
a.linkedin .footerLabel {
  display: none;
}

 // =Connect Banner
.bannerBottom {
  background-color: #585c69;
  border-radius: $common-radius;
  color: $shade-light-0;
  margin: 1.5em 0 3em;
  padding: 1em 1.4em;
  text-align: center;
}

.bannerBottom > p {
  font-size: 1.2em;
  font-weight: bold;
}

.nx-page .bannerBottom .button {
  background-color: #ff452a;
  border: 0;
  border-radius: $common-radius;
  color: $shade-light-0;
  height: auto;
  line-height: unset;
  margin: 1.5em 0;
  padding: .4em .8em;
  text-transform: uppercase;
  white-space: normal;
}

.nx-page .bannerBottom .button:hover {
  background-color: #dd1c00;
}

.bannerBottom ul {
  margin: 2em 0 1em;
  text-align: left;
}

.bannerBottom li {
  padding: 0 0 .2em 1.9em;
}

.bannerBottom img {
  margin: 0 .5em -.1em -1.9em;
  vertical-align: sub;
}

.bannerBottom .register-instance {
  font-size: 1.1em;
  font-weight: normal;
  padding-top: 1em;
}

.bannerBottom .register-instance a,
.bannerBottom .hf-account a {
  border-radius: $common-radius;
  color: #60ccff;
  display: inline-block;
  padding: .2em 1em;
}

.bannerBottom .register-instance a:hover,
.bannerBottom .hf-account a:hover {
  background-color: $button-primary;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  color: $shade-light-0;
}

.bannerBottom .nx-version {
  background-color: rgba(0, 0, 0, .15);
  border-radius: 0 0 3px 3px;
  border-top: 1px dashed rgba(0, 0, 0, .15);
  color: rgba(255, 255, 255, .5);
  font-family: monospace;
  font-size: .95em;
  font-weight: normal;
  margin: 2.5em -1.45em -1.05em -1.5em;
  padding: .2em;
}

.bannerBottom .hf-account {
  margin: 0 auto 1em;
}
