// ----- Forms styles.
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border-radius: $common-radius;
  color: $font-color;
  display: inline-block;
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 10px;
  padding: 4px 6px;
  vertical-align: middle;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: $shade-light-0;
  border: 1px solid $shade-medium-10;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: rgba(82, 168, 236, .8);
  box-shadow: 0 0 3px #b5dcff;
  outline: 0;
  outline: thin dotted \9;
}

input[type="radio"],
input[type="checkbox"] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

form input,
form textarea,
form select {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}

select,
input[type="file"] {
  height: 30px;
  line-height: 30px;
  *margin-top: 4px;
}

input[type="file"] {
  padding: 0;
}

select {
  background-color: $shade-light-0;
  border: 1px solid $shade-medium-10;
}

select[multiple],
select[size],
input[type="file"] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted $shade-strong-30;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// =Forms elements
.required {
  background: transparent url('${basePath}/icons/required.gif') top right / 7px no-repeat;
  padding: 0 1em 0 0;
}

.widgetHelpLabel .widgetLabel.required {
  background: url('${basePath}/icons/required.gif') no-repeat scroll right top / 7px, url('${basePath}/icons/help.png') no-repeat scroll right 11px top / 11px transparent;
  padding-right: 2.3em;
}

optgroup {
  font-style: normal;
  font-weight: bold;
}

option {
  font-weight: normal;
}

.nx-page .field,
.nx-page select,
.nx-page textarea,
.nx-page input[type="text"],
.nx-page input[type="file"],
.nx-page input[type="password"] {
  background: none $shade-light-0;
  border: 1px solid $shade-medium-10;
  border-radius: $common-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .07) inset;
  box-sizing: border-box;
  display: inline-block;
  font-family: $default-font;
  font-size: 1em;
  margin-bottom: .5em;
  padding: .5em;
}

.nx-page input[type="text"],
.nx-page input[type="password"],
.nx-page input[type="date"],
.nx-page textarea {
  min-width: 4em;
  width: 100%;
}

.nx-page textarea {
  min-height: 5.5em;
}

.nx-page select {
  margin: 0 .5em .5em 0;
  max-height: 20em;
  min-width: 14em;
}

.nx-page label {
  padding-right: .7em;
}

.nx-page .dataInputText {
  vertical-align: top;
}

.nx-page input[type="file"] {
  margin-left: .6em;
  line-height: 1;
}

.nx-page input[type="radio"],
.nx-page input[type="image"],
.nx-page input[type="hidden"],
.nx-page input[type="checkbox"] {
  background: none;
  border: 0 !important;
  box-shadow: none;
  margin-right: .3em;
}

.nx-page input:focus,
.nx-page select:focus,
.nx-page textarea:focus,
.nx-page input[type="text"]:focus,
.nx-page input[type="password"]:focus {
  background-color: $shade-light-0;
  border-color: #2e9cff;
  box-shadow: 0 0 3px #b5dcff;
  color: $font-color;
  outline: 0 none;
}

// Placeholders in forms
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $shade-medium-30;
  text-overflow: ellipsis;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $shade-medium-30;
  text-overflow: ellipsis;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $shade-medium-30;
  text-overflow: ellipsis;
}

.nx-page input[placeholder] {
  color: $shade-medium-30;
  text-overflow: ellipsis;
}

.nx-page .contentViewQuickFilterForm input.dataInputText {
  border-radius: $common-radius 0 0 $common-radius;
  border-right: 0;
  height: 28px;
  margin: 0;
}

.nx-page .contentViewQuickFilterForm .button,
.nx-page .action_bar .button,
#selection_buttons .widgetPanel .button {
  font-size: .9em;
  height: 28px;
  line-height: 2.3em;
  padding: 0 1em;
}

.nx-page .contentViewQuickFilterForm input.button {
  border-radius: 0 $common-radius $common-radius 0;
  margin: 0;
}

// Document creation form
.nx-page #document_create .buttonsGadget,
.nx-page #createThread .buttonsGadget,
.nx-page #document_send .buttonsGadget {
  background-color: $shade-light-5;
  border-top: 1px solid $shade-light-30;
  margin: 2em -2em -2em;
  padding: 1em 2em .5em;
}

.nx-page #document_create .buttonsGadget .horizontalAction:first-child .button,
.nx-page #createThread .buttonsGadget .button:first-child,
.nx-page .button.primary,
.nx-page input.button.primary,
input.button.dropzone-bar-btn {
  background-color: $button-primary;
  border: 1px solid $button-primary;
  color: $shade-light-0;
}

.nx-page #document_create .buttonsGadget .horizontalAction:first-child .button:hover,
.nx-page #createThread .buttonsGadget .button:first-child:hover,
.nx-page .button.primary:hover,
.nx-page input.button.primary:hover,
input.button.dropzone-bar-btn:hover {
  background-color: $button-primary;
  border: 1px solid #0096dd;
  box-shadow: 0 -30px 20px rgba(255, 255, 255, .2) inset, 0 1px 3px rgba(0, 0, 0, .25);
  transition: all 150ms ease-in-out 0s;
}

.nx-page #document_create .buttonsGadget .horizontalAction:first-child .button:focus,
.nx-page #createThread .buttonsGadget .button:first-child:focus,
.nx-page .button.primary:focus,
.nx-page input.button.primary:focus {
  border-color: #2e9cff;
  box-shadow: 0 0 5px #b5dcff;
  outline: none;
}

// in Tables
.nx-page .dataTableNoBorder textarea,
.nx-page .dataTableNoBorder input[type="text"] {
  max-width: 49em;
}

.nx-page .chainSelect input[type="image"] {
  float: right;
  margin: -.1em 0 0 .2em;
  padding: 0;
  vertical-align: top;
}

.nx-page input.tagInput {
  background: url('${basePath}/icons/tag.png') no-repeat scroll 2px center / 12px auto transparent;
  border-color: $shade-light-50;
  font-size: .95em;
  max-width: 12em;
  min-width: 10em;
  padding: .1em .5em .2em 1.8em;
}

.nx-page .dataInput textarea,
.nx-page .dataInput input {
  background-color: $shade-light-0;
}

// Column Edition
#fancybox-content .listShuttleSelect {
  min-height: 15em;
}

.listShuttleTable .listShuttleSelectionActions a {
  display: block;
}
