// ----- Navigation tabs, subtabs and back links styles
// =Tabs
.tabsBar {
  background: none $shade-light-0;
  border: 1px solid $shade-light-50;
  border-radius: $common-radius;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 1em;
  margin: 0 0 -8px;
  width: 100%;
}

.tabsBar ul {
  list-style: none outside none;
  margin: 0;
  padding: 0 1em 0 0;
}

.tabsBar li {
  border-color: $shade-light-50;
  border-style: none solid none none;
  border-width: 1px;
  float: left;
  padding: 0;
}

.tabsBar.vertical li {
  border-color: $shade-light-50;
  border-style: none solid none none;
  border-width: 1px;
  display: block;
  float: none;
  padding: 0;
}

.tabsBar a,
.tabsBar a:visited {
  background: transparent;
  border-top: 4px solid transparent;
  color: $shade-strong-20;
  display: inline-block;
  padding: .5em .6em .7em;
  text-decoration: none;
}

.column .tabsBar li a,
.modularTabs li a {
  border-top: 3px solid transparent;
}

.tabsBar li a:hover,
.tabsBar li.selected a,
.tabsBar li.selected a:visited,
.modularTabs li a:hover,
.modularTabs li.selected a,
.modularTabs li.selected a:visited {
  background-color: $shade-light-0;
  border-color: $tabs-horizontal-color;
  color: $font-color;
}

.tabsBar li:first-child a,
.modularTabs li:first-child a {
  border-radius: 3px 0 0;
}

.column .tabsBar {
  border-radius: 2px 2px 0 0;
  border-style: none none solid;
}

.column .tabsBar li:first-child a,
.tabsBar.vertical li:first-child a {
  border-radius: 0;
}

.tabsBar li.selected a {
  font-weight: bold;
}

.subtabsBar {
  background: none transparent;
  border-color: $shade-light-50;
  border-radius: 0;
  border-style: none none solid;
  border-width: 1px;
  font-size: .9em;
  margin-top: .5em;
}

.subtabsBar li {
  border: 0;
  margin: 0 0 -.1em .3em;
}

.subtabsBar a,
.subtabsBar a:visited {
  background: none $shade-light-10;
  border-color: $shade-light-50;
  border-radius: 2px 2px 0 0;
  border-style: solid solid none;
  border-width: 1px;
  color: $shade-strong-20;
  padding: .22em .4em;
}

.subtabsBar li a:hover,
.subtabsBar li.selected a,
.subtabsBar li.selected a:visited {
  background: none $shade-light-0;
  border-color: $shade-light-50 $shade-light-50 $shade-light-0;
  border-style: solid;
  border-width: 1px;
  color: $font-color;
  padding: .2em .4em .3em;
  text-shadow: none;
}

// Vertical tabs in home and admin Center
.nxMainContainer .verticalTabsColumn {
  padding: 6em 0;
}

.tabsBar.vertical {
  background: none 0;
  border: 0;
}

.tabsBar.vertical ul {
  margin: 0;
  padding: 0;
}

.tabsBar.vertical li {
  border: 1px solid transparent;
  margin: 0 0 .15em .1em;
  padding: 0;
}

.tabsBar.vertical li a,
.tabsBar.vertical li a:visited {
  border-left: 3px solid transparent;
  border-top: 0;
  color: $tabs-vertical-color;
  display: block;
  font-size: 1.2em;
  padding: .7em 0 .7em 1.5em;
  text-decoration: none;
  transition: none;
}

.tabsBar.vertical li:hover,
.tabsBar.vertical li.selected,
.tabsBar.vertical li.selected:hover {
  margin: 0 0 .15em .2em;
  transition: margin 100ms ease-in 0s;
}

.tabsBar.vertical li:hover a,
.tabsBar.vertical li.selected a {
  background-color: rgba(0, 0, 0, .5);
  border-left: 3px solid $tabs-horizontal-color;
  border-top: 0;
  color: $shade-light-0;
}

// =Navigation controls
.pageNavigationControls,
#pageNavigationControls {
  border: medium none;
  float: right;
  margin: .2em 0 .5em;
  padding: 0;
  text-align: right;
}

.pageNavigationControls .currentPageStatus,
#pageNavigationControls .currentPageStatus {
  color: $shade-strong-20;
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
  margin: 0 .5em;
  padding-top: .3em;
  vertical-align: top;
}

.pageNavigationControls input[type="image"],
#pageNavigationControls input[type="image"] {
  background-color: $shade-light-50;
  border: 1px solid $shade-medium-10 !important;
  border-left: none !important;
  border-radius: $common-radius;
  margin: 0;
  padding: .3em;
}


.pageNavigationControls input:hover,
#pageNavigationControls input:hover {
  background-color: $shade-light-10;
}

.pageNavigationControls input[disabled=disabled],
#pageNavigationControls input[disabled=disabled] {
  background-color: transparent;
  border-color: transparent !important;
  cursor: default;
  opacity: 0;
}

.pageNavigationControls input[disabled="disabled"]:nth-child(3n+1) {
  border-color: transparent !important;
}

.pageNavigationControls input[disabled=disabled]:hover,
#pageNavigationControls input[disabled=disabled]:hover {
  background: none;
}

#selection_buttons:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

// =Back Arrow
.directoryBack {
  display: inline;
  float: right;
  margin: 0 -.9em 0 0;
}

.directoryBack:after {
  clear: both;
}
