// ----- Overriding the styles in conflicts between the default css framework and Polymer Paper elements
// Buttons
.nx-elements paper-button {
  border: 1px solid $shade-medium-20;
  font-weight: bold;
  padding: .35em .8em;
  text-transform: none;
}

.nx-elements paper-button .content {
  padding: 0;
}

.nx-elements paper-button,
paper-material.paper-material-0[elevation="1"] {
  box-shadow: none;
}

.nx-elements paper-button:hover {
  border-color: $shade-strong-20;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  transition: all 150ms ease-in-out 0s;
}

.input-content.paper-input-container input:focus,
.input-content.paper-input-container textarea:focus,
.input-content.paper-input-container iron-autogrow-textarea:focus,
.input-content.paper-input-container .paper-input-input:focus {
  box-shadow: none;
}

paper-icon-button {
  width: 2.5em;
}

// Dialog
iron-overlay-backdrop {
  z-index: 1050 !important;
}

.nx-elements paper-dialog {
  z-index: 1100 !important;
}

.nx-elements paper-dialog > * {
  margin-top: 20px;
  padding: 0 24px;
}

paper-dialog-scrollable .scrollable {
  min-height: 25em;
}

.nx-elements paper-dialog span {
  margin: 0;
}

paper-dialog .disabled {
  color: $shade-medium-10;
}

.nx-elements paper-dialog .buttons {
  margin: 0;
  padding: 8px 8px 8px 24px;
  position: relative;
}

.nx-elements paper-dialog .buttons paper-button {
  border: 1px solid $shade-medium-20;
}

.nx-elements paper-button.colorful,
.nx-elements paper-dialog .buttons paper-button.colorful {
  background-color: $button-primary;
  border-color: $button-primary;
  color: $shade-light-0;
}

// Bubble Boxes
.nx-elements .bubbleBox .bubbleHeader h3 {
  float: left;
}

.nx-elements .bubbleBox .bubbleHeader paper-button {
  float: right;
}

// Forms
.nx-elements textarea {
  border: 0;
  box-shadow: none;
  margin: auto;
  min-height: auto;
}

.nx-elements .floated-label-placeholder {
  display: none;
}

.nx-elements .paper-dialog-scrollable > .popup-permission {
  padding-bottom: 1.5em;
}

iron-autogrow-textarea {
  border-color: $shade-medium-10;
  min-height: 5em;
}

#notification paper-checkbox {
  margin-bottom: .5em;
}

// Tables
.acl-table .pending span {
  opacity: 0.55;
}

.acl-table .pending span:not(.label) {
  background-color: #fafafa;
}
