// Variables that can be customized with Nuxeo Studio

// Header & Footer
$header-background: #fff;
$header-tabs: #ffae00;
$header-links: #213f7d;
$footer-background: #e8eaee;
$footer-links: #687b93;

// Pages Colors & Fonts
$tabs-horizontal-color: #ffae00;
$tabs-vertical-color: #eee;
$link: #086061;
$link-hover: #109fa0;
$button-primary: #109fa0;
$button-import: #109fa0;
$page-background: #fafafa;
$column-background: #086061;
$default-font: Arial, Helvetica, sans-serif;