// Variables not customizable by Studio

// Fonts
$font-color: #42444e;
$title: #1f28bf;

// Shades
$shade-light-0: #fff;
$shade-light-5: #fafafa;
$shade-light-10: #f8f9fb;
$shade-light-20: #f3f6f9;
$shade-light-30: #eee;
$shade-light-50: #e6e9ef;
$shade-medium-10: #c6c6c6;
$shade-medium-20: #aaa;
$shade-medium-30: #9a9a9a;
$shade-strong-10: #7e90a5;
$shade-strong-20: #777;
$shade-strong-30: #292929;
$shade-strong-100: #000;

// Warnings & errors
$info-background: #d9eaff;
$success-background: #d1f5c7;
$warning-background: #ffe3ba;
$error-background: #ffc7ca;
$neutral-background: #fff;
$info-strong: #00aded;
$success-strong: #0fd200;
$warning-strong: #ff9e00;
$error-strong: #ff0044;
$info-label: #597497;
$success-label: #569150;
$warning-label: #e27000;
$error-label: #ff0044;

// Labels & Messages
$label-info-background: #50c3f0;
$label-success-background: #94d144;
$label-warning-background: #ffa939;
$label-error-background: #f04e34;

// Elements
$tabs-selected: #fff;
$subtabs-selected: #fff;

$button: #fff;
$button-disabled: transparent;
$button-focus: #00aded;

$widget: #f1f4f8;

$dropzone: #92cdff;

// Border radius
$common-radius: 3px;
