// Variables that can be customized with Nuxeo Studio

// Header & Footer
$header-background: #fff;
$header-tabs: #00aded;
$header-links: #060826;
$footer-background: #dde1ea;
$footer-links: #687b93;

// Pages Colors & Fonts
$tabs-horizontal-color: #00aded;
$tabs-vertical-color: #eee;
$link: #00aded;
$link-hover: #73d2cf;
$button-primary: #0067ff;
$button-import: #0067ff;
$page-background: #f3f6f9;
$column-background: #2b333e;
$default-font: Helvetica, Arial, sans-serif;