<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <filter>
    <display-name>WebEngine Authentication Filter</display-name>
    <filter-name>WebEngineAuthenticationFilter</filter-name>
    <filter-class>
      org.nuxeo.ecm.webengine.login.WebEngineAuthenticationFilter
    </filter-class>
    <init-param>
      <param-name>exclude</param-name>
      <param-value>/files</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>WebEngineAuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Nuxeo WebEngine Servlet</servlet-name>
    <servlet-class>
    org.nuxeo.ecm.webengine.servlet.WebServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nuxeo WebEngine Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Nuxeo Resource Servlet</servlet-name>
    <servlet-class>
        org.nuxeo.ecm.webengine.servlet.ResourceServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nuxeo Resource Servlet</servlet-name>
    <url-pattern>/nuxeo/site/files/*</url-pattern>
  </servlet-mapping>

</web-app>
