#mainContainer{
  padding-left: 4px;
}

#picture{
 width:100%;
}

#pictureContainer{
width:49%;
padding:0 1%;
float:right;
}

#text{
 float:right;
 width:49%;
}

#title{
  width:100%;
  color:#13506B;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  padding:3px 0;
}

span{
 display:block;
 text-align:center;
}

#show{
 text-align:right;
}

#legend{
  font-size:10px;
  color:#333333;
}