#picture{
float:left;
margin-right:9px;
width:50%;
}

#pictureContainer{
width:98%;
padding:0 1%;
}

#title{
  width:100%;
  color:#13506B;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  padding:3px 0;
}



#show{
 text-align:right;
}

#legend{
  font-size:10px;
  color:#333333;
}