syntax:glob
.classpath
.project
.settings
bin
target
gwt-dev-1.5.3-mac-libs.zip
*.rej
*~
*.orig
*.ipr
*.iml
*.iws
.DS_Store
nuxeo-platform-jbpm/nuxeo-platform-jbpm-web/src/main/resources/nuxeo.war/linkXhtml.sh
*.gpd.*
*cpJar*
build.properties
nuxeo-theme-editor/bin-groovy
.svn
.svn2hg_currev
.svn2hg_curlog
derby.log
*.launch
nuxeo-*/META-INF
nuxeo-*/OSGI-INF
*.bak
nuxeo-platform-faceted-search-ftest/selenium/result-*.html
nuxeo-platform-faceted-search-ftest/selenium/run.conf
nuxeo-platform-faceted-search-ftest/selenium/user-extensions.js
nuxeo-platform-faceted-search-ftest/selenium/ffprofile/prefs.js
nuxeo-platform-faceted-search-ftest/selenium/selenium-server.jar

