<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../../bower_components/nuxeo-elements/nx-operation.html">
<link rel="import" href="../../../bower_components/nuxeo-elements/widgets/nx-user-suggestion.html">

<dom-module id="popup-permission">
    <template>
        <nx-operation id="createOp" op="Document.AddPermission" input={{docId}} params={{params}} on-response="handleResponse"></nx-operation>
        <nx-operation id="updateOp" op="Document.UpdatePermission" input={{docId}} params={{params}} on-response="handleResponse"></nx-operation>

        <template is="dom-if" if="{{!updatingACE}}">
            <paper-button raised="true" on-click="togglePopup">[[i18n('label.permissions.newPermission', 'New Permission')]]</paper-button>
        </template>
        <template is="dom-if" if="{{updatingACE}}">
            <paper-icon-button raised="true" on-click="togglePopup" icon="editor:mode-edit"></paper-icon-button>
        </template>

        <paper-dialog id="popupRight" modal>
            <template is="dom-if" if="{{!updatingACE}}">
                <h2>[[i18n('label.permissions.addPermission', 'Add a Permission')]]</h2>
            </template>
            <template is="dom-if" if="{{updatingACE}}">
                <h2>[[i18n('label.permissions.updatePermission', 'Update Permission')]]</h2>
            </template>

            <!-- Give acces to row -->
            <paper-dialog-scrollable>
                <template is="dom-if" if="{{!updatingACE}}">
                    <div>
                        <div>[[i18n('label.permissions.userGroup', 'User / Group')]]</div>
                        <div>
                            <nx-user-suggestion value="{{params.username}}"></nx-user-suggestion>
                        </div>
                    </div>
                </template>
                <!-- Right row -->
                <div layout horizontal>
                    <paper-dropdown-menu label="[[i18n('label.permissions.right', 'Right')]]">
                        <paper-menu class="dropdown-content" selected="{{params.permission}}" attr-for-selected="permission">
                            <template is="dom-repeat" items="[[userVisiblePermissions]]" as="permission">
                                <paper-item permission="[[permission]]">[[permission]]</paper-item>
                            </template>
                        </paper-menu>
                    </paper-dropdown-menu>
                </div>
                <div>
                    <div>[[i18n('label.permissions.timeFrame', 'Time Frame')]]</div>
                    <paper-radio-group selected="{{selectedTimeFrame}}">
                        <paper-radio-button name="permanent" on-change="toggleTimeFrame">[[i18n('label.permissions.permanent', 'Permanent')]]</paper-radio-button>
                        <paper-radio-button name="datebased" on-change="toggleTimeFrame">[[i18n('label.permissions.dateBased', 'Date based')]]</paper-radio-button>
                    </paper-radio-group>
                    <div class="timeFrameLabel disabled">[[i18n('label.permissions.from', 'From')]]</div>
                    <div>
                        <paper-input id="begin" type="date" value="{{params.begin}}"
                            disabled="{{disableTimeFrame}}"/>
                    </div>
                    <div class="timeFrameLabel disabled">[[i18n('label.permissions.to', 'To')]]</div>
                    <div>
                        <paper-input id="end" type="date" value="{{params.end}}"
                            disabled="{{disableTimeFrame}}"/>
                    </div>
                </div>
                <div id="notification">
                    <template is="dom-if" if="{{showNotificationFields}}">
                        <div layout horizontal>
                            <paper-checkbox checked="{{params.notify}}" on-change="toggleCommentText">[[i18n('label.permissions.notify', 'Send an email to notify user')]]</paper-checkbox>
                        </div>
                        <div layout horizontal>
                            <iron-autogrow-textarea placeholder="[[i18n('label.permissions.notifyPlaceholder', 'Hi! Could you comment this document and...')]]" id="commentText" bind-value="{{params.comment}}"></iron-autogrow-textarea>
                        </div>
                    </template>
                </div>
            </paper-dialog-scrollable>

            <div class="buttons">
                <paper-button dialog-dismiss>[[i18n('label.permissions.cancel', 'Cancel')]]</paper-button>
                <template is="dom-if" if="{{!updatingACE}}">
                    <paper-button on-tap="doSend">[[i18n('label.permissions.createAndAdd', 'Create and add another')]]</paper-button>
                </template>
                <paper-button class="colorful" dialog-confirm on-tap="doSend"><template is="dom-if" if="{{!updatingACE}}">[[i18n('label.permissions.create', 'Create')]]</template><template is="dom-if" if="{{updatingACE}}">[[i18n('label.permissions.update', 'Update')]]</template></paper-button>
            </div>
        </paper-dialog>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'popup-permission',

        properties: {
            docId: {
                type: String,
                value: ''
            },
            ace: {
                type: Object,
                value: null
            },
            userVisiblePermissions: {
                type: Array,
                value: []
            },
            params: {
                type: Object,
                computed: 'computeParams(ace)'
            },
            updatingACE: {
                type: Boolean,
                computed: 'isUpdatingACE(ace)'
            },
            showNotificationFields: {
                type: Boolean,
                value: true,
                computed: 'shouldShowNotification(ace)'
            },
            disableTimeFrame: {
                type: Boolean,
                value: true
            },
            selectedTimeFrame: {
                type: String,
                value: 'permanent'
            }
        },

        ready: function() {
        },

        togglePopup: function() {
            this.$.popupRight.toggle();
        },

        doSend: function() {
            if(this.params.begin) {
                this.params.begin = this.params.begin.length > 0 ? moment(new Date(this.params.begin)).format() : null;
            } else {
                this.params.begin = null;
            }

            if(this.params.end) {
                this.params.end = this.params.end.length > 0 ? moment(new Date(this.params.end)).format() : null;
            } else {
                this.params.end = null;
            }

            if (this.updatingACE) {
                this.$.updateOp.execute();
            } else {
                this.$.createOp.execute();
            }
        },

        handleResponse: function() {
            if (this.updatingACE) {
                this.fire('aceupdated');
            } else {
                this.fire('acecreated');
            }

            this.set('params.username', null);
            this.set('params.permission', 'Read');
            this.set('params.begin', '');
            this.set('params.end', '');
            this.set('params.notify', true);
            this.set('params.comment', '');
        },

        toggleCommentText: function(event) {
            var checked = event.element().checked;
            this.$.notification.querySelector('#commentText').readonly = !checked;
            if (!checked) {
                this.set('params.comment', '');
            }
        },

        toggleTimeFrame: function(event) {
            var name = event.element().name;
            this.set('selectedTimeFrame', name);
            var disabled = name === 'datebased' ? false : true;
            this.set('disableTimeFrame', disabled);
            jQuery(this).find('.timeFrameLabel').each(function(i, ele) {
                if (disabled) {
                    jQuery(ele).addClass('disabled');
                } else {
                    jQuery(ele).removeClass('disabled');
                }
            });
        },

        computeParams: function(ace) {
            var params = {
                username: null,
                permission: 'Read',
                begin: '',
                end: '',
                notify: true,
                disableTimeFrame: true,
                selectedTimeFrame: 'permanent',
                comment: ''
            };

            if (ace !== null) {
                params.id = ace.id;
                params.permission = ace.permission;
                params.notify = ace.notify;
                params.comment = ace.comment;
                var dateBased = false;
                if (ace.begin !== null) {
                    params.begin = moment(new Date(ace.begin)).format('YYYY-MM-DD');
                    dateBased = true;
                }
                if (ace.end !== null) {
                    params.end = moment(new Date(ace.end)).format('YYYY-MM-DD');
                    dateBased = true;
                }

                if (dateBased) {
                    this.set('disableTimeFrame', false);
                    this.set('selectedTimeFrame', 'datebased');
                    jQuery(this).find('.timeFrameLabel').each(function(i, ele) {
                        jQuery(ele).removeClass('disabled');
                    });
                }
            }
            return params;
        },

        isUpdatingACE: function(ace) {
            return ace !== null;
        },

        shouldShowNotification: function(ace) {
            if (ace !== null) {
                return ace.begin !== null;
            }
        }
    });
</script>
