
/* Styles for nxthemes.js javascript library */

div.nxthemesWarningMessage {
  border: 2px solid red;
  padding: 0.5em;
  display: block;
  background-color: #ffc;
  font: bold 13px sans-serif;
  color: #000;
  position: absolute;
}

div.nxthemesWarningMessage pre {
  font-weight: normal;
  overflow: auto;
}

ins.model, ins.view, ins.controller {
  display: none;
}

div.nxthemesRegionNotSet {
  padding: 0.5em;
  margin: 2px;
  background-color: #f8f6e5;
  font: italic 11px sans-serif;
  color: #000;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #333;
}

div.nxthemesSelectorVertical {
  background-color: #ff0;
  width: 1px;
  position: absolute;
}

div.nxthemesSelectorHorizontal {
  background-color: #ff0;
  height: 1px;
  position: absolute;
}

