div.nav1 {
  background-image: url(/nuxeo/css/img/nav1.gif);
}

div.nav2 {
  background: #fff url(/nuxeo/css/img/nav2.gif);
}

div.nav3 {
  background: #fff url(/nuxeo/css/img/nav3.gif) no-repeat;
}

div.nav4 {
  background-image: url(/nuxeo/css/./img/nav4.gif);
}

div.nav5 {
  background-image: url(/nuxeo/css/../img/nav5.gif);
}

div.nav6 {
  background-image: url(/nuxeo/css/img/nav6.gif);
}
