/* --
Custom CSS for the Nuxeo Styles guide
-- */

/* Specific styles for the Style Guide demo, maybe missing in the platform by default */
.demoGrid {
  background-color: "neutral.lighter (__FLAVOR__ background)" }

  .demoGrid .gridStyle2:first-child {
    position: relative;
    z-index: 100 }

.mainWrapper {
  background-color: #fff;
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.3);
  min-height: 600px;
  padding: 2% 10% 8% }

.verticalTabs {
  font-weight: bold;
  margin: 0;
  padding: 2em 0 }

  .verticalTabs li {
    box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 0 .2em;
    padding: 0 }

  .verticalTabs li a {
    color: #000;
    display: block;
    padding: .7em 0 .7em .8em;
    text-decoration: none }

  .verticalTabs li.selected,
  .verticalTabs li:hover {
    background-color: "color.major.stronger (__FLAVOR__ background)";
    border-radius: 0 20px 20px 0;
    margin: 0 -1em .2em 0 }

  .verticalTabs li:hover {
    background-color: "color.major.strong (__FLAVOR__ background)" }

  .verticalTabs li:hover a {
    color: #000 }

  .verticalTabs li.selected a {
    color: #fff }

  .verticalTabs li img {
    margin: 0 0 -3px;
  }

.widgetPanel .column {
  border: none;
  width: auto;/* keep inheritance of the other values of .column */
}

/* Special styles to explain the grid layout model */
.gridVisible {
  background-color: #fef6ff;
  border: 1px solid #f5b3ff;
  border-radius: 3px;
  padding: 1em }

.gridVisible .code {
  display: inline-block;
  margin: -7px 0 5px }

.gridVisible .gridVisible { background-color: #f6fff8; border-color: #b8dfbf }
.gridVisible .gridVisible .gridVisible { background-color: #fff8f3; border-color: #ddc1b1 }

.gridRow.gridVisible,
.gridBox.gridVisible { margin: 0 0 .5em }

.gridVisible .gridStyle6 { margin-right: .5em; width: 39% }
.gridVisible .gridStyle4 { margin-right: .4em; width: 24% }
.gridVisible .gridStyle12 { width: 85% }

/* Special styles to show pop ups */
.genericPopUp { display: block;
  left: auto;
  position: inherit;
  width: auto }
.genericPopUp .popUpContent { height: 180px }

/* Missing styles in the platform for sure */
h2 {
  border-bottom: 1px solid;  border-color: "color.major.strong (__FLAVOR__ border)";
  font-size: 1.4em;
  margin: 0 0 1em }

.code {
  background-color: #fff;
  border: 1px solid #cde;
  border-radius: 3px;
  color: #1358ae;
  font-family: monospace,sans-serif;
  padding: .1em;
  white-space: nowrap }
