<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
   <param name="Threshold" value="WARN"/>
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%t %d{HH:mm:ss,SSS} %-5p [%C{1}] %m%X%n" />
    </layout>
  </appender>

  <appender name="TRACE" class="org.apache.log4j.FileAppender">
    <param name="File" value="target/trace.log" />
    <param name="Append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%t %d{HH:mm:ss,SSS} %-5p [%C{1}] %t %m%X%n" />
    </layout>
  </appender>
    
  <root>
    <priority value="TRACE" />
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="TRACE"/>
  </root>
</log4j:configuration>
