/*
Breadcrumb style used in the Document Management view
author: lkemen@nuxeo.com
*/

/* =Breadcrumb */
.breadcrumb {
  color: "gray.light (__FLAVOR__ color)";
  font-size: .7em;
  padding: .3em .6em }

.breadcrumb .action_bar {
  margin: 0 }

.breadcrumb .action_bar a {
  border: none;
  padding: .3em 0 }

.breadcrumbs {
  float: left;
  padding: .3em .4em 0 0 }

.breadcrumbs a,
.breadcrumbs a:link,
.breadcrumbs a:visited {
  color: "gray.medium (__FLAVOR__ color)" }

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: "link (__FLAVOR__ color)";
  font-weight: normal }

.breadcrumbs a img {
  vertical-align: middle }

.printButton {
  float: right }
