/*
HTML5 Drag and Drop styles
author: lkemen@nuxeo.com, tdelprat@nuxeo.com
*/

#dropzone-info-panel { display:none }
#dropzone-info-panel td { vertical-align: top }

.dndControlMessage { display: none }
.loadingComplete { background: transparent url(/nuxeo/icons/checked.gif) no-repeat left center; padding: 2px 0 0 18px }

.dropPanel { padding: 10px; background: #BBBBCC; border-radius: 5px; height: 250px }

.dropzone { display: block; margin : 4px }
.dropzoneHL { border: 2px dashed #ccc; background-color: #F0F0F0 }

.dropzoneTarget { border:2px solid #92cdff }
.dropzoneTargetExtended { border: 2px solid #54d920 }
.dropzoneTargetOverlay { position : absolute; background-color : rgba(200,220,250,0.3) }

.dropzone-info-block { display: block; margin: 5px 0 0 0; text-align: center }
.dropzone-info-summary { display: block; margin : 7px 10px 20px 50px }
.dropzone-info-summary-item {}
.dropzone-info-progress { background-color: #7ebbff; height: 3px; width: 0% }
.dropzone-info-item { border : 1px solid #999; margin : 0 2px 10px 0 }
.dropzone-info-name { text-align: center }

.dropzone-bar { height: 20px }
.dropzone-bar-btn { visibility:hidden; float:right }
.dropzone-bar-msg { display: block; padding-top: 2px }

.dndFormPanel{
    display:none;
    position:absolute;
    border:solid 1px #adadad;
    background-color:white;
    padding : 25px;
    margin: 4px;
    z-index: 5000;
    max-height: 350px;
    overflow: auto }
.dndProgressPanel{
    display:none;
    border:solid 1px #adadad;
    background-color:white;
    padding : 5px 25px 5px 25px;
    margin: 0px }
.dndFormPanel th { text-align: left; padding-bottom: 10px; font-size: 1.1em }
.dndFormPanel td { vertical-align: top; padding: 0 35px 10px 0 }
.dndFormPanel input { margin: 10px 0px }
.dndFormPanel .alignRight { text-align: right }
.dndFormPanel body { margin: 0 }

.uploadedFileList { font-size : 1.1em }

.importOperationForm iframe { margin: 25px 0 0 }
.importOperationForm .dataInput { margin: 0 0 15px }
.importOperationForm .dataInput input { margin: 20px 0 0 0 }

#dndContinueButton { display:none; cursor:hand; padding:5px  }
#operationForm { border-style:solid; border-color:#444; border-width: 0px 0px 0px 2px }
