/*
Styles for all the forms.
=Forms elements
=Calendar -> adjust the Calendar icon
author: lkemen@nuxeo.com
*/

/* =Forms elements */
.required {
  background: transparent url("${basePath}/icons/required.gif") top right no-repeat;
  padding: 0 1em 0 0 }

.widgetHelpLabel .widgetLabel.required {
  background: url("/nuxeo/icons/required.gif") no-repeat scroll right top, url("/nuxeo/icons/help.png") no-repeat scroll right 15px top transparent;
  padding-right: 2.3em }

optgroup {
  font-style: normal;
  font-weight: bold }

option {
  background-color: white;
  font-weight: normal }

.field,
select,
textarea,
input[type="text"],
input[type="file"],
input[type="password"] {
  font-family: "default (__FLAVOR__ font)";
  box-sizing: border-box;
  border: 1px solid;
  border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset;
  display: inline-block;
  font-size: 1em;
  margin-bottom: .5em;
  padding: .5em }

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  width: 100% }

textarea {
  min-height: 5.5em }

select {
  margin: 0 .5em .5em 0;
  min-width: 14em }

label {
  padding-right: .4em }

.dataInputText {
  vertical-align: top }

input[type="file"] {
  margin-left: .6em }

input[type="radio"],
input[type="image"],
input[type="hidden"],
input[type="checkbox"] {
  background: none;
  border: none !important;
  box-shadow: none;
  margin-right: .3em }

input:focus,
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #fff;
  border-color: #2e9cff;
  box-shadow: 0 0 3px #b5dcff;
  color: "black (__FLAVOR__ color)";
  outline: 0 none }

select:focus > option:checked,
select:focus > optgroup > option:checked {
  background-color: "color.major.stronger (__FLAVOR__ background)" }

/* Placeholders in forms */
input[placeholder] {
  color: "gray.medium (__FLAVOR__ color)";
  text-overflow: ellipsis; }

::-webkit-input-placeholder {
  color: "gray.medium (__FLAVOR__ color)";
  text-overflow: ellipsis; }

:-moz-placeholder { /* Firefox 18- */
  color: "gray.medium (__FLAVOR__ color)";
  text-overflow: ellipsis; }

::-moz-placeholder {  /* Firefox 19+ */
  color: "gray.medium (__FLAVOR__ color)";
  text-overflow: ellipsis; }

:-ms-input-placeholder {
  color: "gray.medium (__FLAVOR__ color)";
  text-overflow: ellipsis; }

/* in Tables */
.dataTableNoBorder textarea,
.dataTableNoBorder input[type="text"] {
  max-width: 49em }

.chainSelect input[type="image"] {
  margin: -0.1em 0 0 0.2em;
  padding: 0;
  vertical-align: top;
  float: right; }

input.tagInput {
  background: url("${basePath}/icons/tag.png") no-repeat scroll 2px center / 12px auto transparent;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  font-size: .95em;
  padding: .1em .5em .2em 1.8em;
  max-width: 12em;
  min-width: 10em }

/* =Calendar */
input.rich-calendar-input[type="text"] {
  max-width: 14em;
  width: 80%; }

.inputDate {
  white-space: nowrap }

/* RichFaces calendar styles override */
table.rich-calendar-exterior {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);}

table.rich-calendar-exterior tr td {
  padding: .15em!important;
  vertical-align: middle }

.rich-calendar-tool,
.rich-calendar-month,
td.rich-calendar-footer,
.rich-calendar-toolfooter,
table.rich-calendar-exterior td.rich-calendar-header {
  background: none repeat scroll 0 0 #fff;
  font-weight: bold;
  padding: 0 }

.rich-calendar-days {
  background: none repeat scroll 0 0 #f5f5f5;
  color: #888;
  text-transform: capitalize }

.rich-calendar-week,
.rich-calendar-weekends {
  color: #888 }

.rich-calendar-cell,
.rich-calendar-holly {
  color: "link (__FLAVOR__ color)" }

.rich-calendar-tool-btn {
  padding: .25em .2em }

.rich-calendar-holly {
  background-color: #fff }

.rich-calendar-boundary-dates {
  color: #ddd;
  font-weight: normal }

.rich-calendar-cell {
  font-weight: bold }

.rich-calendar-tool-btn:hover,
.rich-calendar-editor-btn-over,
.rich-calendar-tool-btn-press,
.rich-calendar-editor-tool-over {
  border: none }

.rich-calendar-tool-close,
.rich-calendar-toolfooter:nth-child(2) {
  display: none }

.rich-calendar-editor-btn {
  color: #0084c3;
  font-weight: bold }

.rich-calendar-hover,
.rich-calendar-today,
.rich-calendar-tool-btn:hover,
.rich-calendar-tool-btn-hover,
.rich-calendar-time-btn:hover,
div.rich-calendar-editor-btn-over,
.rich-calendar-editor-btn:hover,
.rich-calendar-editor-tool-over,
.rich-calendar-editor-btn-selected {
  background-color: #0084c3;
  color: #fff }

/* calendar month editor */
.rich-calendar-editor-layout-shadow,
.rich-calendar-spinner-buttons {
  background: none 0 }

.rich-calendar-time-layout,
.rich-calendar-date-layout {
  border: none;
  height: 232px;
  width: 228px }

.rich-calendar-time-layout-fields {
  padding: 20px !important;
  vertical-align: middle }

.rich-calendar-editor-container input {
  margin-bottom: 0 }

.rich-calendar-spinner-buttons,
.rich-calendar-time-layout-fields td {
  background: none 0;
  vertical-align: middle }

.rich-calendar-spinner-up,
.rich-calendar-spinner-down {
  cursor: pointer }

 .rich-calendar-time-btn {
  background-color: #e9e9e9;
  border: medium none;
  border-radius: 3px;
  font-weight: bold;
  margin: .3em;
  padding: .4em }

table.rich-calendar-date-layout td {
  padding: .5em;
  vertical-align: bottom }
