/*
Corporate header styles.
=Header -> define links colors, backgrounds, logo position, alignments
=Search -> search and advanced search links styles
=UserServices -> link and menu relative to the user
=MainTabs -> navigation links between applications pages
=Studio header link -> Small button for Administrators to access Nuxeo Studio
author: lkemen@nuxeo.com
*/

/* =Header */
.nxHeader {
  background-color: "header (__FLAVOR__ background)";
  box-shadow: 1px 0 4px rgba(0,0,0,0.4);
  line-height: initial;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1041 }

.nxHeader .logo {
  padding: .1em 0;
  text-align: center;
  vertical-align: middle;
  width: 18% }

.nxHeader .content {
  font-size: 12px;
  font-family: Arial;
  padding: .85em 0;
  text-transform: uppercase;
  vertical-align: middle;
  width: 82% }

.nxHeader .includes {
  width: 0 }

.nxHeader a,
.nxHeader a:link,
.nxHeader a:visited,
.nxHeader a:hover,
.nxHeader a:active {
  color: "link.header (__FLAVOR__ color)";
  text-decoration: none;
  -moz-transition: none;
  -webkit-transition: none;
  transition: none }

.userMenuActions li > .widgetLabel {
  font-weight: normal }

.nxHeader .actionsWidgetPanel {
  padding: 0 }

.nxHeader .actionLink {
  margin: inherit }

/* =Search */
.userSearchBlock {
  float: right;
  line-height: 200%;
  margin: 0 1em 0 .5em;
  text-transform: none;
  -moz-transition: all 0.3s ease 0.1s;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s }

/* select2 search input */
.userSearchBlock .select2-container {
  margin-bottom: 0 }

.userSearchBlock .select2-container-multi .select2-choices {
  background: #eee url('${basePath}/icons/search.png') no-repeat 98% center;
  box-shadow: none;
  border-color: transparent }

.userSearchBlock .select2-container-multi .select2-choices .select2-search-field input {
  box-shadow: none;
  margin: 0 }

/* =UserServices */
.userServicesBlock {
  float: left }

.userServicesBlock a:hover {
  text-decoration: none }

/* =MainTabs */
.mainTabs {
  float: left;
  font-size: .9em;
  font-weight: normal }

.mainTabs li {
  border-radius: .2em;
  display: inline;
  float: left;
  line-height: 2em;
  margin: 0 .05em }

.mainTabs a:link,
.mainTabs a:visited {
  color: "link.header (__FLAVOR__ color)";
  display: inline-block;
  font-size: 1.1em;
  padding: .15em .4em }

.mainTabs li:hover,
.mainTabs li.selected {
  background-color: "header.tabs.selected (__FLAVOR__ background)"; } 

.mainTabs li.selected a {
  font-weight: bold;
  color: #fff; }

.nxHeader .userActions {
  float: left;
  line-height: 2.1em;
  padding: 0 .5em;
  text-transform: none }

.nxHeader .userMenuActions {
  float: left;
  font-size: 1.1em;
  padding: 0 }

.nxHeader .userMenuActions a {
  background-color: #fff;
  font-size: 1.1em;
  display: block }

/* Override default dropdown button styles */
.userMenuActions .dropdown {
  background: url("${basePath}/icons/user_menu.png") no-repeat scroll 1px center transparent }

.userMenuActions .button {
  background-color: rgba(0, 0, 0, 0);
  border: medium none;
  box-shadow: none;
  color: "link.header (__FLAVOR__ color)";
  line-height: 1.7em;
  padding: .15em .5em .1em 1.7em !important;
  text-transform: none }

.userMenuActions .dropDownMenu .widget {
  font-weight: normal }

.nxHeader .userMenuActions ul:hover .dropDownMenu {
  background-color: "header.tabs.selected (__FLAVOR__ background)";
  color: "link.header (__FLAVOR__ color)" }

.nxHeader .actionList .actionSubList li a {
  color: "black (__FLAVOR__ color)" }

/* =Studio header link */
.studioButton {
  font-weight: normal }

/* =Connect header links */
.updateNotificationArea {
  float: right;
  line-height: normal;
  vertical-align: middle }
