/*
Corporate header styles.
=Header -> define links colors, backgrounds, logo position, alignments
=Search -> search and advanced search links styles
=UserServices -> link and menu relative to the user
=MainTabs -> navigation links between applications pages
=Studio header link -> Small button for Administrators to access Nuxeo Studio
author: lkemen@nuxeo.com
*/

/* =Header */
.nxHeader {
  background-color: "header (__FLAVOR__ background)";
  border-width: 2px; border-style: none none solid; border-color: "noborder (__FLAVOR__ border)";
	height:36px;
	overflow: auto;
	width:100% }
.nxHeader .logo {text-align: center; vertical-align:bottom; width: 18% }
.nxHeader .content { padding: 0 10px 0 0; vertical-align: bottom;	width: 82%; font-size: 12px; line-height: 16pt; }
.nxHeader .includes { width: 0 }
.nxHeader a, .nxHeader a:link, .nxHeader a:visited, .nxHeader a:hover, .nxHeader a:active { color: "link.header (__FLAVOR__ color)" }

/* =Search */
.userSearchBlock { float: right }
.searchService { padding-top: 5px; opacity: 0.9 }
.searchService:focus, .searchService:hover { opacity: 1 }
.searchService .directoryFilter { border: 1px solid #fff }
.searchService input.button { margin: 3px 5px 0 3px; padding: 2px }
.advancedSearchLink a { font-size: .8em }

/* =UserServices */
.userServicesBlock { float: left; padding: 5px 0 }
.userServicesBlock a:hover { text-decoration: none }

/* =MainTabs */
.mainTabs { float: left }
.mainTabs li {
    background-color: #fff;
    display: inline;
    float: left;
    margin: 0 5px;
    opacity: 0.4 }
.mainTabs a:link, .mainTabs a:visited {
    color: #333;
    display: inline-block;
    padding: 4px 8px 6px }
.mainTabs li.selected, .mainTabs li:hover { opacity: 1 }
.mainTabs li.selected a, .mainTabs li.selected a:hover, .mainTabs li.selected a:visited { color: "black (__FLAVOR__ color)"; font-weight: bold }

.userMenuActions {
    color: "gray.light (__FLAVOR__ color)";
    float: left;
    font-size: .9em;
    margin: 0 0 0 15px;
    text-align: left }
.userMenuActions ul { height: 28px }
.userMenuActions ul li { float: left; text-align: left }

.nxHeader .userMenuActions a {
    background-color: #fff;
    display: block }

.userMenuActions a.userButton {
    background: url("${basePath}/icons/user.png") no-repeat scroll 3px center transparent;
    padding: 3px 8px 5px 23px }
.userMenuActions ul:hover a, .userMenuActions ul:hover li, .userMenuActions ul li:hover { background-color:#fff; color:"black (__FLAVOR__ color)" }
.userMenuActions li ul {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    display: none;
    height: auto;
    position: absolute;
    width: 180px;
    z-index: 1000 }
.userMenuActions li:hover ul { display:block }
.userMenuActions ul li li { width: 180px }
.userMenuActions li ul a { padding: 4px 4px 4px 22px }
.userMenuActions ul ul a:hover { background-color: "color.major.medium (__FLAVOR__ background)" }

/* =Studio header link */
.studioButton a { background-color: #00a5b8; display: block; padding: 2px 10px; color: #f1f5f7; text-decoration: none; border-radius: 4px; margin:0 0 0 10px;}
.studioButton a:hover { background-color: #00b6cb; color: #fff; text-decoration:none !important }
