/*
Corporate header styles.
=Header -> define links colors, backgrounds, logo position, alignments
=Search -> search and advanced search links styles
=UserServices -> link and menu relative to the user
=MainTabs -> navigation links between applications pages
=Studio header link -> Small button for Administrators to access Nuxeo Studio
author: lkemen@nuxeo.com
*/

/* =Header */
.nxHeader { background-color: "header (__FLAVOR__ background)"; overflow: auto; width:100% }
.nxHeader .logo { text-align: center; vertical-align: middle; width: 18% }
.nxHeader .content { padding: 0; line-height: 280%; vertical-align: middle; width: 82%; font-size: 12px }
.nxHeader .includes { width: 0 }
.nxHeader a, .nxHeader a:link, .nxHeader a:visited, .nxHeader a:hover, .nxHeader a:active { color: "link.header (__FLAVOR__ color)"; opacity: 0.75; text-decoration: none }
.nxHeader a:hover, .nxHeader a:active { opacity: 1 }
.nxHeader .logo a:link, .nxHeader .logo a:hover, .nxHeader .logo a:visited { opacity: 1 }
/* Admin message */
.nxHeader .header_admin_messages a, .nxHeader .header_admin_messages a:link, .nxHeader .header_admin_messages a:visited, .nxHeader .header_admin_messages a:hover, .nxHeader .header_admin_messages a:active { color: "default (__FLAVOR__ color)" }

/* =Search */
.userSearchBlock { float: right }
.searchService { opacity: 0.85; margin: 0 1em 0 .5em }
.searchService input[type="text"]:focus, .searchService:hover { opacity: 1 }
.searchService .directoryFilter { border: 1px solid #fff; margin: 0 .3em 0 0 }
.searchService input.button {  box-shadow: 0 8px 3px rgba(255, 255, 255, 0.5) inset; margin: .3em .5em 0 .3em; padding: .2em }
.advancedSearchLink a { font-size: .8em }

/* =UserServices */
.userServicesBlock { float: left }
.userServicesBlock a:hover { text-decoration: none }

/* =MainTabs */
.mainTabs { float: left }
.mainTabs li { display: inline; float: left }
.mainTabs a:link, .mainTabs a:visited { color: #fff; display: inline-block; font-size: 1.1em; padding: .2em .6em }
.mainTabs li.selected, .mainTabs li:hover { background: url("${basePath}/img/white50.png") repeat-x 0 0 transparent } 
.mainTabs li.selected a, .mainTabs li a:hover, .mainTabs li.selected a:visited { opacity: 1 }

.userMenuActions {
    border-left: 1px solid #999;
    color: "gray.light (__FLAVOR__ color)";
    float: left;
    font-size: .9em;
    margin: 0;
    padding: .1em .1em .2em;
    text-align: left }
.userMenuActions ul li { float: left; text-align: left }

.nxHeader .userMenuActions a { background-color: #fff; font-size: 1.1em; display: block }

.userMenuActions a.userButton {
    background: url("${basePath}/icons/user_menu.png") no-repeat scroll right center transparent;
    padding: .15em 1.7em 0 .8em }
.userMenuActions ul:hover a, .userMenuActions ul:hover li, .userMenuActions ul li:hover { background-color:#fff; color:"black (__FLAVOR__ color)" }
.userMenuActions li ul {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-color: #ddd;  border-style: none solid solid; border-width: 1px;
    display: none;
    height: auto;
    position: absolute;
    width: 180px;
    z-index: 10000 }
.userMenuActions li:hover ul { display:block }
.userMenuActions ul li li { width: 180px }
.userMenuActions li ul a { padding: .4em .4em .4em 2em }
.userMenuActions ul ul a:hover { background-color: "color.major.medium (__FLAVOR__ background)"; text-shadow: none }

/* =Studio header link */
.studioButton { border-left: 1px solid #999 }
.studioButton a { border: none; color: #fff; display: inline-block; font-size: 1.1em; line-height: 280%; margin: 0; padding: 0 .6em .15em }
