/*
For all status messages, tooltips and tips paragraphs.
=Messages -> feedback, info, warning and error messages
=Quote -> style for description, blockquote, comments
=Small help messages -> for small help words, e.g. in forms
=Tips -> tooltips on rollovers, and tips paragraphs
author: lkemen@nuxeo.com
*/

/* =Messages */
.ambiance {
  border: none;
  font-size: .75em;
  font-weight: normal;
  padding: .7em 1em }

.ambiance-title {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: .2em }

a.ambiance-close {
  color: inherit;
  text-decoration: none;
  padding-left: .5em }

.ambiance .button {
  float: none;
  margin: 1em .5em .2em 0;
  padding: 0 .4em }

.neutralFeedback,
.infoFeedback,
.errorFeedback,
.warningFeedback,
.successFeedback,
.ambiance-default,
.ambiance-neutral,
.ambiance-info,
.ambiance-success,
.ambiance-warn,
.ambiance-error,
.ambiance-fatal {
  background-color: "info (__FLAVOR__ background)";
  border-radius: 5px 0 0 5px;
  color: "black (__FLAVOR__ color)";
  margin: 0 0 .2em;
  padding: .7em 1em }

.neutralFeedback,
.ambiance-neutral {
  background-color: "neutral (__FLAVOR__ background)";
  border-color: "neutral.lighter (__FLAVOR__ border)";
  border-width: 1px;
  border-style: solid;
  color: "default (__FLAVOR__ color)" }

.infoFeedback,
.ambiance-info,
.ambiance-default {
  background-color:"info (__FLAVOR__ background)";
  color: "info.status (__FLAVOR__ color)" }

.successFeedback,
.ambiance-success {
  background-color:"success (__FLAVOR__ background)";
  color: "success.status (__FLAVOR__ color)" }

.errorFeedback,
.ambiance-error,
.ambiance-fatal {
  background-color:"error (__FLAVOR__ background)";
  color: "error.status (__FLAVOR__ color)" }

.warningFeedback,
.ambiance-warn {
  background-color: "warning (__FLAVOR__ background)";
  color: "warning.status (__FLAVOR__ color)" }

.facesStatusMessage {
  top: 1em;
  right: 1em;
  position: fixed;
  z-index: 10000 }

.infoMessage,
.errorMessage,
.warningMessage,
.successMessage {
  display: block;
  font-weight: bold;
  padding: 0;
  max-width: 25em }

.info,
.avert,
.error,
.success,
.warning {
  font-weight: bold }

.info,
.infoMessage {
  color: "info.status (__FLAVOR__ color)" }

.success,
.successLink,
.successMessage {
  color: "success.status (__FLAVOR__ color)" }

.avert {
  color: "gray.dark (__FLAVOR__ color)" }

.warning,
.warningLink,
.warningLabel,
.warningMessage {
  color: "warning.status (__FLAVOR__ color)" }

.error,
.errorLink,
.errorMessage {
  color: "error.status (__FLAVOR__ color)" }

.processMessage {
  background: url("${basePath}/icons/bullet.png") no-repeat scroll 0 4px transparent;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  margin: .1em .5em .3em 0;
  padding: .2em 0 .2em 1.7em }

.completeSuccess {
  background-image: url("${basePath}/icons/checked.gif") }

.completeError {
  background-image: url("${basePath}/icons/delete_red.png") }

.completeWarning {
  background-image: url("${basePath}/icons/warning.gif") }

.running {
  background-image: url("${basePath}/img/standart_waiter.gif") }

.scheduled {
  background-image: url("${basePath}/icons/clock.png") }

.adminMessage {
  background-color: #000;
  background-color: rgba(20,30,40,0.92);
  bottom: 0;
  color: #ffd940;
  font-size: 1.5em;
  left: 0;
  line-height: 160%;
  padding: 2em 3em;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: none;
  z-index: 10000 }

.adminMessage .close {
  color: #fff;
  display: block;
  float: right;
  font-family: Arial,sans-serif;
  font-size: 2em;
  margin-left: 1.5em;
  position: relative;
  right: 0;
  text-decoration: none;
  top: -2px }

.label,
.chip {
  background-color: "neutral.stronger (__FLAVOR__ background)";
  color: #fff;
  line-height: 130%;
  margin: 0 .2em .2em 0;
  padding: 0 .2em;
  vertical-align: baseline;
  white-space: nowrap }

.chip {
  border-radius: 35px;
  padding: .1em .4em }

.label-light,
.chip-light {
  background-color: #fff;
  border: 1px solid; border-color:"neutral.light (__FLAVOR__ border)";
  color: "black (__FLAVOR__ color)" }

.label-info,
.chip-info {
  background-color: "info.strong (__FLAVOR__ background)" }

.label-success,
.chip-success {
  background-color: "success.strong (__FLAVOR__ background)" }

.label-warning,
.chip-warning {
  background-color: "warning.strong (__FLAVOR__ background)" }

.label-error,
.chip-error {
  background-color: "error.strong (__FLAVOR__ background)" }

/* =Quote */
.quote {
  background: url("${basePath}/icons/quote.png") no-repeat scroll 0 1px transparent;
  color: "gray.dark (__FLAVOR__ color)";
  margin: .3em 0;
  text-indent: 1.7em }

/* Visible lists style, as lists are invisible in Nuxeo by default */
ul.visibleList {
   list-style: disc outside none;
   margin: .5em 0 1em;
   padding: 0 0 0 2em }

.visibleList li {
  list-style: disc outside none }

/* =Small help messages */
.specification {
  clear: both;
	margin: 0 0 1.5em }

.widgetPanel .specification {
  font-size: .95em }

.help,
.detail {
  color: "gray.medium (__FLAVOR__ color)";
  font-size: .9em }

p.detail,
div.detail {
  margin: .1em 0 .7em }

/* Empty folder or result */
.emptyResult {
  color: "gray.light (__FLAVOR__ color)";
  display: block;
  font-style: italic;
  font-weight: normal;
  padding: 1em .7em 2em;
  text-align: center }

.emptyResult.emptyResultBig {
  font-size: 1.3em;
  padding: 3em 2em 6em }

/* =Tips */
.widgetHelpLabel {
  border-bottom: 1px dashed #ffcc1d;
  cursor: help;
  display: inline;
  padding-bottom: .2em }

.tooltip {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 6px;
  box-shadow: 0 0 3px #aaa;
  color: #000;
  display: none;
  font-weight: normal;
  max-width: 14em;
  padding: .6em .8em .8em;
  white-space: normal;
  z-index: 2000 }

.dropArea {
  border: 2px dashed; border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 3px;
  box-shadow: none;
  color: "gray.light (__FLAVOR__ color)";
  font-size: 1.2em;
  padding: 1.5em;
  text-align: center }

.tips {
  border: 1px solid; border-color: "neutral.lighter (__FLAVOR__ border)";
  border-radius: 3px;
  box-shadow: none;
  color: "gray.medium (__FLAVOR__ color)";
  display: block;
  margin: .1em 0 .5em;
  padding: .8em;
  text-align: center }

.tips.processMessage {
  background-position: 5px 13px;
  padding: .8em 1.8em }
