/*
For all status messages, tooltips and tips paragraphs.
=Messages -> feedback, info, warning and error messages
=Tips -> tooltips on rollovers, and tips paragraphs
author: lkemen@nuxeo.com
*/

/* =Messages */
.facesStatusMessage { bottom: 0; left: 0; position: fixed; z-index: 1000 }
.facesStatusMessage ul, .infoFeedback ul, .warningFeedback ul, .errorFeedback ul { list-style-type: none; min-width: 500px }

.errorMessage, .infoMessage, .warningMessage, .infoFeedback  {
  background-color: #daebff;
  border-color: "neutral.light (__FLAVOR__ border)";
  border-width: 1px;
  border-style: solid;
  border-radius: 0 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  color: "black (__FLAVOR__ color)";
  display: block;
  list-style: none;
  margin: 0;
  padding: .8em 1.2em }

.errorMessage, .errorFeedback { background-color:"warning (__FLAVOR__ background)"; border-color:"error (__FLAVOR__ border)" }
.warningMessage, .warningFeedback { background-color: "info (__FLAVOR__ background)"; border-color:"warning (__FLAVOR__ border)" }

.success { color: "normal.status (__FLAVOR__ color)"; font-weight: bold }
.error, .warning { color: "warning.status (__FLAVOR__ color)"; font-weight: bold }

.successLink { color: "normal.status (__FLAVOR__ color)" }
.errorLink, .warningLink { color: "warning.status (__FLAVOR__ color)" }


/* Help messages in forms */
.help { color: "gray.medium (__FLAVOR__ color)" }

/* =Tips */
.widgetHelpLabel {
  border-bottom: 1px dashed #FFCC1D;
  cursor: help;
  display: inline;
  padding-bottom: 0.2em }
.tooltip {
  background-color: #FFE179;
  border-radius: 0 4px;
  box-shadow: 2px 2px 0 #DCB632;
  color: #000;
  display: none;
  font-weight: normal;
  font-size: 90%;
  max-width: 14em;
  padding: .6em .8em .8em;
  white-space: normal;
  z-index: 2000 }
.tips {
  border: 1px dashed;  border-color: "neutral.light (__FLAVOR__ border)";
  box-shadow: none;
	color: "gray.medium (__FLAVOR__ color)";
	padding: .8em;
	text-align: center }