/*
Navigation tabs, subtabs, and back links
Header links to navigate between pages are styled in header.css
=Tabs -> default tabs and subtabs
=Navigation controls -> used to paginate document lists
=Back Arrow -> link to go back to the previous view
author: lkemen@nuxeo.com
*/

/* =Tabs */
.tabsBar {
  background: none #fff;
  border-width: 1px; border-style: solid;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 1em;
  width: 100% }

.tabsBar ul {
  list-style: none outside none;
  margin: 0;
  padding: 0 1em 0 0 }

.tabsBar li {
  border-width: 1px;
  border-style: none solid none none;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  display: inline-block;
  padding: 0 }

.tabsBar.vertical li {
  border-width: 1px;
  border-style: none solid none none;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  display: block;
  padding: 0 }

.tabsBar a,
.tabsBar a:visited {
  background: transparent;
  border-top: 4px solid transparent;
  color: "gray.dark (__FLAVOR__ color)";
  display: inline-block;
  padding: .3em .5em .6em;
  text-decoration: none }

.column .tabsBar li a,
.modularTabs li a {
  border-top: 3px solid transparent }

.tabsBar li a:hover,
.tabsBar li.selected a,
.tabsBar li.selected a:visited,
.modularTabs li a:hover,
.modularTabs li.selected a,
.modularTabs li.selected a:visited {
  border-color: "color.major.strong (__FLAVOR__ border)";
  color: "tabs.selected (__FLAVOR__ color)" }

.tabsBar li:first-child a,
.modularTabs li:first-child a {
  border-radius: 3px 0 0 }

.column .tabsBar {
  background-color: #eee;
  border-radius: 0;
  border-style: none }

.column .tabsBar li:first-child a,
.tabsBar.vertical li:first-child a {
  border-radius: 0 }

.tabsBar li.selected a {
  font-weight: bold }

.column .tabsbar li:hover a,
.column .tabsbar li a:hover,
.column .tabsBar li.selected a {
  background-color: #fff;
  border-top: 3px solid transparent }

.subtabsBar {
  background: none transparent;
  border-style: none none solid;
  border-width: 1px;
  border-color: "subtabs.selected (__FLAVOR__ border)";
  border-radius: 0;
  font-size: .9em;
  margin-top: .5em }

.subtabsBar li {
  border: none;
  margin: 0 0 -0.1em .3em }

.subtabsBar a,
.subtabsBar a:visited {
  background: none "neutral.lighter (__FLAVOR__ background)";
  border-width: 1px;
  border-style: solid solid none;
  border-color: "neutral.lighter (__FLAVOR__ border)";
  border-radius: 2px 2px 0 0;
  color: "gray.medium (__FLAVOR__ color)";
  padding: .22em .4em }

.subtabsBar li a:hover,
.subtabsBar li.selected a,
.subtabsBar li.selected a:visited {
  background: none "subtabs.selected (__FLAVOR__ background)";
  border-color: "subtabs.selected (__FLAVOR__ border)" "subtabs.selected (__FLAVOR__ border)" "noborder (__FLAVOR__ border)";
  border-style: solid;
  border-width: 1px;
  color: "subtabs.selected (__FLAVOR__ color)";
  padding: .2em .4em .3em;
  text-shadow: none }

/* Vertical tabs in home and admin Center */
.verticalTabsColumn {
  height: 100%;
  min-height: 500px;
  padding: 0 }

.verticalTabsContent {
  padding: 2em;
  min-height: 500px;
  background-color: #fff;
  box-shadow: -1px 0 4px rgba(0,0,0,0.4); }

.tabsBar.vertical {
  background: none 0;
  border: none; }

.tabsBar.vertical ul {
  margin: 0 -1px 0 8px;
  padding: 2em 0; }

.tabsBar.vertical li {
  border: 1px solid transparent;
  margin: 0 0 .15em .1em;
  padding: 0 }

.tabsBar.vertical li a,
.tabsBar.vertical li a:visited {
  color: "link (__FLAVOR__ color)";
  display: block;
  font-size: 1.1em;
  border-top: none;
  padding: .7em 0 .7em .6em;
  text-decoration: none;
  transition: none }

.tabsBar.vertical li a img {
  margin: 0 .4em -0.15em 0 }

.tabsBar.vertical li:hover,
.tabsBar.vertical li.selected,
.tabsBar.vertical li.selected:hover {
  background-color: #fff;
  margin-left: .2em;
  -moz-transition: margin 0.1s ease-in 0.1s;
  -webkit-transition: margin 0.1s ease-in 0.1s;
  transition: margin 0.1s ease-in 0.1s }

.tabsBar.vertical li:hover a,
.tabsBar.vertical li.selected a {
  border-left: 3px solid;
  border-color: "color.major.strong (__FLAVOR__ border)";
  border-top: medium none;
  color: "black (__FLAVOR__ color)" }

/* =Navigation controls */
.pageNavigationControls,
#pageNavigationControls {
  border: medium none;
  margin: .2em 0;
  padding: 0;
  text-align: right }

.pageNavigationControls .currentPageStatus,
#pageNavigationControls .currentPageStatus {
  color: "gray.dark (__FLAVOR__ color)";
  display: inline-block;
  font-weight: bold;
  font-size: .9em;
  margin: 0 .5em;
  padding-top: .3em;
  vertical-align: top; }

.pageNavigationControls input[type="image"],
#pageNavigationControls input[type="image"] {
  border: 1px solid #eee !important;
  border-radius: 2px;
  padding: 0.3em; }

.pageNavigationControls input:hover,
#pageNavigationControls input:hover {
  background-color: "neutral.medium (__FLAVOR__ background)";
  border-color: #ddd }

.pageNavigationControls input[disabled=disabled],
#pageNavigationControls input[disabled=disabled] {
  cursor: default;
  filter: alpha(opacity=40);
  opacity: .4 }

/* =Back Arrow */
.directoryBack {
  display: inline;
  float: right;
  margin: 0 -0.9em 0 0 }

.directoryBack:after {
  clear: both }
