/*
Style javascript Popups
=FancyBox -> override default FancyBox styles
=Generic PopuP div -> style for the light pop up
author: lkemen@nuxeo.com
*/

/* =FancyBox */
#fancybox-overlay { z-index: 10002 }
#fancybox-wrap { font-family: "default (__FLAVOR__ font)"; font-size: .75em; z-index: 10005 }
#fancybox-wrap a, #fancybox-wrap a:link, #fancybox-wrap a:visited { text-decoration: none; color: "link (__FLAVOR__ color)"; }
#fancybox-wrap a:hover, #fancybox-wrap a:active { text-decoration: underline }
#fancybox-content h3 { border-bottom: 2px dotted #ddd; margin: 0 0 .5em; padding: .5em 0 }
#fancybox-content .content { padding: 1em 1em 1.5em }
#fancybox-content .buttonsGadget { border-top: 2px dotted #E9E9E9; font-size: 1.1em; margin: .5em 0 0; padding: .5em 0 0 }
#fancybox-content .popUpDescription { padding: 0 0 1em }
/* Override default size from the page */
#fancybox-content .nxMainContainer { height: auto }

#fancybox-content #permalinkAction_box input { display: block; width: 90% }

/* =Generic PopuP div */
.genericPopUp {
  background-color: #fff;
  border: 1px solid;  border-color: "neutral.light (__FLAVOR__ border)";
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  display: none;
  padding: 0 1em .5em;
  position: absolute;
  width: 400px;
  z-index: 10000 }

.genericPopUp .closePopUpHeader {
  border-width: 2px; border-style: none none dotted;  border-color: "neutral.lighter (__FLAVOR__ border)";
  color: "black (__FLAVOR__ color)";
  font-size: 1.1em;
  font-weight: bold;
  padding: .5em 0;
  text-align: right }

.genericPopUp .closePopUpHeader .closePopUp { color: "gray.medium (__FLAVOR__ color)";
	cursor: pointer; float: right; font-size: .9em }
.genericPopUp .closePopUpHeader .popUpTitle { float: left; font-size: 1.2em }
.genericPopUp .popUpContent { height: 390px; overflow: auto; padding: 1em }
.genericPopUp .dr-tree td, .genericPopUp .rich-tree td { padding: .1em }

.bigPopUp { height: 70%; width: 80% }