/*
Override from RichFaces components styles
=Tree -> rich:tree Tree styles override
=FileUpload -> rich:fileUpload styles override
=Modal Panel -> RichFaces Modal Panel container styles override
=Suggestion Box -> suggestion list from search inputs
=Calendar -> Calendar style
author: lkemen@nuxeo.com
*/

/* =Form tags */
input, select, textarea,
button, keygen, isindex, legend, a {
  font-family: "default (__FLAVOR__ font)" }

/* =Tree */

.menu .floatR {
  margin-bottom: -2em }

.menu dl,
.menu dd {
  margin: 0 }

.menu dl {
  margin-left: -.2em;
  display: inline-block }

.column > .menu {
  background-color: #fff;
  margin: 0 .2em 1em;
  padding: .5em }

a.treeLink,
a.treeLink:link,
a.treeLink:visited {
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  padding: 0 .3em .1em;
  font-size: .9em;
  font-weight: normal }

a.treeLink:hover,
.selected a.treeLink {
  background-color: "color.major.light (__FLAVOR__ background)";
  color: #000;
  text-decoration: none }

.rf-trn-lbl {
  padding: 0 }

.rf-trn-lbl div {
  display: inline-block }

.rf-trn-ico {
  height: 12px;
  padding-top: 0.3em;
  vertical-align: top;
  width: 12px }

.rf-trn-hnd,
.rf-trn-hnd-ldn-fct {
  display: inline-block;
  height: 16px;
  width: 16px }

.rf-trn-hnd-exp,
.rf-trn-hnd-colps {
  background: #fff url("${basePath}/icons/arrow_unfolded.gif") no-repeat scroll center center;
  display: inline-block;
  height: 16px;
  vertical-align: top;
  width: 16px }

.rf-trn-hnd-colps {
  background: #fff url("${basePath}/icons/arrow_folded.gif") no-repeat scroll center 2px }

.nx-no-trn-ico .rf-trn-ico {
  display: none }

.rf-trn {
  background: transparent url("${basePath}/img/tree_line.png") repeat-y 0 0 }

.rf-tr-nd-exp .rf-trn {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  white-space: nowrap;
  overflow: visible }

.rf-tr-nd .rf-tr-nd {
  margin-left: 12px }

.rf-trn-sel {
  background: none }

.cell img,
.clipboardFunction img {
  vertical-align: middle }

.rf-trn a.treeLink {
  line-height: normal;
  white-space: normal }

.rf-trn-cnt {
  max-width: 85%;
  white-space: nowrap;
  word-break: break-all }

.treeNodeHighlightedClass {
  text-decoration: none }

.treeNodeSelectedClass {
  border: none }

.fieldColumn .rf-trn img {
  margin: 0 }

/* waiter */
.rf-st-start {
  background-color: "info (__FLAVOR__ background)";
  border: 1px solid #fff;
  height: 20px;
  padding: .7em .5em .5em;
  position: fixed;
  right: 40px;
  text-align: center;
  top: 55px;
  width: 20px;
  z-index: 10000 }

.rf-st-stop {
  display: none }

/* =FileUpload */
.rf-fu {
  background: none #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;}

.rf-fu-hdr {
  background: none #f8f8f8;
  border: medium none;}

.rf-fu-btn-add, .rf-fu-btn-upl, .rf-fu-btn-clr {
  background: none #fff;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  box-shadow: 0 -2px 3px #f3f3f3 inset;
  color: #000;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: bold;
  padding: .3em 0 0 0;
  text-decoration: none;
  white-space: nowrap;}

 .rf-fu-lst {
  background-color: #f8f8f8;}

.rf-fu-itm {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: .3em;
  padding: 0.3em;}

.rf-fu-itm-lbl {
  font-size: 1em;
  font-weight: bold;}

.rf-fu-itm-st {
  color: #999;
  font-weight: normal;
  margin-top: 0;}

.rf-fu-itm-rgh {
  text-align: right;
  vertical-align: top;
  width: 14%;}

#fancybox-content .rf-fu {
  margin-bottom: 1em;
  width: 350px;}

/* =Modal Panel */
.rich-mpnl-mask-div {
  opacity: 0.1 }

h3.documentTypes {
  padding: 0;
  margin: 1.4em 0 .5em;
  color: #333;
  border-width: 1px;
  border-style: none none solid;
  border-color: "neutral.light (__FLAVOR__ border)" }

.documentType {
  margin: 1em 0;
  width: 200px }

.documentType img {
  float: left;
  margin-right: .5em }

.documentType a,
.documentType a:link,
.documentType a:visted,
.documentType a:hover {
  font-weight: bold;
  color: "link (__FLAVOR__ color)";
  text-decoration: none }

.documentType span {
  color: #454545 }

a.documentTypeLink {
  color: "link (__FLAVOR__ color)";
  font-weight: bold;
  text-decoration: none }

#tooltip {
  position: absolute;
  display: block }

#tooltipContent {
  display: block;
  padding: .2em 1.1em .3em .6em;
  margin-left: .5em;
  background: #ffa;
  color:"black (__FLAVOR__ color)";
  border: 1px solid #333 }

/* Suggestion Box */
.suggestionBoxResult .rich-sb-cell-padding img {
  max-height: 16px;
  max-width: 16px }

.suggestionBoxResult .rich-sb-cell-padding span {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis }

/* Fix display in date range filters */
.inputDate div,
.inputDate .rf-cal {
  display: inline-block }

/* = rFaces calendar input */
input.rf-cal-inp {
  max-width: 14em;
  width: 80%; }

.inputDate {
  white-space: nowrap;
  margin-right: .3em }

/* =Calendar */
table.rf-cal-extr {
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);}

table.rf-cal-extr tr td {
  padding: .15em!important;
  vertical-align: middle }

.rf-cal-tl,
.rf-cal-hdr-month,
td.rf-cal-ftr,
.rf-cal-tl-ftr,
table.rf-cal-extr td.rf-cal-hdr {
  background: none repeat scroll 0 0 #fff;
  font-weight: bold;
  padding: 0 }

.rf-cal-day-lbl,
.rf-cal-week {
  background: none repeat scroll 0 0 #f5f5f5;
  color: #888;
  text-transform: capitalize }

.rf-cal-holiday {
  color: #888;
  background-color: #fff }

.rf-cal-today {
  background-color: #eee }

.rf-cal-c {
  color: "link (__FLAVOR__ color)" }

.rf-cal-tool-btn {
  padding: .25em .2em }

.rf-cal-boundary-day {
  color: #ddd;
  font-weight: normal }

.rf-cal-tl-btn:hover,
.rf-cal-edtr-btn-over,
.rf-cal-btn-press,
.rf-cal-editor-tool-over {
  border: none }

.rf-cal-edtr-btn-over {
  background: none }

.rf-cal-btn-close,
.rf-cal-tl-ftr:nth-child(2) {
  display: none }

.rf-cal-editor-btn {
  color: #0084c3;
  font-weight: bold }

.rf-cal-hov,
.rf-cal-tl-btn:hover,
.rf-cal-time-btn:hover,
div.rf-cal-editor-btn-hov,
.rf-cal-edtr-btn:hover,
.rf-cal-edtr-tl-hov,
.rf-cal-sel {
  background-color: #0084c3;
  color: #fff }

.rf-cal-sel {
  font-weight: bold }

.rf-cal-tl-ftr,
.rf-cal-tl,
.rf-cal-hdr-month {
  padding: 0!important }

.rf-cal-tl-btn {
  padding: .15em .1em }

/* cal month editor */
.rf-cal-timepicker-cnt,
.rf-cal-monthpicker-ok,
.rf-cal-monthpicker-cancel {
  background: #fff }

.rf-cal-edtr-layout-shdw,
.rf-cal-spinner-buttons {
  background: none 0 }

.rf-cal-timepicker-cnt,
.rf-cal-monthpicker-cnt {
  border: none;
  height: 232px;
  width: 228px }

.rf-cal-sp-inp-ctnr input {
  margin-bottom: 0 }

.rf-cal-edtr-btn:hover,
.rf-cal-edtr-btn-sel {
  border: none;
  background-color: #0084c3;
  color: #fff }

.rf-cal-sp-btn,
.rf-cal-timepicker-inp td {
  background: none 0;
  vertical-align: middle }

.rf-cal-sp-up,
.rf-cal-sp-down {
  cursor: pointer }

.rf-cal-time-btn {
  background-color: #e9e9e9;
  border: medium none;
  border-radius: 3px;
  font-weight: bold;
  margin: .3em;
  padding: .4em }

table.rf-cal-monthpicker-cnt td,
td.rf-cal-timepicker-inp {
  padding: .5em;
  vertical-align: bottom }
