/*
Override from RichFaces components styles
=Tree -> rich:tree Tree styles override
=FileUpload -> rich:fileUpload styles override
=Modal Panel -> RichFaces Modal Panel container styles override
=Suggestion Box -> suggestion list from search inputs
author: lkemen@nuxeo.com
*/

/* =Form tags */
input, select, textarea,
button, keygen, isindex, legend, a {
  font-family: "default (__FLAVOR__ font)" }

/* =Tree */
.menu dl,
.menu dd {
  margin: 0 }

.menu .menuForm {
  margin: 1em 0 1em -0.7em }

a.treeLink,
a.treeLink:link,
a.treeLink:visited {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0 .3em .1em;
  font-size: .9em;
  font-weight: normal }

a.treeLink:hover,
.selected a.treeLink {
  background-color: "color.major.light (__FLAVOR__ background)";
  color: #000;
  text-decoration: none }

.rf-trn-lbl {
  padding: 0 0 0 1px }

.rf-trn-ico {
  height: 13px;
  width: 13px }

.rf-trn-hnd-exp,
.rf-trn-hnd-colps {
  background: #fff url("${basePath}/icons/arrow_unfolded.gif") no-repeat left center;
  height: 1.7em }

.rf-trn-hnd-colps {
  background: #fff url("${basePath}/icons/arrow_folded.gif") no-repeat left center; }

.rf-trn {
  background: transparent url("${basePath}/img/tree_line.png") repeat-y 0 0 }

.rf-tr-nd .rf-tr-nd {
  margin-left: 12px;
  background: none }

.rf-trn-sel {
  background: none }

.cell img,
.clipboardFunction img {
  vertical-align: middle }

.rf-trn,
.rf-trn span,
.rf-trn a.treeLink {
  white-space: normal }

.treeNodeHighlightedClass {
  text-decoration: none }

.treeNodeSelectedClass {
  border: none }

.fieldColumn .rf-trn img {
  margin: 0 }

/* =FileUpload */
.rf-fu {
  background: none #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;}

.rf-fu-hdr {
  background: none #f8f8f8;
  border: medium none;}

.rf-fu-btn-add, .rf-fu-btn-upl, .rf-fu-btn-clr {
  background: none #fff;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  box-shadow: 0 -2px 3px #f3f3f3 inset;
  color: #000;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: bold;
  padding: .3em 0 0 0;
  text-decoration: none;
  white-space: nowrap;}

 .rf-fu-lst {
  background-color: #f8f8f8;}

.rf-fu-itm {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: .3em;
  padding: 0.3em;}

.rf-fu-itm-lbl {
  font-size: 1em;
  font-weight: bold;}

.rf-fu-itm-st {
  color: #999;
  font-weight: normal;
  margin-top: 0;}

.rf-fu-itm-rgh {
  text-align: right;
  vertical-align: top;
  width: 14%;}

#fancybox-content .rf-fu {
  margin-bottom: 1em;
  width: 350px;}

/* =Modal Panel */
.rich-mpnl-mask-div {
  opacity: 0.1 }

h3.documentTypes {
  padding: 0;
  margin: 1.4em 0 .5em;
  color: #333;
  border-width: 1px;
  border-style: none none solid;
  border-color: "neutral.light (__FLAVOR__ border)" }

.documentType {
  margin: 1em 0;
  width: 200px }

.documentType img {
  float: left;
  margin-right: .5em }

.documentType a,
.documentType a:link,
.documentType a:visted,
.documentType a:hover {
  font-weight: bold;
  color: "link (__FLAVOR__ color)";
  text-decoration: none }

.documentType span {
  color: #454545 }

a.documentTypeLink {
  color: "link (__FLAVOR__ color)";
  font-weight: bold;
  text-decoration: none }

#tooltip {
  position: absolute;
  display: block }

#tooltipContent {
  display: block;
  padding: .2em 1.1em .3em .6em;
  margin-left: .5em;
  background: #ffa;
  color:"black (__FLAVOR__ color)";
  border: 1px solid #333 }

/* Suggestion Box */
.suggestionBoxResult .rich-sb-cell-padding img {
  max-height: 16px;
  max-width: 16px }

.suggestionBoxResult .rich-sb-cell-padding span {
  /* display: block;*/
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis }
