/*
Override from RichFaces components styles
=TabsContent -> style adjustment for tabs content
=Layout View and Summary Tab Styles -> for summary tab, and content views
=Manage tab, =Archive, =Comments, =Relations -> style adjustment for Manage, Archive, Comments and Relations
author: lkemen@nuxeo.com
*/

/* =TabsContent */
.tabsContent { font-size: .95em; margin: 0; padding: 5px 10px 10px 10px }

/* =Layout View and Summary Tab Styles */
.layoutViewMode { margin: 0; padding: 0 }
.layoutViewMode li { display: inline }
.layoutViewMode a img { border: 1px solid; border-color: "noborder (__FLAVOR__ border)" }
.layoutViewMode a:hover img, .layoutViewMode li.selected img { border: 1px solid; border-color: "neutral.medium (__FLAVOR__ border)" }

.summary_div_0 { float: left; padding: 10px 0; width: 62% }
.summary_div_1 { float: right; font-size: .9em; padding: 10px 0; width: 33% }
.summary_div_2 { clear: both }

.contentViewTitle { float: left; line-height: normal; margin: 10px 10px 10px 0 }

h3.summaryTitle {
  border-width: 1px; border-style: none none solid; border-color: "neutral.medium (__FLAVOR__ border)";
  color: "gray.medium (__FLAVOR__ color)";
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 17px 0 3px 0 }
.summary_div_1 h3.summaryTitle { color: "gray.medium (__FLAVOR__ color)"; font-size: 1.1em }

.description_block span { display: block; font-size: .8em; padding-bottom: 10px }
.dublincore_block table.floatingLeftTable { float: left; margin-right: 100px }
.labelColumnLeftAlign { font-weight: bold; padding-right: 30px }
.rank_block, .publication_block, .attachments { margin-top: 15px }

.content_block table { margin-bottom: 10px; width: 100% }
.content_block td { padding: 0; vertical-align: top }
.content_block .labelColumn { width: 100px }
.content_block .actionsColumn { vertical-align: top; width: 20% }
.content_block img { padding: 0 5px }

.note_content_block { border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)"; margin: 0 0 15px; padding: 15px }
.note_content_block span, .note_content_block p { font-size: 1.05em; line-height: 1.8em }

.lockFile_block, .restoreFile_block { padding: 0 0 10px }
.lockDetail, .DetailList { padding-top: 5px }
.summary_locked { color: "warning.status (__FLAVOR__ color)"; font-weight: bold }
.summary_unlocked { color: "normal.status (__FLAVOR__ color)"; font-weight: bold }

.lcAndVersion { border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)"; padding: 3px }

.actions_block { border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)"; margin: 10px 0; padding: 10px 7px 3px }

.comments_block .commentBlock { border: none }
.comments_block .commentQuote { margin: 5px 0 5px 24px }

.metadata_block .dataInput td { padding: 3px }

/*  =Manage tab */
.rightsAdd { margin: 10px 0 10px 0 }
.rightsAddTitle { background-color: "neutral.lighter (__FLAVOR__ background)"; border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)"; padding: 5px; text-align: center }
.rightsAddLabel { font-weight: bold; padding: 0 5px 0 0 }
.rightsAddSelect { margin-top: 0}
.rightsAddManager {
  background: transparent url("${basePath}/img/rightsadd_bar.gif") no-repeat center;
  margin: 3px 0 0 0;
  width: 100% }
.rightsAddManager td {
  background-color: #fff;
  border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)";
  margin: 0 10px 0 10px;
  padding: 10px }
.rightsAddManager .labelColumn { width: 80px }

.userAndGroupSearch { margin: 0 }
.userAndGroupFilter { margin: 15px 0 0 0 }

.buttonsGadgetNoForm { margin: 0 5px }

.directoryFilter, .searchField {
  border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)";
  font-size: 1em;
  margin: 0 5px 10px 0;
  padding: 3px }

/*  =Relations */
.relationPredicateColumn { vertical-align: top; width: 100px }
.relationCommentList { background: transparent }
.relationCreateLabelColumn { width: 100px }

/*  =Archive */
.archiveTabContent { margin-left: 18px }
.archiveTabContent .notEditable { background-color: #fff; border: none }
.archiveTabContent .currentDocumentInformation { background-color: "neutral.medium (__FLAVOR__ background)" }

.taskAssign {
  background: "neutral.medium (__FLAVOR__ background)";
  border: 1px solid; border-color: "neutral.light (__FLAVOR__ border)";
  display: block;
  margin: 5px 0 10px 0;
  padding: 5px;
  text-align: center }

/* =Comments */
.commentBlock { margin: 7px 0 8px; padding: 2px 10px 2px 0 }
.commentActions { float: right; font-size: .8em; margin-right: 4px; padding: 3px }
.commentCreationDate { font-weight: normal }
.commentQuote { margin: 5px 0 5px 0 }
.commentAuthor {
  background: transparent url("${basePath}/icons/comment.gif") no-repeat 4px 4px;
  color: "gray.dark (__FLAVOR__ color)";
  font-weight: bold;
  padding: 5px 3px 3px 24px }
