div.decorate {
position: absolute;
border: 1px groove black;
padding: 0;
display: none;
}
area.decorate {
background: white;
opacity: 0.3;
-moz-opacity: 0.3;
filter:alpha(opacity=30);
}
div.decorate:hover {
border-color: yellow;
}
img.annotated {
border-width: 0;
}

.decorate {
background-color: #ffcc30;
}
div.decorate {
background: white;
opacity: 0.3;
}

div.decorateArea {
position: absolute;
border: 1px groove black;
padding: 0;
display: none;
background: white;
opacity: 0.3;
}

.gwt-Label {
border-bottom-color:#999999;
border-bottom-style:dotted;
border-bottom-width:1px;
color:#0066CC;
font-size:13px;
font-weight:bold;
margin-bottom:8px;
padding-bottom:2px;
padding-left:5px;
padding-right:2px;
padding-top:25px;

}

span.selectedAnnotation {
text-decoration:underline;
}


.gwt-TextArea gwt-TextArea-readonly {
margin:5px 0px;
padding:5px 0 5px 5px;
background-color:#f4f9ff;
border:1px solid #ddecff;
color:#373632;
font-family:Verdana,Arial,sans-serif;
font-size:11px;
}

.gwt-RichTextArea {
border:1px solid gray;
margin:10px 0;
padding:0;
}

.gwt-Button {
background:transparent url(images/hborder.png) repeat-x scroll 0 -27px;
border:1px outset #CCCCCC;
cursor:pointer;
font-size:small;
margin:0 5px 0 0;
padding:3px 5px;
text-decoration:none;
}

.selectedAnnotation {
text-decoration:underline;
background-color: #30ccff;
}
div.selectedAnnotation {
  border: 1px groove red;
}

.annotation-body {
color: #373632 !important;
background-color: #f4f9ff;
border:1px solid white;
padding: 10px 5px !important;
margin: 2px 0px !important;
font-size:10px !important;
width: 188px;
overflow: auto;
}

.annotationsPopupEvent {
background-color: #f0f6ff;
border: 3px solid #C3D9FF;
padding: 2px 0px;
}

.annotationsPopupEvent .annotation-body {
background-color: #ffffff;
margin: 2px 0 8px;
padding: 5px;
font-size:11px;
}


div.decorateNot {
border: 0;
background: transparent;
}

span.decorateNot {
background: transparent;
text-decoration:none;
}

.gwt-Label {
padding:3px !important;
color:#343434;
font-size:11px !important;
}

.gwt-RichTextArea {
border:1px solid gray;
margin:10px 0;
padding:0;
color:#373632;
}

.gwt-Button {
background:#E3E6EA url(/nuxeo/img/button_1.gif) repeat-x scroll 0 0;
border-color:#CCCCCC #666666 #666666 #CCCCCC;
border-style:solid;
border-width:1px;
color:#000000;
cursor:pointer;
font-family:Verdana,Arial,sans-serif;
font-size:11px;
padding:2px 5px;
margin-right:5px;
}

.gwt-Button:hover {
background:#3F89EF url(/nuxeo/img/button_2.gif) repeat-x scroll 0 0;
border-color:#0099FF #0066CC #0066CC #0099FF;
color:#FFFFFF;
font-family:Verdana,Arial,sans-serif;
font-size:11px;
}

.annotationsPopupEvent {
background-color:#FFFFFF;
padding:8px 5px 10px;
border:2px solid #cae2ff;
}

span.selectedText {
background: gray;
}
