<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">
  <!--
    Nuxeo Launcher log4j2 configuration file (aka nuxeoctl).
    In addition to the appender on stdout, we need an appender on stderr because stdout is closed when nuxeoctl received
    an interrupted signal and we want to print to user stop in progress messages.
    The CONSOLE_ERR appender has a ContextMapFilter in order to print only logs coming from the shutdown thread, because
    we don't want to print errors caused by interruption from main thread as it is expected.
  -->
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <ThresholdFilter level="DEBUG" onMatch="ACCEPT" />
      <PatternLayout>
        <MarkerPatternSelector defaultPattern="%m%n">
          <PatternMatch key="NO_NEW_LINE" pattern="%m"/>
        </MarkerPatternSelector>
      </PatternLayout>
    </Console>
    <Console name="CONSOLE_ERR" target="SYSTEM_ERR">
      <ContextMapFilter onMatch="ACCEPT">
        <KeyValuePair key="ShutdownHook" value="true"/>
      </ContextMapFilter>
      <PatternLayout>
        <MarkerPatternSelector defaultPattern="%m%n">
          <PatternMatch key="NO_NEW_LINE" pattern="%m"/>
        </MarkerPatternSelector>
      </PatternLayout>
    </Console>
    <RollingFile name="FILE" fileName="${sys:nuxeo.log.dir}/console.log"
                 filePattern="${sys:nuxeo.log.dir}/console-%d{yyyy-MM-dd}.log.gz" append="true">
      <PatternLayout pattern="%d{ISO8601} %-5p [%t] [%c] %m%n" />
      <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true" /> <!-- Rollover at midnight every day -->
      <DefaultRolloverStrategy />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="org.nuxeo" level="warn" />
    <Logger name="org.nuxeo.launcher" level="info" />
    <Logger name="org.nuxeo.connect" level="info" />
    <Logger name="org.nuxeo.ecm.admin" level="info" />
    <Logger name="org.nuxeo.runtime.deployment.preprocessor" level="info" />
    <Logger name="org.eclipse.equinox.p2.cudf" level="warn" />
    <!-- NXP-11424/NXBT-550 Relocated package in nuxeo-connect-client -->
    <Logger name="hidden.org.eclipse.equinox.p2.cudf" level="warn" />
    <!-- Hide warning from HttpMethodBase: << Going to buffer response body of large
    or unknown size. Using getResponseBodyAsStream instead is recommended. >> -->
    <Logger name="org.apache.commons.httpclient.HttpMethodBase" level="error" />
    <Logger name="org.apache.commons.vfs2.impl.StandardFileSystemManager" level="warn" />
    <Root level="warn">
      <AppenderRef ref="CONSOLE" />
      <AppenderRef ref="CONSOLE_ERR" />
      <AppenderRef ref="FILE" />
    </Root>
  </Loggers>
</Configuration>
