<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <ThresholdFilter level="DEBUG" onMatch="ACCEPT" />
      <PatternLayout>
        <MarkerPatternSelector defaultPattern="%m%n">
          <PatternMatch key="NO_NEW_LINE" pattern="%m"/>
        </MarkerPatternSelector>
      </PatternLayout>
    </Console>
    <RollingFile name="FILE" fileName="${sys:nuxeo.log.dir}/console.log"
                 filePattern="${sys:nuxeo.log.dir}/console-%d{yyyy-MM-dd}.log.gz" append="true">
      <PatternLayout pattern="%d{ISO8601} %-5p [%t] [%c] %m%n" />
      <CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true" /> <!-- Rollover at midnight every day -->
      <DefaultRolloverStrategy />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="org.nuxeo" level="warn" />
    <Logger name="org.nuxeo.launcher" level="info" />
    <Logger name="org.nuxeo.connect" level="info" />
    <Logger name="org.nuxeo.ecm.admin" level="info" />
    <Logger name="org.nuxeo.runtime.deployment.preprocessor" level="info" />
    <Logger name="org.eclipse.equinox.p2.cudf" level="warn" />
    <!-- NXP-11424/NXBT-550 Relocated package in nuxeo-connect-client -->
    <Logger name="hidden.org.eclipse.equinox.p2.cudf" level="warn" />
    <!-- Hide warning from HttpMethodBase: << Going to buffer response body of large
    or unknown size. Using getResponseBodyAsStream instead is recommended. >> -->
    <Logger name="org.apache.commons.httpclient.HttpMethodBase" level="error" />
    <Logger name="org.apache.commons.vfs2.impl.StandardFileSystemManager" level="warn" />
    <Root level="warn">
      <AppenderRef ref="CONSOLE" />
      <AppenderRef ref="FILE" />
    </Root>
  </Loggers>
</Configuration>
