/*
Styles for the document diff result page.
authors: ataillefer@nuxeo.com, lkemen@nuxeo.com
*/

/* =Header */
#diffHeader { margin-bottom: .8em; padding: 0 .5em .5em .5em }
#diffHeader .dataInput { margin-top: 0 }
#diffHeader .contentDiffColumn { padding-right: 0 }
#diffHeader h2 { padding: 0 }
#diffHeader a.docLink, #diffHeader a.docLink:link, #diffHeader a.docLink:hover { color: #000 }
#diffHeader .diffSubTitle { padding-left: .3em; font-style: italic }
.contentDiffColumn a.docLink:link { display: block; margin-right: 0; white-space: nowrap; width: 90% }

/* =Foldable boxes */
.docDiffResult .foldableBox .boxBody { padding: .5em }
.docDiffResult .dataInput { max-width: none; width: 100% }
.docDiffResult .dataInput td { padding: .4em .3em }
.docDiffResult .dataInput td.labelColumn { width: 15%; padding-right: 2em; text-align: left }
.docDiffResult .dataInput td.fieldColumn { width: 36% }
.docDiffResult .dataInput td.contentDiffColumn { vertical-align: top }
.docDiffResult .contentDiffColumn .action_bar { float: right; margin: 0 }

.docDiffResult .diffDisplayTable { border-collapse: collapse }
.docDiffResult .dataInput .diffDisplayTable th, .docDiffResult .dataInput .diffDisplayTable td { border: 1px solid #e7e7e7; padding: .4em .5em }
.docDiffResult .dataInput .diffDisplayTable th { background-color: #eeeff0; padding: .1em .5em; font-weight: bold }
.docDiffResult .dataInput .diffDisplayTable td.subItemCell { width: 48% }
.docDiffResult .dataInput td.contentDiffColumn .diffDisplayTable td { text-align: center }
.docDiffResult .note_content_block { margin: 0; padding: .5em }

.docDiffResult .redBackgroundColor { display: block; min-height: 18px; min-width: 40px; padding: 0 .9em; background-color: #fdc6c6 }
.docDiffResult .greenBackgroundColor { display: block; min-height: 18px; min-width: 40px; padding: 0 .9em; background-color: #cfc }

.docDiffResult .contentDiffLink { margin-right: 1em }
