div.package {
  border-radius: .2em;
  clear: both;
  margin-left: .3em;
  margin-top: .15em;
  padding: .2em; }

.esheader {
  cursor: pointer;
  padding: .15em; }

.esname {
  color: black; }

.arrow ~ .esname {
  font-size: 1.1em;
  font-weight: bold }

.arrow.hide ~ .esname {
  color: #777;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  padding-left: 1.2em;
  width: 12em; }

.array,
.object {
  background-color: #fff;
  border: thin solid #e7e7e7; }

.esstring {
  color: #0000DD;
  padding: .15em; }

.number {
  color: #0c8abb; }

.function {
  color: #62ad00; }

.open .children {
  display: block;
  padding: .15em; }

.closed .children {
  display: none;
  padding: .15em; }

.arrow {
  background-image: url("img/d.png");
  background-repeat: no-repeat;
  background-color: transparent;
  height: 15px;
  width: 15px;
  display: inline-block; }

.open .arrow {
  background-position: -20px 0; }

.closed .arrow {
  background-position: 0 0; }

.type {
  float: right; }

.hide {
  display: none; }
