<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../bower_components/nuxeo-elements/nuxeo-connection.html">
<link rel="import" href="../../bower_components/nuxeo-elements/nuxeo-document.html">
<link rel="import" href="../../bower_components/nuxeo-elements/nuxeo-resource.html">
<link rel="import" href="../../bower_components/nuxeo-elements/widgets/nuxeo-user-suggestion.html">

<script src="../../bower_components/better-dom/dist/better-dom.js"></script>
<script src="../../bower_components/better-i18n-plugin/dist/better-i18n-plugin.js"></script>
<script src="../../bower_components/better-dateinput-polyfill/dist/better-dateinput-polyfill.js"></script>
<script src="../../bower_components/better-dateinput-polyfill/i18n/better-dateinput-polyfill.de.js"></script>
<script src="../../bower_components/better-dateinput-polyfill/i18n/better-dateinput-polyfill.es.js"></script>
<script src="../../bower_components/better-dateinput-polyfill/i18n/better-dateinput-polyfill.fr.js"></script>
<script src="../../bower_components/better-dateinput-polyfill/i18n/better-dateinput-polyfill.gl.js"></script>
<script src="../../bower_components/better-dateinput-polyfill/i18n/better-dateinput-polyfill.nl.js"></script>
<script src="../../bower_components/better-dateinput-polyfill/i18n/better-dateinput-polyfill.pt.js"></script>
<script src="../../bower_components/better-dateinput-polyfill/i18n/better-dateinput-polyfill.ru.js"></script>

<link rel="import" href="document-permissions/nuxeo-i18n.html">
<link rel="import" href="document-permissions/popup-permission.html">
<link rel="import" href="document-permissions/popup-confirm.html">
<link rel="import" href="document-permissions/document-permissions.html">
