# Example for Windows
jboss.dir=C:/Program Files/JBoss
tomcat.dir=C:/Program Files/Tomcat
# Example for Unix
#jboss.dir=/opt/jboss
#tomcat.dir=/opt/tomcat

# Which JBoss server config to use
jboss.config=default

# additional command line parameters for mvn commands
# e.g. to work offline:
#mvn.opts=-o
