{{- $valuesDir := ternary "unittests" .Environment.Name (regexMatch "^.*UnitTests$" .Environment.Name) -}}
repositories:
- name: bitnami
  # Unfortunately, the version of the postgresql Bitnami chart we're using is too old to be available as an OCI package
  # in the bitnamicharts DockerHub organization. Thus, we are fetching it from the still maintained index.yaml served at
  # https://charts.bitnami.com.
  # Yet, we need to use a specific version of index.yaml from the git repository as Bitnami removes all charts older
  # than 6 months from the head index.yaml descriptor, see https://github.com/bitnami/charts/issues/10539.
  url: https://raw.githubusercontent.com/bitnami/charts/d2a3b454f8bb808a493d417199d3e2e09b5c650c/bitnami
- name: opensearch
  url: https://opensearch-project.github.io/helm-charts/
- name: nuxeo
  url: https://packages.nuxeo.com/repository/helm-releases-public/

helmDefaults:
  timeout: 600
  wait: true

releases:
- name: nuxeo
  chart: nuxeo/nuxeo
  version: ~3.1.0
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: nuxeo.enabled
  {{ if eq .Environment.Name "benchmark" }}
  needs:
  - mongodb
  - opensearch
  - kafka
  {{ end }}
  values:
  - ../values/values-nuxeo.yaml.gotmpl
  - ../values/{{ $valuesDir }}/values-nuxeo.yaml.gotmpl
- name: mongodb
  chart: oci://registry-1.docker.io/bitnamicharts/mongodb
  version: 13.3.1
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: mongodb.enabled
  values:
  - ../values/values-mongodb.yaml.gotmpl
  - ../values/{{ $valuesDir }}/values-mongodb.yaml.gotmpl
- name: postgresql
  chart: bitnami/postgresql
  version: 10.16.2 # latest chart version for app version 13
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: postgresql.enabled
  values:
  - ../values/values-postgresql.yaml.gotmpl
  - ../values/{{ $valuesDir }}/values-postgresql.yaml
- name: opensearch
  chart: opensearch/opensearch
  version: 1.16.0
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: opensearch.enabled
  values:
  - ../values/values-opensearch.yaml.gotmpl
  - ../values/{{ $valuesDir }}/values-opensearch.yaml.gotmpl
- name: kafka
  chart: oci://registry-1.docker.io/bitnamicharts/kafka
  version: 31.0.0
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: kafka.enabled
  values:
  - ../values/values-kafka.yaml.gotmpl
  - ../values/{{ $valuesDir }}/values-kafka.yaml.gotmpl
