repositories:
- name: nuxeo-internal
  # Unfortunately, the version of the postgresql Bitnami chart we're using is too old to be available as an OCI package
  # in the bitnamicharts DockerHub organization. Thus, we are fetching it from our internal ChartMuseum.
  url: https://chartmuseum.platform.dev.nuxeo.com/
- name: opensearch
  url: https://opensearch-project.github.io/helm-charts/
- name: nuxeo
  url: https://packages.nuxeo.com/repository/helm-releases-public/

helmDefaults:
  timeout: 600
  wait: true

releases:
- name: nuxeo
  chart: nuxeo/nuxeo
  version: ~3.1.0
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: nuxeo.enabled
  {{- if or (or .Values.mongodb.enabled .Values.opensearch.enabled) .Values.kafka.enabled }}
  needs:
  {{- if .Values.mongodb.enabled }}
  - mongodb
  {{- end }}
  {{- if .Values.opensearch.enabled }}
  - opensearch
  {{- end }}
  {{- if .Values.kafka.enabled }}
  - kafka
  {{- end }}
  {{- end }}
  values:
  - base/values/values-nuxeo.yaml.gotmpl
  # allows environment values override
  {{- with .Values.nuxeo }}
  - {{ toYaml . | nindent 4 }}
  {{- end }}
  # specific overrides
  {{- if eq .Environment.Name "benchmark" }}
  - base/values/benchmark/values-nuxeo.yaml.gotmpl
  {{- else if eq .Environment.Name "upgradeTest" }}
  - base/values/upgradeTest/values-nuxeo.yaml.gotmpl
  {{- end }}
- name: mongodb
  chart: oci://registry-1.docker.io/bitnamicharts/mongodb
  version: 13.3.1
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: mongodb.enabled
  values:
  - base/values/values-mongodb.yaml.gotmpl
  # allows environment values override
  {{- with .Values.mongodb }}
  - {{ toYaml . | nindent 4 }}
  {{- end }}
  # specific overrides
  {{- if eq .Environment.Name "benchmark" }}
  - base/values/benchmark/values-mongodb.yaml.gotmpl
  {{- end }}
- name: postgresql
  chart: nuxeo-internal/postgresql
  version: 10.16.2 # latest chart version for app version 13
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: postgresql.enabled
  values:
  - base/values/values-postgresql.yaml.gotmpl
  # allows environment values override
  {{- with .Values.postgresql }}
  - {{ toYaml . | nindent 4 }}
  {{- end }}
- name: opensearch
  chart: opensearch/opensearch
  version: 1.16.0
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: opensearch.enabled
  values:
  - base/values/values-opensearch.yaml.gotmpl
  # allows environment values override
  {{- with .Values.opensearch }}
  - {{ toYaml . | nindent 4 }}
  {{- end }}
  # specific overrides
  {{- if eq .Environment.Name "benchmark" }}
  - base/values/benchmark/values-opensearch.yaml.gotmpl
  {{- end }}
- name: kafka
  chart: oci://registry-1.docker.io/bitnamicharts/kafka
  version: 31.0.0
  namespace: {{ requiredEnv "NAMESPACE" }}
  condition: kafka.enabled
  values:
  - base/values/values-kafka.yaml.gotmpl
  # allows environment values override
  {{- with .Values.kafka }}
  - {{ toYaml . | nindent 4 }}
  {{- end }}
  # specific overrides
  {{- if eq .Environment.Name "benchmark" }}
  - base/values/benchmark/values-kafka.yaml.gotmpl
  {{- end }}
