<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.nuxeo"
            class="org.nuxeo.ide.project.wiz.ImportPomProjects"
            icon="icons/import_wiz.gif"
            id="org.nuxeo.ide.project.importWizard"
            name="Import Projects From POM">
      </wizard>
      <category
            id="org.nuxeo"
            name="Nuxeo">
      </category>
   </extension>  
   <!--extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.nuxeo.ide.project.syncManifest">
         <action
               label="Synchronize Nuxeo Manifest"
               class="org.nuxeo.ide.project.SyncManifestAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.nuxeo.ide.project.syncManifest">
         </action>         
      </objectContribution>
   </extension-->
   
   <!-- customized launching -->
   <extension
         point="org.eclipse.pde.ui.osgiFrameworks">
      <framework
            launcherDelegate="org.nuxeo.ide.project.NuxeoLaunchConfiguration"
            id="org.nuxeo.ide.project.NuxeoEquinoxFramework"
            name="Nuxeo" 
            initializer="org.eclipse.pde.internal.launching.launcher.EquinoxInitializer"/>
    </extension>   

</plugin>
