image:
  repository: bitnamilegacy/kafka
  tag: "3.6.0"
commonLabels: {{- toYaml .Values.global.labels | nindent 2 }}
  dev.nuxeo.com/app: kafka
listeners:
  client:
    protocol: PLAINTEXT
  interbroker:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  external:
    protocol: PLAINTEXT
controller:
  replicaCount: 1
  # we want controller+broker process
  controllerOnly: false
  heapOpts: -Xmx640m -Xms640m
  persistence:
    enabled: false
  resources:
    requests:
      cpu: "1"
      memory: "1024Mi"
    limits:
      cpu: "1"
      memory: "1024Mi"
  extraConfigYaml:
    auto.create.topics.enable: false
    delete.topic.enable: true
    group.initial.rebalance.delay.ms: 100
    log.retention.minutes: 24
    offsets.retention.minutes: 240
    offsets.topic.num.partitions: 5
    offsets.topic.replication.factor: 1
    transaction.state.log.min.isr: 1
    transaction.state.log.replication.factor: 1
  podLabels:
    dev.nuxeo.com/resource: pod
  pdb:
    create: true
    minAvailable: 1
    maxUnavailable: ""
  {{- toYaml .Values.global.selectors | nindent 2 }}
broker:
  replicaCount: 0
serviceAccount:
  create: false
